Repository ydb-platform/nbs, pull requests merged in 2024-05, with the labels that each got.

#1092 issue-95: tracking BlobsCount and DeletionsCount in TCompactionMap and exposing this data as tablet counters
  cloud/filestore/libs/storage/tablet/model/compaction_map.cpp
  cloud/filestore/libs/storage/tablet/model/compaction_map.h
  cloud/filestore/libs/storage/tablet/model/compaction_map_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_counters.cpp
Labels: filestore

#1071 can't use proxy overlay disks in relocation because of checkpoints wi…
  cloud/disk_manager/internal/pkg/dataplane/replicate_disk_task.go
  cloud/disk_manager/internal/pkg/services/disks/config/config.proto
  cloud/disk_manager/internal/pkg/services/disks/migrate_disk_task.go
Labels: large-tests, disk_manager, tasks

#1082 NBS-4688: coverity fixes
  cloud/blockstore/libs/service/storage.cpp
Labels: blockstore, asan, tsan

#1091 fix: don't trigger DiskRegistryAgentNotFound when the agent is not in AgentRegInfo
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_switch_agent_to_read_only.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_lifecycle.cpp
Labels: bug, blockstore

#1063 should mount proxy overlay disk locally
  cloud/disk_manager/internal/pkg/clients/nbs/client.go
  cloud/disk_manager/internal/pkg/clients/nbs/interface.go
  cloud/disk_manager/internal/pkg/clients/nbs/mocks/client_mock.go
  cloud/disk_manager/internal/pkg/clients/nbs/session.go
  cloud/disk_manager/internal/pkg/dataplane/nbs/source.go
  cloud/disk_manager/internal/pkg/dataplane/transfer_from_disk_to_disk_task.go
Labels: large-tests, disk_manager, tasks

#1081 NBS-4821 coverity 'auto' fixes
  cloud/blockstore/apps/client/lib/command.cpp
Labels: blockstore, asan, tsan

#1059 NBS-5075: simple coverity fixes (auto ref)
  cloud/blockstore/libs/notify/notify.cpp
Labels: blockstore, asan, tsan

#1111 issue-944: fix empty permissions
  cloud/filestore/libs/service/auth_scheme.cpp
  cloud/filestore/libs/service_kikimr/auth_provider_kikimr_ut.cpp
Labels: large-tests, filestore

#1110 NBS-4925: coverity fixes
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
Labels: blockstore, asan, tsan

#1124 merge to stable-23-3
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_switch_agent_to_read_only.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_lifecycle.cpp
Labels: blockstore

#1123 merge to stable 23-3
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/storage/core/libs/coroutine/executor.h
  cloud/storage/core/libs/coroutine/executor_ut.cpp
Labels: blockstore, asan, tsan

#1113 overlayDiskRebasedTx should be idempotent
  cloud/disk_manager/internal/pkg/services/pools/storage/storage_ydb_impl.go
  cloud/disk_manager/internal/pkg/services/pools/storage/storage_ydb_test.go
Labels: large-tests, disk_manager, tasks

#1127 issue-95: Compaction.DudCount metric + enqueueing BlobIndexOp upon dud compactions
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: filestore

#1133 [Disk Manager] fix data corruption in ReplicateDiskTask
  cloud/disk_manager/internal/pkg/dataplane/nbs/target.go
  cloud/disk_manager/internal/pkg/dataplane/replicate_disk_task.go
Labels: large-tests, disk_manager, tasks

#1130 [Disk Manager] fix namings in nbs client tests; should not unmount nrd disks during test because it causes the volume tablet restart
  cloud/disk_manager/internal/pkg/clients/nbs/tests/client_test.go
Labels: disk_manager

#1132 [Filestore]: remove excessive two-stage-read verify condition
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
Labels: filestore

#1136 issue-95: fixed BlobIndexOps status codes for the case when another op is running - correct response code is E_TRY_AGAIN
  cloud/filestore/libs/storage/tablet/tablet_actor_cleanup.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_flush.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_flush_bytes.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: filestore

#954 NBSNEBIUS-127: add data scrubbing for mirrored disks
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/core/disk_counters.h
  cloud/blockstore/libs/storage/partition_nonrepl/checksum_range.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/checksum_range.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_mirror.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_stats.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_state.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_state.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_events_private.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_checksumblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range.h
  cloud/blockstore/libs/storage/partition_nonrepl/ya.make
Labels: large-tests, blockstore

#1106 Add private API to flush profile log
  cloud/blockstore/libs/diagnostics/profile_log.cpp
  cloud/blockstore/libs/diagnostics/profile_log.h
  cloud/blockstore/libs/storage/service/service_actor.h
  cloud/blockstore/libs/storage/service/service_actor_actions.cpp
  cloud/blockstore/libs/storage/service/service_actor_actions_flush_profile_log.cpp
  cloud/blockstore/libs/storage/service/ya.make
  cloud/blockstore/tests/client/test_with_client.py
  cloud/blockstore/tests/python/lib/loadtest_env.py
  cloud/blockstore/tests/python/lib/nbs_runner.py
Labels: enhancement, large-tests

#1145 [Disk Manager] add logs on s3 client retries
  cloud/tasks/persistence/s3.go
Labels: large-tests, disk_manager, tasks

#1149 blockstore-client: request block count made configurable, fixed ClientId in request headers (otherwise client throttler doesn't work because it can't find volume info)
  cloud/blockstore/apps/client/lib/command.cpp
  cloud/blockstore/apps/client/lib/command.h
  cloud/blockstore/apps/client/lib/read_blocks.cpp
  cloud/blockstore/apps/client/lib/write_blocks.cpp
  cloud/blockstore/apps/client/lib/zero_blocks.cpp
Labels: blockstore

#1153 [Disk Manager] refactor imports
  cloud/disk_manager/internal/pkg/client/client.go
  cloud/disk_manager/internal/pkg/facade/disk_service.go
  cloud/disk_manager/internal/pkg/facade/disk_service_test/disk_relocation_test.go
  cloud/disk_manager/internal/pkg/facade/disk_service_test/disk_service_test.go
  cloud/disk_manager/internal/pkg/facade/facade_test/facade_test.go
  cloud/disk_manager/internal/pkg/facade/filesystem_service.go
  cloud/disk_manager/internal/pkg/facade/filesystem_service_test/filesystem_service_test.go
  cloud/disk_manager/internal/pkg/facade/image_service.go
  cloud/disk_manager/internal/pkg/facade/image_service_test/image_service_test.go
  cloud/disk_manager/internal/pkg/facade/operation_service.go
  cloud/disk_manager/internal/pkg/facade/placement_group_service.go
  cloud/disk_manager/internal/pkg/facade/placement_group_service_test/placement_group_service_test.go
  cloud/disk_manager/internal/pkg/facade/private_service.go
  cloud/disk_manager/internal/pkg/facade/private_service_test/private_service_test.go
  cloud/disk_manager/internal/pkg/facade/snapshot_service.go
  cloud/disk_manager/internal/pkg/facade/snapshot_service_test/snapshot_service_test.go
  cloud/disk_manager/internal/pkg/facade/testcommon/common.go
  cloud/disk_manager/internal/pkg/services/disks/create_disk_from_image_task.go
  cloud/disk_manager/internal/pkg/services/disks/create_disk_from_snapshot_task.go
  cloud/disk_manager/internal/pkg/services/disks/create_empty_disk_task.go
  cloud/disk_manager/internal/pkg/services/disks/create_overlay_disk_task.go
  cloud/disk_manager/internal/pkg/services/disks/delete_disk_task.go
  cloud/disk_manager/internal/pkg/services/disks/interface.go
  cloud/disk_manager/internal/pkg/services/disks/migrate_disk_task.go
  cloud/disk_manager/internal/pkg/services/disks/migrate_disk_task_test.go
  cloud/disk_manager/internal/pkg/services/disks/mocks/service_mock.go
  cloud/disk_manager/internal/pkg/services/disks/service.go
  cloud/disk_manager/internal/pkg/services/filesystem/delete_filesystem_task.go
  cloud/disk_manager/internal/pkg/services/filesystem/interface.go
  cloud/disk_manager/internal/pkg/services/filesystem/mocks/service_mock.go
  cloud/disk_manager/internal/pkg/services/filesystem/service.go
  cloud/disk_manager/internal/pkg/services/filesystem/tests/filesystem_test.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_disk_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_image_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_snapshot_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_url_task.go
  cloud/disk_manager/internal/pkg/services/images/delete_image_task.go
  cloud/disk_manager/internal/pkg/services/images/interface.go
  cloud/disk_manager/internal/pkg/services/images/mocks/service_mock.go
  cloud/disk_manager/internal/pkg/services/images/service.go
  cloud/disk_manager/internal/pkg/services/placementgroup/delete_placement_group_task.go
  cloud/disk_manager/internal/pkg/services/placementgroup/interface.go
  cloud/disk_manager/internal/pkg/services/placementgroup/mocks/service_mock.go
  cloud/disk_manager/internal/pkg/services/placementgroup/service.go
  cloud/disk_manager/internal/pkg/services/snapshots/create_snapshot_from_disk_task.go
  cloud/disk_manager/internal/pkg/services/snapshots/delete_snapshot_task.go
  cloud/disk_manager/internal/pkg/services/snapshots/interface.go
  cloud/disk_manager/internal/pkg/services/snapshots/mocks/service_mock.go
  cloud/disk_manager/internal/pkg/services/snapshots/service.go
  cloud/disk_manager/pkg/admin/disks.go
  cloud/disk_manager/pkg/admin/filesystem.go
  cloud/disk_manager/pkg/admin/images.go
  cloud/disk_manager/pkg/admin/operations.go
  cloud/disk_manager/pkg/admin/placement_group.go
  cloud/disk_manager/pkg/admin/private.go
  cloud/disk_manager/pkg/admin/snapshots.go
  cloud/disk_manager/pkg/client/client.go
  cloud/disk_manager/pkg/client/interface.go
  cloud/disk_manager/test/remote/cmd/main.go
Labels: large-tests, disk_manager, tasks

#1162 issue-1161: hiding DupCache implementation details inside TSession, getting rid of unneeded TIntrusiveList usage for DupCacheEntries (the most important effect of this will be getting rid of TIntrusiveList::Size() calls which are O(n))
  cloud/filestore/libs/storage/tablet/session.h
  cloud/filestore/libs/storage/tablet/tablet_state_sessions.cpp
Labels: large-tests, filestore

#1165 issue-1164: endpoint_proxy stub
  cloud/blockstore/apps/endpoint_proxy/main.cpp
  cloud/blockstore/apps/endpoint_proxy/ya.make
  cloud/blockstore/apps/ya.make
  cloud/blockstore/libs/endpoint_proxy/bootstrap.cpp
  cloud/blockstore/libs/endpoint_proxy/bootstrap.h
  cloud/blockstore/libs/endpoint_proxy/options.cpp
  cloud/blockstore/libs/endpoint_proxy/options.h
  cloud/blockstore/libs/endpoint_proxy/public.h
  cloud/blockstore/libs/endpoint_proxy/server.cpp
  cloud/blockstore/libs/endpoint_proxy/server.h
  cloud/blockstore/libs/endpoint_proxy/ya.make
  cloud/blockstore/libs/ya.make
  cloud/blockstore/public/api/grpc/endpoint_proxy.proto
  cloud/blockstore/public/api/grpc/ya.make
  cloud/blockstore/public/api/protos/endpoints.proto
Labels: blockstore

#1168 issue-1164: splitting endpoint_proxy into server and client libs (client lib is currently empty), making a tiny fix in server.cpp
  cloud/blockstore/apps/endpoint_proxy/main.cpp
  cloud/blockstore/apps/endpoint_proxy/ya.make
  cloud/blockstore/libs/endpoint_proxy/client/ya.make
  cloud/blockstore/libs/endpoint_proxy/server/bootstrap.cpp
  cloud/blockstore/libs/endpoint_proxy/server/bootstrap.h
  cloud/blockstore/libs/endpoint_proxy/server/options.cpp
  cloud/blockstore/libs/endpoint_proxy/server/options.h
  cloud/blockstore/libs/endpoint_proxy/server/public.h
  cloud/blockstore/libs/endpoint_proxy/server/server.cpp
  cloud/blockstore/libs/endpoint_proxy/server/server.h
  cloud/blockstore/libs/endpoint_proxy/server/ya.make
  cloud/blockstore/libs/endpoint_proxy/ya.make
Labels: blockstore

#1141 [Disk Manager] should convert operation error to disk manager api format
  cloud/disk_manager/internal/pkg/facade/operation_service.go
  cloud/disk_manager/internal/pkg/facade/testcommon/common.go
Labels: large-tests, disk_manager, tasks

#1154 [Disk Manager] fix aws go sdk errors handling
  cloud/tasks/persistence/s3_client_test.go
  cloud/tasks/persistence/s3_metrics.go
  cloud/tasks/persistence/ya.make
Labels: large-tests, disk_manager, tasks

#874 [Disk Manager]: Add prometheus monitoring to opensource main
  cloud/disk_manager/cmd/disk-manager/main.go
  cloud/disk_manager/pkg/monitoring/metrics/prometheus.go
  cloud/disk_manager/pkg/monitoring/metrics/prometheus_test.go
  cloud/disk_manager/pkg/monitoring/metrics/tests/ya.make
  cloud/disk_manager/pkg/monitoring/metrics/ya.make
  cloud/disk_manager/pkg/monitoring/ya.make
Labels: large-tests

#956 topic api: use a single write session
  cloud/blockstore/libs/logbroker/topic_api_impl/topic_api.cpp
  cloud/blockstore/libs/logbroker/topic_api_impl/topic_api_ut.cpp
  cloud/blockstore/libs/logbroker/topic_api_impl/ut/ya.make
Labels: blockstore

#1183 issue-1164: endpoint-proxy client lib + cmd
  cloud/blockstore/apps/client/lib/command.cpp
  cloud/blockstore/apps/client/lib/command.h
  cloud/blockstore/apps/client/lib/endpoint_proxy.cpp
  cloud/blockstore/apps/client/lib/endpoint_proxy.h
  cloud/blockstore/apps/client/lib/factory.cpp
  cloud/blockstore/apps/client/lib/ya.make
  cloud/blockstore/libs/endpoint_proxy/client/client.cpp
  cloud/blockstore/libs/endpoint_proxy/client/client.h
  cloud/blockstore/libs/endpoint_proxy/client/public.h
  cloud/blockstore/libs/endpoint_proxy/client/ya.make
  cloud/blockstore/libs/endpoint_proxy/server/bootstrap.h
  cloud/blockstore/libs/endpoint_proxy/server/public.h
  cloud/blockstore/libs/endpoint_proxy/server/server.cpp
  cloud/blockstore/libs/endpoint_proxy/server/server.h
Labels: blockstore

#868 NBS-4960 [Disk Manager] support GetCheckpointStatus for snapshot creation
  cloud/disk_manager/internal/pkg/services/snapshots/create_snapshot_from_disk_task.go
Labels: large-tests, disk_manager

#1148 Merge stable-23-3
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/core/disk_counters.h
  cloud/blockstore/libs/storage/partition_nonrepl/CMakeLists.darwin-x86_64.txt
  cloud/blockstore/libs/storage/partition_nonrepl/CMakeLists.linux-aarch64.txt
  cloud/blockstore/libs/storage/partition_nonrepl/CMakeLists.linux-x86_64.txt
  cloud/blockstore/libs/storage/partition_nonrepl/checksum_range.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/checksum_range.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_mirror.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_stats.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_util.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_state.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_state.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_events_private.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_checksumblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range.h
  cloud/blockstore/libs/storage/partition_nonrepl/ya.make
Labels: large-tests, blockstore

#1185 issue-1164: endpoint-proxy - test stub + minor tweaks
  cloud/blockstore/apps/client/lib/endpoint_proxy.cpp
  cloud/blockstore/apps/endpoint_proxy/ya.make
  cloud/blockstore/libs/endpoint_proxy/server/server.cpp
  cloud/blockstore/public/api/protos/endpoints.proto
  cloud/blockstore/tests/client/canondata/result.json
  cloud/blockstore/tests/client/canondata/test_with_client.test_endpoint_proxy/results.txt
  cloud/blockstore/tests/client/test_with_client.py
  cloud/blockstore/tests/client/ya.make
Labels: blockstore

#1182 [Tasks] fix TestTasksSendEvent test; add gitignore file
  cloud/tasks/tasks_tests/.gitignore
  cloud/tasks/tasks_tests/tasks_test.go
Labels: tasks

#1198 issue-1164: endpoint-proxy client retry policy
  cloud/blockstore/apps/client/lib/command.cpp
  cloud/blockstore/libs/endpoint_proxy/client/client.cpp
  cloud/blockstore/libs/endpoint_proxy/client/client.h
Labels: blockstore

#1195 [Disk Manager] add tests with larger vhd images; add CacheMissedReadCounts check
  build/ext_mapping.conf.json
  cloud/disk_manager/internal/pkg/dataplane/url/tests/url_test.go
  cloud/disk_manager/internal/pkg/dataplane/url/vhd/tests/vhd_test.go
  cloud/disk_manager/test/images/recipe/__main__.py
  cloud/disk_manager/test/images/recipe/data/vhd_ubuntu1604_image_map.json
  cloud/disk_manager/test/images/resources/ya.make
Labels: disk_manager

#1211 fix: git config flags in rebase
  .github/workflows/build_and_test_cmake.yaml
  .github/workflows/build_and_test_on_demand.yaml
  .github/workflows/build_and_test_on_demand_cmake.yaml
  .github/workflows/build_and_test_ya.yaml
  .github/workflows/github_actions_scripts.yaml
  .github/workflows/pr-github-actions.yaml
Labels: rebase

#1197 issue-1196: return E_BS_THROTTLED instead of E_REJECTED(Throttled)
  cloud/blockstore/libs/storage/volume/volume_actor_throttling.cpp
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
Labels: large-tests

#1209 issue-1180: prevent volume tablet crash because history of size
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_cleanup_history.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_loadstate.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_monitoring.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_read_history.cpp
  cloud/blockstore/libs/storage/volume/volume_database.cpp
  cloud/blockstore/libs/storage/volume/volume_database.h
  cloud/blockstore/libs/storage/volume/volume_database_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_events_private.h
  cloud/blockstore/libs/storage/volume/volume_tx.h
  cloud/blockstore/libs/storage/volume/volume_ut_stats.cpp
Labels: bug, blockstore

#1135 [Filestore] issue-652: use `currentCommitId-1` instead of `currentCommitId` for `CollectGarbage`
  cloud/filestore/libs/storage/tablet/tablet_actor_collectgarbage.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_generatecommitid.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
  cloud/filestore/libs/storage/tablet/ya.make
  cloud/filestore/libs/storage/testlib/tablet_client.h
Labels: filestore

#1217 issue-1180: run history cleanup on every TEvUpdateCounters
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_cleanup_history.cpp
  cloud/blockstore/libs/storage/volume/volume_ut_stats.cpp
Labels: blockstore

#1224 issue-1180: fix cleanup condition for cached history
  cloud/blockstore/libs/storage/volume/volume_state.cpp
  cloud/blockstore/libs/storage/volume/volume_state_ut.cpp
Labels: bug, blockstore

#1231 fix test compilation
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_ut.cpp
Labels: blockstore

#1234 increase verbosity for service-kikimr: localdb-compaction and nemesis test
  cloud/filestore/tests/loadtest/service-kikimr-localdb-compaction-test/ya.make
  cloud/filestore/tests/loadtest/service-kikimr-nemesis-test/ya.make
  cloud/filestore/tests/recipes/service-kikimr.inc
Labels: filestore

#1235 issue-196: block checksums for the data read from blobstorage should be calculated over a buffer owned by NBS, not over sglist since otherwise our client can overwrite the buffer after we finish reading and before we calculate the checksum leading to false positives
  cloud/blockstore/libs/storage/core/block_handler.cpp
  cloud/blockstore/libs/storage/core/block_handler.h
  cloud/blockstore/libs/storage/partition/part_actor.cpp
  cloud/blockstore/libs/storage/partition/part_actor.h
  cloud/blockstore/libs/storage/partition/part_actor_compaction.cpp
  cloud/blockstore/libs/storage/partition/part_actor_readblob.cpp
  cloud/blockstore/libs/storage/partition/part_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_scan_disk.cpp
  cloud/blockstore/libs/storage/partition/part_ut.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor_compaction.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition2/part2_events_private.h
  cloud/blockstore/libs/storage/partition2/part2_ut.cpp
  cloud/blockstore/libs/storage/partition_common/actor_read_blob.cpp
  cloud/blockstore/libs/storage/partition_common/actor_read_blob.h
  cloud/blockstore/libs/storage/partition_common/actor_read_blob_ut.cpp
  cloud/blockstore/libs/storage/partition_common/events_private.h
  cloud/blockstore/libs/storage/volume/actors/read_disk_registry_based_overlay.cpp
Labels: large-tests, blockstore

#1220 issue-1164: endpoint-proxy - implemented nbd proxying
  cloud/blockstore/apps/client/lib/endpoint_proxy.cpp
  cloud/blockstore/libs/endpoint_proxy/client/client.cpp
  cloud/blockstore/libs/endpoint_proxy/server/bootstrap.cpp
  cloud/blockstore/libs/endpoint_proxy/server/bootstrap.h
  cloud/blockstore/libs/endpoint_proxy/server/options.cpp
  cloud/blockstore/libs/endpoint_proxy/server/options.h
  cloud/blockstore/libs/endpoint_proxy/server/server.cpp
  cloud/blockstore/libs/endpoint_proxy/server/server.h
  cloud/blockstore/libs/endpoint_proxy/server/ya.make
  cloud/blockstore/libs/nbd/client.cpp
  cloud/blockstore/public/api/protos/endpoints.proto
  cloud/blockstore/tests/client/canondata/result.json
  cloud/blockstore/tests/client/canondata/test_with_client.test_endpoint_proxy/results.txt
  cloud/blockstore/tests/client/test_with_client.py
Labels: large-tests, blockstore

#1193 loop shutdown should not call CancelRequest for inflight requests because it causes a race with the code that's executing those requests, we should simply wait until those requests complete by themselves
  cloud/filestore/libs/vfs_fuse/fs_ut.cpp
  cloud/filestore/libs/vfs_fuse/loop.cpp
Labels: large-tests, filestore, tsan

#1240 issue-1164: ListProxyEndpoints method for endpoint proxy
  cloud/blockstore/apps/client/lib/endpoint_proxy.cpp
  cloud/blockstore/apps/client/lib/endpoint_proxy.h
  cloud/blockstore/apps/client/lib/factory.cpp
  cloud/blockstore/libs/endpoint_proxy/client/client.cpp
  cloud/blockstore/libs/endpoint_proxy/client/client.h
  cloud/blockstore/libs/endpoint_proxy/server/server.cpp
  cloud/blockstore/public/api/grpc/endpoint_proxy.proto
  cloud/blockstore/public/api/protos/endpoints.proto
  cloud/blockstore/tests/client/canondata/test_with_client.test_endpoint_proxy/results.txt
  cloud/blockstore/tests/client/test_with_client.py
Labels: blockstore

#1233 issue-1128: batch loading of compaction map by groups
  cloud/filestore/libs/storage/tablet/model/compaction_map.cpp
  cloud/filestore/libs/storage/tablet/model/compaction_map.h
  cloud/filestore/libs/storage/tablet/model/compaction_map_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
Labels: large-tests, filestore

#1260 issue-1128: entries in the CompactionMap table should be deleted instead of updating of both BlobCount and DeletionCount are 0
  cloud/filestore/libs/storage/tablet/tablet_database.cpp
  cloud/filestore/libs/storage/tablet/tablet_database_ut.cpp
Labels: large-tests, filestore

#1258 issue-1164: proxy device connection factory
  cloud/blockstore/libs/endpoint_proxy/client/device_factory.cpp
  cloud/blockstore/libs/endpoint_proxy/client/device_factory.h
  cloud/blockstore/libs/endpoint_proxy/client/device_factory_ut.cpp
  cloud/blockstore/libs/endpoint_proxy/client/ut/ya.make
  cloud/blockstore/libs/endpoint_proxy/client/ya.make
  cloud/blockstore/libs/endpoint_proxy/server/server.cpp
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/blockstore/libs/endpoints/endpoint_manager_ut.cpp
  cloud/blockstore/libs/nbd/device.cpp
  cloud/blockstore/libs/nbd/device.h
Labels: large-tests, blockstore

#1265 filestore-vhost loop shutdown logging
  cloud/filestore/libs/vfs_fuse/loop.cpp
Labels: large-tests, filestore

#1218 issue-1146: cache `GetNodeAttr` results
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/model/alloc.h
  cloud/filestore/libs/storage/tablet/model/node_index_cache.cpp
  cloud/filestore/libs/storage/tablet/model/node_index_cache.h
  cloud/filestore/libs/storage/tablet/model/node_index_cache_ut.cpp
  cloud/filestore/libs/storage/tablet/model/ut/ya.make
  cloud/filestore/libs/storage/tablet/model/ya.make
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_getnodeattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_impl.h
  cloud/filestore/libs/storage/tablet/tablet_state_nodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_nodes.cpp
Labels: filestore

#1278 filestore-vhost: 1. extracted IEndpointManager::Drain phase and calling it before Stop 2. callbacks which need to be called when StopPromise is set should be called in a separate thread to avoid a deadlock occurring because Join gets called from the same thread on which it is called 3. explicitly cancelling AcquireLock request retries
  cloud/filestore/libs/client/client.cpp
  cloud/filestore/libs/client/durable.cpp
  cloud/filestore/libs/daemon/common/bootstrap.cpp
  cloud/filestore/libs/daemon/common/bootstrap.h
  cloud/filestore/libs/daemon/server/bootstrap.cpp
  cloud/filestore/libs/daemon/server/bootstrap.h
  cloud/filestore/libs/daemon/vhost/bootstrap.cpp
  cloud/filestore/libs/daemon/vhost/bootstrap.h
  cloud/filestore/libs/endpoint/service.cpp
  cloud/filestore/libs/endpoint/service_auth.cpp
  cloud/filestore/libs/endpoint/service_ut.cpp
  cloud/filestore/libs/service/context.h
  cloud/filestore/libs/service/endpoint.h
  cloud/filestore/libs/service/endpoint_test.h
  cloud/filestore/libs/vfs_fuse/fs_impl_lock.cpp
  cloud/filestore/libs/vfs_fuse/loop.cpp
Labels: large-tests, filestore, tsan

#1280 [Filestore] decrease iodepth of nemesis tests because of dup cache limitations
  cloud/filestore/tests/loadtest/service-kikimr-localdb-compaction-test/create-remove.txt
  cloud/filestore/tests/loadtest/service-kikimr-nemesis-test/create-remove.txt
Labels: large-tests, filestore

#1291 issue-1164: support for uds in blockstore-endpoint-proxy
  cloud/blockstore/apps/client/lib/command.cpp
  cloud/blockstore/apps/client/lib/command.h
  cloud/blockstore/apps/client/lib/endpoint_proxy.cpp
  cloud/blockstore/libs/endpoint_proxy/client/client.cpp
  cloud/blockstore/libs/endpoint_proxy/client/client.h
  cloud/blockstore/libs/endpoint_proxy/server/bootstrap.cpp
  cloud/blockstore/libs/endpoint_proxy/server/options.cpp
  cloud/blockstore/libs/endpoint_proxy/server/options.h
  cloud/blockstore/libs/endpoint_proxy/server/server.cpp
  cloud/blockstore/libs/endpoint_proxy/server/server.h
  cloud/blockstore/libs/endpoint_proxy/server/ya.make
  cloud/blockstore/tests/client/canondata/result.json
  cloud/blockstore/tests/client/canondata/test_with_client.test_endpoint_proxy_uds/results.txt
  cloud/blockstore/tests/client/test_with_client.py
Labels: large-tests, blockstore

#1300 issue-1164: 1. using ProxyDeviceFactory for nbd devices in blockstore-server if ServerConfig::EndpointProxySocketPath is set 2. fixed uds reconnect logic in endpoint-proxy client
  cloud/blockstore/config/server.proto
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/daemon/common/bootstrap.h
  cloud/blockstore/libs/daemon/common/ya.make
  cloud/blockstore/libs/endpoint_proxy/client/client.cpp
  cloud/blockstore/libs/endpoint_proxy/client/client.h
  cloud/blockstore/libs/server/config.cpp
  cloud/blockstore/libs/server/config.h
  cloud/blockstore/tests/client/canondata/result.json
  cloud/blockstore/tests/client/canondata/test_with_client.test_nbs_with_endpoint_proxy_uds/results.txt
  cloud/blockstore/tests/client/test_with_client.py
  cloud/blockstore/tests/client/ya.make
  cloud/blockstore/tests/python/lib/loadtest_env.py
  cloud/blockstore/tests/python/lib/nbs_runner.py
Labels: large-tests, blockstore

#1269 issue-1268: show preempted volumes at nbs-control monitoring page
  cloud/blockstore/libs/storage/api/service.h
  cloud/blockstore/libs/storage/service/service_actor.cpp
  cloud/blockstore/libs/storage/service/service_actor.h
  cloud/blockstore/libs/storage/service/service_actor_monitoring.cpp
  cloud/blockstore/libs/storage/service/service_state.cpp
  cloud/blockstore/libs/storage/service/service_state.h
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_addclient.cpp
Labels: rebase

#1308 issue-1307: calling fuse_cancel_request instead of fuse_reply_err for cancelled AcquireLock requests
  cloud/filestore/libs/service/context.h
  cloud/filestore/libs/vfs_fuse/fs.cpp
  cloud/filestore/libs/vfs_fuse/fs.h
  cloud/filestore/libs/vfs_fuse/fs_impl.cpp
  cloud/filestore/libs/vfs_fuse/fs_impl.h
  cloud/filestore/libs/vfs_fuse/loop.cpp
Labels: large-tests, filestore

#1309 [Disk Manager] prohibit to acquire target units if base disk is not from pool in relocation
  cloud/disk_manager/internal/pkg/facade/disk_service_test/disk_relocation_test.go
  cloud/disk_manager/internal/pkg/services/pools/storage/storage_ydb_impl.go
  cloud/disk_manager/internal/pkg/services/pools/storage/storage_ydb_test.go
Labels: large-tests, disk_manager
