Repository ydb-platform/nbs, pull requests merged in 2024-08, with the labels that each got.

#1706 issue-1350: GetNodeAttrBatchEnabled: true for multitablet filestore tests
  cloud/filestore/tests/loadtest/service-kikimr-newfeatures-test/nfs-storage.txt
Labels: large-tests, filestore

#1695 [Snapshot] should return 'url source invalid' error when creating image from URL with invalid scheme
  cloud/disk_manager/internal/pkg/dataplane/url/common/reader.go
  cloud/disk_manager/internal/pkg/facade/image_service_test/image_service_test.go
Labels: large-tests

#1715 collect barrier gen should match current current tablet generation
  cloud/filestore/libs/storage/tablet/tablet_state.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: large-tests, filestore

#1719 Fix MSAN wrong assumption for AIO reading
  cloud/blockstore/vhost-server/backend_aio.cpp
Labels: blockstore

#1722 issue-1161: fixed stupid lazy counter init race
  cloud/storage/core/libs/diagnostics/request_counters.cpp
Labels: filestore, asan, tsan

#1713 [Snapshot] should return success only for 2xx statuses when creating image from URL
  cloud/disk_manager/internal/pkg/dataplane/url/common/http_client.go
Labels: large-tests

#1723 fix: throw exception if device is not open
  cloud/blockstore/libs/nbd/device.cpp
Labels: blockstore

#1703 [bugfix] RemoveDevice request should trigger migration from all logical devices
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_cms.cpp
Labels: bug, large-tests, blockstore

#1727 Cherry-pick to stable-23-3: [Filestore] add UncompressedBytesWritten, CompressedBytesWritten counters to metrics (#1718)
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_writeblob.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_counters.cpp
  cloud/filestore/libs/storage/testlib/test_env.cpp
  cloud/filestore/libs/storage/testlib/test_env.h
Labels: recheck

#1710 issue-1588: update CSI driver README and deployment manifests
  cloud/blockstore/tools/csi_driver/README.md
  cloud/blockstore/tools/csi_driver/deploy/example_pv/pv.yaml
  cloud/blockstore/tools/csi_driver/deploy/manifests/5-csi-deployment.yaml
  cloud/blockstore/tools/csi_driver/deploy/manifests/5-nbs-configmap.yaml
  cloud/blockstore/tools/csi_driver/deploy/manifests/6-csi-daemonset.yaml
  cloud/blockstore/tools/csi_driver/deploy/manifests/6-nbs-daemonset.yaml
  cloud/blockstore/tools/csi_driver/deploy/redeploy.sh
  cloud/blockstore/tools/csi_driver/deploy/server.txt
Labels: blockstore

#1704 issue-1588: Support RPC_GET_VOLUME_STATS capability in csi driver
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
Labels: blockstore, rebase

#1734 [Disk Manager] implement simple algorithm for picking healthy endpoint for creating/deleting filesystems
  cloud/disk_manager/internal/pkg/clients/nfs/endpoint_picker.go
  cloud/disk_manager/internal/pkg/clients/nfs/factory.go
  cloud/disk_manager/internal/pkg/clients/nfs/ya.make
  cloud/disk_manager/internal/pkg/common/util.go
  cloud/disk_manager/internal/pkg/services/filesystem/tests/filesystem_test.go
  cloud/disk_manager/pkg/app/controlplane.go
Labels: large-tests

#1652 [Disk Manager] add incremental table to dataplane
  cloud/disk_manager/internal/pkg/dataplane/create_snapshot_from_disk_task.go
  cloud/disk_manager/internal/pkg/dataplane/create_snapshot_from_legacy_snapshot_task.go
  cloud/disk_manager/internal/pkg/dataplane/create_snapshot_from_snapshot_task.go
  cloud/disk_manager/internal/pkg/dataplane/create_snapshot_from_url_task.go
  cloud/disk_manager/internal/pkg/dataplane/delete_disk_from_incremental.go
  cloud/disk_manager/internal/pkg/dataplane/protos/delete_disk_from_incremental.proto
  cloud/disk_manager/internal/pkg/dataplane/protos/ya.make
  cloud/disk_manager/internal/pkg/dataplane/register.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/common.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/mocks/storage_mock.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/schema/schema.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage_legacy.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage_ydb.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage_ydb_impl.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage_ydb_test.go
  cloud/disk_manager/internal/pkg/dataplane/ya.make
  cloud/disk_manager/internal/pkg/services/disks/delete_disk_task.go
  cloud/disk_manager/internal/pkg/services/disks/delete_disk_task_test.go
  cloud/disk_manager/internal/pkg/services/disks/migrate_disk_task.go
  cloud/disk_manager/internal/pkg/util/json.go
Labels: large-tests, disk_manager

#1740 issue-1673: Unaligned requests support in ThreeStageWrite pipeline - IndexTablet part
  cloud/filestore/libs/storage/tablet/actors/tablet_adddata.cpp
  cloud/filestore/libs/storage/tablet/actors/tablet_adddata.h
  cloud/filestore/libs/storage/tablet/model/block.h
  cloud/filestore/libs/storage/tablet/model/fresh_bytes.cpp
  cloud/filestore/libs/storage/tablet/model/fresh_bytes.h
  cloud/filestore/libs/storage/tablet/model/fresh_bytes_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_addblob.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_adddata.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
  cloud/filestore/libs/storage/testlib/tablet_client.h
  cloud/filestore/private/api/protos/tablet.proto
Labels: filestore

#1754 issue-1673: AddData + UnalignedDataParts: using CommitId, generated in AddBlobTx (since the same CommitId is used for the blobs), adding some checks
  cloud/filestore/libs/diagnostics/critical_events.h
  cloud/filestore/libs/storage/tablet/model/block.h
  cloud/filestore/libs/storage/tablet/tablet_actor_addblob.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_adddata.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: filestore

#1700 add support for filestore-related cms configs in filestore
  cloud/filestore/libs/daemon/common/config_initializer.cpp
  cloud/filestore/libs/daemon/common/config_initializer.h
  cloud/filestore/libs/daemon/common/public.h
  cloud/filestore/libs/daemon/server/config_initializer.cpp
  cloud/filestore/libs/daemon/server/config_initializer.h
  cloud/filestore/libs/daemon/server/config_initializer_ut.cpp
  cloud/filestore/libs/daemon/server/public.h
  cloud/filestore/libs/daemon/vhost/config_initializer.cpp
  cloud/filestore/libs/daemon/vhost/config_initializer.h
  cloud/filestore/libs/daemon/vhost/config_initializer_ut.cpp
  cloud/filestore/libs/daemon/vhost/public.h
  cloud/filestore/public/sdk/python/client/client.py
  cloud/filestore/tests/python/lib/daemon_config.py
  cloud/filestore/tests/python/lib/server.py
  cloud/filestore/tests/registration/test.py
  cloud/filestore/tests/registration/ya.make
Labels: large-tests, filestore

#1728 Vhost server write encrypted zero blocks
  cloud/blockstore/libs/endpoints_vhost/external_endpoint_stats.cpp
  cloud/blockstore/vhost-server/backend.h
  cloud/blockstore/vhost-server/backend_aio.cpp
  cloud/blockstore/vhost-server/critical_event.cpp
  cloud/blockstore/vhost-server/critical_event.h
  cloud/blockstore/vhost-server/gtest/ya.make
  cloud/blockstore/vhost-server/main.cpp
  cloud/blockstore/vhost-server/request_aio.cpp
  cloud/blockstore/vhost-server/request_aio.h
  cloud/blockstore/vhost-server/request_aio_ut.cpp
  cloud/blockstore/vhost-server/server.cpp
  cloud/blockstore/vhost-server/server.h
  cloud/blockstore/vhost-server/server_ut.cpp
  cloud/blockstore/vhost-server/stats.cpp
  cloud/blockstore/vhost-server/stats.h
  cloud/blockstore/vhost-server/stats_ut.cpp
  cloud/blockstore/vhost-server/ut/ya.make
  cloud/blockstore/vhost-server/ya.make
  cloud/storage/core/libs/diagnostics/critical_events.cpp
  cloud/storage/core/libs/diagnostics/critical_events.h
Labels: blockstore, asan, tsan

#1759 [Disk Manager] fix delete_disk_task
  cloud/disk_manager/internal/pkg/facade/private_service_test/private_service_test.go
  cloud/disk_manager/internal/pkg/services/disks/delete_disk_task.go
  cloud/disk_manager/internal/pkg/services/disks/delete_disk_task_test.go
Labels: large-tests, disk_manager, tasks

#1769 issue-1673: supported ThreeStageWrites for large unaligned requests in StorageServiceActor
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/model/range.h
  cloud/filestore/libs/storage/service/service_actor_writedata.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
Labels: filestore

#1767 [Tasks] task storage should fail creation of two tasks with same idempotency key but different types or requests
  cloud/tasks/storage/storage_ydb_impl.go
  cloud/tasks/storage/storage_ydb_test.go
Labels: large-tests

#1776 Increase sanitizers requirements
  cloud/storage/core/tests/recipes/large.inc
Labels: tasks

#1781 issue-1673: fio and loadtests for unaligned ThreeStageWrite
  cloud/filestore/tests/fio/qemu-kikimr-newfeatures-test/test.py
  cloud/filestore/tests/fio/qemu-kikimr-newfeatures-test/ya.make
  cloud/filestore/tests/fio/ya.make
  cloud/filestore/tests/loadtest/service-kikimr-newfeatures-test/nfs-storage.txt
  cloud/filestore/tests/loadtest/service-kikimr-newfeatures-test/read-write-validation.txt
  cloud/storage/core/tools/testing/fio/lib/__init__.py
Labels: filestore

#1780 fix unexpected event for partition nonrepl rdma actor
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.cpp
Labels: large-tests, blockstore

#1782 NBSNEBIUS-355: csi sanity tests
  build/ext_mapping.conf.json
  cloud/blockstore/tests/csi_driver/test.py
  cloud/blockstore/tests/csi_driver/ya.make
  cloud/blockstore/tools/.gitignore
  cloud/blockstore/tools/testing/csi-sanity/README.md
  cloud/blockstore/tools/testing/csi-sanity/bin/ya.make
  cloud/blockstore/tools/testing/csi-sanity/ya.make
Labels: blockstore

#1777 [Disk Manager] add overlay disks slots consistency check
  cloud/disk_manager/internal/pkg/facade/private_service_test/private_service_test.go
  cloud/disk_manager/internal/pkg/facade/testcommon/common.go
  cloud/disk_manager/internal/pkg/services/pools/storage/consistency_check.go
  cloud/disk_manager/internal/pkg/services/pools/storage/mocks/storage_mock.go
  cloud/disk_manager/internal/pkg/services/pools/storage/storage.go
  cloud/disk_manager/internal/pkg/services/pools/storage/storage_ydb.go
Labels: large-tests, disk_manager, tasks

#1797 issue-1791: added logs
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
Labels: blockstore

#1793 tablet stresstest should have less iterations under ubsan - otherwise we hit the timeout
  cloud/filestore/libs/storage/tablet/tablet_ut_data_stress.cpp
Labels: filestore, ubsan

#1798 [NBS] fix false positive DiskRegistryNoScheduledNotification crit event
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_mirrored_disk_migration.cpp
Labels: bug, blockstore

#1786 Document all the scenarios of adding/changing nonreplicated disks
  doc/blockstore/disk_registry/media/broken-disk.png
  doc/blockstore/disk_registry/media/host-maintenance.png
  doc/blockstore/disk_registry/media/new-host.png
  doc/blockstore/disk_registry/nrd-insertion.md
Labels: documentation

#1690 add force operation to delete all zero compaction stat ranges; add aсtion to write specified data to compaction map table
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/api/tablet.h
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/service/service_actor.h
  cloud/filestore/libs/storage/service/service_actor_actions.cpp
  cloud/filestore/libs/storage/service/service_actor_actions_write_compaction_map.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/service/ya.make
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_compactionforced.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_delete_zero_compaction_ranges.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_loadstate.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_monitoring.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_write_compactionmap.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.h
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
  cloud/filestore/libs/storage/tablet/ya.make
  cloud/filestore/libs/storage/testlib/tablet_client.h
  cloud/filestore/private/api/protos/tablet.proto
Labels: large-tests, filestore

#1763 issue-1657: set custom monitoring port in minikube manifest
  cloud/blockstore/tools/csi_driver/deploy/manifests/6-csi-daemonset.yaml
Labels: blockstore

#1799 [Disk Manager] add release base disk cmd to admin tool
  cloud/disk_manager/internal/api/private_service.proto
  cloud/disk_manager/internal/pkg/client/client.go
  cloud/disk_manager/internal/pkg/facade/private_service.go
  cloud/disk_manager/pkg/admin/common.go
  cloud/disk_manager/pkg/admin/disks.go
  cloud/disk_manager/pkg/admin/filesystem.go
  cloud/disk_manager/pkg/admin/images.go
  cloud/disk_manager/pkg/admin/private.go
  cloud/disk_manager/pkg/admin/snapshots.go
Labels: disk_manager

#1774 issue-1794: support aliases for filestore names
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/service/service_actor_createsession.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet_proxy/tablet_proxy_actor.cpp
  cloud/filestore/libs/storage/tablet_proxy/tablet_proxy_ut.cpp
  cloud/filestore/libs/storage/testlib/tablet_proxy_client.h
Labels: filestore

#1796 Simplify TrackUsedBlocks usage
  cloud/blockstore/libs/storage/core/forward_helpers.cpp
  cloud/blockstore/libs/storage/core/forward_helpers.h
  cloud/blockstore/libs/storage/partition_nonrepl/config.h
  cloud/blockstore/libs/storage/partition_nonrepl/migration_timeout_calculator_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_state_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range_ut.cpp
  cloud/blockstore/libs/storage/volume/actors/forward_read_marked.h
  cloud/blockstore/libs/storage/volume/actors/forward_read_marked.ut.cpp
  cloud/blockstore/libs/storage/volume/actors/read_disk_registry_based_overlay.cpp
  cloud/blockstore/libs/storage/volume/actors/read_disk_registry_based_overlay.h
  cloud/blockstore/libs/storage/volume/actors/read_disk_registry_based_overlay_ut.cpp
  cloud/blockstore/libs/storage/volume/actors/shadow_disk_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_forward_trackused.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_monitoring.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_startstop.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_statvolume.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_updateusedblocks.cpp
  cloud/blockstore/libs/storage/volume/volume_state.cpp
  cloud/blockstore/libs/storage/volume/volume_state.h
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
Labels: blockstore, refactoring

#1801 issue-1350: restoring follower sessions after follower restarts
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/subsessions.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_cleanupsessions.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_loadstate.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_sessions.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/testlib/tablet_client.h
Labels: filestore

#1805 NBSDUTY-57: fix test_add_host_with_legacy_local_ssd
  cloud/blockstore/tests/local_ssd/test.py
Labels: bug, large-tests, blockstore

#1816 issue-1794: fixed use-after-free in fs search by alias, not making a new THashMap upon each alias search, removed incorrect TABLET_VERIFY in TIndexTabletActor::CompleteTx_CreateSession
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/service/service_actor_createsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
  cloud/filestore/libs/storage/tablet_proxy/tablet_proxy_actor.cpp
Labels: filestore, asan

#1789 issue-1788: fix heap-use-after-free in TServiceEndpointTest.ShouldTimeoutFrozenRequest
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/blockstore/libs/endpoints/service_endpoint_ut.cpp
Labels: large-tests, blockstore, asan

#1815 issue-1814: passing StorageStatusFlags for written blobs from StorageServiceActor to tablets via AddData requests
  cloud/filestore/libs/storage/service/service_actor_writedata.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_adddata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_writeblob.cpp
  cloud/filestore/private/api/protos/tablet.proto
Labels: filestore

#1813 issue-1350: increasing default IdleSessionTimeout to 1 hour - 5 minutes aren't enough if we deploy a bug which causes filestore-vhost to enter a crash loop or something like that, whereas 1 hour should be enough
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_counters.cpp
Labels: filestore

#1804 Making an explicit unsafe conversion from TBlockDataRef to IOutputStream::TPart
  cloud/blockstore/libs/client_rdma/rdma_client.cpp
  cloud/blockstore/libs/endpoints_rdma/rdma_server.cpp
  cloud/blockstore/libs/rdma/iface/protobuf.cpp
  cloud/blockstore/libs/rdma/iface/protobuf.h
  cloud/blockstore/libs/rdma/iface/protobuf_ut.cpp
  cloud/blockstore/libs/rdma_test/client_test.cpp
  cloud/blockstore/libs/rdma_test/server_test_async.cpp
  cloud/blockstore/libs/service_local/storage_rdma.cpp
  cloud/blockstore/libs/storage/disk_agent/rdma_target.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_common.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_checksumblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_zeroblocks.cpp
  cloud/blockstore/tools/testing/rdma-test/storage_rdma.cpp
  cloud/blockstore/tools/testing/rdma-test/target.cpp
  cloud/storage/core/libs/common/block_data_ref.h
Labels: refactoring

#1775 [Disk Manager] better YDB client errors metric
  cloud/tasks/persistence/ydb.go
  cloud/tasks/persistence/ydb_metrics.go
  cloud/tasks/persistence/ydb_test.go
Labels: disk_manager, tasks

#1829 [Filestore] parse `TClientAppConfig`, not `TClientConfig` in filestore-client
  cloud/filestore/apps/client/lib/command.cpp
Labels: filestore

#1826 issue-1825: deduplicate blobs in collect garbage with a linear complexity
  cloud/storage/core/libs/tablet/gc_logic.cpp
  cloud/storage/core/libs/tablet/gc_logic_ut.cpp
  cloud/storage/core/libs/tablet/model/partial_blob_id.h
Labels: large-tests

#1828 issue-1823: allowing FS size decrease with a Force flag + some cleanup
  cloud/filestore/libs/storage/service/service_actor_alterfs.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_updateconfig.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut.cpp
  cloud/filestore/libs/storage/testlib/service_client.h
  cloud/filestore/public/api/protos/fs.proto
Labels: filestore

#1836 [Filestore] fix incorrect auth header in GO SDK
  cloud/filestore/public/sdk/go/client/credentials.go
Labels: filestore

#1696 [Disk Manager] Add basic traces
  cloud/disk_manager/internal/pkg/configs/server/config/config.proto
  cloud/disk_manager/internal/pkg/configs/server/config/ya.make
  cloud/disk_manager/internal/pkg/facade/interceptor.go
  cloud/disk_manager/pkg/app/run.go
  cloud/tasks/headers/headers.go
  cloud/tasks/tracing/config/config.proto
  cloud/tasks/tracing/config/ya.make
  cloud/tasks/tracing/init.go
  cloud/tasks/tracing/tracing_context.go
  cloud/tasks/tracing/ya.make
  cloud/tasks/ya.make
Labels: large-tests

#1844 [Blockstore] add integration test in which BS group is unavailable for some time
  cloud/blockstore/tests/loadtest/local-bsgroup-failure/local-tablet-version-default.txt
  cloud/blockstore/tests/loadtest/local-bsgroup-failure/test.py
  cloud/blockstore/tests/loadtest/local-bsgroup-failure/ya.make
  cloud/blockstore/tests/loadtest/ya.make
Labels: large-tests, blockstore

#1850 Revert "[Disk Manager] better YDB client errors metric (#1775)"
  cloud/tasks/persistence/ydb.go
  cloud/tasks/persistence/ydb_metrics.go
  cloud/tasks/persistence/ydb_test.go
Labels: large-tests

#1834 io_setup may return EAGAIN - it should be retried (for a reasonable time interval)
  cloud/storage/core/libs/aio/service.cpp
  cloud/storage/core/libs/aio/service_ut.cpp
Labels: large-tests, rebase

#1858 issue-1824: filestore tablet channel balancing by ApproximateFreeSpaceShare
  cloud/blockstore/libs/storage/partition/part_actor_monitoring.cpp
  cloud/blockstore/libs/storage/partition/part_state.cpp
  cloud/blockstore/libs/storage/partition/part_state.h
  cloud/blockstore/libs/storage/partition2/part2_state.cpp
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/service/service_actor_writedata.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/model/channels.cpp
  cloud/filestore/libs/storage/tablet/model/channels.h
  cloud/filestore/libs/storage/tablet/model/channels_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_adddata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_writeblob.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_channels.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/private/api/protos/tablet.proto
  cloud/storage/core/libs/tablet/model/channels.cpp
  cloud/storage/core/libs/tablet/model/channels.h
  cloud/storage/core/libs/tablet/model/ya.make
  cloud/storage/core/libs/viewer/tablet_monitoring.cpp
  cloud/storage/core/libs/viewer/tablet_monitoring.h
Labels: large-tests, rebase

#1862 issue-1161: improved some diagnostics
  cloud/filestore/libs/storage/service/service_actor_createsession.cpp
  cloud/filestore/libs/vfs_fuse/fs_impl_list.cpp
Labels: filestore

#1692 issue-1146: implement getters for in-memory cache
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/model/alloc.h
  cloud/filestore/libs/storage/tablet/tablet_state.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_cache.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_cache.h
  cloud/filestore/libs/storage/tablet/tablet_state_impl.h
Labels: filestore

#1865 fixed race in ut
  cloud/storage/core/libs/aio/service_ut.cpp
Labels: blockstore, filestore, tsan

#1866 [Disk Manager] Fix `go vet` in `nbs/cloud/disk_manager/pkg/app/run.go`
  cloud/disk_manager/pkg/app/run.go
Labels: disk_manager

#1842 Calculate migration bandwidth in the base migration class
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_migration.cpp
  cloud/blockstore/libs/storage/volume/actors/shadow_disk_actor.cpp
  cloud/blockstore/libs/storage/volume/actors/shadow_disk_actor.h
Labels: large-tests, blockstore, refactoring

#1873 fix issues found by coverity
  cloud/filestore/libs/storage/service/service_actor_getnodeattr.cpp
  cloud/filestore/libs/storage/service/service_actor_listnodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
Labels: filestore

#1875 [Filestore] Fix incorrect format string in service_actor_getnodeattr.cpp
  cloud/filestore/libs/storage/service/service_actor_getnodeattr.cpp
Labels: filestore, tsan

#1869 issue-1350: fixed ListNodes -> UnlinkNode -> GetNodeAttr race which lead to E_IO due to having empty node attrs in the listing results
  cloud/filestore/libs/storage/model/ut/ya.make
  cloud/filestore/libs/storage/model/utils.h
  cloud/filestore/libs/storage/model/utils_ut.cpp
  cloud/filestore/libs/storage/model/ya.make
  cloud/filestore/libs/storage/service/service_actor_listnodes.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/vfs_fuse/fs_impl_list.cpp
Labels: filestore

#1852 [Disk Manager] clients/nfs/endpointPicker should wait until node becomes ready
  cloud/disk_manager/internal/pkg/clients/nbs/tests/client_test.go
  cloud/disk_manager/internal/pkg/clients/nfs/endpoint_picker.go
  cloud/disk_manager/internal/pkg/clients/nfs/factory.go
  cloud/disk_manager/internal/pkg/clients/nfs/tests/client_test.go
  cloud/disk_manager/internal/pkg/common/cond.go
  cloud/disk_manager/test/recipe/nfs_launcher.py
Labels: large-tests

#1857 fix ydb sync, arc pr 6551995
  cloud/blockstore/tests/python/lib/test_base.py
  cloud/filestore/tests/python/lib/common.py
Labels: large-tests

#1879 [NBS] a new test added that verifies the correctness of changing DA's rack
  cloud/blockstore/tests/disk_agent_config/test.py
  cloud/blockstore/tests/disk_agent_config/ya.make
  cloud/blockstore/tests/ya.make
Labels: blockstore

#1787 issue-1146: add dummy tablet database proxy + populate oplog in RW transactions
  cloud/filestore/libs/storage/tablet/tablet_actor_addblob.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_adddata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_allocatedata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createcheckpoint.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_deletecheckpoint.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_destroyhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_destroysession.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_removenodexattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_setnodeattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_setnodexattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_truncate.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_unlinknode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_writebatch.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_writedata.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.h
  cloud/filestore/libs/storage/tablet/tablet_state_cache.h
  cloud/filestore/libs/storage/tablet/tablet_tx.h
Labels: filestore

#1892 issue-1795: tablet storage layers doc
  doc/filestore/design/cli/ls.md
  doc/filestore/design/storage/tablet/data_index.md
Labels: filestore

#1891 support for absolute (wrt repo root) file paths in additionalFiles
  cloud/storage/core/tools/common/go/configurator/configurator.go
Labels: rebase

#1882 Make the date-time format consistent in logs
  cloud/blockstore/apps/client/lib/command.cpp
  cloud/blockstore/libs/client/bench/main.cpp
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/blockstore/libs/endpoint_proxy/server/bootstrap.cpp
  cloud/blockstore/libs/logbroker/topic_api_impl/topic_api_ut.cpp
  cloud/blockstore/libs/nbd/bench/bootstrap.cpp
  cloud/blockstore/tests/fuzzing/common/starter.cpp
  cloud/blockstore/tools/nbd/bootstrap.cpp
  cloud/blockstore/tools/testing/eternal_tests/checkpoint-validator/bin/main.cpp
  cloud/blockstore/tools/testing/eternal_tests/checkpoint-validator/lib/validator_ut.cpp
  cloud/blockstore/tools/testing/eternal_tests/eternal-load/bin/test.cpp
  cloud/blockstore/tools/testing/loadtest/lib/bootstrap.cpp
  cloud/filestore/apps/client/lib/command.cpp
  cloud/filestore/libs/daemon/common/bootstrap.cpp
  cloud/filestore/tools/testing/loadtest/bin/bootstrap.cpp
  cloud/storage/core/tools/analytics/cpu-wait-monitor/main.cpp
  cloud/vm/blockstore/bootstrap.cpp
Labels: large-tests

#1893 [Blockstore] do not account allocated bytes to DecommissionedBytes counter
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut.cpp
Labels: blockstore

#1896 [Disk Manager] don't start image file server if it is not needed
  cloud/disk_manager/internal/pkg/dataplane/url/qcow2/tests/ya.make
  cloud/disk_manager/internal/pkg/dataplane/url/tests/ya.make
  cloud/disk_manager/internal/pkg/dataplane/url/vhd/tests/ya.make
  cloud/disk_manager/internal/pkg/dataplane/url/vmdk/tests/ya.make
  cloud/disk_manager/internal/pkg/facade/testcommon/common.inc
  cloud/disk_manager/test/images/recipe/recipe.inc
  cloud/disk_manager/test/recipe/recipe.inc
Labels: large-tests

#1901 merge to stable-23-3
  cloud/blockstore/libs/logbroker/topic_api_impl/ya.make
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut.cpp
  cloud/blockstore/tests/disk_agent_config/test.py
  cloud/blockstore/tests/disk_agent_config/ya.make
  cloud/blockstore/tests/local_ssd/test.py
  cloud/blockstore/tests/ya.make
Labels: large-tests, blockstore

#1872 Don't block diskless agents from deployment
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_cms.cpp
Labels: large-tests, blockstore

#1905 merge to stable-23-3: issue-1657
  cloud/blockstore/libs/nbd/netlink_device.cpp
  cloud/blockstore/tests/python/lib/endpoint_proxy.py
Labels: rebase

#1909 Fix arcadia build
  cloud/filestore/libs/storage/service/service_actor_actions_ut.cpp
Labels: filestore

#1898 [Disk Manager] pass nfs_client.ClientCredentials to endpointPicker (otherwise it always uses non-TLS); enable TLS in filestore tests
  cloud/disk_manager/internal/pkg/clients/nfs/endpoint_picker.go
  cloud/disk_manager/internal/pkg/clients/nfs/factory.go
  cloud/disk_manager/internal/pkg/clients/nfs/tests/client_test.go
  cloud/disk_manager/test/recipe/disk_manager_launcher.py
  cloud/disk_manager/test/recipe/nfs_launcher.py
  cloud/disk_manager/test/recipe/recipe.inc
  cloud/filestore/tests/python/lib/daemon_config.py
  cloud/filestore/tests/recipes/service-kikimr/__main__.py
Labels: large-tests

#1915 Fix arcadia build #2
  cloud/filestore/libs/storage/service/service_actor_actions_ut.cpp
Labels: filestore

#1885 issue-1541: implement async destroy handle processing
  cloud/filestore/config/filesystem.proto
  cloud/filestore/config/storage.proto
  cloud/filestore/config/vfs.proto
  cloud/filestore/libs/diagnostics/critical_events.h
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_sessions.cpp
  cloud/filestore/libs/vfs_fuse/config.cpp
  cloud/filestore/libs/vfs_fuse/config.h
  cloud/filestore/libs/vfs_fuse/fs.h
  cloud/filestore/libs/vfs_fuse/fs_impl.cpp
  cloud/filestore/libs/vfs_fuse/fs_impl.h
  cloud/filestore/libs/vfs_fuse/fs_impl_data.cpp
  cloud/filestore/libs/vfs_fuse/fs_ut.cpp
  cloud/filestore/libs/vfs_fuse/handle_ops_queue.cpp
  cloud/filestore/libs/vfs_fuse/handle_ops_queue.h
  cloud/filestore/libs/vfs_fuse/loop.cpp
  cloud/filestore/libs/vfs_fuse/protos/queue_entry.proto
  cloud/filestore/libs/vfs_fuse/protos/ya.make
  cloud/filestore/libs/vfs_fuse/ya.make
  cloud/filestore/libs/vfs_fuse/ya.make.inc
  cloud/filestore/libs/vhost/request.h
  cloud/filestore/public/api/protos/fs.proto
Labels: large-tests, filestore

#1818 Stat about opened files from one/many sessions
  cloud/filestore/libs/storage/tablet/model/node_session_stat.cpp
  cloud/filestore/libs/storage/tablet/model/node_session_stat.h
  cloud/filestore/libs/storage/tablet/model/node_session_stat_ut.cpp
  cloud/filestore/libs/storage/tablet/model/ut/ya.make
  cloud/filestore/libs/storage/tablet/model/ya.make
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_impl.h
  cloud/filestore/libs/storage/tablet/tablet_state_sessions.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_nodes.cpp
Labels: large-tests, filestore
