Repository ydb-platform/nbs, pull requests merged in 2024-03, with the labels that each got.

#589 issue-573: failed CreateSessionActors should stop working and should eventually be killed
  .gitignore
  cloud/filestore/libs/storage/service/service_actor_createsession.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
Labels: filestore

#505 Add logs directory URL to tests reports
  .github/actions/test/action.yaml
  .github/scripts/tests/generate-summary.py
  .github/scripts/tests/transform-ya-junit.py
  .github/workflows/github_actions_scripts.yaml
Labels: bug, CI

#580 [Filestore] NBSNEBIUS-121: add describe data stats for `TStorageServiceActor`
  cloud/filestore/libs/diagnostics/profile_log_events.cpp
  cloud/filestore/libs/service/auth_scheme.cpp
  cloud/filestore/libs/service/request.cpp
  cloud/filestore/libs/service/request.h
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/tools/analytics/libs/event-log/dump_ut.cpp
Labels: filestore

#611 issue-573: increasing default IdleSessionTimeout from 30s to 5m, increasing LoadedCompactionRangesPerTx from 2^20 to 10 * 2^20, fixing PEERDIR in libs/diagnostics
  cloud/filestore/libs/diagnostics/ya.make
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_counters.cpp
Labels: filestore

#617 issue #122: limit 'unconfirmed' blob count
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/partition/part_actor_writemergedblocks.cpp
  cloud/blockstore/libs/storage/partition/part_ut.cpp
Labels: large-tests

#630 NBS-4905 client test
  cloud/blockstore/tests/client/test_with_client.py
Labels: large-tests

#638 NBS-4488: [Disk Manager] remove unused parametrs from disks table
  cloud/disk_manager/internal/pkg/resources/disks.go
  cloud/disk_manager/internal/pkg/resources/storage.go
  cloud/disk_manager/internal/pkg/services/disks/create_overlay_disk_task.go
Labels: large-tests, disk_manager

#443 tweak ShouldHandleMutlipleQueues: wait for stats sync
  cloud/blockstore/vhost-server/server_ut.cpp
Labels: nbs, blockstore

#683 fix an empty session stuck in 'acquire in progress'
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_acquire.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_session.cpp
Labels: bug, blockstore

#693 issue-679: implemented ReassignTablet private api action
  cloud/filestore/libs/storage/service/service_actor.h
  cloud/filestore/libs/storage/service/service_actor_actions.cpp
  cloud/filestore/libs/storage/service/service_actor_actions_reassign_tablet.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/service/ya.make
  cloud/filestore/private/api/protos/actions.proto
Labels: filestore

#692 fix ActorSystem hanging on DiskAgent' shutdown
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
Labels: bug, large-tests, blockstore

#700 Remove mutes from tests that launch QEMU and require nested virtualization
  .github/actions/prepare/action.yaml
  .github/actions/test/action.yaml
  .github/config/muted_ya.txt
  cloud/storage/core/tools/testing/qemu/lib/recipe.py
Labels: large-tests, blockstore, filestore

#729 issue-95: Compaction should rebase blocks in order not to write garbage blocks to dst blobs
  cloud/filestore/libs/storage/tablet/rebase_logic.cpp
  cloud/filestore/libs/storage/tablet/rebase_logic.h
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: filestore

#732 issue-95: rebase logic ut
  cloud/filestore/libs/storage/tablet/rebase_logic_ut.cpp
Labels: filestore

#681 NBSNEBIUS-105: make MinSize & MaxSize parameters optional for the Pool Configs
  cloud/blockstore/config/disk.proto
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/model/device_scanner.cpp
  cloud/blockstore/libs/storage/disk_agent/model/device_scanner_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/storage_initializer.cpp
Labels: blockstore

#743 issue-95: implemented average compaction thresholds
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/model/compaction_map.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: filestore

#761 issue-733: Add a link in volume monpage to DR
  cloud/blockstore/libs/storage/testlib/disk_registry_proxy_mock.h
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_loadstate.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_monitoring.cpp
Labels: enhancement, blockstore, minor_improvement

#759 issue-95: implemented average cleanup threshold
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: filestore

#762 issue-733: Render dirty and suspended devices on individual pages
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_monitoring.cpp
Labels: enhancement, blockstore, minor_improvement

#738 NBS-4773 [blockstore] Fix checkpoint without data creation
  cloud/blockstore/libs/storage/volume/testlib/test_env.cpp
  cloud/blockstore/libs/storage/volume/testlib/test_env.h
  cloud/blockstore/libs/storage/volume/volume_actor_checkpoint.cpp
  cloud/blockstore/libs/storage/volume/volume_ut_checkpoint.cpp
Labels: large-tests, disk_manager

#766 issue-95: operations that can potentially cause Truncate should not be allowed until compaction map gets fully loaded
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_allocatedata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_deletecheckpoint.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_destroycheckpoint.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_destroyhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_destroysession.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_setnodeattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_truncate.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_unlinknode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_zerorange.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: filestore

#764 [Stable-23-3] issue-733: Render dirty and suspended devices on individual pages (#762)
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_monitoring.cpp
Labels: enhancement, blockstore, minor_improvement

#763 [Stable-23-3] issue-733: Add a link in volume monpage to DR
  cloud/blockstore/libs/storage/testlib/disk_registry_proxy_mock.h
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_loadstate.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_monitoring.cpp
Labels: enhancement, blockstore, minor_improvement

#768 Disk Agent switches to the Idle state when it can't find devices
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_init.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_monitoring.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_register.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_ut.cpp
Labels: large-tests, blockstore

#778 make DiskRegistrySetWritableState request visible in private api
  cloud/blockstore/libs/storage/service/service_actor_actions_writable_state.cpp
  cloud/blockstore/libs/storage/service/service_ut_actions.cpp
  cloud/blockstore/private/api/protos/disk.proto
Labels: blockstore

#776 cleanup after https://github.com/ydb-platform/nbs/pull/769
  cloud/storage/core/libs/kikimr/ya.make
  cloud/storage/core/libs/version_ydb/version.cpp
  cloud/storage/core/libs/ya.make
Labels: blockstore, filestore

#790 issue-539: extract writedata actor into separate location + add TABLET_VERIFY for ReleaseCollectBarrier
  cloud/filestore/libs/storage/tablet/actors/tablet_writedata.cpp
  cloud/filestore/libs/storage/tablet/actors/tablet_writedata.h
  cloud/filestore/libs/storage/tablet/actors/ya.make
  cloud/filestore/libs/storage/tablet/model/garbage_queue.cpp
  cloud/filestore/libs/storage/tablet/model/garbage_queue.h
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_cleanup.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_deletecheckpoint.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_flush.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_flush_bytes.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_readdata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_writebatch.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_writedata.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/ya.make
Labels: filestore

#798 issue-356: cleanup after PR 786
  cloud/blockstore/libs/storage/partition/part_actor_loadstate.cpp
  cloud/blockstore/libs/storage/protos/part.proto
  cloud/blockstore/libs/storage/volume/partition_requests.h
Labels: blockstore

#801 chore: remove yateam mentions and fix links where possible
  cloud/blockstore/config/notify.proto
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/client/tsan.supp
  cloud/blockstore/libs/client/ya.make
  cloud/blockstore/libs/encryption/tsan.supp
  cloud/blockstore/libs/service_throttling/ya.make
  cloud/blockstore/tests/functional/ya.make
  cloud/blockstore/tests/ya.make
  cloud/blockstore/tools/analytics/find-perf-bottlenecks/lib/trace.py
  cloud/filestore/README.md
  cloud/filestore/libs/client/tsan.supp
  cloud/filestore/libs/diagnostics/config.cpp
  cloud/filestore/libs/storage/core/model_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_allocatedata.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/vfs_fuse/cache.cpp
  cloud/filestore/libs/vfs_fuse/cache.h
  cloud/filestore/tests/build_arcadia_test/scripts/coreutils.sh
  cloud/filestore/tests/recipes/large.inc
  cloud/filestore/tests/xfs_suite/README.md
  cloud/filestore/tests/xfs_suite/lib/generic_100-199.sh
  cloud/filestore/tools/analytics/profile_tool/README.md
  cloud/storage/core/tests/recipes/large.inc
  cloud/storage/core/tools/breakpad/launcher/error_collector.py
  cloud/storage/core/tools/breakpad/sender/conductor.py
  cloud/storage/core/tools/breakpad/sender/sender.py
  cloud/storage/core/tools/common/python/core_pattern.py
  cloud/storage/core/tools/testing/qemu/build-image/README.md
  cloud/storage/core/tools/testing/qemu/build/__main__.py
  cloud/storage/core/tools/testing/qemu/lib/recipe.py
  cloud/vm/blockstore/bootstrap.cpp
  cloud/vm/blockstore/lib/helper.cpp
Labels: large-tests

#821 issue-196: a testing tool which issues write requests and then starts to modify the data buffer
  cloud/blockstore/tools/testing/bad-guest/bin/app.cpp
  cloud/blockstore/tools/testing/bad-guest/bin/app.h
  cloud/blockstore/tools/testing/bad-guest/bin/main.cpp
  cloud/blockstore/tools/testing/bad-guest/bin/options.cpp
  cloud/blockstore/tools/testing/bad-guest/bin/options.h
  cloud/blockstore/tools/testing/bad-guest/bin/ya.make
  cloud/blockstore/tools/testing/bad-guest/lib/io.cpp
  cloud/blockstore/tools/testing/bad-guest/lib/io.h
  cloud/blockstore/tools/testing/bad-guest/lib/ya.make
  cloud/blockstore/tools/testing/bad-guest/ya.make
  cloud/blockstore/tools/testing/ya.make
Labels: blockstore

#758 issue-170: sending responses to acquire/release requests w/o waiting for the cache update
  cloud/blockstore/libs/storage/disk_agent/actors/session_cache_actor.cpp
  cloud/blockstore/libs/storage/disk_agent/actors/session_cache_actor.h
  cloud/blockstore/libs/storage/disk_agent/actors/session_cache_actor_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/actors/ut/ya.make
  cloud/blockstore/libs/storage/disk_agent/actors/ya.make
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_acquire.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_init.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_release.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_private.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state.cpp
  cloud/blockstore/libs/storage/disk_agent/model/device_client.cpp
  cloud/blockstore/libs/storage/disk_agent/model/device_client_ut.cpp
Labels: blockstore

#825 issue-196: block checksums should be calculated after we copy the data from the client's buffer to our buffer, otherwise our client may modify the data between the checksum calculation stage and the writeblob stage
  cloud/blockstore/libs/storage/partition/part_actor_compaction.cpp
  cloud/blockstore/libs/storage/partition/part_actor_flush.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writeblob.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writefreshblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writemergedblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writemixedblocks.cpp
  cloud/blockstore/libs/storage/partition/part_events_private.h
  cloud/blockstore/libs/storage/partition/part_state.cpp
  cloud/blockstore/libs/storage/partition/part_state.h
  cloud/blockstore/libs/storage/partition/part_ut.cpp
  cloud/blockstore/libs/storage/protos/part.proto
Labels: blockstore

#826 issue-196: fixed incorrect assert
  cloud/blockstore/libs/storage/partition/part_state.cpp
Labels: blockstore

#828 blockstore loadtests: extracted common TStorageServiceConfig initialization code to a function, limiting bw by 32MiB/s in this function, using it in network-ssd/network-hdd loadtests
  cloud/blockstore/tests/loadtest/local-checkpoint/test.py
  cloud/blockstore/tests/loadtest/local-edgecase/test.py
  cloud/blockstore/tests/loadtest/local-emergency/test.py
  cloud/blockstore/tests/loadtest/local-endpoints/test.py
  cloud/blockstore/tests/loadtest/local-nemesis/test.py
  cloud/blockstore/tests/loadtest/local-newfeatures/test.py
  cloud/blockstore/tests/loadtest/local-overlay/test.py
  cloud/blockstore/tests/loadtest/local-v2/test.py
  cloud/blockstore/tests/loadtest/local/test.py
  cloud/blockstore/tests/python/lib/config.py
Labels: large-tests, blockstore

#842 issue-95: enabling average compaction and cleanup thresholds in the newfeatures suite
  cloud/filestore/tests/loadtest/service-kikimr-newfeatures-test/nfs-storage.txt
Labels: large-tests, filestore

#844 handle CleanupDisks response for the DR's ReadOnly state
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor.cpp
Labels: blockstore

#707 issue-539: add tablet-side two-stage writes support for scaling throughput
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/api/tablet.h
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/actors/tablet_adddata.cpp
  cloud/filestore/libs/storage/tablet/actors/tablet_adddata.h
  cloud/filestore/libs/storage/tablet/actors/ya.make
  cloud/filestore/libs/storage/tablet/model/garbage_queue.cpp
  cloud/filestore/libs/storage/tablet/model/garbage_queue.h
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_adddata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_collectgarbage.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_request.cpp
  cloud/filestore/libs/storage/tablet/tablet_counters.h
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
  cloud/filestore/libs/storage/tablet/ya.make
  cloud/filestore/libs/storage/testlib/tablet_client.h
  cloud/filestore/private/api/protos/tablet.proto
  cloud/filestore/public/api/protos/fs.proto
Labels: filestore

#845 respond with fatal errors to CMS requests in some cases
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_cms.cpp
Labels: blockstore

#855 Fix headers sort
  .clang-format
Labels: tasks, minor_improvement

#858 issue-843: making TProcessingBlocks::SkipProcessedRanges 1024 times faster
  cloud/blockstore/libs/storage/partition_nonrepl/model/processing_blocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/model/processing_blocks_ut.cpp
Labels: blockstore

#859 issue-654: limiting the number of volume MetaHistory records displayed on volume monpage
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/volume/volume_actor_monitoring.cpp
Labels: blockstore
