Repository ydb-platform/nbs, pull requests merged in 2024-11, with the labels that each got.

#2349 issue-2285: fix check for mount_data length
  cloud/blockstore/tests/csi_driver/e2e_tests_part2/test.py
Labels: blockstore

#2402 merge to stable-23-3
  cloud/blockstore/libs/logbroker/topic_api_impl/ya.make
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_register.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_update_cms_device_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_update_cms_host_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_config.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_create.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_mirrored_disks.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_suspend.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_state.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/checksum_range.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_allocatedisk.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_updateconfig.cpp
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
Labels: large-tests, tsan

#2348 Add PURGE_HOST cms action
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_cms.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_purge_host_cms.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_secure_erase.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_update_cms_host_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_private.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_cms.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_suspend.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_tx.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_cms.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_pools.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_suspend.cpp
  cloud/blockstore/libs/storage/disk_registry/model/device_list.cpp
  cloud/blockstore/libs/storage/disk_registry/model/device_list.h
  cloud/blockstore/libs/storage/disk_registry/model/device_list_ut.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_env.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_state.cpp
  cloud/blockstore/libs/storage/disk_registry/ya.make
  cloud/blockstore/public/api/protos/cms.proto
  cloud/blockstore/public/sdk/go/client/safe_client.go
  cloud/blockstore/tests/infra-cms/test.py
  cloud/blockstore/tests/local_ssd/test.py
  example/nbs/nbs-storage.txt
Labels: large-tests, blockstore

#2406 fix: nebius sdk version dump
  .github/actions/nebius_runner_create/action.yaml
  .github/actions/nebius_runner_remove/action.yaml
  .github/actions/prepare/action.yaml
  .github/scripts/github-runner.sh
  .github/workflows/packer.yaml
Labels: nebius

#2375 issue-2270: return error if nbd device name is missing
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/blockstore/libs/endpoints/endpoint_manager_ut.cpp
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
Labels: blockstore

#2399 issue-2074: serial number change detection
  cloud/blockstore/config/disk.proto
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_init.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_private.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state.h
  cloud/blockstore/libs/storage/disk_agent/storage_initializer.cpp
  cloud/blockstore/libs/storage/disk_agent/storage_initializer.h
  cloud/blockstore/libs/storage/disk_agent/storage_initializer_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/ut/ya.make
Labels: blockstore

#2361 Support per-VM volumes
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
  cloud/blockstore/tools/csi_driver/stage-publish-unpublish-unstage-flow.md
Labels: blockstore

#2416 moved unstable output from test canondata to test stderr
  cloud/filestore/apps/client/lib/forced_compaction.cpp
  cloud/filestore/tests/client/canondata/test.test_forced_compaction/results.txt
Labels: filestore

#2420 Fix request id for encrypted volume
  cloud/blockstore/libs/storage/volume/volume_actor_forward.cpp
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
  example/7-run_qemu.sh
  example/nbs/nbs-storage.txt
Labels: blockstore

#2407 issue-1657: use refresh endpoint method to resize device
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
Labels: blockstore

#2408 issue-2141: resync range after scrubbing mismatch only if majority of checksums are equal
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
Labels: blockstore, asan, tsan, msan, ubsan

#2427 Fix TString methods
  cloud/filestore/libs/vfs_fuse/fs_impl_data.cpp
Labels: filestore

#2426 [Filestore] get rid of multi-line log lines
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
Labels: filestore

#2428 test: use default retry timeout
  cloud/blockstore/tests/csi_driver/lib/csi_runner.py
  cloud/blockstore/tests/e2e-tests/test.py
Labels: blockstore

#2431 issue-2421: added volume tag which forces user write buffer copying to our internal buffers to avoid writing different data to different replicas of the same volume in case of concurrent buffer modifications by the client
  cloud/blockstore/libs/storage/volume/volume_actor_forward.cpp
  cloud/blockstore/libs/storage/volume/volume_state.cpp
  cloud/blockstore/libs/storage/volume/volume_state.h
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_ut.h
Labels: blockstore

#2415 issue-1932: automatic filesystem shard configuration upon filesystem creation
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/service/filestore.h
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/core/model.cpp
  cloud/filestore/libs/storage/core/model.h
  cloud/filestore/libs/storage/core/model_ut.cpp
  cloud/filestore/libs/storage/service/service_actor_createfs.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/protos/tablet.proto
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_updateconfig.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/public/api/protos/const.proto
Labels: large-tests, filestore

#2435 fix: enable manage_etc_hosts to create correct /etc/hosts
  .github/scripts/nebius-manage-vm.py
Labels: nebius

#2359 Always retry request after DA timeout
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/partition_nonrepl/config.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_checksumblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_readblocks_local.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_stats.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_zeroblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_events_private.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range_ut.cpp
  cloud/storage/core/libs/actors/helpers.h
Labels: blockstore

#2436 Revert "issue-2270: return error if nbd device name is missing (#2375)"
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/blockstore/libs/endpoints/endpoint_manager_ut.cpp
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
Labels: blockstore

#2442 filestore-client: outputting progress in findgarbage; properly processing ForcedOperationStatus errors in forcedcompaction
  cloud/filestore/apps/client/lib/find_garbage.cpp
  cloud/filestore/apps/client/lib/forced_compaction.cpp
Labels: filestore

#2439 NOTICKET: Add check=True option to exec_command
  cloud/blockstore/pylibs/common/ssh_client.py
Labels: CI, minor_improvement

#2448 NBSDUTY-146: add optional retry timeout parameter
  cloud/blockstore/tests/csi_driver/e2e_tests_part1/test.py
  cloud/blockstore/tests/csi_driver/lib/csi_runner.py
Labels: blockstore

#2433 issue-370: cherry-pick ydb commit to configure configs dispatcher without tenant slot broker + adopt blockstore/filestore code
  cloud/blockstore/libs/storage/init/disk_agent/actorsystem.cpp
  cloud/blockstore/libs/storage/init/server/actorsystem.cpp
  cloud/blockstore/tests/config_dispatcher/test.py
  cloud/blockstore/tests/config_dispatcher/ya.make
  cloud/filestore/libs/storage/init/actorsystem.cpp
  cloud/storage/core/libs/kikimr/config_dispatcher_helpers.cpp
  cloud/storage/core/libs/kikimr/config_dispatcher_helpers.h
  cloud/storage/core/libs/kikimr/config_dispatcher_helpers_ut.cpp
  contrib/ydb/core/cms/console/configs_dispatcher.cpp
  contrib/ydb/core/cms/console/console_configs_subscriber.cpp
  contrib/ydb/core/cms/console/console_configs_subscriber.h
  contrib/ydb/core/cms/console/log_settings_configurator_ut.cpp
Labels: large-tests

#2423 issue-2091: set grpid option
  cloud/blockstore/tests/csi_driver/e2e_tests_part2/test.py
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
Labels: blockstore

#2455 issue-2137: if all ranges in CompactionMap have the 'compacted' flag then GetTop{Compaction,Garbage}Score should return zero (in order not to trigger dud Compaction iterations all the time)
  cloud/filestore/libs/storage/tablet/model/compaction_map.cpp
  cloud/filestore/libs/storage/tablet/model/compaction_map_ut.cpp
Labels: large-tests, filestore

#2450 Fix race in test; fix DR pool metrics
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/tests/python/lib/test_base.py
Labels: large-tests, blockstore

#2294 [Disk Manager] do not print stacktrace in error in traces, do not print retriable errors above non-retriable errors in logs and traces
  cloud/disk_manager/internal/pkg/clients/nbs/client.go
  cloud/disk_manager/internal/pkg/clients/nbs/factory.go
  cloud/tasks/errors/errors.go
  cloud/tasks/errors/errors_test.go
  cloud/tasks/tracing/attributes.go
  cloud/tasks/tracing/init.go
Labels: large-tests

#2452 issue-2421: safer code + extra ut for use-intermediate-write-buffer volume tag
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_forward.cpp
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
Labels: blockstore, asan

#2394 issue-1541: postpone DestroyHandle request if HandleOpsQueue overflows
  cloud/filestore/libs/vfs_fuse/fs_impl.cpp
  cloud/filestore/libs/vfs_fuse/fs_impl.h
  cloud/filestore/libs/vfs_fuse/fs_impl_data.cpp
  cloud/filestore/libs/vfs_fuse/fs_ut.cpp
  cloud/filestore/libs/vfs_fuse/handle_ops_queue.cpp
  cloud/filestore/libs/vfs_fuse/handle_ops_queue.h
Labels: large-tests, filestore, asan, tsan, msan, ubsan

#2472 [Disk Manager] fix race where base checkpoint might be deleted even if incremental snapshot was not created successfully
  cloud/disk_manager/internal/pkg/dataplane/create_snapshot_from_disk_task.go
Labels: large-tests

#2453 Refactor nonrepl requests
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_base_request.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_base_request.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_checksumblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_readblocks_local.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_zeroblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/ya.make
Labels: blockstore, asan, tsan, msan

#2475 Issue-2459: fix python classes naming
  cloud/disk_manager/test/recipe/nfs_launcher.py
  cloud/filestore/tests/auth/lib/__init__.py
  cloud/filestore/tests/client/test.py
  cloud/filestore/tests/config_dispatcher/test.py
  cloud/filestore/tests/fio/mount-kikimr-test/test.py
  cloud/filestore/tests/fio/mount-local-test/test.py
  cloud/filestore/tests/fio/qemu-kikimr-nemesis-test/test.py
  cloud/filestore/tests/fio/qemu-kikimr-newfeatures-test/test.py
  cloud/filestore/tests/fio/qemu-kikimr-test/test.py
  cloud/filestore/tests/fio/qemu-local-noserver-direct-io-test/test.py
  cloud/filestore/tests/fio/qemu-local-noserver-test/test.py
  cloud/filestore/tests/fio/qemu-local-test/test.py
  cloud/filestore/tests/fio_index/mount-kikimr-test/test.py
  cloud/filestore/tests/fio_index/mount-local-test/test.py
  cloud/filestore/tests/fio_index/qemu-kikimr-multishard-nemesis-test/test.py
  cloud/filestore/tests/fio_index/qemu-kikimr-multishard-test/test.py
  cloud/filestore/tests/fio_index/qemu-kikimr-nemesis-test/test.py
  cloud/filestore/tests/fio_index/qemu-kikimr-test/test.py
  cloud/filestore/tests/fio_index/qemu-local-test/test.py
  cloud/filestore/tests/fs_posix_compliance/mount-kikimr-test/test.py
  cloud/filestore/tests/fs_posix_compliance/mount-local-test/test.py
  cloud/filestore/tests/fs_posix_compliance/qemu-kikimr-multishard-test/test.py
  cloud/filestore/tests/fs_posix_compliance/qemu-kikimr-nemesis-test/test.py
  cloud/filestore/tests/fs_posix_compliance/qemu-kikimr-test/test.py
  cloud/filestore/tests/fs_posix_compliance/qemu-local-test/test.py
  cloud/filestore/tests/profile_log/qemu-kikimr-test/test.py
  cloud/filestore/tests/profile_log/qemu-local-test/test.py
  cloud/filestore/tests/python/lib/client.py
  cloud/filestore/tests/python/lib/common.py
  cloud/filestore/tests/python/lib/daemon_config.py
  cloud/filestore/tests/python/lib/http_proxy.py
  cloud/filestore/tests/python/lib/server.py
  cloud/filestore/tests/python/lib/vhost.py
  cloud/filestore/tests/recipes/mount/__main__.py
  cloud/filestore/tests/recipes/service-kikimr/__main__.py
  cloud/filestore/tests/recipes/service-local/__main__.py
  cloud/filestore/tests/recipes/vhost-endpoint/__main__.py
  cloud/filestore/tests/recipes/vhost/__main__.py
  cloud/filestore/tests/registration/test.py
  cloud/filestore/tools/testing/fs_posix_compliance/suite/python_tests/conftest.py
Labels: large-tests, filestore

#2481 issue-1932: automatically destroying filesystem shards during main filesystem destruction
  cloud/filestore/libs/storage/api/tablet.h
  cloud/filestore/libs/storage/service/service_actor_destroyfs.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/private/api/protos/tablet.proto
Labels: large-tests, filestore

#2389 issue-2387: remove endpoint if volume is not found
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/blockstore/libs/endpoints/endpoint_manager_ut.cpp
  cloud/blockstore/libs/endpoints/ut/ya.make
  cloud/blockstore/tests/e2e-tests/test.py
  cloud/blockstore/tests/e2e-tests/ya.make
Labels: blockstore

#2458 [stable-23-3] Fix race in test; fix DR pool metrics
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/tests/python/lib/test_base.py
Labels: blockstore

#2303 issue-1146: add stress test comparing tablet performance with and without cache enabled
  cloud/filestore/libs/storage/tablet/tablet_ut_cache_stress.cpp
  cloud/filestore/libs/storage/tablet/ut_cache_stress/ya.make
  cloud/filestore/libs/storage/tablet/ya.make
  cloud/filestore/libs/storage/testlib/tablet_client.h
Labels: large-tests, filestore

#2484 issue-2434: DescribeSessions method should return OrphanSessions as well as active sessions to prevent filesystem destruction right after tablet reboot
  cloud/filestore/libs/storage/service/service_actor_destroysession.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_destroysession.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_sessions.cpp
  cloud/filestore/private/api/protos/tablet.proto
Labels: large-tests, filestore

#2492 issue-2216: DestroyFileStoreRequest for filestores from DenyList should result in S_FALSE, not E_ARGUMENT
  cloud/filestore/libs/storage/service/service_actor_destroyfs.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
Labels: large-tests, filestore

#2476 [Fielstore] issue-2461: simplify the local file store index by making it per session.
  cloud/filestore/libs/service_local/fs.cpp
  cloud/filestore/libs/service_local/fs.h
  cloud/filestore/libs/service_local/fs_session.cpp
  cloud/filestore/libs/service_local/index.cpp
  cloud/filestore/libs/service_local/index.h
  cloud/filestore/libs/service_local/public.h
  cloud/filestore/libs/service_local/session.h
Labels: large-tests, filestore, asan, tsan, msan

#2417 issue-2074: disable IO of broken devices
  cloud/blockstore/config/disk.proto
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/blockstore/libs/rdma_test/rdma_test_environment.cpp
  cloud/blockstore/libs/rdma_test/rdma_test_environment.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_disable.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_init.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_io.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_monitoring.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_register.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_private.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.h
  cloud/blockstore/libs/storage/disk_agent/model/device_client.cpp
  cloud/blockstore/libs/storage/disk_agent/model/device_client.h
  cloud/blockstore/libs/storage/disk_agent/model/device_client_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/model/device_scanner.cpp
  cloud/blockstore/libs/storage/disk_agent/model/device_scanner.h
  cloud/blockstore/libs/storage/disk_agent/rdma_target.cpp
  cloud/blockstore/libs/storage/disk_agent/rdma_target.h
  cloud/blockstore/libs/storage/disk_agent/rdma_target_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/storage_initializer.cpp
  cloud/blockstore/libs/storage/disk_agent/storage_initializer.h
  cloud/blockstore/libs/storage/disk_agent/storage_initializer_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/testlib/test_env.cpp
  cloud/blockstore/libs/storage/disk_agent/testlib/test_env.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_register.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_tx.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_lifecycle.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_env.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_env.h
  cloud/blockstore/libs/storage/protos/disk.proto
  cloud/blockstore/tests/disk_agent_config/test.py
  cloud/blockstore/tests/python/lib/daemon.py
  cloud/storage/core/libs/common/error.h
Labels: large-tests, blockstore

#2204 issue-2074: clean an unoccupied device if its configuration has been changed
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut.cpp
Labels: blockstore

#2499 issue-1146: make ut_cache stress test use less iterations while being executed under tsan/ubsan/asan alike other ut tests
  cloud/filestore/libs/storage/tablet/tablet_ut_cache_stress.cpp
  cloud/filestore/libs/storage/tablet/ut_cache_stress/ya.make
Labels: large-tests, filestore, asan, tsan, msan

#2471 issue-1444: move netlink helpers to core/libs/netlink
  cloud/blockstore/libs/nbd/netlink_device.cpp
  cloud/blockstore/libs/nbd/ya.make
  cloud/storage/core/libs/netlink/message.cpp
  cloud/storage/core/libs/netlink/message.h
  cloud/storage/core/libs/netlink/socket.cpp
  cloud/storage/core/libs/netlink/socket.h
  cloud/storage/core/libs/netlink/ya.make
  cloud/storage/core/libs/ya.make
Labels: blockstore

#2496 [Disk Manager] Run system tasks in control plane only; fix lister metrics
  cloud/tasks/config/config.proto
  cloud/tasks/registry.go
  cloud/tasks/scheduler_impl.go
  cloud/tasks/tasks_tests/tasks_test.go
Labels: large-tests

#2028 issue-1657: remove 'resize device' command
  cloud/blockstore/apps/client/lib/factory.cpp
  cloud/blockstore/apps/client/lib/resize_device.cpp
  cloud/blockstore/apps/client/lib/resize_device.h
  cloud/blockstore/apps/client/lib/ya.make
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/blockstore/libs/endpoints/endpoint_manager_ut.cpp
  cloud/blockstore/libs/service/auth_scheme.cpp
  cloud/blockstore/libs/service/request.h
  cloud/blockstore/libs/service/request_helpers.h
  cloud/blockstore/public/api/grpc/service.proto
  cloud/blockstore/public/api/protos/endpoints.proto
  cloud/blockstore/public/sdk/go/client/discovery.go
  cloud/blockstore/public/sdk/go/client/durable.go
  cloud/blockstore/public/sdk/go/client/grpc.go
  cloud/blockstore/public/sdk/go/client/iface.go
  cloud/blockstore/public/sdk/go/client/test_client.go
  cloud/blockstore/tools/csi_driver/internal/driver/mocks/nbs_client_mock.go
  cloud/blockstore/tools/http_proxy/main_test.go
  cloud/blockstore/tools/testing/chaos-monkey/monkey_test.go
Labels: blockstore

#2501 issue-2500: unstable-process will dump backtrace when terminating process is stuck
  cloud/storage/core/tools/common/python/daemon.py
  cloud/storage/core/tools/testing/unstable-process/__main__.py
  cloud/storage/core/tools/testing/unstable-process/ya.make
Labels: asan, tsan, msan, ubsan

#2124 [Filestore] Implement a tool which replays filestore-vhost's profile log
  cloud/filestore/libs/client/session.cpp
  cloud/filestore/tools/testing/loadtest/lib/request.h
  cloud/filestore/tools/testing/loadtest/lib/request_data.cpp
  cloud/filestore/tools/testing/loadtest/lib/request_index.cpp
  cloud/filestore/tools/testing/loadtest/lib/request_replay.cpp
  cloud/filestore/tools/testing/loadtest/lib/request_replay.h
  cloud/filestore/tools/testing/loadtest/lib/request_replay_fs.cpp
  cloud/filestore/tools/testing/loadtest/lib/test.cpp
  cloud/filestore/tools/testing/loadtest/lib/ya.make
  cloud/filestore/tools/testing/loadtest/protos/loadtest.proto
Labels: large-tests, filestore

#2507 issue-1932: automatic shard addition upon filestore resize
  cloud/filestore/libs/storage/core/model.cpp
  cloud/filestore/libs/storage/service/service_actor_alterfs.cpp
  cloud/filestore/libs/storage/service/service_actor_destroyfs.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/tests/client_sharded/canondata/result.json
  cloud/filestore/tests/client_sharded/canondata/test.test_shard_autoaddition/results.txt
  cloud/filestore/tests/client_sharded/nfs-storage.txt
  cloud/filestore/tests/client_sharded/test.py
  cloud/filestore/tests/client_sharded/ya.make
  cloud/filestore/tests/ya.make
Labels: large-tests, filestore

#2519 Support uniform Deadline handling for all DS proxy requests (merge from ydb/main #5019)
  contrib/ydb/core/base/blobstorage.h
  contrib/ydb/core/blobstorage/dsproxy/dsproxy.h
  contrib/ydb/core/blobstorage/dsproxy/dsproxy_impl.h
  contrib/ydb/core/blobstorage/dsproxy/dsproxy_put.cpp
  contrib/ydb/core/blobstorage/dsproxy/dsproxy_put_impl.cpp
  contrib/ydb/core/blobstorage/dsproxy/dsproxy_put_impl.h
  contrib/ydb/core/blobstorage/dsproxy/dsproxy_request.cpp
  contrib/ydb/core/blobstorage/dsproxy/dsproxy_state.cpp
Labels: large-tests, blockstore

#2525 issue-1146: resetsession should update in-memory cache as it can modify node index
  cloud/filestore/libs/storage/tablet/tablet_actor_resetsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/tablet_ut_cache.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_cache_stress.cpp
Labels: large-tests, filestore

#2526 Tests: add 'a' to diagnostic ss calls
  cloud/disk_manager/test/recipe/__main__.py
  cloud/filestore/tests/loadtest/service-kikimr-localdb-compaction-test/test.py
  cloud/storage/core/tools/testing/unstable-process/__main__.py
Labels: large-tests

#2494 Destroy shadow disk actor before shadow disk deallocation
  cloud/blockstore/libs/storage/volume/model/checkpoint.cpp
  cloud/blockstore/libs/storage/volume/model/checkpoint.h
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_allocatedisk.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_change_storage_config.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_checkpoint.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_resync.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_startstop.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_updateconfig.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_updatestartpartitionsneeded.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_updatevolumeparams.cpp
  cloud/blockstore/libs/storage/volume/volume_events_private.h
  cloud/blockstore/libs/storage/volume/volume_ut_checkpoint.cpp
Labels: large-tests, blockstore

#2530 fix embedded DA hanging on shutdown
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/blockstore/tests/infra-cms/test.py
  cloud/storage/core/tools/common/python/daemon.py
  cloud/storage/core/tools/testing/unstable-process/__main__.py
  cloud/storage/core/tools/testing/unstable-process/ya.make
Labels: large-tests

#2528 issue-2137: changing default value for GarbageCompactionThresholdAverage 20 -> 10
  cloud/filestore/libs/storage/core/config.cpp
Labels: large-tests, filestore

#2509 [Disk Manager] cleanup lister metrics when collectListerMetricsTask task ends
  cloud/tasks/collect_lister_metrics_task.go
  cloud/tasks/storage/compound_storage.go
  cloud/tasks/storage/mocks/storage_mock.go
  cloud/tasks/storage/storage.go
  cloud/tasks/storage/storage_ydb.go
  cloud/tasks/tasks_tests/tasks_test.go
Labels: large-tests

#2534 issue-1146: base cache capacity calculations relative to the MaxNodes value, add cache capacity sensors
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_cache.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_cache.h
  cloud/filestore/libs/storage/tablet/tablet_ut_cache.cpp
Labels: filestore

#2515 merge to stable-23-3
  cloud/blockstore/config/disk.proto
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/blockstore/libs/rdma_test/rdma_test_environment.cpp
  cloud/blockstore/libs/rdma_test/rdma_test_environment.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_disable.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_init.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_io.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_monitoring.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_register.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_private.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.h
  cloud/blockstore/libs/storage/disk_agent/model/device_client.cpp
  cloud/blockstore/libs/storage/disk_agent/model/device_client.h
  cloud/blockstore/libs/storage/disk_agent/model/device_client_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/model/device_scanner.cpp
  cloud/blockstore/libs/storage/disk_agent/model/device_scanner.h
  cloud/blockstore/libs/storage/disk_agent/rdma_target.cpp
  cloud/blockstore/libs/storage/disk_agent/rdma_target.h
  cloud/blockstore/libs/storage/disk_agent/rdma_target_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/storage_initializer.cpp
  cloud/blockstore/libs/storage/disk_agent/storage_initializer.h
  cloud/blockstore/libs/storage/disk_agent/storage_initializer_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/testlib/test_env.cpp
  cloud/blockstore/libs/storage/disk_agent/testlib/test_env.h
  cloud/blockstore/libs/storage/disk_agent/ut/ya.make
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_register.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_tx.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_lifecycle.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_env.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_env.h
  cloud/blockstore/libs/storage/protos/disk.proto
  cloud/blockstore/tests/disk_agent_config/test.py
  cloud/blockstore/tests/python/lib/daemon.py
  cloud/storage/core/libs/common/error.h
Labels: large-tests

#2490 issue-2489: limit async get duration
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/core/disk_counters.h
  cloud/blockstore/libs/storage/partition/part_actor_compaction.cpp
  cloud/blockstore/libs/storage/partition/part_actor_readblob.cpp
  cloud/blockstore/libs/storage/partition/part_ut.cpp
  cloud/blockstore/libs/storage/partition/ya.make
  cloud/blockstore/libs/storage/partition2/part2_actor_compaction.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor_readblob.cpp
  cloud/blockstore/libs/storage/partition2/part2_events_private.h
  cloud/blockstore/libs/storage/partition2/part2_ut.cpp
  cloud/blockstore/libs/storage/partition2/ya.make
  cloud/blockstore/libs/storage/partition_common/actor_read_blob.cpp
  cloud/blockstore/libs/storage/partition_common/actor_read_blob.h
  cloud/blockstore/libs/storage/partition_common/events_private.h
Labels: large-tests, blockstore

#2520 [Disk Manager] add ability to disable DiskRegistry-based disks; add ability to enable DiskRegistry-based disks for specific folders
  cloud/disk_manager/internal/pkg/facade/disk_service_nemesis_test/ya.make
  cloud/disk_manager/internal/pkg/facade/disk_service_test/disk_relocation_test.go
  cloud/disk_manager/internal/pkg/facade/disk_service_test/disk_service_test.go
  cloud/disk_manager/internal/pkg/facade/disk_service_test/ya.make
  cloud/disk_manager/internal/pkg/services/disks/config/config.proto
  cloud/disk_manager/internal/pkg/services/disks/service.go
  cloud/disk_manager/test/recipe/__main__.py
  cloud/disk_manager/test/recipe/disk_manager_launcher.py
Labels: large-tests, disk_manager

#2537 issue-1146: use LRU cache instead of dummy eviction in the index cache
  cloud/filestore/libs/storage/tablet/tablet_state_cache.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_cache.h
  cloud/filestore/libs/storage/tablet/tablet_ut_cache.cpp
Labels: large-tests, filestore

#2552 [merge-to-stable, Filestore] issue-1146: add stress test comparing tablet performance with and without cache enabled, base cache capacity calculations relative to the MaxNodes value, add cache capacity sensors, resetsession should update in-memory cache as it can modify node index, use LRU cache instead of dummy eviction in the index cache
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/CMakeLists.darwin-x86_64.txt
  cloud/filestore/libs/storage/tablet/CMakeLists.linux-aarch64.txt
  cloud/filestore/libs/storage/tablet/CMakeLists.linux-x86_64.txt
  cloud/filestore/libs/storage/tablet/CMakeLists.windows-x86_64.txt
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_resetsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_cache.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_cache.h
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/tablet_ut_cache.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_cache_stress.cpp
  cloud/filestore/libs/storage/tablet/ut_cache_stress/CMakeLists.darwin-x86_64.txt
  cloud/filestore/libs/storage/tablet/ut_cache_stress/CMakeLists.linux-aarch64.txt
  cloud/filestore/libs/storage/tablet/ut_cache_stress/CMakeLists.linux-x86_64.txt
  cloud/filestore/libs/storage/tablet/ut_cache_stress/CMakeLists.txt
  cloud/filestore/libs/storage/tablet/ut_cache_stress/CMakeLists.windows-x86_64.txt
  cloud/filestore/libs/storage/tablet/ut_cache_stress/ya.make
  cloud/filestore/libs/storage/tablet/ya.make
  cloud/filestore/libs/storage/testlib/tablet_client.h
Labels: recheck

#2535 [NBS, Filestore]: Add unix socket path to blockstore and filestore clients
  cloud/blockstore/apps/client/README.md
  cloud/blockstore/apps/client/lib/command.cpp
  cloud/blockstore/apps/client/lib/command.h
  cloud/blockstore/tests/loadtest/local-auth/test.py
  cloud/filestore/apps/client/lib/command.cpp
  cloud/filestore/apps/client/lib/command.h
  cloud/filestore/tests/auth/lib/__init__.py
  cloud/filestore/tests/auth/new/test.py
  cloud/filestore/tests/auth/new/ya.make
  cloud/filestore/tests/python/lib/client.py
  cloud/filestore/tests/recipes/service-kikimr.inc
  cloud/filestore/tests/recipes/service-kikimr/__main__.py
Labels: large-tests

#2545 issue-2077: read N/M for mirrored disks (1 ReadBlocks + N-1 ChecksumBlocks)
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/model/requests_in_progress.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_mirror.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_events_private.h
  cloud/blockstore/libs/storage/partition_nonrepl/ut_env.h
Labels: large-tests, blockstore

#2550 issue-1932: rebooting tablet after shard list reconfiguration to force the clients to recreate their sessions and fetch new shard lists
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_updateconfig.cpp
  cloud/filestore/libs/storage/testlib/service_client.h
  cloud/filestore/tests/client_sharded/canondata/test.test_shard_autoaddition/results.txt
  cloud/filestore/tests/client_sharded/test.py
Labels: large-tests, filestore

#2544 [Misc] Cut some some functions from EternalTestHelper class
  cloud/blockstore/tools/testing/eternal_tests/test_runner/lib/main.py
Labels: refactoring

#2560 Do not raise crit event when agent is not found
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
Labels: large-tests, blockstore

#2554 csi_driver: add host param to every cmdline endpoint to allow overriding of localhost
  cloud/blockstore/tools/csi_driver/cmd/nbs-csi-driver/main.go
  cloud/blockstore/tools/csi_driver/internal/driver/driver.go
Labels: blockstore

#2536 Simplify companion for GetChangedBlocksRequest
  cloud/blockstore/libs/storage/partition_common/get_changed_blocks_companion.cpp
  cloud/blockstore/libs/storage/partition_common/get_changed_blocks_companion.h
  cloud/blockstore/libs/storage/partition_common/ya.make
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_common.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_common.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_events_private.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.h
Labels: large-tests, blockstore

#2563 Move code to part_nonrepl_common.cpp file
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_base_request.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_common.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_common.h
Labels: blockstore

#2571 [Disk Manager] fix race in migrate task
  cloud/disk_manager/internal/pkg/services/disks/migrate_disk_task.go
  cloud/disk_manager/internal/pkg/services/pools/storage/mocks/storage_mock.go
  cloud/disk_manager/internal/pkg/services/pools/storage/storage.go
  cloud/disk_manager/internal/pkg/services/pools/storage/storage_ydb.go
Labels: large-tests, disk_manager

#2497 [Disk Manager] fix delete image idempotency: do not schedule retire base disks if image was not found in database
  cloud/disk_manager/internal/pkg/facade/image_service_test/image_service_test.go
  cloud/disk_manager/internal/pkg/resources/images.go
  cloud/disk_manager/internal/pkg/resources/images_test.go
  cloud/disk_manager/internal/pkg/resources/mocks/storage_mock.go
  cloud/disk_manager/internal/pkg/resources/snapshots.go
  cloud/disk_manager/internal/pkg/resources/snapshots_test.go
  cloud/disk_manager/internal/pkg/resources/storage.go
  cloud/disk_manager/internal/pkg/services/images/common.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_disk_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_image_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_snapshot_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_url_task.go
  cloud/disk_manager/internal/pkg/services/snapshots/create_snapshot_from_disk_task.go
  cloud/disk_manager/internal/pkg/services/snapshots/delete_snapshot_task.go
Labels: large-tests

#2582 issue-176: setup root kms client & key provider
  cloud/blockstore/apps/server/main.cpp
  cloud/blockstore/apps/server/ya.make
  cloud/blockstore/config/root_kms.proto
  cloud/blockstore/config/ya.make
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/daemon/common/bootstrap.h
  cloud/blockstore/libs/daemon/local/bootstrap.h
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/daemon/ydb/bootstrap.h
  cloud/blockstore/libs/daemon/ydb/config_initializer.cpp
  cloud/blockstore/libs/daemon/ydb/config_initializer.h
  cloud/blockstore/libs/daemon/ydb/options.cpp
  cloud/blockstore/libs/daemon/ydb/options.h
  cloud/blockstore/libs/daemon/ydb/ya.make
  cloud/blockstore/libs/root_kms/impl/client.cpp
  cloud/blockstore/libs/root_kms/impl/client.h
  cloud/blockstore/libs/root_kms/impl/client_ut.cpp
Labels: large-tests, blockstore

#2587 fix: change urls for our resources to new nebius infrastructure
  build/ext_mapping.conf.json
Labels: large-tests

#2581 issue-2381: 1. Collecting tablet metrics for ListNodes/GetNodeAttr/CreateHandle/DestroyHandle/CreateNode/RenameNode/UnlinkNode/StatFileStore requests; 2. Tablet-level filesystem performance profiles + CurrentLoad and Suffer metrics
  cloud/filestore/config/diagnostics.proto
  cloud/filestore/libs/diagnostics/config.cpp
  cloud/filestore/libs/diagnostics/config.h
  cloud/filestore/libs/storage/init/actorsystem.cpp
  cloud/filestore/libs/storage/tablet/tablet.cpp
  cloud/filestore/libs/storage/tablet/tablet.h
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_destroyhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_getnodeattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_listnodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_loadstate.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_readdata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_unlinknode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_updateconfig.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_ut_counters.cpp
  cloud/filestore/libs/storage/testlib/test_env.cpp
  cloud/filestore/libs/storage/testlib/test_env.h
Labels: large-tests, filestore

#2592 issue-2434: introduced AllowFileStoreDestroyWithOrphanSessions flag - primarily to use it in migration tests
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/service/service_actor_destroyfs.cpp
  cloud/filestore/tests/common_configs/nfs-storage-migration-patch.txt
  cloud/filestore/tests/fio_index_migration/qemu-intrahost-migration-kikimr-nemesis-test/ya.make
  cloud/filestore/tests/fio_index_migration/qemu-intrahost-migration-kikimr-test/ya.make
  cloud/filestore/tests/fio_migration/qemu-intrahost-migration-kikimr-nemesis-test/ya.make
  cloud/filestore/tests/fio_migration/qemu-intrahost-migration-kikimr-test/ya.make
  cloud/filestore/tests/loadtest/service-kikimr-nemesis-test/ya.make
  cloud/filestore/tests/loadtest/service-kikimr-test/ya.make
  cloud/filestore/tests/recipes/large.inc
  cloud/filestore/tests/recipes/medium.inc
  cloud/filestore/tests/recipes/small.inc
Labels: large-tests, filestore

#2595 issue-1932: introducing ShardAllocationUnit and AutomaticallyCreatedShardSize parameters instead of MaxShardSize; creating 5TiB shards by default, calculating shard count as floor(fsSize/ShardAllocationUnit) instead of ceil(fsSize/ShardAllocationUnit)
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/core/model.cpp
  cloud/filestore/libs/storage/core/model.h
  cloud/filestore/libs/storage/core/model_ut.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/protos/tablet.proto
  cloud/filestore/libs/storage/tablet/tablet_actor_updateconfig.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.cpp
  cloud/filestore/tests/client_sharded/nfs-storage.txt
Labels: large-tests, filestore
