Repository ydb-platform/nbs, pull requests merged in 2024-12, with the labels that each got.

#2539 Introduce GetDeviceForRange method and companion for it
  cloud/blockstore/libs/storage/core/forward_helpers.h
  cloud/blockstore/libs/storage/partition_common/get_device_for_range_companion.cpp
  cloud/blockstore/libs/storage/partition_common/get_device_for_range_companion.h
  cloud/blockstore/libs/storage/partition_common/ya.make
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_get_device_for_range.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_events_private.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_migration.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/ya.make
  cloud/blockstore/libs/storage/volume/actors/shadow_disk_actor.cpp
Labels: blockstore

#2596 Fix missing hw problems flag in the nonrepl partition response
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_base_request.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_ut.cpp
Labels: bug, large-tests, blockstore

#2597 Fix test flakyness
  cloud/blockstore/vhost-server/server_ut.cpp
Labels: blockstore

#2579 requests coming from uds should not be authorized
  cloud/filestore/libs/service_kikimr/auth_provider_kikimr.cpp
  cloud/filestore/tests/auth/lib/__init__.py
  cloud/filestore/tests/auth/new/server/test.py
  cloud/filestore/tests/auth/new/server/ya.make
  cloud/filestore/tests/auth/new/vhost/test.py
  cloud/filestore/tests/auth/new/vhost/ya.make
  cloud/filestore/tests/auth/new/ya.make
  cloud/filestore/tests/auth/old/server/test.py
  cloud/filestore/tests/auth/old/server/ya.make
  cloud/filestore/tests/auth/old/vhost/test.py
  cloud/filestore/tests/auth/old/vhost/ya.make
  cloud/filestore/tests/auth/old/ya.make
  cloud/filestore/tests/python/lib/client.py
  cloud/filestore/tests/python/lib/daemon_config.py
  cloud/filestore/tests/recipes/vhost-kikimr.inc
  cloud/filestore/tests/recipes/vhost/__main__.py
Labels: large-tests, filestore

#2601 issue-1932: disabling tablet-side shard count check by default, can be reenabled via EnforceCorrectFileSystemShardCountUponSessionCreation StorageServiceConfig flag
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
Labels: filestore

#2603 Merge to stable
  cloud/blockstore/libs/diagnostics/server_stats.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_base_request.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_ut.cpp
Labels: blockstore

#2555 [Filestore] Enable unix socket support in NFS server
  cloud/filestore/libs/server/server.cpp
  cloud/filestore/libs/server/server_ut.cpp
  cloud/filestore/tests/auth/lib/__init__.py
  cloud/filestore/tests/auth/new/server/test.py
Labels: filestore

#2607 Separate config flag for forgetting devices
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/tests/infra-cms/test.py
Labels: large-tests, blockstore

#2604 Remove unused param
  cloud/blockstore/libs/storage/partition_nonrepl/config.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_common.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.cpp
Labels: blockstore

#2568 Introduce DiskAgent method DirectCopyBlocks
  cloud/blockstore/libs/storage/api/disk_agent.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_direct_copy.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/testlib/test_env.cpp
  cloud/blockstore/libs/storage/disk_agent/testlib/test_env.h
  cloud/blockstore/libs/storage/disk_agent/ya.make
  cloud/blockstore/libs/storage/protos/disk.proto
Labels: blockstore

#2619 Fix shadow disk notification
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_checkpoint.cpp
Labels: blockstore

#2617 Always call AugmentErrorFlags in ProcessError
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_base_request.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_common.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_checksumblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_readblocks_local.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_zeroblocks.cpp
Labels: blockstore

#2616 issue-2559: aggregating shard stats in background
  cloud/filestore/libs/storage/service/service_actor_statfs.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_ut_counters.cpp
  cloud/filestore/private/api/protos/tablet.proto
Labels: large-tests, filestore

#2565 isue-1918: large tests with regular filestore tablet reboots
  cloud/filestore/libs/service/auth_scheme.cpp
  cloud/filestore/libs/storage/api/tablet.h
  cloud/filestore/libs/storage/service/service_actor.cpp
  cloud/filestore/libs/storage/service/service_actor.h
  cloud/filestore/libs/storage/service/service_actor_actions.cpp
  cloud/filestore/libs/storage/service/service_actor_actions_list_local_filestores.cpp
  cloud/filestore/libs/storage/service/service_actor_actions_tablet_ops.cpp
  cloud/filestore/libs/storage/service/service_actor_complete.cpp
  cloud/filestore/libs/storage/service/service_private.h
  cloud/filestore/libs/storage/service/ya.make
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_restart_tablet.cpp
  cloud/filestore/libs/storage/tablet/ya.make
  cloud/filestore/private/api/protos/actions.proto
  cloud/filestore/private/api/protos/tablet.proto
  cloud/filestore/tests/fio_index/qemu-kikimr-multishard-tablets-restart-test/test.py
  cloud/filestore/tests/fio_index/qemu-kikimr-multishard-tablets-restart-test/ya.make
  cloud/filestore/tests/fio_index/ya.make
  cloud/filestore/tests/recipes/tablets-restarter.inc
  cloud/filestore/tests/recipes/tablets-restarter/README.md
  cloud/filestore/tests/recipes/tablets-restarter/__main__.py
  cloud/filestore/tests/recipes/tablets-restarter/ya.make
  cloud/filestore/tests/recipes/tablets-restarter/ya.make.inc
  cloud/filestore/tests/recipes/ya.make
Labels: large-tests, filestore, rebase

#2623 tracking ShardRequestActors to kill them upon tablet shutdown
  cloud/filestore/libs/storage/tablet/shard_request_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_destroysession.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_resetsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
Labels: large-tests, filestore

#2626 Fix inconsistency in obtaining ActorId for DiskAgent
  cloud/blockstore/libs/storage/api/disk_agent.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_direct_copy.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/testlib/test_env.cpp
  cloud/blockstore/libs/storage/disk_agent/testlib/test_env.h
Labels: blockstore

#2624 Use ZeroBlocks request in DirectCopy
  cloud/blockstore/libs/common/iovector.cpp
  cloud/blockstore/libs/common/iovector.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_direct_copy.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_ut.cpp
  cloud/blockstore/libs/storage/protos/disk.proto
Labels: blockstore

#2636 Fix compilation
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_ut.cpp
Labels: blockstore

#2635 Move TDirectCopyActor to own source file
  cloud/blockstore/libs/storage/disk_agent/actors/direct_copy_actor.cpp
  cloud/blockstore/libs/storage/disk_agent/actors/direct_copy_actor.h
  cloud/blockstore/libs/storage/disk_agent/actors/ya.make
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_direct_copy.cpp
Labels: blockstore

#2642 issue-688 Followup: enable new compaction policy for Nodes and NodeRefs table
  cloud/filestore/libs/storage/tablet/tablet_schema.h
Labels: filestore

#2643 [merge to stable, filestore] issue-688 Followup: enable new compaction policy for Nodes and NodeRefs table
  cloud/filestore/libs/storage/tablet/tablet_schema.h
Labels: recheck

#2599 [Disk Manager] TasksToListLimit parameter added to avoid situation when all tasks from front of `ready_to_run` table can not be executed due to inflightTasksByType limit
  cloud/tasks/config/config.proto
  cloud/tasks/lister.go
  cloud/tasks/runner.go
  cloud/tasks/runner_test.go
  cloud/tasks/tasks_tests/tasks_test.go
Labels: large-tests, disk_manager, tasks

#2644 issue-2559: collecting per-shard stats in main tablet, reporting AggregateUsedBytesCount, reporting per-shard stats on tablet monpage
  cloud/filestore/libs/storage/service/service_actor_actions_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_monitoring.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/private/api/protos/tablet.proto
Labels: large-tests, filestore

#2646 issue-1932: 1. introduced TConfigureShardsRequest::Force flag to be able to make potentially unsafe modifications to shard list 2. not allowing configureshards for tablets that are shards themselves - even under Force flag 3. Resize: checking whether the affected filesystem is a shard and, if so, not creating shards for it
  cloud/filestore/libs/storage/service/service_actor_alterfs.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_updateconfig.cpp
  cloud/filestore/private/api/protos/tablet.proto
Labels: large-tests, filestore

#2647 issue-2381: aggregating Suffer stats from shards
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_monitoring.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/private/api/protos/tablet.proto
Labels: filestore

#2648 issue-2639: 1. renamed ShardName/shardName to ShardNodeName/shardNodeName where it was still called ShardName/shardName 2. not generating ShardNodeName upon node creation if this node isn't actually going to be created in one of the shards - in order not to waste space in NodeRefs table
  cloud/filestore/apps/client/lib/find_garbage.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_deletecheckpoint.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_getnodeattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_listnodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_unlinknode.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.h
  cloud/filestore/libs/storage/tablet/tablet_database_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_schema.h
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_cache.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_cache.h
  cloud/filestore/libs/storage/tablet/tablet_state_iface.h
  cloud/filestore/libs/storage/tablet/tablet_state_nodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/tablet_ut_state_cache.cpp
Labels: large-tests, filestore

#2650 issue-2559: background shard stats aggregation shouldn't get stuck in case of GetStorageStats errors from shards
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
Labels: filestore

#2622 [Disk Agent] handle disable concrete agent event in disk agent actor
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.cpp
Labels: large-tests

#2645 [Blockstore] do not change Config if it is equal to the global config
  cloud/blockstore/libs/storage/volume/volume_actor_change_storage_config.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_loadstate.cpp
  cloud/blockstore/libs/storage/volume/volume_database.cpp
  cloud/blockstore/libs/storage/volume/volume_database_ut.cpp
Labels: bug, blockstore

#2653 [Filestore] fix `qemu-kikimr-multishard-tablets-restart-test` test: handle TFlushResponse in the zombie state
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
Labels: filestore

#2632 issue-2631: move some code from main.cpp of filestore-client
  cloud/filestore/apps/client/lib/app.cpp
  cloud/filestore/apps/client/lib/app.h
  cloud/filestore/apps/client/lib/ya.make
  cloud/filestore/apps/client/main.cpp
Labels: large-tests, filestore

#2655 issue-2637: remove limits at list rendering
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_monitoring.cpp
Labels: blockstore

#2640 Use direct copy in TNonreplicatedPartitionMigrationCommonActor
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_direct_copy.cpp
  cloud/blockstore/libs/storage/partition_common/get_device_for_range_companion.cpp
  cloud/blockstore/libs/storage/partition_common/get_device_for_range_companion.h
  cloud/blockstore/libs/storage/partition_nonrepl/direct_copy_range.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/direct_copy_range.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_events_private.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_migration.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/ut/ya.make
  cloud/blockstore/libs/storage/partition_nonrepl/ya.make
  cloud/blockstore/libs/storage/testlib/disk_agent_mock.h
  example/nbs/nbs-storage.txt
Labels: blockstore

#2638 Print TBlockRange the same way
  cloud/blockstore/libs/common/block_range.cpp
  cloud/blockstore/libs/common/block_range.h
Labels: blockstore

#2625 [CSI] Support volume resize in vm mode
  cloud/blockstore/tests/csi_driver/csi_sanity_tests/test.py
  cloud/blockstore/tests/csi_driver/e2e_tests_part1/test.py
  cloud/blockstore/tests/csi_driver/e2e_tests_part2/test.py
  cloud/blockstore/tools/csi_driver/client/main.go
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
Labels: blockstore

#2661 issue-2559: introduced ShardIdSelectionInLeaderEnabled flag and refactored service_ut to run most of the sharding tests with and without this flag; actual implementation of this flag will be added in the next PR
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/service/service_actor_createhandle.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/service/service_ut_sharding.cpp
  cloud/filestore/libs/storage/service/ut/ya.make
Labels: filestore

#2527 allow forced compaction generated by external script (blockstore-pcompact-tablets) to advance in presense of heavy tablet compaction
  cloud/blockstore/libs/storage/core/compaction_options.cpp
  cloud/blockstore/libs/storage/core/compaction_options.h
  cloud/blockstore/libs/storage/core/compaction_type.cpp
  cloud/blockstore/libs/storage/core/compaction_type.h
  cloud/blockstore/libs/storage/core/ya.make
  cloud/blockstore/libs/storage/partition/part_actor_compaction.cpp
  cloud/blockstore/libs/storage/partition/part_actor_compactrange.cpp
  cloud/blockstore/libs/storage/partition/part_events_private.h
  cloud/blockstore/libs/storage/partition/part_state.cpp
  cloud/blockstore/libs/storage/partition/part_state.h
  cloud/blockstore/libs/storage/partition/part_tx.h
  cloud/blockstore/libs/storage/partition/part_ut.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor_compaction.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor_compactrange.cpp
  cloud/blockstore/libs/storage/partition2/part2_events_private.h
  cloud/blockstore/libs/storage/partition2/part2_state.cpp
  cloud/blockstore/libs/storage/partition2/part2_state.h
  cloud/blockstore/libs/storage/partition2/part2_tx.h
  cloud/blockstore/libs/storage/partition2/part2_ut.cpp
Labels: large-tests, blockstore

#2670 issue-2559: dummy tablet-level shard balancer which behaves exactly the same as service-level shard balancer
  cloud/filestore/libs/storage/service/service_actor_createnode.cpp
  cloud/filestore/libs/storage/tablet/model/shard_balancer.cpp
  cloud/filestore/libs/storage/tablet/model/shard_balancer.h
  cloud/filestore/libs/storage/tablet/model/ya.make
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_impl.h
  cloud/filestore/libs/storage/tablet/tablet_tx.h
Labels: large-tests, filestore

#2651 [GO SDK] fix race condition in remounter
  cloud/blockstore/public/sdk/go/client/session.go
  cloud/blockstore/public/sdk/go/client/session_test.go
Labels: large-tests

#2657 Issue-2656: Add optional dashboard link
  cloud/blockstore/config/diagnostics.proto
  cloud/blockstore/libs/diagnostics/config.h
  cloud/blockstore/libs/diagnostics/hostname.cpp
  cloud/blockstore/libs/diagnostics/hostname.h
  cloud/blockstore/libs/storage/partition/part_actor_monitoring.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor_monitoring.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_monitoring.cpp
  cloud/storage/core/libs/viewer/tablet_monitoring.cpp
  cloud/storage/core/libs/viewer/tablet_monitoring.h
Labels: blockstore

#2673 Remove owners from ya.make
  cloud/blockstore/tools/csi_driver/client/ya.make
Labels: blockstore

#2613 issue-2553: remove endpoint if filesystem is not found
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/blockstore/libs/endpoints/ya.make
  cloud/filestore/libs/endpoint/endpoint_manager.cpp
  cloud/filestore/libs/endpoint/endpoint_manager_ut.cpp
  cloud/filestore/libs/endpoint/ya.make
  cloud/filestore/public/sdk/python/client/endpoint.py
  cloud/filestore/tests/endpoints/test.py
  cloud/filestore/tests/endpoints/ya.make
  cloud/filestore/tests/recipes/vhost-restore-endpoint.inc
  cloud/filestore/tests/recipes/vhost-restore-endpoint/__main__.py
  cloud/filestore/tests/recipes/vhost-restore-endpoint/ya.make
  cloud/filestore/tests/recipes/vhost-restore-endpoint/ya.make.inc
  cloud/filestore/tests/recipes/vhost/__main__.py
  cloud/filestore/tests/ya.make
Labels: blockstore, filestore

#2677 issue-2631: add iam token support to filestore-client
  cloud/blockstore/apps/client/lib/command.cpp
  cloud/filestore/apps/client/lib/app.cpp
  cloud/filestore/apps/client/lib/app.h
  cloud/filestore/apps/client/lib/bootstrap.cpp
  cloud/filestore/apps/client/lib/bootstrap.h
  cloud/filestore/apps/client/lib/command.cpp
  cloud/filestore/apps/client/lib/command.h
  cloud/filestore/apps/client/lib/factory.h
  cloud/filestore/apps/client/lib/ya.make
  cloud/filestore/apps/client/main.cpp
  cloud/filestore/apps/client/ya.make
  cloud/filestore/config/client.proto
  cloud/filestore/config/ya.make
Labels: large-tests

#2675 [Filestore] Allow to configure shards for a shard if the force flag is enabled
  cloud/filestore/libs/storage/service/service_ut_sharding.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_updateconfig.cpp
Labels: filestore

#2683 fixing unstable flock test output due to a race
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/flock/00.t
Labels: large-tests, filestore

#2641 [Disk Manager] add parent span for regular tasks
  cloud/tasks/scheduler_impl.go
Labels: large-tests

#2688 fix memory leak in partition2 tests
  cloud/blockstore/libs/storage/partition2/part2_actor.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor.h
Labels: blockstore, asan

#2679 issue-2559: actual ShardBalancer implementation
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/model/shard_balancer.cpp
  cloud/filestore/libs/storage/tablet/model/shard_balancer.h
  cloud/filestore/libs/storage/tablet/model/shard_balancer_ut.cpp
  cloud/filestore/libs/storage/tablet/model/ut/ya.make
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_monitoring.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_state.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
Labels: large-tests, filestore

#2686 Fix projects reachability
  cloud/filestore/tests/recipes/ya.make
Labels: filestore

#2685 NOTICKET: refactoring eternal db tests
  cloud/blockstore/tools/testing/eternal_tests/test_runner/lib/main.py
Labels: blockstore, CI, refactoring

#2684 Removing mute on nested virtualization tests
  .github/config/muted_ya_nebius.txt
  .github/scripts/nebius-manage-vm.py
Labels: large-tests, nebius

#2708 filestore loglevels cleanup
  cloud/filestore/libs/storage/tablet/shard_request_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_cleanupsessions.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode.cpp
Labels: filestore

#2711 issue-2710: logging operations with SessionByOwner mapping
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_sessions.cpp
Labels: large-tests, filestore

#2680 Statistics for DirectBlockCopy
  cloud/blockstore/libs/storage/core/disk_counters.h
  cloud/blockstore/libs/storage/partition_nonrepl/copy_range.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/direct_copy_range.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_events_private.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_migration.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_stats.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_ut.cpp
  cloud/blockstore/libs/storage/volume/actors/shadow_disk_actor.cpp
  cloud/blockstore/libs/storage/volume/actors/shadow_disk_actor.h
  cloud/blockstore/libs/storage/volume/testlib/test_env.cpp
  cloud/blockstore/libs/storage/volume/testlib/test_env.h
  cloud/blockstore/libs/storage/volume/ut/ya.make
  cloud/blockstore/libs/storage/volume/volume_ut_stats.cpp
Labels: blockstore

#2721 issue-2720: return non-retryable error after resize2fs failure
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
Labels: blockstore

#2712 [Filestore] Add actual read/write bytes to profile log
  cloud/filestore/libs/diagnostics/events/profile_events.ev
  cloud/filestore/libs/diagnostics/profile_log_events.cpp
  cloud/filestore/libs/diagnostics/profile_log_events_ut.cpp
  cloud/filestore/tools/analytics/libs/event-log/request_printer.cpp
Labels: filestore

#2611 [Filestore] issue-2171: Avoid listing nodes with pending create on shards
  cloud/filestore/libs/storage/service/service_ut_sharding.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_listnodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_impl.h
  cloud/filestore/libs/storage/tablet/tablet_state_nodes.cpp
Labels: large-tests, asan, tsan, msan

#2717 NBSDUTY-190: save ydbd stdout/stderr
  cloud/blockstore/tests/python/lib/nbs_runner.py
Labels: blockstore

#2726 issue-2559: ShardBalancer: blocks vs bytes fix + service_ut_sharding testcase
  cloud/filestore/libs/storage/service/service_ut_sharding.cpp
  cloud/filestore/libs/storage/tablet/model/shard_balancer.cpp
  cloud/filestore/libs/storage/tablet/model/shard_balancer.h
  cloud/filestore/libs/storage/tablet/model/shard_balancer_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.cpp
Labels: large-tests, filestore

#2728 issue-2727: use mount-utils/FormatAndMount to check and repair FS before mounting
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
  cloud/blockstore/tools/csi_driver/internal/mounter/iface.go
  cloud/blockstore/tools/csi_driver/internal/mounter/mock.go
  cloud/blockstore/tools/csi_driver/internal/mounter/mounter.go
Labels: blockstore

#2714 issue-2713: add version on DA stub mon page
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
Labels: large-tests, blockstore

#2716 issue-2715: add critical events for double migration
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_migration.cpp
Labels: large-tests, blockstore

#2735 Issue 2713: correct fmt issue
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
Labels: blockstore

#2736 issue-2559: initializing BlockSize + added comments to ut
  cloud/filestore/libs/storage/service/service_ut_sharding.cpp
  cloud/filestore/libs/storage/tablet/model/shard_balancer.h
Labels: filestore

#2744 issue-2559: shard metrics collection and critical event
  cloud/filestore/libs/diagnostics/critical_events.h
  cloud/filestore/libs/storage/service/service_ut_sharding.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
Labels: filestore

#2741 issue-2737: fix NodeIndexCache population race
  cloud/filestore/libs/storage/tablet/model/node_index_cache.h
  cloud/filestore/libs/storage/tablet/tablet_actor_addblob.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_allocatedata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_setnodeattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_unlinknode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_writedata.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_nodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_nodes.cpp
Labels: large-tests, filestore

#2747 Disable FullPlacementGroupCount calculation
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut.cpp
Labels: blockstore

#2730 feat: retry vm creation and allow for downgrading cpu preset after few attempts
  .github/actions/nebius_runner_create/action.yaml
  .github/scripts/nebius-manage-vm.py
  .github/workflows/create_and_delete_vm.yaml
  GITHUB.md
Labels: nebius

#2738 issue-2727: check block device before mounting FS
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
  cloud/blockstore/tools/csi_driver/internal/mounter/iface.go
  cloud/blockstore/tools/csi_driver/internal/mounter/mock.go
  cloud/blockstore/tools/csi_driver/internal/mounter/mounter.go
Labels: blockstore

#2749 issue-1932: ability to set ShardCount explicitly via T{Create,Resize}FileStoreRequest
  cloud/filestore/libs/storage/core/model.cpp
  cloud/filestore/libs/storage/core/model.h
  cloud/filestore/libs/storage/core/model_ut.cpp
  cloud/filestore/libs/storage/service/service_actor_alterfs.cpp
  cloud/filestore/libs/storage/service/service_actor_createfs.cpp
  cloud/filestore/libs/storage/service/service_ut_sharding.cpp
  cloud/filestore/libs/storage/testlib/service_client.h
  cloud/filestore/public/api/protos/fs.proto
Labels: large-tests, filestore

#2758 issue-1146: filestore-client find command
  cloud/filestore/apps/client/lib/factory.cpp
  cloud/filestore/apps/client/lib/find.cpp
  cloud/filestore/apps/client/lib/ya.make
  cloud/filestore/tests/client/canondata/result.json
  cloud/filestore/tests/client/canondata/test.test_find/results.txt
  cloud/filestore/tests/client/test.py
  cloud/filestore/tests/python/lib/client.py
Labels: filestore

#2761 issue-2500: increase verbosity for the `qemu-kikimr-multishard-nemesis-test` test
  cloud/filestore/tests/fio_index/qemu-kikimr-multishard-nemesis-test/ya.make
  cloud/filestore/tests/recipes/mount.inc
  cloud/filestore/tests/recipes/vhost-endpoint.inc
  cloud/filestore/tests/recipes/vhost-kikimr.inc
  cloud/filestore/tests/recipes/vhost-local-noserver.inc
  cloud/filestore/tests/recipes/vhost-local.inc
Labels: large-tests, filestore

#2755 [NBS, Filestore] add filename and line to the "tablet is dead" message
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_acquire.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_cleanup.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_cms.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_destroy.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_migration.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_monitoring_replace_device.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_monitoring_volume_realloc.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_release.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_replace.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_resume_device.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_secure_erase.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_volume_config.cpp
  cloud/blockstore/libs/storage/service/service_actor_mount.cpp
  cloud/blockstore/libs/storage/service/service_actor_readblocks.cpp
  cloud/blockstore/libs/storage/service/service_actor_volume_binding.cpp
  cloud/blockstore/libs/storage/service/service_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/service/service_ut_mount.cpp
  cloud/blockstore/libs/storage/service/volume_client_actor.cpp
  cloud/blockstore/libs/storage/undelivered/undelivered.cpp
  cloud/blockstore/libs/storage/volume_proxy/volume_proxy.cpp
  cloud/filestore/libs/storage/tablet_proxy/tablet_proxy_actor.cpp
  cloud/storage/core/libs/common/error.cpp
  cloud/storage/core/libs/common/error.h
Labels: large-tests

#2770 [CSI] Forbid to execute several operations with the same volume in parallel
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
Labels: blockstore

#2766 [NBS] Document result codes
  cloud/storage/core/libs/common/error.h
  cloud/storage/core/protos/error.proto
  doc/blockstore/diagnostics/result-codes.md
Labels: documentation, blockstore

#2660 issue-2605: remove blocks count validation for remote requests
  cloud/blockstore/libs/storage/service/service_actor.h
  cloud/blockstore/libs/storage/service/service_actor_forward.cpp
  cloud/blockstore/libs/storage/service/service_actor_writeblocks.cpp
Labels: large-tests, blockstore
