Repository ydb-platform/nbs, pull requests merged in 2024-09, with the labels that each got.

#1925 issue-1902: fixing use-after-free after https://github.com/ydb-platform/nbs/pull/1818
  cloud/filestore/libs/storage/tablet/model/node_session_stat.cpp
  cloud/filestore/libs/storage/tablet/model/node_session_stat.h
Labels: filestore, asan, msan

#1926 issue-1020: fixing heap-buffer-overflow after https://github.com/ydb-platform/nbs/pull/1912
  cloud/blockstore/libs/rdma/impl/server.cpp
  cloud/blockstore/libs/rdma/impl/test_verbs.cpp
Labels: blockstore, rebase, asan

#1924 [Disk Manager] should not depend on cloud/disk_manager/test/images/resources if not needed
  cloud/disk_manager/internal/pkg/dataplane/url/qcow2/tests/ya.make
  cloud/disk_manager/internal/pkg/dataplane/url/tests/ya.make
  cloud/disk_manager/internal/pkg/dataplane/url/vhd/tests/ya.make
  cloud/disk_manager/internal/pkg/dataplane/url/vmdk/tests/ya.make
  cloud/disk_manager/test/images/recipe/recipe.inc
Labels: large-tests, disk_manager

#1908 issue-176: encryption operations should return TError
  cloud/blockstore/libs/encryption/encryption_client.cpp
  cloud/blockstore/libs/encryption/encryption_client_ut.cpp
  cloud/blockstore/libs/encryption/encryptor.cpp
  cloud/blockstore/libs/encryption/encryptor.h
  cloud/blockstore/libs/encryption/encryptor_ut.cpp
  cloud/blockstore/vhost-server/request_aio.cpp
  cloud/blockstore/vhost-server/server_ut.cpp
Labels: large-tests, blockstore

#1920 improve rdma logging & clean up resources in destructor; issue-1020
  cloud/blockstore/libs/rdma/impl/client.cpp
  cloud/blockstore/libs/rdma/impl/client_ut.cpp
  cloud/blockstore/libs/rdma/impl/server.cpp
  cloud/blockstore/libs/rdma/impl/test_verbs.cpp
  cloud/blockstore/libs/rdma/impl/verbs.cpp
  cloud/blockstore/libs/rdma/impl/verbs.h
Labels: blockstore, asan, msan, ubsan

#1913 issue-1657: confirm "destroy volume" in e2e test
  cloud/blockstore/tests/e2e-tests/test.py
Labels: blockstore

#1931 Change vhost-server/gtest to medium
  cloud/blockstore/vhost-server/gtest/ya.make
Labels: blockstore, asan, tsan

#1877 issue-464: test csi-driver with mount access type
  cloud/blockstore/tests/csi_driver/test.py
Labels: blockstore

#1933 issue-1541: fixed races in uts
  cloud/filestore/libs/vfs_fuse/fs_ut.cpp
Labels: filestore, tsan

#1930 libnl: fixed ub
  contrib/restricted/libnl/ChangeLog.patch
  contrib/restricted/libnl/lib/socket.c
Labels: large-tests, blockstore, ubsan

#1853 [Disk Manager] better YDB client errors metric
  cloud/tasks/persistence/ydb.go
  cloud/tasks/persistence/ydb_metrics.go
  cloud/tasks/persistence/ydb_test.go
Labels: large-tests, disk_manager, tasks

#1878 [Disk Manager] Tracing: Add spans for tasks
  cloud/disk_manager/internal/pkg/facade/interceptor.go
  cloud/tasks/headers/headers.go
  cloud/tasks/headers/headers_test.go
  cloud/tasks/headers/tests/ya.make
  cloud/tasks/headers/ya.make
  cloud/tasks/runner.go
  cloud/tasks/scheduler_impl.go
  cloud/tasks/tracing/attributes.go
  cloud/tasks/tracing/tracing_context.go
  cloud/tasks/tracing/ya.make
Labels: large-tests

#1934 issue-757: simplify local-emergency test and enable it
  cloud/blockstore/tests/loadtest/local-emergency/test.py
Labels: large-tests

#1935 issue-1823: allowing FS size decrease with a Force flag (filestore-client)
  cloud/filestore/apps/client/lib/resize.cpp
  cloud/filestore/tests/client/canondata/result.json
  cloud/filestore/tests/client/canondata/test.test_resize/results.txt
  cloud/filestore/tests/client/test.py
  cloud/filestore/tests/python/lib/client.py
Labels: filestore, rebase

#1944 fix: skip *san labels automatically without specifying labels blockstore/filestore
  .github/workflows/pr.yaml
Labels: asan, tsan, msan, ubsan

#1748 issue-1657: support EXPAND_VOLUME capability in CSI Driver
  cloud/blockstore/public/sdk/go/client/discovery.go
  cloud/blockstore/public/sdk/go/client/durable.go
  cloud/blockstore/public/sdk/go/client/grpc.go
  cloud/blockstore/public/sdk/go/client/iface.go
  cloud/blockstore/public/sdk/go/client/test_client.go
  cloud/blockstore/tests/csi_driver/test.py
  cloud/blockstore/tools/csi_driver/README.md
  cloud/blockstore/tools/csi_driver/client/main.go
  cloud/blockstore/tools/csi_driver/internal/driver/mocks/nbs_client_mock.go
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
Labels: blockstore, rebase

#1951 [Blockstore] improve DA's registration status on the mon-page
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_monitoring.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_register.cpp
  cloud/blockstore/tests/disk_agent_config/test.py
Labels: blockstore

#1953 Added diagram sources to nrd-insertion doc
  doc/blockstore/disk_registry/media/broken-disk.drawio
  doc/blockstore/disk_registry/media/host-maintenance.drawio
  doc/blockstore/disk_registry/media/new-host.drawio
Labels: documentation

#1859 moved parameters for registration from server to storage config + added registration tests for nbs
  cloud/blockstore/config/server.proto
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/daemon/ydb/config_initializer.cpp
  cloud/blockstore/libs/daemon/ydb/config_initializer.h
  cloud/blockstore/libs/daemon/ydb/config_initializer_ut.cpp
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/blockstore/libs/disk_agent/config_initializer.cpp
  cloud/blockstore/libs/disk_agent/config_initializer.h
  cloud/blockstore/libs/disk_agent/config_initializer_ut.cpp
  cloud/blockstore/libs/server/config.cpp
  cloud/blockstore/libs/server/config.h
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/tests/client/test_with_multiple_agents.py
  cloud/blockstore/tests/cms/test.py
  cloud/blockstore/tests/cms/ya.make
  cloud/blockstore/tests/infra-cms/test.py
  cloud/blockstore/tests/loadtest/local-mirror/test.py
  cloud/blockstore/tests/loadtest/local-nonrepl/test.py
  cloud/blockstore/tests/mount/test.py
  cloud/blockstore/tests/notify/test.py
  cloud/blockstore/tests/python/lib/config.py
  cloud/blockstore/tests/python/lib/daemon.py
  cloud/blockstore/tests/registration/test.py
  cloud/blockstore/tests/registration/ya.make
  cloud/blockstore/tests/secure-registration/test.py
  cloud/blockstore/tests/ya.make
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/daemon/common/config_initializer.cpp
  cloud/filestore/libs/daemon/common/config_initializer.h
  cloud/filestore/libs/daemon/common/options.cpp
  cloud/filestore/libs/daemon/common/options.h
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
Labels: large-tests

#1843 [Disk Manager] move snapshot incremental logic to dataplane
  cloud/disk_manager/internal/pkg/dataplane/create_snapshot_from_disk_task.go
  cloud/disk_manager/internal/pkg/dataplane/create_snapshot_from_legacy_snapshot_task.go
  cloud/disk_manager/internal/pkg/dataplane/create_snapshot_from_snapshot_task.go
  cloud/disk_manager/internal/pkg/dataplane/create_snapshot_from_url_task.go
  cloud/disk_manager/internal/pkg/dataplane/delete_snapshot_task.go
  cloud/disk_manager/internal/pkg/dataplane/protos/create_snapshot_from_disk_task.proto
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/common.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/mocks/storage_mock.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/schema/schema.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage_legacy.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage_ydb.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage_ydb_impl.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage_ydb_test.go
  cloud/disk_manager/internal/pkg/resources/disks.go
  cloud/disk_manager/internal/pkg/resources/snapshots.go
  cloud/disk_manager/internal/pkg/resources/snapshots_test.go
  cloud/disk_manager/internal/pkg/resources/storage.go
  cloud/disk_manager/internal/pkg/services/snapshots/create_snapshot_from_disk_task.go
  cloud/disk_manager/internal/pkg/services/snapshots/delete_snapshot_task.go
Labels: large-tests, disk_manager, tasks

#1955 Update comment after method renaming
  cloud/storage/core/libs/common/guarded_sglist.h
Labels: documentation, blockstore

#1900 issue-1657: handle "start nbd device" error
  cloud/blockstore/libs/endpoint_proxy/server/server.cpp
  cloud/blockstore/libs/endpoint_proxy/server/server_ut.cpp
  cloud/blockstore/libs/endpoint_proxy/server/ut/ya.make
  cloud/blockstore/libs/nbd/device.cpp
Labels: blockstore

#1949 Merge to stable-23-3
  cloud/blockstore/libs/storage/service/CMakeLists.darwin-x86_64.txt
  cloud/blockstore/libs/storage/service/CMakeLists.linux-aarch64.txt
  cloud/blockstore/libs/storage/service/CMakeLists.linux-x86_64.txt
  cloud/blockstore/libs/storage/service/CMakeLists.windows-x86_64.txt
  cloud/blockstore/libs/storage/service/service_actor.h
  cloud/blockstore/libs/storage/service/service_actor_actions.cpp
  cloud/blockstore/libs/storage/service/service_actor_actions_backup_path_descriptions.cpp
  cloud/blockstore/libs/storage/service/service_actor_actions_backup_tablet_boot_infos.cpp
  cloud/blockstore/libs/storage/service/service_actor_actions_modify_tags.cpp
  cloud/blockstore/libs/storage/service/ya.make
  cloud/blockstore/tests/loadtest/local-bsgroup-failure/local-tablet-version-default.txt
  cloud/blockstore/tests/loadtest/local-bsgroup-failure/test.py
  cloud/blockstore/tests/loadtest/local-bsgroup-failure/ya.make
  cloud/blockstore/tests/loadtest/local-emergency/test.py
  cloud/blockstore/tests/loadtest/ya.make
Labels: large-tests, blockstore

#1958 [Snapshot] get rid of non-valuable but possibly buggy optimization which saves 1 task update when dataplane task is almost finished; better logging
  cloud/disk_manager/internal/pkg/dataplane/create_snapshot_from_disk_task.go
  cloud/disk_manager/internal/pkg/dataplane/create_snapshot_from_legacy_snapshot_task.go
  cloud/disk_manager/internal/pkg/dataplane/create_snapshot_from_snapshot_task.go
  cloud/disk_manager/internal/pkg/dataplane/create_snapshot_from_url_task.go
  cloud/disk_manager/internal/pkg/dataplane/replicate_disk_task.go
  cloud/disk_manager/internal/pkg/dataplane/transfer_from_disk_to_disk_task.go
  cloud/disk_manager/internal/pkg/dataplane/transfer_from_snapshot_to_disk_task.go
Labels: large-tests, disk_manager

#1963 nbd netlink refactoring
  cloud/blockstore/libs/nbd/netlink_device.cpp
Labels: large-tests, blockstore

#1973 [Blockstore] setup NvmeManager for DISK_AGENT_BACKEND_NULL
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/blockstore/libs/nvme/nvme_stub.cpp
  cloud/blockstore/tests/disk_agent_config/test.py
Labels: bug, blockstore

#1975 Refactor volume request handling
  cloud/blockstore/libs/storage/core/forward_helpers.h
  cloud/blockstore/libs/storage/core/proto_helpers.cpp
  cloud/blockstore/libs/storage/core/proto_helpers.h
  cloud/blockstore/libs/storage/volume/partition_requests.h
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_checkpoint.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_forward.cpp
Labels: large-tests, blockstore, asan

#1916 [Disk Manager]: Move hanging tasks metric to collect lister metrics
  cloud/tasks/collect_lister_metrics_task.go
  cloud/tasks/config/config.proto
  cloud/tasks/execution_context.go
  cloud/tasks/mocks/execution_context_mock.go
  cloud/tasks/persistence/ydb.go
  cloud/tasks/runner.go
  cloud/tasks/runner_metrics.go
  cloud/tasks/runner_test.go
  cloud/tasks/scheduler_impl.go
  cloud/tasks/scheduler_test.go
  cloud/tasks/storage/compound_storage.go
  cloud/tasks/storage/mocks/storage_mock.go
  cloud/tasks/storage/storage.go
  cloud/tasks/storage/storage_ydb.go
  cloud/tasks/storage/storage_ydb_impl.go
  cloud/tasks/storage/storage_ydb_test.go
  cloud/tasks/tasks_tests/tasks_test.go
Labels: large-tests, disk_manager

#1968 issue-1987: offload protobuf parsing of IO requests to a separate actor
  cloud/blockstore/config/disk.proto
  cloud/blockstore/libs/storage/disk_agent/actors/io_request_parser.cpp
  cloud/blockstore/libs/storage/disk_agent/actors/io_request_parser.h
  cloud/blockstore/libs/storage/disk_agent/actors/ya.make
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_init.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_private.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_ut_large.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.h
  cloud/blockstore/libs/storage/disk_agent/testlib/test_env.cpp
  cloud/blockstore/libs/storage/disk_agent/testlib/test_env.h
  cloud/blockstore/libs/storage/init/disk_agent/actorsystem.cpp
  cloud/blockstore/tests/python/lib/config.py
  cloud/blockstore/tests/python/lib/nonreplicated_setup.py
Labels: large-tests, blockstore, asan, tsan, msan

#1907 issue-1795: LargeDeletionMarkers
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/service/filestore.h
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/helpers.cpp
  cloud/filestore/libs/storage/tablet/helpers.h
  cloud/filestore/libs/storage/tablet/model/alloc.h
  cloud/filestore/libs/storage/tablet/model/block.h
  cloud/filestore/libs/storage/tablet/model/deletion_markers.h
  cloud/filestore/libs/storage/tablet/model/large_blocks.cpp
  cloud/filestore/libs/storage/tablet/model/large_blocks.h
  cloud/filestore/libs/storage/tablet/model/large_blocks_ut.cpp
  cloud/filestore/libs/storage/tablet/model/mixed_blocks.cpp
  cloud/filestore/libs/storage/tablet/model/mixed_blocks.h
  cloud/filestore/libs/storage/tablet/model/sparse_segment.cpp
  cloud/filestore/libs/storage/tablet/model/sparse_segment.h
  cloud/filestore/libs/storage/tablet/model/sparse_segment_ut.cpp
  cloud/filestore/libs/storage/tablet/model/ut/ya.make
  cloud/filestore/libs/storage/tablet/model/ya.make
  cloud/filestore/libs/storage/tablet/protos/tablet.proto
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_acquirelock.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_allocatedata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_cleanup.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_flush_bytes.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_loadstate.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_monitoring.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_readdata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_setnodeattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_unlinknode.cpp
  cloud/filestore/libs/storage/tablet/tablet_counters.h
  cloud/filestore/libs/storage/tablet/tablet_database.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.h
  cloud/filestore/libs/storage/tablet/tablet_database_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_schema.h
  cloud/filestore/libs/storage/tablet/tablet_state.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_impl.h
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data_stress.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data_truncate.cpp
  cloud/filestore/libs/storage/testlib/test_env.h
  cloud/filestore/private/api/protos/tablet.proto
  cloud/filestore/public/api/protos/const.proto
  doc/filestore/design/storage/tablet/background_ops.md
  doc/filestore/design/storage/tablet/data_index.md
Labels: large-tests, filestore

#1996 issue-1922: making background ops' read/writeblob requests async
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_flush.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_flush_bytes.cpp
Labels: large-tests, filestore

#1911 Merge to stable-23-3
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_cms.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_migration.cpp
  cloud/blockstore/libs/storage/volume/actors/shadow_disk_actor.cpp
  cloud/blockstore/libs/storage/volume/actors/shadow_disk_actor.h
Labels: blockstore

#1997 merge new registration to 23-3
  cloud/blockstore/config/server.proto
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/daemon/ydb/config_initializer.cpp
  cloud/blockstore/libs/daemon/ydb/config_initializer.h
  cloud/blockstore/libs/daemon/ydb/config_initializer_ut.cpp
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/blockstore/libs/disk_agent/config_initializer.cpp
  cloud/blockstore/libs/disk_agent/config_initializer.h
  cloud/blockstore/libs/disk_agent/config_initializer_ut.cpp
  cloud/blockstore/libs/server/config.cpp
  cloud/blockstore/libs/server/config.h
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/tests/client/test_with_multiple_agents.py
  cloud/blockstore/tests/infra-cms/test.py
  cloud/blockstore/tests/loadtest/local-mirror/test.py
  cloud/blockstore/tests/loadtest/local-nonrepl/test.py
  cloud/blockstore/tests/mount/test.py
  cloud/blockstore/tests/notify/test.py
  cloud/blockstore/tests/python/lib/config.py
  cloud/blockstore/tests/python/lib/daemon.py
  cloud/blockstore/tests/registration/test.py
  cloud/blockstore/tests/registration/ya.make
  cloud/blockstore/tests/secure-registration/test.py
  cloud/blockstore/tests/ya.make
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/daemon/common/config_initializer.cpp
  cloud/filestore/libs/daemon/common/config_initializer.h
  cloud/filestore/libs/daemon/common/options.cpp
  cloud/filestore/libs/daemon/common/options.h
  cloud/filestore/libs/daemon/server/config_initializer.cpp
  cloud/filestore/libs/daemon/server/config_initializer.h
  cloud/filestore/libs/daemon/vhost/config_initializer.cpp
  cloud/filestore/libs/daemon/vhost/config_initializer.h
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
Labels: large-tests

#1966 [Filestore] add information about backpressure to the monpage
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_monitoring.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
Labels: filestore

#1999 merge to stable-23-3
  cloud/blockstore/config/disk.proto
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/blockstore/libs/encryption/encryption_client.cpp
  cloud/blockstore/libs/encryption/encryption_client_ut.cpp
  cloud/blockstore/libs/encryption/encryptor.cpp
  cloud/blockstore/libs/encryption/encryptor.h
  cloud/blockstore/libs/encryption/encryptor_ut.cpp
  cloud/blockstore/libs/nvme/nvme_stub.cpp
  cloud/blockstore/libs/storage/disk_agent/actors/CMakeLists.darwin-x86_64.txt
  cloud/blockstore/libs/storage/disk_agent/actors/CMakeLists.linux-aarch64.txt
  cloud/blockstore/libs/storage/disk_agent/actors/CMakeLists.linux-x86_64.txt
  cloud/blockstore/libs/storage/disk_agent/actors/io_request_parser.cpp
  cloud/blockstore/libs/storage/disk_agent/actors/io_request_parser.h
  cloud/blockstore/libs/storage/disk_agent/actors/ya.make
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_init.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_monitoring.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_register.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_private.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_ut_large.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.h
  cloud/blockstore/libs/storage/disk_agent/testlib/test_env.cpp
  cloud/blockstore/libs/storage/disk_agent/testlib/test_env.h
  cloud/blockstore/libs/storage/init/disk_agent/actorsystem.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.cpp
  cloud/blockstore/tests/disk_agent_config/test.py
  cloud/blockstore/tests/python/lib/config.py
  cloud/blockstore/tests/python/lib/nonreplicated_setup.py
  cloud/blockstore/vhost-server/request_aio.cpp
  cloud/blockstore/vhost-server/server_ut.cpp
Labels: blockstore

#1961 issue-1146: add setters for in-memory state, temporary get rid of _Ver tables
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/tablet_database.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_cache.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_cache.h
  cloud/filestore/libs/storage/tablet/tablet_ut_state_cache.cpp
  cloud/filestore/libs/storage/tablet/ut/ya.make
Labels: filestore

#2011 issue-1922: avoiding Compaction loops by limiting BlobsCount increment made in AddBlob for Compaction requests by CompactionThreshold - 1
  cloud/filestore/libs/storage/tablet/tablet_actor_addblob.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: large-tests, filestore

#2009 [Filestore] allow for some actions to ignore auth
  cloud/filestore/config/server.proto
  cloud/filestore/libs/daemon/server/bootstrap.cpp
  cloud/filestore/libs/endpoint/service_auth.cpp
  cloud/filestore/libs/server/config.cpp
  cloud/filestore/libs/server/config.h
  cloud/filestore/libs/service/auth_scheme.cpp
  cloud/filestore/libs/service/auth_scheme.h
  cloud/filestore/libs/service/service_auth.cpp
  cloud/filestore/libs/service/service_auth.h
  cloud/filestore/libs/service_kikimr/auth_provider_kikimr_ut.cpp
Labels: filestore

#2014 Spawn the vhost-server from special thread
  cloud/blockstore/libs/endpoints_vhost/external_vhost_server.cpp
  cloud/blockstore/tests/external_endpoint/multiple_endpoints.py
  cloud/blockstore/tests/external_endpoint/ya.make
  cloud/blockstore/vhost-server/main.cpp
Labels: blockstore

#2006 issue-1657: resize device in "refresh endpoint" handler
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/blockstore/tests/e2e-tests/test.py
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
Labels: blockstore

#2019 issue-757: refactor local-emergency load-test making it actually turn on emergency (fallback) mode; increment suggested generation upon external boot in fallback mode; minor tweaks
  cloud/blockstore/libs/storage/service/volume_session_actor_start.cpp
  cloud/blockstore/tests/loadtest/local-emergency/test.py
  cloud/blockstore/tests/python/lib/nbs_runner.py
  cloud/storage/core/libs/hive_proxy/hive_proxy_fallback_actor.cpp
  cloud/storage/core/libs/hive_proxy/hive_proxy_ut.cpp
Labels: large-tests, blockstore

#1980 [Disk Manager] improve incremental snapshots/images tests; bug fixes
  cloud/disk_manager/internal/pkg/dataplane/delete_snapshot_task.go
  cloud/disk_manager/internal/pkg/dataplane/register.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/common.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/mocks/storage_mock.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage_legacy.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage_ydb.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage_ydb_impl.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage_ydb_test.go
  cloud/disk_manager/internal/pkg/facade/image_service_test/image_service_test.go
  cloud/disk_manager/internal/pkg/facade/snapshot_service_test/snapshot_service_test.go
  cloud/disk_manager/internal/pkg/facade/testcommon/common.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_disk_task.go
  cloud/disk_manager/internal/pkg/services/snapshots/delete_snapshot_task.go
Labels: large-tests, disk_manager, tasks

#2026 Move TAlignedDeviceHandler to separate cpp
  cloud/blockstore/libs/service/aligned_device_handler.cpp
  cloud/blockstore/libs/service/aligned_device_handler.h
  cloud/blockstore/libs/service/device_handler.cpp
  cloud/blockstore/libs/service/ya.make
Labels: blockstore

#1838 [Filestore] Implement throttling for DescribeData and GenerateBlobIds requests
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
  cloud/filestore/libs/storage/service/service_actor_writedata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_adddata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_readdata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_throttling.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_throttling.cpp
  cloud/filestore/public/api/protos/headers.proto
Labels: large-tests, filestore, asan

#2029 issue-1993: proper Cleanup / Compaction prioritization for target levels which are close to Backpressure thresholds
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/model/operation.h
  cloud/filestore/libs/storage/tablet/tablet_actor_cleanup.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_flush_bytes.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: large-tests, filestore

#2031 issue-1922: introduced UseMixedBlocksInsteadOfAliveBlocksInCompaction flag
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
  cloud/filestore/tests/loadtest/service-kikimr-newfeatures-test/nfs-storage.txt
  doc/filestore/design/storage/config.md
Labels: large-tests, filestore

#2032 Switch coroutine wait to CondVar
  cloud/blockstore/libs/endpoints_vhost/external_vhost_server.cpp
Labels: bug, blockstore

#2034 issue-2033: additional check for CreateHandle DupCache entries to avoid replying with old responses to new requests with reused request ids (which may happen due to bugs in the client)
  cloud/filestore/libs/diagnostics/critical_events.h
  cloud/filestore/libs/storage/tablet/session.h
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_sessions.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_nodes.cpp
Labels: large-tests, filestore

#1867 issue-1917: MULTI_NODE_MULTI_WRITER access mode is not supported with nbs backend
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
Labels: blockstore

#1919 issue-652: do not acquire barriers from the past upon `FlushBytes`
  cloud/filestore/libs/storage/tablet/tablet_actor_flush_bytes.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: large-tests, filestore

#2039 Fix local disks test
  cloud/blockstore/tests/external_endpoint/multiple_endpoints.py
Labels: bug, large-tests, blockstore

#1981 [Disk Manager] improve services/pools logging; add services/pools metrics
  cloud/disk_manager/internal/pkg/facade/testcommon/common.go
  cloud/disk_manager/internal/pkg/services/pools/storage/metrics/metrics.go
  cloud/disk_manager/internal/pkg/services/pools/storage/metrics/ya.make
  cloud/disk_manager/internal/pkg/services/pools/storage/storage_ydb.go
  cloud/disk_manager/internal/pkg/services/pools/storage/storage_ydb_impl.go
  cloud/disk_manager/internal/pkg/services/pools/storage/storage_ydb_test.go
  cloud/disk_manager/pkg/admin/common.go
  cloud/disk_manager/pkg/app/controlplane.go
Labels: large-tests, disk_manager, tasks

#2042 issue-757: don't load configs from CMS in emergency mode
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/tests/loadtest/local-emergency/test.py
  cloud/blockstore/tests/python/lib/loadtest_env.py
Labels: large-tests, blockstore

#2038 Ability to disable node broker registration in the DA
  cloud/blockstore/apps/disk_agent/ya.make
  cloud/blockstore/config/disk.proto
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/blockstore/libs/disk_agent/bootstrap.h
  cloud/blockstore/libs/storage/disk_agent/model/config.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.h
  cloud/blockstore/libs/storage/disk_agent/model/device_scanner.cpp
  cloud/blockstore/libs/storage/disk_agent/model/device_scanner.h
  cloud/blockstore/libs/storage/disk_agent/storage_initializer.cpp
  cloud/blockstore/tests/disk_agent_config/test.py
  cloud/blockstore/tests/python/lib/daemon.py
Labels: enhancement, large-tests, blockstore

#2040 issue-1946: remove duplicated code
  cloud/blockstore/libs/daemon/ydb/config_initializer.cpp
  cloud/blockstore/libs/daemon/ydb/config_initializer.h
  cloud/blockstore/libs/disk_agent/config_initializer.cpp
  cloud/blockstore/libs/disk_agent/config_initializer.h
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
Labels: large-tests

#2041 [Filestore] fix ls command in client without `--json` flag
  cloud/filestore/apps/client/lib/ls.cpp
  cloud/filestore/apps/client/lib/text_table.cpp
  cloud/filestore/apps/client/lib/text_table.h
  cloud/filestore/tests/client/canondata/result.json
  cloud/filestore/tests/client/canondata/test.test_ls/results.txt
  cloud/filestore/tests/client/canondata/test.test_write_ls_rm_ls/results.txt
  cloud/filestore/tests/client/test.py
Labels: filestore

#2048 unstable-process: logging open sockets upon process start failure
  cloud/storage/core/tools/testing/unstable-process/__main__.py
Labels: large-tests, filestore

#2002 issue-176: introduce IRootKmsKeyProvider
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/daemon/common/bootstrap.h
  cloud/blockstore/libs/encryption/encryption_key.cpp
  cloud/blockstore/libs/encryption/encryption_key.h
  cloud/blockstore/libs/encryption/encryption_key_ut.cpp
  cloud/blockstore/libs/encryption/keyring_ut.cpp
  cloud/blockstore/libs/encryption/public.h
  cloud/blockstore/public/api/protos/encryption.proto
Labels: blockstore

#2049 issue-757: pass path as empty TMaybe<TString> instead of empty TString when registering node in Node Broker; spoil BS Controller config before restarting Kikimr after formatting static pdisks in local-emergency test (otherwise BS Controller would erase all the data from other non-static groups)
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/tests/loadtest/local-emergency/test.py
  cloud/storage/core/libs/kikimr/node.cpp
  contrib/ydb/tests/library/harness/kikimr_runner.py
Labels: large-tests, blockstore

#2052 Fix blockstore-vhost-server deadlock before execvp call
  cloud/blockstore/libs/endpoints_vhost/external_vhost_server.cpp
Labels: bug, blockstore

#1943 [Disk Manager] Tracing: Add spans for nbs and ydb clients, add simple parent-based sampling
  cloud/disk_manager/internal/pkg/clients/nbs/client.go
  cloud/disk_manager/internal/pkg/clients/nbs/multi_zone_client.go
  cloud/disk_manager/internal/pkg/clients/nbs/session.go
  cloud/tasks/tracing/init.go
Labels: large-tests

#2051 NBSDUTY-92: reject DA requests in Init/Idle state
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_init.cpp
Labels: bug, large-tests, blockstore

#2045 Respond to HTTP requests while being in the deep idle state
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/blockstore/libs/disk_agent/bootstrap.h
  cloud/blockstore/libs/disk_agent/ya.make
  cloud/blockstore/tests/disk_agent_config/test.py
  cloud/blockstore/tests/python/lib/daemon.py
  cloud/storage/core/libs/http/simple_http_server.cpp
  cloud/storage/core/libs/http/simple_http_server.h
  cloud/storage/core/libs/http/ya.make
  cloud/storage/core/libs/ya.make
Labels: enhancement, blockstore

#2055 Merge to stable-23-3: making blockstore cluster survive after destruction of static BS group in local-emergency test
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/storage/service/volume_session_actor_start.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_checkpoint.cpp
  cloud/blockstore/tests/loadtest/local-emergency/test.py
  cloud/blockstore/tests/python/lib/loadtest_env.py
  cloud/blockstore/tests/python/lib/nbs_runner.py
  cloud/storage/core/libs/hive_proxy/hive_proxy_fallback_actor.cpp
  cloud/storage/core/libs/hive_proxy/hive_proxy_ut.cpp
  cloud/storage/core/libs/kikimr/node.cpp
  ydb/tests/library/harness/kikimr_runner.py
Labels: large-tests, recheck

#2057 Simlify the vhost server spawn
  cloud/blockstore/libs/endpoints_vhost/external_vhost_server.cpp
  cloud/blockstore/tests/external_endpoint/multiple_endpoints.py
  cloud/blockstore/tests/python/lib/config.py
  cloud/blockstore/vhost-server/main.cpp
Labels: large-tests, blockstore

#2061 Deduce MediaKind from PoolKind while creating a disk from device
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_create.cpp
Labels: large-tests, blockstore

#2062 issue-1657: Skip perf profile to automatically recalculate quotes for resized volume
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
Labels: blockstore

#2010 issue-176: creating an encryption client depending on the volume configuration
  cloud/blockstore/libs/encryption/encryption_client.cpp
  cloud/blockstore/libs/encryption/encryption_client.h
  cloud/blockstore/libs/encryption/encryption_client_ut.cpp
  cloud/blockstore/libs/encryption/encryption_service.cpp
  cloud/blockstore/libs/encryption/encryption_service_ut.cpp
  cloud/blockstore/public/api/protos/volume.proto
Labels: blockstore

#2059 [Disk Manager]: Update ydbd version in tests
  build/ext_mapping.conf.json
Labels: large-tests, disk_manager

#1977 [NBS] issues-1553 add rdma/interconnect counters
  cloud/blockstore/libs/storage/core/disk_counters.cpp
  cloud/blockstore/libs/storage/core/disk_counters.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_ut.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_actor.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_actor_solomon.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_state.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_state.h
  cloud/blockstore/libs/storage/volume/volume_ut_stats.cpp
Labels: blockstore

#2068 issue-757: check data that was written before static BS group destruction in local-emergency test
  cloud/blockstore/tests/loadtest/local-emergency/test.py
Labels: large-tests, blockstore

#2035 Handle huge requests in unaligned device handler
  cloud/blockstore/libs/service/aligned_device_handler.cpp
  cloud/blockstore/libs/service/aligned_device_handler.h
  cloud/blockstore/libs/service/device_handler.cpp
  cloud/blockstore/libs/service/device_handler_ut.cpp
  cloud/blockstore/libs/service/unaligned_device_handler.cpp
  cloud/blockstore/libs/service/unaligned_device_handler.h
  cloud/blockstore/libs/service/ya.make
Labels: large-tests, blockstore, asan, tsan, msan, ubsan

#2064 [stable-23-3] Merge to stable
  cloud/blockstore/apps/disk_agent/ya.make
  cloud/blockstore/config/disk.proto
  cloud/blockstore/libs/disk_agent/CMakeLists.darwin-x86_64.txt
  cloud/blockstore/libs/disk_agent/CMakeLists.linux-aarch64.txt
  cloud/blockstore/libs/disk_agent/CMakeLists.linux-x86_64.txt
  cloud/blockstore/libs/disk_agent/CMakeLists.windows-x86_64.txt
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/blockstore/libs/disk_agent/bootstrap.h
  cloud/blockstore/libs/disk_agent/ya.make
  cloud/blockstore/libs/endpoints_vhost/external_vhost_server.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.h
  cloud/blockstore/libs/storage/disk_agent/model/device_scanner.cpp
  cloud/blockstore/libs/storage/disk_agent/model/device_scanner.h
  cloud/blockstore/libs/storage/disk_agent/storage_initializer.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_create.cpp
  cloud/blockstore/tests/disk_agent_config/test.py
  cloud/blockstore/tests/external_endpoint/multiple_endpoints.py
  cloud/blockstore/tests/python/lib/config.py
  cloud/blockstore/vhost-server/main.cpp
  cloud/storage/core/libs/CMakeLists.txt
  cloud/storage/core/libs/http/CMakeLists.txt
  cloud/storage/core/libs/http/simple_http_server.cpp
  cloud/storage/core/libs/http/simple_http_server.h
  cloud/storage/core/libs/http/ya.make
  cloud/storage/core/libs/ya.make
Labels: blockstore

#2070 Fix vhost test ShouldStatAllZeroesBlocks flakiness
  cloud/blockstore/vhost-server/server_ut.cpp
Labels: blockstore

#2050 Remove unused param
  cloud/blockstore/tests/client/test_with_multiple_agents.py
  cloud/blockstore/tests/infra-cms/test.py
  cloud/blockstore/tests/loadtest/local-change-device/test.py
  cloud/blockstore/tests/loadtest/local-metrics/test.py
  cloud/blockstore/tests/loadtest/local-mirror/test.py
  cloud/blockstore/tests/loadtest/local-nonrepl/test.py
  cloud/blockstore/tests/loadtest/local-user-metrics/test.py
  cloud/blockstore/tests/monitoring/test.py
  cloud/blockstore/tests/mount/test.py
  cloud/blockstore/tests/notify/test.py
  cloud/blockstore/tests/python/lib/daemon.py
  cloud/blockstore/tests/python/lib/loadtest_env.py
  cloud/blockstore/tests/recipes/local-kikimr/__main__.py
  cloud/disk_manager/test/recipe/ydb_launcher.py
  cloud/filestore/tests/recipes/service-kikimr/__main__.py
  cloud/filestore/tests/registration/test.py
Labels: large-tests, disk_manager, blockstore, filestore

#2072 issue-757: move spoil_bs_controller_config and format_static_pdisks methods out from contrib/ydb
  cloud/blockstore/tests/loadtest/local-emergency/test.py
  contrib/ydb/tests/library/harness/kikimr_runner.py
Labels: large-tests, blockstore

#2047 issue-1541: implemented a ring buffer over a file to use it in HandleOpsQueue
  cloud/filestore/libs/vfs_fuse/file_ring_buffer.cpp
  cloud/filestore/libs/vfs_fuse/file_ring_buffer.h
  cloud/filestore/libs/vfs_fuse/file_ring_buffer_ut.cpp
  cloud/filestore/libs/vfs_fuse/handle_ops_queue.cpp
  cloud/filestore/libs/vfs_fuse/handle_ops_queue.h
  cloud/filestore/libs/vfs_fuse/ut/ya.make
  cloud/filestore/libs/vfs_fuse/ya.make.inc
Labels: filestore

#2078 Merge to stable-23-3: issue-757: move spoil_bs_controller_config and format_static_pdisks methods out from contrib/ydb (#2072)
  cloud/blockstore/libs/storage/partition_common/actor_read_blob.cpp
  cloud/blockstore/tests/loadtest/local-emergency/test.py
  ydb/tests/library/harness/kikimr_runner.py
Labels: large-tests, blockstore

#2067 issue-176: cleanup
  cloud/blockstore/libs/encryption/encryption_client.cpp
Labels: blockstore

#2003 issue-1146: apply cache upon RW TXs completion, add tests for its invalidation
  cloud/filestore/libs/storage/core/tablet.h
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_adddata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createcheckpoint.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_deletecheckpoint.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_nodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/tablet_ut_cache.cpp
  cloud/filestore/libs/storage/tablet/ut/ya.make
  cloud/filestore/tests/loadtest/service-kikimr-newfeatures-test/nfs-storage.txt
Labels: large-tests, filestore

#2079 issue-757: should not unmount volume (in local-emergency test) before static BS group destruction in order to make emergency unexpected
  cloud/blockstore/tests/loadtest/local-emergency/test.py
Labels: large-tests, blockstore

#2080 issue-1993: resetting CurrentBackgroundBlobIndexOp if FlushBytes couldn't be enqueued due to Flush being already enqueued or running; enqueueing Flush and BlobIndexOp upon backpressure error; tracking BackpressurePeriod and rebooting tablets if this period is too long; added more backpressure info to monpage
  cloud/blockstore/config/storage.proto
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_monitoring.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_writedata.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: large-tests, filestore

#2087 issue-1541: fixed ubsan
  cloud/filestore/libs/vfs_fuse/file_ring_buffer.cpp
Labels: filestore, ubsan

#2089 issue-1128: add precharge for compaction map loading
  cloud/filestore/libs/storage/tablet/tablet_actor_loadstate.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.h
  cloud/filestore/libs/storage/tablet/tablet_database_ut.cpp
Labels: large-tests, filestore

#2097 issue-2033: we should ignore DupCache entries with invalid types and proceed with request processing as if the entry didn't exist (for the case of request id collisions)
  cloud/filestore/libs/diagnostics/critical_events.h
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_unlinknode.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_sessions.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_nodes.cpp
Labels: large-tests, filestore

#2096 Mount a volume encrypted with ENCRYPTION_AES_XTS without encryption
  cloud/blockstore/libs/encryption/encryption_client.cpp
  cloud/blockstore/libs/encryption/encryption_client_ut.cpp
Labels: large-tests, disk_manager, blockstore

#2082 Harmonize MaxRequestSize with minimum value
  cloud/blockstore/libs/endpoints_grpc/socket_endpoint_listener.cpp
  cloud/blockstore/libs/nbd/server_handler.cpp
  cloud/blockstore/libs/rdma/iface/client.h
  cloud/blockstore/libs/rdma/iface/server.h
  cloud/blockstore/libs/rdma_test/rdma_test_environment.cpp
  cloud/blockstore/libs/service/aligned_device_handler.cpp
  cloud/blockstore/libs/service/aligned_device_handler.h
  cloud/blockstore/libs/service/device_handler.cpp
  cloud/blockstore/libs/service/device_handler.h
  cloud/blockstore/libs/service/device_handler_ut.cpp
  cloud/blockstore/libs/service/storage.cpp
  cloud/blockstore/libs/service/storage.h
  cloud/blockstore/libs/service/storage_ut.cpp
  cloud/blockstore/libs/service/unaligned_device_handler.cpp
  cloud/blockstore/libs/service/unaligned_device_handler.h
  cloud/blockstore/libs/service_local/service_local.cpp
  cloud/blockstore/libs/service_local/storage_spdk_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/model/processing_blocks.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_util.h
  cloud/blockstore/libs/vhost/server.cpp
Labels: large-tests, blockstore

#2102 [merge-to-stable]: issue-1146: preliminary changes: refactor RO txs: allow them to run atop of IIndexTabletDatabase, issue-1146: apply cache upon RW TXs completion, add tests for its invalidation, issue-1993: resetting CurrentBackgroundBlobIndexOp if FlushBytes couldn't be enqueued due to Flush being already enqueued or running; enqueueing Flush and BlobIndexOp upon backpressure error; tracking BackpressurePeriod and rebooting tablets if this period is too long; added more backpressure info to monpage
  cloud/blockstore/config/storage.proto
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/core/tablet.h
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_accessnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_adddata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_change_storage_config.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createcheckpoint.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_deletecheckpoint.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_getnodeattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_getnodexattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_listnodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_listnodexattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_monitoring.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_readlink.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_resolvepath.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_writedata.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_nodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/tablet_ut_cache.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
  cloud/filestore/libs/storage/tablet/ut/CMakeLists.darwin-x86_64.txt
  cloud/filestore/libs/storage/tablet/ut/CMakeLists.linux-aarch64.txt
  cloud/filestore/libs/storage/tablet/ut/CMakeLists.linux-x86_64.txt
  cloud/filestore/libs/storage/tablet/ut/CMakeLists.windows-x86_64.txt
  cloud/filestore/libs/storage/tablet/ut/ya.make
  cloud/filestore/tests/loadtest/service-kikimr-newfeatures-test/nfs-storage.txt
Labels: recheck

#2101 issue-2100: make blockstore SS proxy error handling consistent with filestore SS proxy
  cloud/blockstore/libs/storage/ss_proxy/ss_proxy_actor.cpp
  cloud/blockstore/libs/storage/ss_proxy/ss_proxy_actor_modifyscheme.cpp
  cloud/blockstore/libs/storage/ss_proxy/ss_proxy_ut.cpp
Labels: large-tests, blockstore

#2107 add MaxAIOContextEvents parameter to DiskAgent config
  cloud/blockstore/config/disk.proto
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.h
Labels: enhancement, blockstore

#2112 netlink refactoring and various fixes
  cloud/blockstore/config/server.proto
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/endpoint_proxy/server/server.cpp
  cloud/blockstore/libs/nbd/netlink_device.cpp
  cloud/blockstore/libs/nbd/netlink_device.h
  cloud/blockstore/tools/nbd/bootstrap.cpp
  cloud/blockstore/tools/nbd/options.cpp
  cloud/blockstore/tools/nbd/options.h
Labels: large-tests, blockstore, asan, tsan, msan, ubsan

#2111 merge to 23-3: add MaxAIOContextEvents parameter to DiskAgent config (#2107)
  cloud/blockstore/config/disk.proto
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.h
Labels: blockstore

#2113 issue-1285: report readblob operation once even for multiple blobs in service sensors
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
Labels: filestore

#2110 issue-1285: fix missing `StartedTs` initialization for requestInfo in `Flush`, `CollectGarbage` and `Cleanup`
  cloud/filestore/libs/storage/tablet/tablet_actor_cleanup.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_collectgarbage.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_flush.cpp
Labels: filestore

#2114 issue-2100: make GetErrorFromPreconditionFailed function (of blockstore SS proxy) look the same as the corresponding function of filestore SS proxy
  cloud/blockstore/libs/storage/ss_proxy/ss_proxy_actor.cpp
  cloud/filestore/libs/storage/ss_proxy/ss_proxy_actor_modifyscheme.cpp
Labels: large-tests

#1990 [Filestore] avoid fsync on every write for local service
  build/conf/opensource.conf
  cloud/filestore/libs/client/session.cpp
  cloud/filestore/libs/diagnostics/profile_log_events.cpp
  cloud/filestore/libs/diagnostics/profile_log_events.h
  cloud/filestore/libs/service/auth_scheme.cpp
  cloud/filestore/libs/service/request.h
  cloud/filestore/libs/service_kikimr/service.cpp
  cloud/filestore/libs/service_kikimr/service_ut.cpp
  cloud/filestore/libs/service_local/fs.h
  cloud/filestore/libs/service_local/fs_data.cpp
  cloud/filestore/libs/service_local/service_ut.cpp
  cloud/filestore/libs/storage/api/service.h
  cloud/filestore/libs/storage/service/service_actor.cpp
  cloud/filestore/libs/storage/service/service_actor.h
  cloud/filestore/libs/storage/service/service_actor_complete.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_request.cpp
  cloud/filestore/libs/storage/testlib/service_client.h
  cloud/filestore/libs/vfs_fuse/fs_impl.h
  cloud/filestore/libs/vfs_fuse/fs_impl_data.cpp
  cloud/filestore/libs/vfs_fuse/fs_impl_list.cpp
  cloud/filestore/libs/vfs_fuse/fs_ut.cpp
  cloud/filestore/libs/vhost/request.h
  cloud/filestore/public/api/grpc/service.proto
  cloud/filestore/public/api/protos/data.proto
  cloud/filestore/tools/analytics/libs/event-log/dump_ut.cpp
  cloud/filestore/tools/analytics/libs/event-log/request_printer.cpp
Labels: large-tests, filestore, asan, tsan

#2119 blockstore & filestore SDK retriable error codes should be in sync with cloud/storage/core/libs/common/error.cpp
  cloud/blockstore/public/sdk/go/client/error.go
  cloud/blockstore/public/sdk/python/client/error.py
  cloud/filestore/public/sdk/go/client/error.go
  cloud/filestore/public/sdk/python/client/error.py
Labels: large-tests

#2122 issue-1795: LargeDeletionMarkers - simple integration test
  cloud/filestore/tests/client/canondata/result.json
  cloud/filestore/tests/client/canondata/test.test_large_file/results.txt
  cloud/filestore/tests/client/nfs-storage.txt
  cloud/filestore/tests/client/test.py
  cloud/filestore/tests/python/lib/client.py
Labels: filestore

#2117 issue-2086: introduce IFileIOServiceProvider
  cloud/blockstore/libs/service_local/file_io_service_provider.cpp
  cloud/blockstore/libs/service_local/file_io_service_provider.h
  cloud/blockstore/libs/service_local/file_io_service_provider_ut.cpp
  cloud/blockstore/libs/service_local/public.h
  cloud/blockstore/libs/service_local/ut/ya.make
  cloud/blockstore/libs/service_local/ya.make
Labels: blockstore

#2127 fixed StatFs diagnostics RequestType
  cloud/filestore/libs/vfs_fuse/loop.cpp
Labels: filestore

#1846 issue-1657: resize pvc with nbsd-lightweight and minikube
  cloud/blockstore/config/server.proto
  cloud/blockstore/libs/service_local/service_local.cpp
  cloud/blockstore/tools/csi_driver/deploy/example/pvc-fs.yaml
  cloud/blockstore/tools/csi_driver/deploy/manifests/4-storageclass.yaml
  cloud/blockstore/tools/csi_driver/deploy/manifests/5-csi-deployment.yaml
Labels: blockstore

#2140 Add agent state to DA node id response
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_get_agent_node_id.cpp
  cloud/blockstore/libs/storage/protos/disk.proto
  cloud/blockstore/libs/storage/service/service_actor_actions_get_disk_agent_node_id.cpp
  cloud/blockstore/tests/client/test_with_multiple_agents.py
Labels: large-tests, blockstore

#2143 retrying EAGAIN from io_setup in vhost-server
  cloud/blockstore/vhost-server/backend_aio.cpp
Labels: blockstore

#2126 issue-2086: use multiple aio services
  cloud/blockstore/config/disk.proto
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/daemon/common/bootstrap.h
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/blockstore/libs/disk_agent/bootstrap.h
  cloud/blockstore/libs/service_local/file_io_service_provider.cpp
  cloud/blockstore/libs/service_local/file_io_service_provider.h
  cloud/blockstore/libs/service_local/file_io_service_provider_ut.cpp
  cloud/blockstore/libs/service_local/storage_aio.cpp
  cloud/blockstore/libs/service_local/storage_aio.h
  cloud/blockstore/libs/service_local/storage_aio_ut.cpp
  cloud/blockstore/libs/service_local/storage_aio_ut_large.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.h
  cloud/blockstore/libs/storage/disk_agent/testlib/test_env.cpp
  cloud/blockstore/libs/storage/init/server/actorsystem.h
  cloud/blockstore/tests/python/lib/config.py
  cloud/blockstore/tests/python/lib/nonreplicated_setup.py
Labels: large-tests, blockstore, tsan, msan

#2131 issue-2100: extract TSSProxyActor from cloud/filestore - this actor implements DescribeScheme, ModifyScheme and WaitSchemeTx requests
  cloud/filestore/libs/storage/api/ss_proxy.h
  cloud/filestore/libs/storage/service/service_actor_list.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/ss_proxy/ss_proxy_actor.cpp
  cloud/filestore/libs/storage/ss_proxy/ss_proxy_actor.h
  cloud/filestore/libs/storage/ss_proxy/ss_proxy_actor_alterfs.cpp
  cloud/filestore/libs/storage/ss_proxy/ss_proxy_actor_createfs.cpp
  cloud/filestore/libs/storage/ss_proxy/ss_proxy_actor_describefs.cpp
  cloud/filestore/libs/storage/ss_proxy/ss_proxy_actor_destroyfs.cpp
  cloud/filestore/libs/storage/ss_proxy/ss_proxy_ut.cpp
  cloud/filestore/libs/storage/ss_proxy/ya.make
  cloud/filestore/libs/storage/testlib/ss_proxy_client.h
  cloud/storage/core/libs/api/ss_proxy.cpp
  cloud/storage/core/libs/api/ss_proxy.h
  cloud/storage/core/libs/api/ya.make
  cloud/storage/core/libs/hive_proxy/hive_proxy_actor.h
  cloud/storage/core/libs/kikimr/components.h
  cloud/storage/core/libs/ss_proxy/public.h
  cloud/storage/core/libs/ss_proxy/ss_proxy_actor.cpp
  cloud/storage/core/libs/ss_proxy/ss_proxy_actor.h
  cloud/storage/core/libs/ss_proxy/ss_proxy_actor_describescheme.cpp
  cloud/storage/core/libs/ss_proxy/ss_proxy_actor_modifyscheme.cpp
  cloud/storage/core/libs/ss_proxy/ss_proxy_actor_waitschemetx.cpp
  cloud/storage/core/libs/ss_proxy/ya.make
  cloud/storage/core/libs/ya.make
Labels: large-tests

#2150 Fix wrong response type usage
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_writeblocks.cpp
Labels: blockstore

#1939 [Tests]: Add new access service
  cloud/blockstore/apps/client/lib/create_volume.cpp
  cloud/blockstore/tests/loadtest/local-auth/test.py
  cloud/blockstore/tests/loadtest/local-auth/ya.make
  cloud/blockstore/tests/python/lib/loadtest_env.py
  cloud/blockstore/tests/python/lib/nbs_runner.py
  cloud/blockstore/tests/python/lib/ya.make
  cloud/filestore/apps/client/lib/create.cpp
  cloud/filestore/tests/auth/lib/__init__.py
  cloud/filestore/tests/auth/lib/ya.make
  cloud/filestore/tests/auth/new/test.py
  cloud/filestore/tests/auth/new/ya.make
  cloud/filestore/tests/auth/old/test.py
  cloud/filestore/tests/auth/old/ya.make
  cloud/filestore/tests/auth/ya.make
  cloud/filestore/tests/python/lib/client.py
  cloud/filestore/tests/python/lib/daemon_config.py
  cloud/filestore/tests/python/lib/ya.make
  cloud/filestore/tests/recipes/service-kikimr/__main__.py
  cloud/filestore/tests/recipes/service-kikimr/ya.make.inc
  cloud/storage/core/libs/common/error.cpp
  cloud/storage/core/libs/common/error.h
  cloud/storage/core/libs/common/ya.make
  cloud/storage/core/tests/recipes/access-service-new.inc
  cloud/storage/core/tests/recipes/access-service-new/__main__.py
  cloud/storage/core/tests/recipes/access-service-new/ya.make
  cloud/storage/core/tests/recipes/access-service.inc
  cloud/storage/core/tools/testing/access_service/lib/__init__.py
  cloud/storage/core/tools/testing/access_service_new/lib/__init__.py
  cloud/storage/core/tools/testing/access_service_new/lib/ya.make
  cloud/storage/core/tools/testing/access_service_new/mock/main.go
  cloud/storage/core/tools/testing/access_service_new/mock/protos/access.proto
  cloud/storage/core/tools/testing/access_service_new/mock/protos/access_service.proto
  cloud/storage/core/tools/testing/access_service_new/mock/protos/ya.make
  cloud/storage/core/tools/testing/access_service_new/mock/ya.make
  cloud/storage/core/tools/testing/access_service_new/ya.make
Labels: large-tests

#2147 issue-1795: backpressure for LargeDeletionMarkers
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/diagnostics/critical_events.h
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_allocatedata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_destroyhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_destroysession.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_loadstate.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_resetsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_setnodeattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_truncate.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_unlinknode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_zerorange.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.h
  cloud/filestore/libs/storage/tablet/tablet_database_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_schema.h
  cloud/filestore/libs/storage/tablet/tablet_state.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_impl.h
  cloud/filestore/libs/storage/tablet/tablet_state_nodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: large-tests, filestore

#2158 [Tasks] fix cloud/tasks/tests/tests.TestTryExecutingTask
  cloud/tasks/runner_test.go
Labels: tasks

#2160 issue-1795: LargeDeletionMarkers backpressure - some fixes and cleanup
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_cleanup.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_truncate.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_zerorange.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
Labels: filestore, rebase

#2168 filestore-client: fixed crashes on DestroySession error, fixed ls node type output
  cloud/filestore/apps/client/lib/command.h
  cloud/filestore/apps/client/lib/ls.cpp
Labels: filestore

#2154 blockstore SDK should not retry E_TRY_AGAIN
  cloud/blockstore/public/sdk/go/client/error.go
  cloud/blockstore/public/sdk/python/client/error.py
Labels: large-tests

#2165 issue-1795: implemented Unsafe{Delete,Update,Get}Node to use it in private api for manual interventions - e.g. to clean up OrphanNodes
  cloud/filestore/libs/storage/api/tablet.h
  cloud/filestore/libs/storage/service/service_actor.h
  cloud/filestore/libs/storage/service/service_actor_actions.cpp
  cloud/filestore/libs/storage/service/service_actor_actions_unsafe_node_ops.cpp
  cloud/filestore/libs/storage/service/service_actor_actions_ut.cpp
  cloud/filestore/libs/storage/service/ya.make
  cloud/filestore/libs/storage/tablet/helpers.cpp
  cloud/filestore/libs/storage/tablet/helpers.h
  cloud/filestore/libs/storage/tablet/tablet_actor_unsafe_node_ops.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/ya.make
  cloud/filestore/private/api/protos/tablet.proto
Labels: filestore

#1982 [CSI driver] Implementation of staged mount for vhost block and FS volumes in VM mode
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
Labels: large-tests, blockstore

#2170 NBSDUTY-107: reduce aio threads in loadtests
  cloud/blockstore/tests/python/lib/nonreplicated_setup.py
Labels: large-tests

#2152 Resize the shadow disk when the size of the source disk changes
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_checkpoint.cpp
Labels: blockstore

#2172 Fix flaky test
  cloud/blockstore/tests/external_endpoint/multiple_endpoints.py
Labels: large-tests, blockstore

#2178 stabilize test ShouldProcessDestroyHandleRequestsAsynchronously
  cloud/filestore/libs/vfs_fuse/fs_ut.cpp
Labels: asan, tsan, ubsan

#2180 fix flaky test 2
  cloud/blockstore/tests/external_endpoint/multiple_endpoints.py
Labels: large-tests, blockstore

#2175 NBSDUTY-107: reduce aio threads in loadtests (#2170)
  cloud/blockstore/tests/python/lib/nonreplicated_setup.py
Labels: large-tests

#2184 fixed use-after-free in partition_nonrepl uts
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_ut.cpp
Labels: blockstore, asan, tsan
