Repository ydb-platform/nbs, pull requests merged in 2024-10, with the labels that each got.

#2161 issue-1146: enforce that RO tx can not read data not commited yet by RW tx
  cloud/filestore/libs/storage/tablet/tablet_ut_nodes.cpp
Labels: filestore

#2174 [Disk Manager] Fix logging for unknown ydb errors
  cloud/tasks/persistence/ydb_metrics.go
Labels: large-tests, disk_manager, tasks

#2187 [Test]: Fix new auth test
  cloud/filestore/tests/auth/lib/__init__.py
Labels: large-tests

#2198 Fix TPendingCleanup initialization
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_allocate.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_pending_cleanup.cpp
Labels: large-tests, blockstore

#2206 issue-1795: fixed TBlockDeletion application in FlushBytes - we should reset only the part of the block that describes the data, not the NodeId, BlockIndex, etc part
  cloud/filestore/libs/storage/tablet/tablet_actor_flush_bytes.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: large-tests, filestore

#2191 issue-2033: not returning stale handles from DupCache for CreateHandle requests
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_nodes.cpp
Labels: large-tests, filestore

#2209 issue-1795: fixed usage of uninitialized memory in ut
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: filestore

#2208 issue-2076: replace broken devices on the agent registration
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_mirrored_disks.cpp
Labels: large-tests, blockstore

#2214 [Disk Manager] Move metric counters initialization to avoid no data
  cloud/tasks/persistence/ydb_metrics.go
Labels: large-tests

#2218 issue-2207: followers shouldn't check session and use DupCache upon CreateNode/UnlinkNode requests
  cloud/filestore/libs/diagnostics/critical_events.h
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_unlinknode.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_sessions.cpp
  cloud/filestore/libs/storage/testlib/tablet_client.h
Labels: large-tests, filestore

#2219 NBSDUTY-111: round up Timeout to seconds
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_update_cms_device_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_update_cms_host_state.cpp
Labels: large-tests, blockstore

#2223 fixed race: CallContext->RequestType was being modified by the code in StorageService and accessed by the code calculating MaxTime for inflight requests at the same time - we should not reuse the same CallContext for different requests, we should make separate CallContexts
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
  cloud/filestore/libs/storage/service/service_actor_writedata.cpp
Labels: large-tests, filestore, tsan

#2225 filestore-client findgarbage paging fix + some other improvements and cleanup
  cloud/filestore/apps/client/lib/find_garbage.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_listnodes.cpp
  cloud/filestore/tests/client/canondata/test.test_multitablet_findgarbage/results.txt
  cloud/filestore/tests/client/test.py
  cloud/filestore/tests/python/lib/client.py
Labels: filestore

#1962 [Disk Manager]: check image size in image_file_server_launcher.py
  cloud/disk_manager/test/images/recipe/__main__.py
  cloud/disk_manager/test/images/recipe/image_file_server_launcher.py
Labels: large-tests

#2132 test csi driver in vm mode
  cloud/blockstore/tests/csi_driver/test.py
  cloud/blockstore/tools/csi_driver/client/main.go
Labels: blockstore

#2231 Mute external vhost tests
  .github/config/muted_ya.txt
Labels: large-tests

#2217 issue-2216: reject destroy filestore requests for filestore in a denylist
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/service/service_actor_destroyfs.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
Labels: filestore

#2227 fix: csi driver log path
  cloud/blockstore/tests/csi_driver/test.py
Labels: blockstore

#2221 [Disk Manager] Speeding up takeBaseDisksToSchedule
  cloud/disk_manager/internal/pkg/services/pools/config/config.proto
  cloud/disk_manager/internal/pkg/services/pools/storage/metrics/metrics.go
  cloud/disk_manager/internal/pkg/services/pools/storage/storage_ydb_impl.go
Labels: large-tests, disk_manager, tasks

#2179 Merge to stable
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_allocate.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_get_agent_node_id.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_pending_cleanup.cpp
  cloud/blockstore/libs/storage/protos/disk.proto
  cloud/blockstore/libs/storage/service/service_actor_actions_get_disk_agent_node_id.cpp
  cloud/blockstore/tests/client/test_with_multiple_agents.py
  cloud/blockstore/tests/external_endpoint/multiple_endpoints.py
Labels: blockstore

#2237 issue-2100: fix TSSProxyTest.ShouldDescribeFileStoreInFallbackMode
  cloud/filestore/libs/storage/ss_proxy/ss_proxy_fallback_actor.cpp
  cloud/filestore/libs/storage/ss_proxy/ss_proxy_ut.cpp
Labels: filestore

#2211 Add possibility to do lite reallocations
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_notify.cpp
  cloud/blockstore/libs/storage/volume/testlib/test_env.cpp
  cloud/blockstore/libs/storage/volume/testlib/test_env.h
  cloud/blockstore/libs/storage/volume/volume_actor_allocatedisk.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_read_history.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_read_meta_history.cpp
  cloud/blockstore/libs/storage/volume/volume_events_private.h
  cloud/blockstore/libs/storage/volume/volume_tx.h
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
  cloud/blockstore/libs/storage/volume/ya.make
Labels: large-tests, blockstore

#2236 moved ShouldHandleRangeIdCollisionsInCompactionMapStats to tablet_ut_data_stress
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data_stress.cpp
  cloud/filestore/libs/storage/testlib/test_env.h
Labels: filestore, tsan

#2242 issue-1285: fix missing StartedTs initialization for requestInfo in `Compaction`
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
Labels: filestore

#2240 [Disk Manager]: Report default hanging tasks metric value
  cloud/tasks/collect_lister_metrics_task.go
  cloud/tasks/tasks_tests/tasks_test.go
Labels: large-tests, disk_manager, tasks

#2247 [stable-23-3] Add possibility to do lite reallocations
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_notify.cpp
  cloud/blockstore/libs/storage/volume/CMakeLists.darwin-x86_64.txt
  cloud/blockstore/libs/storage/volume/CMakeLists.linux-aarch64.txt
  cloud/blockstore/libs/storage/volume/CMakeLists.linux-x86_64.txt
  cloud/blockstore/libs/storage/volume/CMakeLists.windows-x86_64.txt
  cloud/blockstore/libs/storage/volume/testlib/test_env.cpp
  cloud/blockstore/libs/storage/volume/testlib/test_env.h
  cloud/blockstore/libs/storage/volume/volume_actor_allocatedisk.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_read_history.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_read_meta_history.cpp
  cloud/blockstore/libs/storage/volume/volume_events_private.h
  cloud/blockstore/libs/storage/volume/volume_tx.h
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
  cloud/blockstore/libs/storage/volume/ya.make
Labels: blockstore

#2244 csi-driver: remove controller publish/unpublish volume capability
  cloud/blockstore/tests/csi_driver/test.py
  cloud/blockstore/tools/csi_driver/internal/driver/controller.go
Labels: blockstore

#2246 issue-1932: renamed follower to shard, reasons: 1. some of the code already calls those entities "shards" 2. "follower" implies some kind of replication and this entity is not related to replication at all
  cloud/filestore/apps/client/lib/find_garbage.cpp
  cloud/filestore/bin/initctl.sh
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/diagnostics/critical_events.h
  cloud/filestore/libs/storage/api/tablet.h
  cloud/filestore/libs/storage/service/service_actor.h
  cloud/filestore/libs/storage/service/service_actor_actions.cpp
  cloud/filestore/libs/storage/service/service_actor_actions_configure_as_shard.cpp
  cloud/filestore/libs/storage/service/service_actor_actions_configure_shards.cpp
  cloud/filestore/libs/storage/service/service_actor_createhandle.cpp
  cloud/filestore/libs/storage/service/service_actor_createnode.cpp
  cloud/filestore/libs/storage/service/service_actor_forward.cpp
  cloud/filestore/libs/storage/service/service_actor_getnodeattr.cpp
  cloud/filestore/libs/storage/service/service_actor_listnodes.cpp
  cloud/filestore/libs/storage/service/service_state.h
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/service/ya.make
  cloud/filestore/libs/storage/tablet/protos/tablet.proto
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_cleanupsessions.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_deletecheckpoint.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_destroysession.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_getnodeattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_listnodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_monitoring.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_oplog.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_unlinknode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_updateconfig.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.h
  cloud/filestore/libs/storage/tablet/tablet_database_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_schema.h
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_cache.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_cache.h
  cloud/filestore/libs/storage/tablet/tablet_state_iface.h
  cloud/filestore/libs/storage/tablet/tablet_state_nodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/tablet_ut_sessions.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_state_cache.cpp
  cloud/filestore/libs/storage/testlib/helpers.h
  cloud/filestore/libs/storage/testlib/service_client.h
  cloud/filestore/libs/storage/testlib/tablet_client.h
  cloud/filestore/private/api/protos/tablet.proto
  cloud/filestore/public/api/protos/data.proto
  cloud/filestore/public/api/protos/fs.proto
  cloud/filestore/public/api/protos/node.proto
  cloud/filestore/tests/client/canondata/test.test_multitablet_ls/results.txt
  cloud/filestore/tests/client/test.py
  cloud/filestore/tests/recipes/vhost-endpoint/__main__.py
Labels: large-tests, filestore

#2228 [Disk Manager] tracing: add sampling of tasks generations
  cloud/tasks/config/config.proto
  cloud/tasks/runner.go
  cloud/tasks/runner_test.go
  cloud/tasks/tracing/init.go
  cloud/tasks/tracing/sampling.go
  cloud/tasks/tracing/ya.make
Labels: large-tests

#2252 moved heavy uts ShouldTruncateLargeFiles and ShouldTruncateLargeFiles128_KB to tablet_ut_data_stress.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data_stress.cpp
  cloud/filestore/libs/storage/testlib/test_env.h
Labels: filestore

#2254 Fix Simple HTTP server listening address
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/storage/core/libs/http/simple_http_server.cpp
  cloud/storage/core/libs/http/simple_http_server.h
Labels: blockstore

#2265 issue-1928: filestore-client: using ISession instead of IClient for the Session-aware methods to properly process E_FS_INVALID_SESSION errors; existing tests are more or less sufficient to ensure that this code is correct
  cloud/filestore/apps/client/lib/command.cpp
  cloud/filestore/apps/client/lib/command.h
  cloud/filestore/apps/client/lib/find_garbage.cpp
  cloud/filestore/apps/client/lib/ls.cpp
  cloud/filestore/apps/client/lib/mkdir.cpp
  cloud/filestore/apps/client/lib/read.cpp
  cloud/filestore/apps/client/lib/reset_session.cpp
  cloud/filestore/apps/client/lib/rm.cpp
  cloud/filestore/apps/client/lib/set_node_attr.cpp
  cloud/filestore/apps/client/lib/stat.cpp
  cloud/filestore/apps/client/lib/touch.cpp
  cloud/filestore/apps/client/lib/write.cpp
Labels: large-tests, filestore

#2166 [Disk Manager] Fix base disk pools changing their size
  cloud/disk_manager/internal/pkg/services/pools/config/config.proto
  cloud/disk_manager/internal/pkg/services/pools/optimize_base_disks_task.go
  cloud/disk_manager/internal/pkg/services/pools/optimize_base_disks_task_test.go
Labels: large-tests, disk_manager

#2266 issue-2033: sending ResetSession requests to shards upon ResetSession to leader (in the same way it's done for Create/DestroySession); extracted common code for this thing from Create/DestroySession
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/shard_request_actor.cpp
  cloud/filestore/libs/storage/tablet/shard_request_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_destroysession.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_resetsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/ya.make
Labels: large-tests, filestore

#2235 [NBS] add label "transport" to read/writeblocks counters
  cloud/blockstore/libs/storage/core/disk_counters.cpp
  cloud/blockstore/libs/storage/core/disk_counters.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_ut_stats.cpp
Labels: blockstore

#2017 issue-1922: properly tracking BlobsCount to guarantee the BlobsCount <= real blob count in range property
  cloud/filestore/libs/storage/tablet/tablet_actor_addblob.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
Labels: large-tests, filestore, rebase

#2275 EIO is now non retriable error
  cloud/storage/core/libs/common/error.cpp
Labels: large-tests

#2281 [Filestore] dump `ss -tpn` upon completion for debugging `service-kikimr-localdb-compaction-test` failure
  cloud/filestore/tests/loadtest/service-kikimr-localdb-compaction-test/test.py
Labels: large-tests, filestore, asan

#2056 issue-1657: use mount-utils to resize fs
  cloud/blockstore/tests/csi_driver/test.py
  cloud/blockstore/tools/csi_driver/client/main.go
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/mounter/iface.go
  cloud/blockstore/tools/csi_driver/internal/mounter/mock.go
  cloud/blockstore/tools/csi_driver/internal/mounter/mounter.go
Labels: blockstore

#2195 Implement (un)stage/(un)publish volume according csi spec for mount mode
  cloud/blockstore/tests/csi_driver/test.py
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
  cloud/blockstore/tools/csi_driver/stage-publish-unpublish-unstage-flow.md
Labels: blockstore

#2255 [Disk Manager] tracing: add events on retries in blockstore Go SDK
  cloud/blockstore/public/sdk/go/client/durable.go
  cloud/disk_manager/internal/pkg/clients/nbs/factory.go
  cloud/tasks/tracing/init.go
Labels: large-tests

#2241 issue-1146: load NodeRefs upon tablet load
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_loadstate.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_loadstate_noderefs.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.h
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_cache.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_cache.h
  cloud/filestore/libs/storage/tablet/tablet_state_iface.h
  cloud/filestore/libs/storage/tablet/tablet_state_nodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/tablet_ut_cache.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
  cloud/filestore/libs/storage/tablet/ya.make
Labels: filestore

#2297 NBSDUTY-123: log blockdev output & fix cleanup for csi tests
  cloud/blockstore/tests/csi_driver/test.py
  cloud/blockstore/tools/csi_driver/internal/mounter/mounter.go
Labels: blockstore

#2301 issue-2137: support for GarbageBlocksCount in CompactionMap
  cloud/filestore/libs/storage/tablet/model/compaction_map.cpp
  cloud/filestore/libs/storage/tablet/model/compaction_map.h
  cloud/filestore/libs/storage/tablet/model/compaction_map_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_addblob.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_delete_zero_compaction_ranges.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_write_compactionmap.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.h
  cloud/filestore/libs/storage/tablet/tablet_database_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_schema.h
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/private/api/protos/tablet.proto
Labels: large-tests, filestore

#2196 issue-1541: replace in-memory queue with file ring buffer in HandleOpsQueue
  cloud/filestore/config/vfs.proto
  cloud/filestore/config/vhost.proto
  cloud/filestore/libs/daemon/vhost/bootstrap.cpp
  cloud/filestore/libs/diagnostics/critical_events.h
  cloud/filestore/libs/endpoint_vhost/config.cpp
  cloud/filestore/libs/endpoint_vhost/config.h
  cloud/filestore/libs/endpoint_vhost/listener.cpp
  cloud/filestore/libs/endpoint_vhost/listener.h
  cloud/filestore/libs/vfs/config.cpp
  cloud/filestore/libs/vfs/config.h
  cloud/filestore/libs/vfs_fuse/file_ring_buffer.cpp
  cloud/filestore/libs/vfs_fuse/file_ring_buffer.h
  cloud/filestore/libs/vfs_fuse/file_ring_buffer_ut.cpp
  cloud/filestore/libs/vfs_fuse/fs.cpp
  cloud/filestore/libs/vfs_fuse/fs.h
  cloud/filestore/libs/vfs_fuse/fs_impl.cpp
  cloud/filestore/libs/vfs_fuse/fs_impl.h
  cloud/filestore/libs/vfs_fuse/fs_impl_data.cpp
  cloud/filestore/libs/vfs_fuse/fs_ut.cpp
  cloud/filestore/libs/vfs_fuse/handle_ops_queue.cpp
  cloud/filestore/libs/vfs_fuse/handle_ops_queue.h
  cloud/filestore/libs/vfs_fuse/loop.cpp
  cloud/filestore/libs/vfs_fuse/public.h
Labels: large-tests, rebase, asan, tsan, ubsan

#2311 issue-2137: calculating GarbageBlocksCount stats in CompactionMap
  cloud/filestore/libs/diagnostics/events/profile_events.ev
  cloud/filestore/libs/storage/tablet/model/mixed_blocks.cpp
  cloud/filestore/libs/storage/tablet/model/mixed_blocks.h
  cloud/filestore/libs/storage/tablet/profile_log_events.cpp
  cloud/filestore/libs/storage/tablet/profile_log_events.h
  cloud/filestore/libs/storage/tablet/profile_log_events_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_addblob.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data_stress.cpp
  cloud/filestore/libs/storage/testlib/test_env.h
  cloud/filestore/private/api/protos/tablet.proto
  cloud/filestore/tools/analytics/libs/event-log/request_printer.cpp
Labels: large-tests, filestore

#1988 Always respond with E_REJECT when killing a volume tablet actor
  cloud/blockstore/libs/storage/volume/multi_partition_requests.h
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_checkpoint.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_forward.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_forward_trackused.cpp
  cloud/blockstore/libs/storage/volume/volume_events_private.h
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
Labels: large-tests, blockstore, asan

#2313 issue-1541: fixed TFileRingBuffer validation for the case when slack space is smaller than TEntryHeader
  cloud/filestore/libs/vfs_fuse/file_ring_buffer.cpp
  cloud/filestore/libs/vfs_fuse/file_ring_buffer_ut.cpp
Labels: filestore

#2323 issue-2137: ordering Compaction ranges by GarbageScore for Garbage-triggered Compaction
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: large-tests, filestore

#2103 [Filestore] issue-2190: support reconnect for local file system
  cloud/filestore/config/server.proto
  cloud/filestore/libs/diagnostics/critical_events.h
  cloud/filestore/libs/service_local/config.cpp
  cloud/filestore/libs/service_local/config.h
  cloud/filestore/libs/service_local/fs.cpp
  cloud/filestore/libs/service_local/fs.h
  cloud/filestore/libs/service_local/fs_attrs.cpp
  cloud/filestore/libs/service_local/fs_data.cpp
  cloud/filestore/libs/service_local/fs_node.cpp
  cloud/filestore/libs/service_local/fs_session.cpp
  cloud/filestore/libs/service_local/index.h
  cloud/filestore/libs/service_local/index_ut.cpp
  cloud/filestore/libs/service_local/service.cpp
  cloud/filestore/libs/service_local/service_ut.cpp
  cloud/filestore/libs/service_local/session.h
  cloud/filestore/libs/service_local/ut/ya.make
  cloud/filestore/libs/service_local/ya.make
  cloud/filestore/tests/fio/qemu-local-noserver-test/ya.make
Labels: large-tests, filestore, asan, tsan

#2248 [Disk Manager] return detailed error with aborted status on wrong etag
  cloud/disk_manager/internal/pkg/dataplane/create_snapshot_from_url_task.go
  cloud/disk_manager/internal/pkg/dataplane/url/common/errors.go
  cloud/disk_manager/internal/pkg/dataplane/url/common/http_client.go
Labels: large-tests

#2315 [Filestore] add more debug information for posix_compliance test (chown.00.137)
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/chown/00.t
Labels: large-tests, filestore

#2327 issue-2137: marking compacted ranges with a special non-persistent flag to: 1. actually guarantee the absence of compaction loops 2. use it later to be able to mark some ranges which are almost perfectly compacted and skip them during later compactions
  cloud/filestore/libs/storage/tablet/model/compaction_map.cpp
  cloud/filestore/libs/storage/tablet/model/compaction_map.h
  cloud/filestore/libs/storage/tablet/model/compaction_map_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_addblob.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data_stress.cpp
  cloud/filestore/libs/storage/testlib/tablet_client.h
Labels: large-tests, filestore

#2331 fix: run csi tests with sanitizers as a large
  cloud/blockstore/tests/csi_driver/e2e_tests/ya.make
Labels: large-tests, blockstore, tsan

#2203 PendingCleanup insert can fail now
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_secure_erase.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut.cpp
  cloud/blockstore/libs/storage/disk_registry/model/pending_cleanup.cpp
  cloud/blockstore/libs/storage/disk_registry/model/pending_cleanup.h
  cloud/blockstore/libs/storage/disk_registry/model/pending_cleanup_ut.cpp
  cloud/storage/core/libs/diagnostics/critical_events.cpp
Labels: large-tests, blockstore

#2336 issue-2137: implemented ability to skip compaction ranges which are almost perfectly compacted (will speed-up full compaction by orders of magnitude)
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/model/compaction_map.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: large-tests, filestore

#2188 [Filestore] issue-2189: support O_DIRECT in local filestore
  cloud/filestore/config/filesystem.proto
  cloud/filestore/config/server.proto
  cloud/filestore/libs/service/filestore.cpp
  cloud/filestore/libs/service_local/config.cpp
  cloud/filestore/libs/service_local/config.h
  cloud/filestore/libs/service_local/fs.cpp
  cloud/filestore/libs/service_local/fs_data.cpp
  cloud/filestore/libs/service_local/fs_session.cpp
  cloud/filestore/libs/service_local/service_ut.cpp
  cloud/filestore/libs/vfs_fuse/config.cpp
  cloud/filestore/libs/vfs_fuse/config.h
  cloud/filestore/libs/vfs_fuse/fs_impl_data.cpp
  cloud/filestore/libs/vfs_fuse/loop.cpp
  cloud/filestore/public/api/protos/data.proto
  cloud/filestore/public/api/protos/fs.proto
  cloud/filestore/tests/fio/qemu-local-noserver-direct-io-test/test.py
  cloud/filestore/tests/fio/qemu-local-noserver-direct-io-test/ya.make
  cloud/filestore/tests/fio/ya.make
  cloud/filestore/tests/recipes/vhost-local-noserver.inc
  cloud/filestore/tests/recipes/vhost/__main__.py
  cloud/storage/core/libs/common/aligned_buffer.cpp
  cloud/storage/core/libs/common/aligned_buffer.h
  cloud/storage/core/libs/common/aligned_buffer_ut.cpp
  cloud/storage/core/libs/common/ut/ya.make
  cloud/storage/core/libs/common/ya.make
Labels: large-tests, filestore, asan, tsan

#2347 Fix msan test flakiness
  cloud/filestore/libs/service_local/service_ut.cpp
  cloud/storage/core/libs/common/aligned_buffer.cpp
Labels: filestore, msan

#2326 issue-2285: set readonly mount option
  cloud/blockstore/tests/csi_driver/e2e_tests_part1/test.py
  cloud/blockstore/tests/csi_driver/e2e_tests_part1/ya.make
  cloud/blockstore/tests/csi_driver/e2e_tests_part2/test.py
  cloud/blockstore/tests/csi_driver/e2e_tests_part2/ya.make
  cloud/blockstore/tests/csi_driver/lib/csi_runner.py
  cloud/blockstore/tests/csi_driver/ya.make
  cloud/blockstore/tools/csi_driver/client/main.go
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
Labels: blockstore

#2352 issue-2137: CMGarbageBlocksCount metric + Top ranges by GarbageBlocksCount on monpage
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_monitoring.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_counters.cpp
Labels: filestore

#2350 issue-2137: GetStorageStats private API action
  cloud/filestore/libs/storage/service/service_actor.h
  cloud/filestore/libs/storage/service/service_actor_actions.cpp
  cloud/filestore/libs/storage/service/service_actor_actions_stats.cpp
  cloud/filestore/libs/storage/service/service_actor_actions_unsafe_node_ops.cpp
  cloud/filestore/libs/storage/service/service_actor_actions_ut.cpp
  cloud/filestore/libs/storage/service/tablet_action_actor.cpp
  cloud/filestore/libs/storage/service/tablet_action_actor.h
  cloud/filestore/libs/storage/service/ya.make
Labels: filestore

#2351 [Filestore] add client ids of active sessions to error message when destroying filesystem
  cloud/filestore/libs/storage/service/service_actor_destroyfs.cpp
Labels: filestore

#2357 issue-2137: MaxGarbageBlocksInRange metric
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_counters.cpp
Labels: filestore

#2356 filestore-profile-tool now supports request filtering by request name, not only type
  cloud/filestore/tools/analytics/profile_tool/lib/dump_events.cpp
Labels: filestore

#2354 [Blockstore] test_resize_device should be aware that (in case of error) mount_dir may not be set during finalization
  cloud/blockstore/tests/e2e-tests/test.py
Labels: large-tests, blockstore

#2355 csi-driver: remove endpoint dir after stopping nbs endpoint
  cloud/blockstore/tests/csi_driver/e2e_tests_part1/test.py
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
Labels: blockstore

#2362 NBSDUTY-135: run csi tests with endpoint proxy & configure log level
  cloud/blockstore/libs/endpoint_proxy/server/bootstrap.cpp
  cloud/blockstore/tests/csi_driver/lib/csi_runner.py
  cloud/blockstore/tests/python/lib/endpoint_proxy.py
Labels: blockstore

#2365 issue-2364: return E_NOT_FOUND when unix socket path doesn't exist
  cloud/blockstore/libs/nbd/server.cpp
  cloud/blockstore/libs/nbd/server_ut.cpp
Labels: blockstore

#2358 refactor aligned buffer
  cloud/filestore/libs/service_local/fs_data.cpp
  cloud/filestore/libs/service_local/service_ut.cpp
  cloud/filestore/libs/vfs_fuse/fs_impl_data.cpp
  cloud/storage/core/libs/common/aligned_buffer.cpp
  cloud/storage/core/libs/common/aligned_buffer.h
  cloud/storage/core/libs/common/aligned_buffer_ut.cpp
Labels: large-tests, filestore, asan, tsan, msan

#2291 Introduce local hdd disks
  cloud/blockstore/config/diagnostics.proto
  cloud/blockstore/libs/client/throttling.cpp
  cloud/blockstore/libs/diagnostics/config.cpp
  cloud/blockstore/libs/diagnostics/config.h
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/diagnostics/request_stats.cpp
  cloud/blockstore/libs/diagnostics/volume_perf.cpp
  cloud/blockstore/libs/diagnostics/volume_perf.h
  cloud/blockstore/libs/diagnostics/volume_perf_ut.cpp
  cloud/blockstore/libs/endpoints_vhost/external_vhost_server.cpp
  cloud/blockstore/libs/endpoints_vhost/external_vhost_server_ut.cpp
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/disk_validation.cpp
  cloud/blockstore/libs/storage/core/volume_model.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_create_disk_from_devices.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_create.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_pending_cleanup.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_tx.h
  cloud/blockstore/libs/storage/service/service_actor_create_from_device.cpp
  cloud/blockstore/libs/storage/service/service_actor_monitoring.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_actor.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_actor_solomon.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_state.h
  cloud/blockstore/libs/storage/testlib/ss_proxy_client.h
  cloud/blockstore/tests/external_endpoint/multiple_endpoints.py
  cloud/blockstore/tests/external_endpoint/test.py
  cloud/blockstore/tools/analytics/event-log-suffer/main.cpp
  cloud/blockstore/tools/csi_driver/internal/driver/controller.go
  cloud/blockstore/tools/csi_driver/internal/driver/controller_test.go
  cloud/blockstore/tools/testing/fake-vhost-server/__main__.py
  cloud/storage/core/libs/common/media.cpp
  cloud/storage/core/libs/common/media.h
  cloud/storage/core/libs/common/public.h
  cloud/storage/core/protos/media.proto
Labels: large-tests

#2367 issue-2137: ability to set MinRangeId in EvForcedOperationRequest; implemented EvForcedOperationStatusRequest
  cloud/filestore/libs/storage/api/tablet.h
  cloud/filestore/libs/storage/service/service_actor.h
  cloud/filestore/libs/storage/service/service_actor_actions.cpp
  cloud/filestore/libs/storage/service/service_actor_actions_forced_operation.cpp
  cloud/filestore/libs/storage/service/service_actor_actions_stats.cpp
  cloud/filestore/libs/storage/service/service_actor_actions_tablet_ops.cpp
  cloud/filestore/libs/storage/service/service_actor_actions_ut.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/service/ya.make
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_compactionforced.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/testlib/tablet_client.h
  cloud/filestore/private/api/protos/tablet.proto
Labels: large-tests, filestore

#2379 NBSDUTY-136: mute tsan tests for topic api
  cloud/blockstore/libs/logbroker/topic_api_impl/ya.make
Labels: blockstore

#2378 Fix typo in the proto config field
  cloud/blockstore/config/disk.proto
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.h
  cloud/blockstore/tests/disk_agent_config/test.py
Labels: large-tests, blockstore

#2372 issue-2285: use chmod to set access permissions
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
Labels: blockstore

#2338 Add HDD local disks to disk manager
  cloud/disk_manager/api/disk.proto
  cloud/disk_manager/internal/pkg/clients/nbs/client.go
  cloud/disk_manager/internal/pkg/services/disks/service.go
  cloud/disk_manager/internal/pkg/types/types.proto
  cloud/disk_manager/pkg/admin/disks.go
Labels: large-tests

#2322 Add support for variable block size in the vhost server
  cloud/blockstore/vhost-server/backend_aio.cpp
  cloud/blockstore/vhost-server/backend_null.cpp
  cloud/blockstore/vhost-server/gtest/ya.make
  cloud/blockstore/vhost-server/options.cpp
  cloud/blockstore/vhost-server/options.h
  cloud/blockstore/vhost-server/request_aio.cpp
  cloud/blockstore/vhost-server/request_aio.h
  cloud/blockstore/vhost-server/request_aio_ut.cpp
  cloud/blockstore/vhost-server/server_ut.cpp
  cloud/blockstore/vhost-server/ut/ya.make
Labels: large-tests, blockstore

#2377 issue-2376: implement special switches to disable TwoStageReads and ThreeStageWrites for hdd fs
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
  cloud/filestore/libs/storage/service/service_actor_writedata.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
  cloud/filestore/libs/storage/testlib/test_env.cpp
  cloud/filestore/public/api/protos/fs.proto
Labels: large-tests, filestore

#2383 issue-2137: filestore-client forcedcompaction command
  cloud/filestore/apps/client/lib/execute_action.cpp
  cloud/filestore/apps/client/lib/factory.cpp
  cloud/filestore/apps/client/lib/forced_compaction.cpp
  cloud/filestore/apps/client/lib/ya.make
  cloud/filestore/tests/client/canondata/result.json
  cloud/filestore/tests/client/canondata/test.test_forced_compaction/results.txt
  cloud/filestore/tests/client/test.py
  cloud/filestore/tests/python/lib/client.py
Labels: filestore

#2222 issue-2074: tweak agent registration
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_register.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_config.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_create.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_mirrored_disks.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_suspend.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_state.cpp
Labels: blockstore

#2370 [Blockstore] handle disk allocation errors when updating the volume config
  cloud/blockstore/libs/storage/volume/volume_actor_allocatedisk.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_updateconfig.cpp
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
Labels: bug

#2392 issue-2137: filestore-client forcedcompaction can now distinguish between completed operations and tablet restarts and retries operations aborted due to tablet restarts from the last processed range id; tweaked CompactRange check - it doesn't skip ranges with 0 used blocks now
  cloud/filestore/apps/client/lib/forced_compaction.cpp
  cloud/filestore/libs/storage/service/service_actor_actions_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
Labels: large-tests, filestore

#2396 proper param checking in blockstore-client altervolume
  cloud/blockstore/apps/client/lib/alter_volume.cpp
  cloud/blockstore/apps/client/lib/volume_manipulation_params.h
Labels: blockstore

#2395 issue-2388: counting all MixedBlobs generated by a single Compaction run as a single logical blob in CompactionMap range stats
  cloud/filestore/libs/storage/tablet/tablet_actor_addblob.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data_stress.cpp
Labels: large-tests, filestore
