Repository ydb-platform/nbs, pull requests merged in 2024-06, with the labels that each got.

#1321 issue-1164: blockstore-endpoint-proxy can now store endpoint metadata in files and restore endpoints upon restart
  cloud/blockstore/apps/endpoint_proxy/ya.make
  cloud/blockstore/libs/endpoint_proxy/server/bootstrap.cpp
  cloud/blockstore/libs/endpoint_proxy/server/options.cpp
  cloud/blockstore/libs/endpoint_proxy/server/options.h
  cloud/blockstore/libs/endpoint_proxy/server/server.cpp
  cloud/blockstore/libs/endpoint_proxy/server/server.h
  cloud/blockstore/tests/client/canondata/test_with_client.test_endpoint_proxy_uds/results.txt
  cloud/blockstore/tests/client/test_with_client.py
  cloud/storage/core/libs/common/proto_helpers.cpp
  cloud/storage/core/libs/common/proto_helpers.h
Labels: large-tests, blockstore, rebase

#1314 issue-1146: fix `NodeIndexCacheNodeCount` sensor type
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
Labels: filestore

#1337 issue-1307: accessing Endpoints map under a lock
  cloud/filestore/libs/endpoint/service.cpp
Labels: large-tests, filestore, tsan

#1347 Fix ASAN error
  cloud/blockstore/libs/storage/partition_nonrepl/ut_env.h
Labels: blockstore, asan

#1346 issue-1146: add getnodeattr loadtest for both `service-kikimr-test` and `service-kikimr-newfeatures-test`
  cloud/filestore/tests/loadtest/service-kikimr-newfeatures-test/get-node-attr.txt
  cloud/filestore/tests/loadtest/service-kikimr-newfeatures-test/nfs-storage.txt
  cloud/filestore/tests/loadtest/service-kikimr-newfeatures-test/test.py
  cloud/filestore/tests/loadtest/service-kikimr-test/get-node-attr.txt
  cloud/filestore/tests/loadtest/service-kikimr-test/test.py
  cloud/filestore/tools/testing/loadtest/lib/request_index.cpp
  cloud/filestore/tools/testing/loadtest/protos/loadtest.proto
Labels: filestore

#1352 issue-1351: FreshBytesCount and DeletedFreshBytesCount should be recalculated upon FinishFlushBytes, ui64 should be used instead of ui32 for the number of the processed bytes
  cloud/filestore/libs/storage/tablet/model/fresh_bytes.cpp
  cloud/filestore/libs/storage/tablet/model/fresh_bytes.h
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_flush_bytes.cpp
  cloud/filestore/libs/storage/tablet/tablet_counters.h
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
  cloud/filestore/libs/storage/testlib/tablet_client.h
  cloud/filestore/private/api/protos/tablet.proto
Labels: large-tests, filestore

#1333 [Disk Manager] add baseDiskStatusCreationFailed
  cloud/disk_manager/internal/pkg/services/pools/storage/common.go
  cloud/disk_manager/internal/pkg/services/pools/storage/storage_ydb_impl.go
Labels: large-tests, disk_manager

#1357 NBSNEBIUS-251: cut socket suffix
  cloud/blockstore/libs/endpoint_proxy/client/device_factory_ut.cpp
  cloud/blockstore/libs/endpoint_proxy/server/server.cpp
  cloud/blockstore/tests/client/canondata/test_with_client.test_endpoint_proxy/results.txt
  cloud/blockstore/tests/client/canondata/test_with_client.test_endpoint_proxy_uds/results.txt
Labels: large-tests, blockstore

#1370 issue-1351: enqueueing Flush and BlobIndexOps upon backpressure error and upon FlushBytes shortcut
  cloud/filestore/libs/daemon/vhost/bootstrap.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_flush_bytes.cpp
Labels: large-tests, filestore

#1372 issue-1164: using relative unix socket paths in blockstore-endpoint-proxy to overcome the 107 symbol limit
  cloud/blockstore/libs/endpoint_proxy/server/server.cpp
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/blockstore/tests/client/canondata/result.json
  cloud/blockstore/tests/client/canondata/test_with_client.test_endpoint_proxy_uds/results.txt
  cloud/blockstore/tests/client/canondata/test_with_client.test_endpoint_proxy_uds/results.txt.processed
  cloud/blockstore/tests/client/test_with_client.py
Labels: large-tests, blockstore

#1374 issue-1373: cancelled requests should not trigger fatal errors during nfs-vhost restart
  cloud/filestore/libs/vfs_fuse/fs.cpp
  cloud/filestore/libs/vfs_fuse/fs_impl_lock.cpp
  cloud/filestore/libs/vfs_fuse/fs_ut.cpp
Labels: filestore

#1364 [NBS] bugfix: device's BlocksCount is not adjusted when DevicePool changes
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_pools.cpp
Labels: bug, blockstore

#1378 issue-1377: E_NOT_IMPLEMENTED errors arising from endpoint storages should not be logged by default (otherwise KeyringStorage causes a lot of useless error messages which are written upon StopEndpoint); FileStorage should catch exceptions which may happen upon various FS-related calls and return E_IO errors
  cloud/blockstore/config/server.proto
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/blockstore/libs/endpoints/service_endpoint_ut.cpp
  cloud/blockstore/libs/server/config.cpp
  cloud/blockstore/libs/server/config.h
  cloud/filestore/config/vhost.proto
  cloud/filestore/libs/daemon/vhost/bootstrap.cpp
  cloud/filestore/libs/endpoint/service.cpp
  cloud/filestore/libs/endpoint_vhost/config.cpp
  cloud/filestore/libs/endpoint_vhost/config.h
  cloud/storage/core/libs/keyring/endpoints.cpp
  cloud/storage/core/libs/keyring/endpoints.h
  cloud/storage/core/libs/keyring/endpoints_ut.cpp
Labels: large-tests, blockstore, filestore

#1381 NBSNEBIUS-228: deduplicate names of the filestore clients on the same host for csi driver
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
Labels: blockstore

#1237 issue-1236: update DR config w/o triggering STORAGE_VERIFY
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_cms.cpp
  cloud/blockstore/libs/storage/disk_registry/model/agent_list.cpp
  cloud/blockstore/libs/storage/disk_registry/model/agent_list.h
  cloud/blockstore/libs/storage/disk_registry/model/agent_list_ut.cpp
Labels: large-tests, blockstore

#1243 [Disk Manager] add pools consistency check; catch base disks leaks in tests; bug fixes;
  cloud/disk_manager/internal/pkg/services/pools/storage/common.go
  cloud/disk_manager/internal/pkg/services/pools/storage/consistency_check.go
  cloud/disk_manager/internal/pkg/services/pools/storage/storage_ydb_impl.go
  cloud/disk_manager/internal/pkg/services/pools/storage/storage_ydb_test.go
Labels: large-tests, disk_manager

#1397 NBSNEBIUS-5: BytesCount is now Max(CalculateVBytesCount(), BytesCount) - preparing to get rid of VBytesCount
  cloud/blockstore/libs/storage/volume/volume_actor_stats.cpp
  cloud/blockstore/libs/storage/volume/volume_ut_stats.cpp
Labels: blockstore

#1403 a script which prepares N hosts to run ior via mpirun on them - needed to conveniently loadtest filestore
  cloud/filestore/bin/prepare_for_mpirun.sh
Labels: filestore

#1249 blockstore client API to manage blue-green DA deploy
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/api/disk_registry.h
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/core/proto_helpers.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_get_agent_node_id.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_get_dependent_disks.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_env.h
  cloud/blockstore/libs/storage/disk_registry/ya.make
  cloud/blockstore/libs/storage/protos/disk.proto
  cloud/blockstore/libs/storage/service/service_actor.h
  cloud/blockstore/libs/storage/service/service_actor_actions.cpp
  cloud/blockstore/libs/storage/service/service_actor_actions_flush_profile_log.cpp
  cloud/blockstore/libs/storage/service/service_actor_actions_get_dependent_disks.cpp
  cloud/blockstore/libs/storage/service/service_actor_actions_get_disk_agent_node_id.cpp
  cloud/blockstore/libs/storage/service/service_actor_actions_wait_dependent_disks_switched_node.cpp
  cloud/blockstore/libs/storage/service/service_ut_actions.cpp
  cloud/blockstore/libs/storage/service/ya.make
  cloud/blockstore/public/api/protos/volume.proto
  cloud/blockstore/tests/client/test_with_multiple_agents.py
  cloud/blockstore/tests/client/ya.make
  cloud/blockstore/tests/python/lib/client.py
  cloud/storage/core/libs/diagnostics/critical_events.cpp
  cloud/storage/core/libs/diagnostics/critical_events.h
Labels: large-tests, blockstore

#1329 [Disk Manager] call GetChangedBlocks for nrd snapshots
  cloud/disk_manager/internal/pkg/clients/nbs/client.go
  cloud/disk_manager/internal/pkg/dataplane/create_snapshot_from_disk_task.go
  cloud/disk_manager/internal/pkg/dataplane/nbs/source.go
  cloud/disk_manager/internal/pkg/dataplane/nbs/tests/nbs_test.go
  cloud/disk_manager/internal/pkg/dataplane/replicate_disk_task.go
  cloud/disk_manager/internal/pkg/dataplane/transfer_from_disk_to_disk_task.go
  cloud/disk_manager/internal/pkg/dataplane/transfer_tests/transfer_test.go
Labels: large-tests, disk_manager

#1402 [Filestore] issue-1289: rework ExtendedBlockSizeEnabled flag + increase vhost-side logging
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_sessions.cpp
  cloud/filestore/libs/vfs_fuse/loop.cpp
  cloud/filestore/tests/loadtest/service-kikimr-newfeatures-test/nfs-storage.txt
Labels: filestore

#1405 remove redundant -f in pkill for canontests of loadtest runner
  cloud/blockstore/tools/testing/eternal_tests/test_runner/lib/main.py
  cloud/blockstore/tools/testing/eternal_tests/test_runner/tests/canondata/test.test_eternal_load_fio_test_ok_rerun-fio-eternal-alternating-seq-rw-1tb-nfs-4kib-4clients-cluster1_/testing_out_stuff_results.txt
  cloud/blockstore/tools/testing/eternal_tests/test_runner/tests/canondata/test.test_eternal_load_fio_test_ok_stop-fio-eternal-alternating-seq-rw-1tb-nfs-4kib-4clients-cluster1_/testing_out_stuff_results.txt
  cloud/blockstore/tools/testing/eternal_tests/test_runner/tests/canondata/test.test_eternal_load_test_rerun-load-eternal-1023gb-nonrepl-cluster1_/testing_out_stuff_results.txt
  cloud/blockstore/tools/testing/eternal_tests/test_runner/tests/canondata/test.test_eternal_load_test_rerun-load-eternal-4tb-cluster1_/testing_out_stuff_results.txt
  cloud/blockstore/tools/testing/eternal_tests/test_runner/tests/canondata/test.test_eternal_load_test_rerun-load-eternal-640gb-verify-checkpoint-cluster1_/testing_out_stuff_results.txt
  cloud/blockstore/tools/testing/eternal_tests/test_runner/tests/canondata/test.test_eternal_load_test_rerun-load-eternal-big-hdd-nonrepl-diff-size-reqs-1-cluster1_/testing_out_stuff_results.txt
  cloud/blockstore/tools/testing/eternal_tests/test_runner/tests/canondata/test.test_eternal_load_test_stop-load-eternal-1023gb-nonrepl-cluster1_/testing_out_stuff_results.txt
  cloud/blockstore/tools/testing/eternal_tests/test_runner/tests/canondata/test.test_eternal_load_test_stop-load-eternal-4tb-cluster1_/testing_out_stuff_results.txt
  cloud/blockstore/tools/testing/eternal_tests/test_runner/tests/canondata/test.test_eternal_load_test_stop-load-eternal-640gb-verify-checkpoint-cluster1_/testing_out_stuff_results.txt
  cloud/blockstore/tools/testing/eternal_tests/test_runner/tests/canondata/test.test_eternal_load_test_stop-load-eternal-big-hdd-nonrepl-diff-size-reqs-1-cluster1_/testing_out_stuff_results.txt
  cloud/blockstore/tools/testing/eternal_tests/test_runner/tests/canondata/test.test_test_eternal_load_db_test_all-cluster1_/testing_out_stuff_results.txt
  cloud/blockstore/tools/testing/eternal_tests/test_runner/tests/canondata/test.test_test_eternal_load_db_test_eternal-1023gb-nonrepl-mysql-cluster1_/testing_out_stuff_results.txt
  cloud/blockstore/tools/testing/eternal_tests/test_runner/tests/canondata/test.test_test_eternal_load_db_test_eternal-1tb-postgresql-cluster1_/testing_out_stuff_results.txt
Labels: blockstore

#1386 [NBS] do not add devices with non-standard size to the free device pool
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_mirrored_disks.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_pools.cpp
  cloud/blockstore/libs/storage/disk_registry/model/device_list.cpp
  cloud/blockstore/libs/storage/disk_registry/model/device_list.h
  cloud/blockstore/libs/storage/disk_registry/model/device_list_ut.cpp
  cloud/blockstore/libs/storage/disk_registry/model/replica_table_ut.cpp
Labels: blockstore

#1392 merge to stable 23-3
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_cms.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_mirrored_disks.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_pools.cpp
  cloud/blockstore/libs/storage/disk_registry/model/agent_list.cpp
  cloud/blockstore/libs/storage/disk_registry/model/agent_list.h
  cloud/blockstore/libs/storage/disk_registry/model/agent_list_ut.cpp
  cloud/blockstore/libs/storage/disk_registry/model/device_list.cpp
  cloud/blockstore/libs/storage/disk_registry/model/device_list.h
  cloud/blockstore/libs/storage/disk_registry/model/device_list_ut.cpp
  cloud/blockstore/libs/storage/disk_registry/model/replica_table_ut.cpp
Labels: blockstore

#1279 Make possible to get DR tablet id from config
  cloud/blockstore/config/disk.proto
  cloud/blockstore/libs/storage/api/disk_registry_proxy.h
  cloud/blockstore/libs/storage/disk_registry_proxy/disk_registry_proxy_actor.cpp
  cloud/blockstore/libs/storage/disk_registry_proxy/disk_registry_proxy_actor.h
  cloud/blockstore/libs/storage/disk_registry_proxy/disk_registry_proxy_actor_create.cpp
  cloud/blockstore/libs/storage/disk_registry_proxy/disk_registry_proxy_private.h
  cloud/blockstore/libs/storage/disk_registry_proxy/disk_registry_proxy_ut.cpp
  cloud/blockstore/libs/storage/disk_registry_proxy/model/config.cpp
  cloud/blockstore/libs/storage/disk_registry_proxy/model/config.h
  cloud/storage/core/libs/hive_proxy/hive_proxy_actor.cpp
  cloud/storage/core/libs/hive_proxy/hive_proxy_ut.cpp
Labels: large-tests, blockstore

#1393 retry scrubbing for 5 minutes before reporting checksum mismatch
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/core/disk_counters.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_mirror.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_stats.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
Labels: rebase

#1411 [nbs] delete checkpoint successfully even if it never existed
  cloud/blockstore/libs/storage/volume/model/checkpoint.cpp
  cloud/blockstore/libs/storage/volume/model/checkpoint_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_ut_checkpoint.cpp
Labels: large-tests, blockstore, filestore

#1421 fix asan & tsan error
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
Labels: blockstore, asan, tsan

#1416 [Filestore] Add CpuWaitFilename field for filestore diagnostics config, analogous to the one in blockstore
  cloud/filestore/config/diagnostics.proto
  cloud/filestore/libs/daemon/common/bootstrap.cpp
  cloud/filestore/libs/diagnostics/config.cpp
  cloud/filestore/libs/diagnostics/config.h
Labels: filestore

#1383 issue-1320: Query agents info
  cloud/blockstore/apps/client/lib/factory.cpp
  cloud/blockstore/apps/client/lib/query_agents_info.cpp
  cloud/blockstore/apps/client/lib/query_agents_info.h
  cloud/blockstore/apps/client/lib/ya.make
  cloud/blockstore/libs/service/auth_scheme.cpp
  cloud/blockstore/libs/service/request.h
  cloud/blockstore/libs/service/request_helpers.h
  cloud/blockstore/libs/storage/api/disk_registry.h
  cloud/blockstore/libs/storage/api/service.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_query_agents_info.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_agents_info.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_state.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_state.h
  cloud/blockstore/libs/storage/disk_registry/ut/ya.make
  cloud/blockstore/libs/storage/disk_registry/ya.make
  cloud/blockstore/public/api/grpc/service.proto
  cloud/blockstore/public/api/protos/disk.proto
  cloud/blockstore/tools/http_proxy/main_test.go
  cloud/blockstore/tools/testing/chaos-monkey/monkey_test.go
Labels: blockstore

#1423 Keep VM instance after failed test
  cloud/disk_manager/test/acceptance/test_runner/base_acceptance_test_runner.py
  cloud/disk_manager/test/acceptance/test_runner/lib/instance_policy.py
Labels: disk_manager, tasks

#1428 issue-1164: NBD::IDevice::{Start,Stop} should return futures
  cloud/blockstore/libs/endpoint_proxy/client/device_factory.cpp
  cloud/blockstore/libs/endpoint_proxy/client/device_factory_ut.cpp
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/blockstore/libs/nbd/device.cpp
  cloud/blockstore/libs/nbd/device.h
Labels: large-tests, blockstore

#1415 [Disk Manager] add commands for checking pools consistency to admin tool
  cloud/disk_manager/internal/pkg/services/pools/storage/consistency_check.go
  cloud/disk_manager/internal/pkg/services/pools/storage/mocks/storage_mock.go
  cloud/disk_manager/internal/pkg/services/pools/storage/storage.go
  cloud/disk_manager/internal/pkg/services/pools/storage/storage_ydb.go
  cloud/disk_manager/pkg/admin/common.go
  cloud/disk_manager/pkg/admin/pools.go
  cloud/disk_manager/pkg/admin/run.go
  cloud/disk_manager/pkg/admin/ya.make
Labels: large-tests, disk_manager

#1418 count scrubbing bandwidth according to disk size
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
Labels: blockstore, rebase

#1438 Fix hive proxy test
  cloud/storage/core/libs/hive_proxy/hive_proxy_ut.cpp
Labels: bug, blockstore

#1420 issue-1350: multitablet filesystems api, follower configuration code, automatic session creation in followers, node creation in followers via requests to leader, service uts
  cloud/filestore/libs/storage/api/tablet.h
  cloud/filestore/libs/storage/model/utils.h
  cloud/filestore/libs/storage/service/service_actor.h
  cloud/filestore/libs/storage/service/service_actor_actions.cpp
  cloud/filestore/libs/storage/service/service_actor_actions_configure_as_follower.cpp
  cloud/filestore/libs/storage/service/service_actor_actions_configure_followers.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/service/ya.make
  cloud/filestore/libs/storage/tablet/protos/tablet.proto
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_deletecheckpoint.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_getnodeattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_listnodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_unlinknode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_updateconfig.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.h
  cloud/filestore/libs/storage/tablet/tablet_database_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_schema.h
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_nodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_sessions.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet_proxy/tablet_proxy_actor.cpp
  cloud/filestore/libs/storage/testlib/helpers.h
  cloud/filestore/libs/storage/testlib/service_client.h
  cloud/filestore/libs/storage/testlib/test_env.cpp
  cloud/filestore/libs/storage/testlib/test_env.h
  cloud/filestore/private/api/protos/tablet.proto
  cloud/filestore/public/api/protos/data.proto
  cloud/filestore/public/api/protos/fs.proto
  cloud/filestore/public/api/protos/node.proto
Labels: large-tests, filestore

#1449 fix tsan errors in tests
  cloud/filestore/libs/vfs_fuse/fs_ut.cpp
Labels: filestore, tsan

#1450 [Disk Manager] increase logging level where it is necessary
  cloud/disk_manager/internal/pkg/client/client.go
  cloud/disk_manager/internal/pkg/dataplane/common/transfer.go
  cloud/disk_manager/internal/pkg/dataplane/url/qcow2/image_map_reader.go
  cloud/disk_manager/internal/pkg/resources/snapshots.go
  cloud/disk_manager/internal/pkg/services/pools/acquire_base_disk_task.go
  cloud/disk_manager/internal/pkg/services/pools/release_base_disk_task.go
  cloud/disk_manager/internal/pkg/services/pools/storage/consistency_check.go
  cloud/disk_manager/internal/pkg/services/pools/storage/storage_ydb_impl.go
  cloud/disk_manager/internal/pkg/services/snapshots/create_snapshot_from_disk_task.go
  cloud/disk_manager/internal/pkg/services/snapshots/delete_snapshot_task.go
  cloud/tasks/execution_context.go
  cloud/tasks/persistence/s3.go
  cloud/tasks/persistence/s3_metrics.go
  cloud/tasks/persistence/ydb.go
  cloud/tasks/runner.go
  cloud/tasks/scheduler_impl.go
  cloud/tasks/storage/storage_ydb_impl.go
Labels: disk_manager, tasks

#1434 issue-1320: Add broken and decommissioned space to DeviceInfo
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_agents_info.cpp
  cloud/blockstore/public/api/protos/disk.proto
Labels: blockstore

#1462 [Disk Manager] suppport incremental snapshots for DR based disks
  cloud/disk_manager/internal/pkg/services/snapshots/create_snapshot_from_disk_task.go
Labels: large-tests, disk_manager

#1464 NEBDUTY-1543: tweak tests/local_ssd
  cloud/blockstore/tests/local_ssd/test.py
Labels: blockstore

#1453 [Filestore] Add stat command to filestore client
  cloud/filestore/apps/client/lib/factory.cpp
  cloud/filestore/apps/client/lib/stat.cpp
  cloud/filestore/apps/client/lib/ya.make
  cloud/filestore/tests/client/canondata/result.json
  cloud/filestore/tests/client/canondata/test.test_stat/results.txt
  cloud/filestore/tests/client/test.py
  cloud/filestore/tests/python/lib/client.py
Labels: filestore

#1480 stabilizing endpoints_grpc/ut::ShouldHandleClientDisconnection
  cloud/blockstore/libs/endpoints_grpc/socket_endpoint_listener_ut.cpp
Labels: blockstore, asan

#1446 issue-1350: support for multitablet filesystems in StorageServiceActor
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/service/request.h
  cloud/filestore/libs/storage/api/service.h
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/model/utils.h
  cloud/filestore/libs/storage/service/service_actor.h
  cloud/filestore/libs/storage/service/service_actor_createhandle.cpp
  cloud/filestore/libs/storage/service/service_actor_createnode.cpp
  cloud/filestore/libs/storage/service/service_actor_forward.cpp
  cloud/filestore/libs/storage/service/service_actor_getnodeattr.cpp
  cloud/filestore/libs/storage/service/service_actor_listnodes.cpp
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
  cloud/filestore/libs/storage/service/service_actor_writedata.cpp
  cloud/filestore/libs/storage/service/service_state.h
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/service/ya.make
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/testlib/service_client.h
  cloud/filestore/libs/vfs_fuse/fs_impl_attr.cpp
  cloud/filestore/public/api/protos/data.proto
  cloud/filestore/public/api/protos/node.proto
Labels: large-tests, filestore

#1482 issue-1350: added more multitablet uts, added multitablet fio_index test suite, made some fixes
  cloud/filestore/libs/storage/service/service_actor_createhandle.cpp
  cloud/filestore/libs/storage/service/service_actor_createnode.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_unlinknode.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_sessions.cpp
  cloud/filestore/tests/fio_index/qemu-kikimr-multishard-test/nfs-storage.txt
  cloud/filestore/tests/fio_index/qemu-kikimr-multishard-test/test.py
  cloud/filestore/tests/fio_index/qemu-kikimr-multishard-test/ya.make
  cloud/filestore/tests/fio_index/ya.make
  cloud/filestore/tests/recipes/vhost-endpoint.inc
  cloud/filestore/tests/recipes/vhost-endpoint/__main__.py
  cloud/filestore/tests/recipes/vhost-kikimr.inc
  cloud/filestore/tests/recipes/vhost/__main__.py
Labels: large-tests, filestore

#1470 [DIsk Manager] fix: use scan query for pools listing
  cloud/disk_manager/internal/pkg/services/pools/storage/consistency_check.go
Labels: disk_manager

#1463 [Disk Manager] add retries to s3 client
  cloud/disk_manager/internal/pkg/dataplane/test/common.go
  cloud/tasks/persistence/config/config.proto
  cloud/tasks/persistence/s3.go
  cloud/tasks/persistence/s3_metrics.go
  cloud/tasks/persistence/s3_test.go
Labels: large-tests, disk_manager, tasks

#1430 issue-1320: add QueryAgentsInfo to go/python clients
  cloud/blockstore/public/sdk/go/client/discovery.go
  cloud/blockstore/public/sdk/go/client/durable.go
  cloud/blockstore/public/sdk/go/client/grpc.go
  cloud/blockstore/public/sdk/go/client/iface.go
  cloud/blockstore/public/sdk/go/client/safe_client.go
  cloud/blockstore/public/sdk/go/client/test_client.go
  cloud/blockstore/public/sdk/python/client/base_client.py
  cloud/blockstore/public/sdk/python/client/safe_client.py
  cloud/blockstore/public/sdk/python/client/ut/client_ut.py
  cloud/blockstore/tests/python_client/test.py
  cloud/blockstore/tools/csi_driver/internal/driver/mocks/nbs_client_mock.go
Labels: blockstore

#1488 issue-1350: the handles generated by old filestore-server tablet code versions can have random crap instead of shardNo in the high bits - we should ignore this crap until we don't have legacy handles anymore
  cloud/filestore/libs/storage/service/service_actor_forward.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
Labels: filestore

#1494 merge to stable-23-3: issue-1320: Query agents info
  cloud/blockstore/apps/client/lib/CMakeLists.darwin-x86_64.txt
  cloud/blockstore/apps/client/lib/CMakeLists.linux-aarch64.txt
  cloud/blockstore/apps/client/lib/CMakeLists.linux-x86_64.txt
  cloud/blockstore/apps/client/lib/CMakeLists.windows-x86_64.txt
  cloud/blockstore/apps/client/lib/factory.cpp
  cloud/blockstore/apps/client/lib/query_agents_info.cpp
  cloud/blockstore/apps/client/lib/query_agents_info.h
  cloud/blockstore/apps/client/lib/ya.make
  cloud/blockstore/libs/service/auth_scheme.cpp
  cloud/blockstore/libs/service/request.h
  cloud/blockstore/libs/service/request_helpers.h
  cloud/blockstore/libs/storage/api/disk_registry.h
  cloud/blockstore/libs/storage/api/service.h
  cloud/blockstore/libs/storage/disk_registry/CMakeLists.darwin-x86_64.txt
  cloud/blockstore/libs/storage/disk_registry/CMakeLists.linux-aarch64.txt
  cloud/blockstore/libs/storage/disk_registry/CMakeLists.linux-x86_64.txt
  cloud/blockstore/libs/storage/disk_registry/CMakeLists.windows-x86_64.txt
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_query_agents_info.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_agents_info.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_state.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_state.h
  cloud/blockstore/libs/storage/disk_registry/ut/CMakeLists.darwin-x86_64.txt
  cloud/blockstore/libs/storage/disk_registry/ut/CMakeLists.linux-aarch64.txt
  cloud/blockstore/libs/storage/disk_registry/ut/CMakeLists.linux-x86_64.txt
  cloud/blockstore/libs/storage/disk_registry/ut/CMakeLists.windows-x86_64.txt
  cloud/blockstore/libs/storage/disk_registry/ut/ya.make
  cloud/blockstore/libs/storage/disk_registry/ya.make
  cloud/blockstore/public/api/grpc/service.proto
  cloud/blockstore/public/api/protos/disk.proto
  cloud/blockstore/tools/http_proxy/main_test.go
  cloud/blockstore/tools/testing/chaos-monkey/monkey_test.go
Labels: blockstore

#1508 remove compaction map range if foundnthat o blobs are referncing it during compaction
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
Labels: bug, filestore

#1515 [Disk Manager] fix nullptr reference
  cloud/disk_manager/internal/pkg/services/pools/storage/storage_ydb_impl.go
Labels: disk_manager

#1511 issue-1350: simplified node creation in follower code, added a test for errors received from follower in this case, fixed DupCache entry commitment in CreateHandle, made TabletProxy immortal, deleted inactive pipe tracking and closure in TabletProxy, added some comments, fixed logging a bit
  cloud/filestore/libs/storage/service/service_actor_createhandle.cpp
  cloud/filestore/libs/storage/service/service_actor_listnodes.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_destroysession.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_unlinknode.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet_proxy/tablet_proxy_actor.cpp
  cloud/filestore/libs/storage/tablet_proxy/tablet_proxy_actor.h
  cloud/filestore/libs/storage/tablet_proxy/tablet_proxy_ut.cpp
  cloud/filestore/libs/storage/testlib/service_client.h
Labels: large-tests, filestore

#1520 filestore loop shutdown: 1. E_CANCELLED code shouldn't be wrapped into MAKE_FILESTORE_ERROR 2. CompletionQueue should be notified about request cancellation
  cloud/filestore/libs/vfs_fuse/fs.cpp
  cloud/filestore/libs/vfs_fuse/fs_impl.cpp
Labels: filestore

#1521 issue-1350: implementing multitablet fs TODOs - DestroySession in followers, UnlinkNode
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_destroysession.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_unlinknode.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_nodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/testlib/service_client.h
Labels: large-tests, filestore

#1522 issue-1350: 1. Cleanup is given priority over Compaction by default since it's much faster and lighter but generally brings similar results (configurable via StorageServiceConfig) 2. Outputting follower info on monpage
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_monitoring.cpp
Labels: large-tests, filestore
