Repository ydb-platform/nbs, pull requests merged in 2024-02, with the labels that each got.

#371 feature: check if we have large-tests label and/or sleep label to launch large tests with sleep
  .github/workflows/pr-cmake.yaml
  .github/workflows/pr.yaml
Labels: large-tests, sleep

#388 feature: add ability to run subset of tests based on labels
  .github/workflows/pr.yaml
Labels: disk_manager, blockstore, filestore, tasks

#404 NBS-4759: [Disk Manager] resolve issues from #289
  cloud/disk_manager/internal/pkg/services/pools/storage/storage_ydb_impl.go
Labels: large-tests, disk_manager

#405 NBS-4759: [Disk Manager] hotfix and add test for #404
  cloud/disk_manager/internal/pkg/services/pools/storage/storage_ydb_impl.go
  cloud/disk_manager/internal/pkg/services/pools/storage/storage_ydb_test.go
Labels: large-tests, disk_manager

#350 NBS-4684: [Disk Manager] use proxy overlay disks in relocation if possible
  cloud/disk_manager/internal/pkg/dataplane/common/util.go
  cloud/disk_manager/internal/pkg/dataplane/common/ya.make
  cloud/disk_manager/internal/pkg/dataplane/create_snapshot_from_disk_task.go
  cloud/disk_manager/internal/pkg/dataplane/replicate_disk_task.go
Labels: large-tests, disk_manager

#394 NBSNEBIUS-101: use vhost-side reads WIP. Issue: #95
  cloud/filestore/libs/storage/api/service.h
  cloud/filestore/libs/storage/service/service_actor_forward.cpp
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/service/ya.make
  cloud/filestore/libs/storage/tablet/model/range.h
  cloud/filestore/libs/storage/testlib/service_client.h
Labels: large-tests, filestore

#419 issue-324: proper EvGet error handling, not outputting user data to logs, dependencies cleanup, code cleanup
  cloud/filestore/libs/storage/core/ya.make
  cloud/filestore/libs/storage/model/block_buffer.cpp
  cloud/filestore/libs/storage/model/block_buffer.h
  cloud/filestore/libs/storage/model/block_buffer_ut.cpp
  cloud/filestore/libs/storage/model/public.h
  cloud/filestore/libs/storage/model/range.cpp
  cloud/filestore/libs/storage/model/range.h
  cloud/filestore/libs/storage/model/range_ut.cpp
  cloud/filestore/libs/storage/model/ut/ya.make
  cloud/filestore/libs/storage/model/utils.cpp
  cloud/filestore/libs/storage/model/utils.h
  cloud/filestore/libs/storage/model/ya.make
  cloud/filestore/libs/storage/service/service_actor.h
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
  cloud/filestore/libs/storage/service/ya.make
  cloud/filestore/libs/storage/tablet/helpers.h
  cloud/filestore/libs/storage/tablet/model/blob_builder.cpp
  cloud/filestore/libs/storage/tablet/model/blob_builder.h
  cloud/filestore/libs/storage/tablet/model/compaction_map.h
  cloud/filestore/libs/storage/tablet/model/fresh_bytes.h
  cloud/filestore/libs/storage/tablet/model/public.h
  cloud/filestore/libs/storage/tablet/model/truncate_queue.h
  cloud/filestore/libs/storage/tablet/model/ut/ya.make
  cloud/filestore/libs/storage/tablet/model/ya.make
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_compactionforced.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_flush_bytes.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_readblob.cpp
  cloud/filestore/libs/storage/tablet/tablet_counters.h
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_impl.h
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/tools/analytics/libs/event-log/request_filter.cpp
  cloud/filestore/tools/analytics/libs/event-log/ya.make
Labels: filestore

#428 issue-324: TServiceActor: ReadData fallback in case DescribeData or EvGet fail
  cloud/filestore/libs/storage/model/ut/ya.make
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
Labels: filestore

#337 [BB->arc sync] Libvhost support for MEM_SLOTS/VRING_ENABLE
  cloud/contrib/vhost/memmap.c
  cloud/contrib/vhost/memmap.h
  cloud/contrib/vhost/vdev.c
  cloud/contrib/vhost/vdev.h
  cloud/contrib/vhost/vhost_spec.h
  cloud/contrib/vhost/virtio/virt_queue.h
Labels: large-tests

#441 issue-324: added ut and loadtest for the TwoStageRead feature, fixed a crash in TReadDataActor::HandleReadBlobResponse
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/tests/loadtest/service-kikimr-newfeatures-test/nfs-storage.txt
  cloud/filestore/tests/loadtest/service-kikimr-newfeatures-test/read-write-validation.txt
  cloud/filestore/tests/loadtest/service-kikimr-newfeatures-test/test.py
  cloud/filestore/tests/loadtest/service-kikimr-newfeatures-test/ya.make
  cloud/filestore/tests/loadtest/ya.make
  cloud/filestore/tests/recipes/service-kikimr.inc
  cloud/filestore/tests/recipes/service-kikimr/__main__.py
Labels: filestore

#471 issue-324: TServiceActor: fixing TReadDataActor leak
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
Labels: filestore

#486 issue-95: 1. fixing a bug that caused FlushState to get stuck in the Enqueued state if FlushBytes got triggered before the complete initialization of CompactionMap 2. rebooting tablet after N backpressure errors to make it more resilient in case of similar bugs
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_flush_bytes.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_writedata.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: filestore

#453 [Disk Manager]: Tests: Mute TestShallowCopySnapshotWithRandomFailure
  .github/config/muted_ya.txt
  .github/scripts/tests/transform-ya-junit.py
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/tests/ya.make
Labels: large-tests

#503 NBS-4488: [Disk Manager] remove unused code from migration task
  cloud/disk_manager/internal/pkg/services/disks/migrate_disk_task.go
Labels: large-tests, disk_manager

#513 NBS-4902: [Disk Manager] fix race condition in migrate disk task
  cloud/disk_manager/internal/pkg/services/disks/migrate_disk_task.go
Labels: large-tests, disk_manager

#521 [Filestore] NBSNEBIUS-121: TwoStageRead: add logging for `ReadData` fallback reason + fix ServiceActor not reporting `ReadData` counters
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
Labels: filestore

#526 Users/debnatkh/merge to stable 23 3
  cloud/filestore/libs/storage/core/request_info.h
  cloud/filestore/libs/storage/model/CMakeLists.darwin-x86_64.txt
  cloud/filestore/libs/storage/model/CMakeLists.linux-aarch64.txt
  cloud/filestore/libs/storage/model/CMakeLists.linux-x86_64.txt
  cloud/filestore/libs/storage/model/CMakeLists.windows-x86_64.txt
  cloud/filestore/libs/storage/model/block_buffer.cpp
  cloud/filestore/libs/storage/model/block_buffer.h
  cloud/filestore/libs/storage/model/block_buffer_ut.cpp
  cloud/filestore/libs/storage/model/ut/CMakeLists.linux-x86_64.txt
  cloud/filestore/libs/storage/model/ya.make
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_readdata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_writedata.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_ut_counters.cpp
Labels: filestore

#550 issue-541: added counters: StatefulSessionsCount, StatelessSessionsCount, SessionTimeouts
  cloud/filestore/libs/storage/tablet/session.h
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_cleanupsessions.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_sessions.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_counters.cpp
  cloud/filestore/libs/storage/testlib/tablet_client.h
Labels: filestore

#553 issue-95: not counting backpressure errors until compaction state becomes fully loaded
  cloud/filestore/libs/storage/tablet/tablet_actor_writedata.cpp
Labels: filestore

#556 issue-541: added createsession and resetsession commands to filestore-client, testing create+reset+describe sessions in client tests
  cloud/filestore/apps/client/lib/create_session.cpp
  cloud/filestore/apps/client/lib/factory.cpp
  cloud/filestore/apps/client/lib/reset_session.cpp
  cloud/filestore/apps/client/lib/ya.make
  cloud/filestore/tests/client/canondata/result.json
  cloud/filestore/tests/client/canondata/test.test_describe_sessions/results.txt
  cloud/filestore/tests/client/test.py
  cloud/filestore/tests/python/lib/client.py
Labels: filestore

#581 issue-579: introduced NegativeEntryTimeout for entry_timeout returned to the client in case of errors, passing this timeout to TFileSystemConfig via NProto::TFileStore::Features which gets the values from TStorageConfig
  cloud/filestore/config/filesystem.proto
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_sessions.cpp
  cloud/filestore/libs/vfs_fuse/config.cpp
  cloud/filestore/libs/vfs_fuse/config.h
  cloud/filestore/libs/vfs_fuse/fs_impl_node.cpp
  cloud/filestore/libs/vfs_fuse/loop.cpp
  cloud/filestore/public/api/protos/fs.proto
Labels: large-tests, filestore
