Repository ydb-platform/nbs, pull requests merged in 2024-04, with the labels that each got.

#836 #831: [Disk Manager] validate crc32 for each block; log new crc32 for each block after writing in tests;
  cloud/disk_manager/internal/pkg/clients/nbs/interface.go
  cloud/disk_manager/internal/pkg/clients/nbs/mocks/client_mock.go
  cloud/disk_manager/internal/pkg/clients/nbs/testing_client.go
  cloud/disk_manager/internal/pkg/facade/disk_service_test/disk_relocation_test.go
  cloud/disk_manager/internal/pkg/facade/disk_service_test/disk_service_test.go
  cloud/disk_manager/internal/pkg/facade/image_service_test/image_service_test.go
  cloud/disk_manager/internal/pkg/facade/private_service_test/private_service_test.go
  cloud/disk_manager/internal/pkg/facade/snapshot_service_test/snapshot_service_test.go
  cloud/disk_manager/internal/pkg/facade/testcommon/common.go
  cloud/disk_manager/test/remote/cmd/main.go
Labels: large-tests, disk_manager

#853 fix: ternary-like expressions in github actions are weird. Also fix for missing rebase expressions
  .github/workflows/build_and_test_cmake.yaml
  .github/workflows/build_and_test_on_demand.yaml
  .github/workflows/build_and_test_on_demand_cmake.yaml
  .github/workflows/build_and_test_ya.yaml
  .github/workflows/github_actions_scripts.yaml
Labels: rebase

#807 issue-539: add service-side two-stage writes support for scaling throughput
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/api/service.h
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/service/service_actor_writedata.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/service/ya.make
  cloud/filestore/libs/storage/tablet/actors/tablet_adddata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_adddata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_ut_sessions.cpp
  cloud/filestore/public/api/protos/fs.proto
  cloud/filestore/tests/loadtest/service-kikimr-newfeatures-test/nfs-storage.txt
Labels: large-tests, filestore

#888 [Disk Manager] fix GetCheckpointStatus method
  cloud/blockstore/public/sdk/go/client/safe_client.go
Labels: large-tests, disk_manager

#887 [Filestore] rename filestore service/tablet macros to more coherent ones
  cloud/filestore/libs/service_kikimr/service_ut.cpp
  cloud/filestore/libs/storage/api/service.h
  cloud/filestore/libs/storage/service/service_actor.cpp
  cloud/filestore/libs/storage/service/service_actor.h
  cloud/filestore/libs/storage/service/service_actor_complete.cpp
  cloud/filestore/libs/storage/service/service_actor_forward.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet_proxy/tablet_proxy_actor.cpp
  cloud/filestore/libs/storage/testlib/service_client.h
  cloud/filestore/libs/storage/testlib/tablet_client.h
  cloud/filestore/libs/storage/testlib/tablet_proxy_client.h
Labels: filestore

#848 #356: [Disk Manager] add large tests for proxy overlay disks
  cloud/disk_manager/internal/pkg/clients/nbs/interface.go
  cloud/disk_manager/internal/pkg/clients/nbs/mocks/client_mock.go
  cloud/disk_manager/internal/pkg/clients/nbs/testing_client.go
  cloud/disk_manager/internal/pkg/clients/nbs/tests/client_test.go
  cloud/disk_manager/internal/pkg/facade/disk_service_test/disk_relocation_test.go
  cloud/disk_manager/internal/pkg/facade/disk_service_test/disk_service_test.go
  cloud/disk_manager/internal/pkg/facade/image_service_test/image_service_test.go
  cloud/disk_manager/internal/pkg/facade/snapshot_service_test/snapshot_service_test.go
  cloud/disk_manager/internal/pkg/facade/testcommon/common.go
Labels: large-tests, disk_manager

#894 NBSNEBIUS-210: [Disk Manager] add ability to enable DiskRegistry-based overlay disks
  cloud/disk_manager/internal/pkg/clients/nbs/client.go
  cloud/disk_manager/internal/pkg/facade/disk_service_test/disk_service_test.go
  cloud/disk_manager/internal/pkg/services/disks/config/config.proto
  cloud/disk_manager/internal/pkg/services/disks/service.go
  cloud/disk_manager/test/recipe/disk_manager_launcher.py
Labels: large-tests

#920 issue-852: tablet readahead stub
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/model/alloc.h
  cloud/filestore/libs/storage/tablet/model/read_ahead.cpp
  cloud/filestore/libs/storage/tablet/model/read_ahead.h
  cloud/filestore/libs/storage/tablet/model/ya.make
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_flush_bytes.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_readdata.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_impl.h
  cloud/filestore/libs/storage/tablet/tablet_tx.h
Labels: filestore

#934 Fix YDB import build
  cloud/filestore/libs/storage/tablet/tablet_actor_monitoring.cpp
Labels: filestore

#937 [Filestore] issue-539: add client-side stats for GenerateBlobIds/AddData requests
  cloud/filestore/libs/diagnostics/profile_log_events.cpp
  cloud/filestore/libs/service/auth_scheme.cpp
  cloud/filestore/libs/service/request.cpp
  cloud/filestore/libs/service/request.h
  cloud/filestore/libs/storage/service/service_actor_writedata.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/tools/analytics/libs/event-log/dump_ut.cpp
Labels: filestore

#938 issue-852: TReadAheadCache implementation + ut + fixed its usage a bit
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/model/range.h
  cloud/filestore/libs/storage/tablet/model/read_ahead.cpp
  cloud/filestore/libs/storage/tablet/model/read_ahead.h
  cloud/filestore/libs/storage/tablet/model/read_ahead_ut.cpp
  cloud/filestore/libs/storage/tablet/model/ut/ya.make
  cloud/filestore/libs/storage/tablet/tablet_actor_readdata.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/storage/core/libs/common/ring_buffer.h
Labels: filestore

#945 [Disk Manager] use 262144 as device block count
  cloud/disk_manager/test/recipe/nbs_launcher.py
Labels: large-tests

#943 fix eternal local ssd v3 tests
  cloud/blockstore/tools/testing/eternal_tests/test_runner/lib/test_configs.py
  cloud/blockstore/tools/testing/eternal_tests/test_runner/tests/canondata/test.test_eternal_load_test_case_all_ok_rerun-load-all-cluster1_/testing_out_stuff_results.txt
Labels: blockstore

#946 issue-539: add tablet-side stats for GenerateBlobIds/AddData requests
  cloud/filestore/libs/storage/tablet/actors/tablet_adddata.cpp
  cloud/filestore/libs/storage/tablet/actors/tablet_adddata.h
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_adddata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_ut_counters.cpp
Labels: filestore

#948 issue-885: fix for DA not registering sometimes
  cloud/blockstore/libs/storage/api/disk_registry_proxy.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_register.cpp
  cloud/blockstore/libs/storage/disk_registry_proxy/disk_registry_proxy_actor.cpp
  cloud/blockstore/libs/storage/disk_registry_proxy/disk_registry_proxy_ut.cpp
Labels: blockstore

#947 NEBDUTY-982: Add retries to bypass recurring Connection timed out during banner exchange error (second attempt)
  cloud/storage/core/tools/testing/qemu/lib/recipe.py
Labels: large-tests

#955 issue-852: readahead result filtration, fixes, tablet uts, cache uts
  cloud/filestore/libs/storage/model/range.h
  cloud/filestore/libs/storage/tablet/model/read_ahead.cpp
  cloud/filestore/libs/storage/tablet/model/read_ahead.h
  cloud/filestore/libs/storage/tablet/model/read_ahead_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_readdata.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: filestore

#965 issue-852: readahead cache counters
  cloud/filestore/libs/storage/tablet/model/read_ahead.h
  cloud/filestore/libs/storage/tablet/model/read_ahead_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_readdata.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
  cloud/filestore/libs/storage/testlib/tablet_client.h
Labels: filestore

#963 issue-539: add stats for BS requests for clients
  cloud/filestore/libs/service/auth_scheme.cpp
  cloud/filestore/libs/service/request.cpp
  cloud/filestore/libs/service/request.h
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
  cloud/filestore/libs/storage/service/service_actor_writedata.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
  cloud/filestore/tools/analytics/libs/event-log/dump_ut.cpp
Labels: large-tests, filestore

#1001 issue-999: TStorageServiceActor should not ignore TResizeFileStoreRequest::GetPerformanceProfile()
  cloud/filestore/libs/storage/core/model.cpp
  cloud/filestore/libs/storage/core/model.h
  cloud/filestore/libs/storage/core/model_ut.cpp
  cloud/filestore/libs/storage/service/service_actor_alterfs.cpp
  cloud/filestore/libs/storage/service/service_actor_describefsmodel.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/testlib/ss_proxy_client.h
Labels: filestore

#1002 Reduce pdisk size in overflow test
  cloud/blockstore/tests/loadtest/local-overflow/test.py
Labels: large-tests

#1006 tweaking TIndexTabletTest_Data_Stress::ShouldTruncateAndAllocateFiles under tsan once again
  cloud/filestore/libs/storage/tablet/tablet_ut_data_stress.cpp
  cloud/filestore/libs/storage/tablet/ut_stress/ya.make
Labels: filestore, tsan

#1003 issue-95: 1. outputting compaction and cleanup info on monpage (thresholds, scores, etc.) 2. adjusting compaction threshold to bs/default_bs ratio
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_monitoring.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: filestore

#1029 issue-852: detecting sequential access pattern and caching results not only per node but per handle as well
  cloud/filestore/libs/storage/tablet/model/read_ahead.cpp
  cloud/filestore/libs/storage/tablet/model/read_ahead.h
  cloud/filestore/libs/storage/tablet/model/read_ahead_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_readdata.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_sessions.cpp
Labels: filestore

#986 issue-688: add (for now, unused) option to enforce usage of IndexTable compaction policy
  cloud/filestore/libs/storage/core/tablet_schema.h
  cloud/filestore/libs/storage/init/actorsystem.cpp
  cloud/filestore/libs/storage/tablet/tablet.cpp
  cloud/filestore/libs/storage/tablet/tablet.h
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_initschema.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.h
  cloud/filestore/libs/storage/tablet/tablet_database_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/testlib/test_env.cpp
Labels: filestore

#1037 issue-95: implemented Count/RequestBytes/Time counters for background ops: Compaction/Cleanup/Flush/FlushBytes/TrimBytes/CollectGarbage
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_cleanup.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_collectgarbage.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_flush.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_flush_bytes.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: filestore

#982 NBSNEBIUS-48, issue-980: make checksum and read requests in parallel during resync fast path
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_fastpath_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_fastpath_actor.h
Labels: large-tests, blockstore

#1048 issue-95: added explicit ctors instead of default ctors for XXXOperationCompleted events, made a small fix (Count field wasn't filled in TEvFlushBytesCompleted), did some minor cleanup here and there
  cloud/filestore/libs/storage/tablet/actors/tablet_adddata.cpp
  cloud/filestore/libs/storage/tablet/actors/tablet_writedata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_adddata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_cleanupsessions.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_collectgarbage.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_deletecheckpoint.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_destroycheckpoint.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_dumprange.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_flush.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_flush_bytes.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_monitoring.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_readblob.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_readdata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_setnodeattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_setnodexattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_subscribesession.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_truncate.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_unlinknode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_writebatch.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_writeblob.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_writedata.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
Labels: filestore

#1057 NBS-4969: fix coverity bug (#1049)
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
Labels: asan, tsan

#1064 issue-95: 1. getting rid of an accidental O(n) traversal of the Groups list in TCompactionMap::GetStats 2. limiting the number of cached handles per node in the readahead cache
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/model/compaction_map.cpp
  cloud/filestore/libs/storage/tablet/model/read_ahead.cpp
  cloud/filestore/libs/storage/tablet/model/read_ahead.h
  cloud/filestore/libs/storage/tablet/model/read_ahead_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.cpp
Labels: filestore

#1051 enable multipartition base disks
  cloud/disk_manager/internal/pkg/clients/nbs/client.go
  cloud/disk_manager/internal/pkg/clients/nbs/tests/client_test.go
Labels: large-tests, disk_manager, tasks

#1058 prevent dangling refs with WaitFor
  cloud/storage/core/libs/coroutine/executor.h
Labels: asan, tsan

#1073 fix build: const version of WaitFor
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/storage/core/libs/coroutine/executor.h
  cloud/storage/core/libs/coroutine/executor_ut.cpp
Labels: bug, blockstore, asan, tsan

#1077 NBS-5058: coverity fixes (auto ref)
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/blockstore/libs/rdma/iface/config.h
  cloud/blockstore/libs/storage/disk_agent/model/config.h
Labels: blockstore, asan, tsan

#1075 [Filestore] add missing Die(ctx) in two-stage-read fallback data path
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
Labels: large-tests, filestore

#1078 issue-95: clearing deletion markers from the FreshBytes table via TxTrimBytes
  cloud/filestore/libs/storage/tablet/model/fresh_bytes.cpp
  cloud/filestore/libs/storage/tablet/model/fresh_bytes.h
  cloud/filestore/libs/storage/tablet/model/fresh_bytes_ut.cpp
  cloud/filestore/libs/storage/tablet/protos/tablet.proto
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_flush_bytes.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.h
  cloud/filestore/libs/storage/tablet/tablet_schema.h
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: large-tests, filestore

#1088 issue-539: GenerateBlobIdsRequest should also be subject to backpressure-related validation (to reject three-stage writes quicker in case of backpressure)
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_adddata.cpp
Labels: large-tests, filestore

#1074 [Filestore] issue-688: under flag, enable 3-generational compaction policy for MixedBlocks, DeletionMarkers and CompactionMap tables
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/core/tablet_schema.h
  cloud/filestore/libs/storage/init/actorsystem.cpp
  cloud/filestore/libs/storage/tablet/tablet.cpp
  cloud/filestore/libs/storage/tablet/tablet.h
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_initschema.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.h
  cloud/filestore/libs/storage/tablet/tablet_schema.h
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/tests/loadtest/service-kikimr-localdb-compaction-test/create-remove.txt
  cloud/filestore/tests/loadtest/service-kikimr-localdb-compaction-test/read-write-validation.txt
  cloud/filestore/tests/loadtest/service-kikimr-localdb-compaction-test/test.py
  cloud/filestore/tests/loadtest/service-kikimr-localdb-compaction-test/ya.make
  cloud/filestore/tests/loadtest/ya.make
  cloud/filestore/tests/python/lib/daemon_config.py
  cloud/filestore/tests/recipes/service-kikimr/__main__.py
Labels: large-tests, filestore
