Repository ydb-platform/nbs, pull requests merged in 2024-07, with the labels that each got.

#1525 issue-1519: add some tests that `AddData` changes the inode size
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_adddata.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: filestore

#1510 blockstore-client API to suspend disk agent
  cloud/blockstore/libs/storage/api/disk_agent.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_partial_suspend.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_register.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_private.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state.h
  cloud/blockstore/libs/storage/disk_agent/testlib/test_env.h
  cloud/blockstore/libs/storage/disk_agent/ya.make
  cloud/blockstore/libs/storage/protos/disk.proto
  cloud/blockstore/libs/storage/service/service_actor.h
  cloud/blockstore/libs/storage/service/service_actor_actions.cpp
  cloud/blockstore/libs/storage/service/service_actor_actions_suspend_disk_agent.cpp
  cloud/blockstore/libs/storage/service/ya.make
  cloud/blockstore/tests/client/test_with_client.py
  cloud/blockstore/tests/client/test_with_multiple_agents.py
  cloud/blockstore/tests/python/lib/client.py
  cloud/blockstore/tests/python/lib/disk_agent_runner.py
  cloud/blockstore/tests/python/lib/nonreplicated_setup.py
  cloud/blockstore/tests/python/lib/test_base.py
Labels: large-tests, blockstore

#1526 issue-1350: we shouldn't fail the whole ListNodes request in case we somehow (due to bugs) lose some of the files in followers
  cloud/filestore/libs/diagnostics/critical_events.h
  cloud/filestore/libs/storage/service/service_actor_listnodes.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
Labels: large-tests, filestore

#1466 issue-1377: remove mutable endpoint storage & add unit tests
  cloud/blockstore/libs/endpoints/endpoint_manager_ut.cpp
  cloud/blockstore/libs/endpoints/service_endpoint_ut.cpp
  cloud/blockstore/tools/testing/loadtest/lib/load_test_runner.cpp
  cloud/blockstore/tools/testing/loadtest/lib/load_test_runner.h
  cloud/filestore/libs/endpoint/service_ut.cpp
  cloud/storage/core/libs/endpoints/fs/fs_endpoints_test.cpp
  cloud/storage/core/libs/endpoints/fs/fs_endpoints_test.h
  cloud/storage/core/libs/endpoints/fs/fs_endpoints_ut.cpp
  cloud/storage/core/libs/endpoints/fs/ya.make
  cloud/storage/core/libs/endpoints/keyring/keyring_endpoints_test.cpp
Labels: rebase

#1527 [stable-23-3] blockstore-client API to suspend disk agent
  cloud/blockstore/libs/storage/api/disk_agent.h
  cloud/blockstore/libs/storage/disk_agent/CMakeLists.darwin-x86_64.txt
  cloud/blockstore/libs/storage/disk_agent/CMakeLists.linux-aarch64.txt
  cloud/blockstore/libs/storage/disk_agent/CMakeLists.linux-x86_64.txt
  cloud/blockstore/libs/storage/disk_agent/CMakeLists.windows-x86_64.txt
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_partial_suspend.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_register.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_private.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state.h
  cloud/blockstore/libs/storage/disk_agent/testlib/test_env.h
  cloud/blockstore/libs/storage/disk_agent/ya.make
  cloud/blockstore/libs/storage/protos/disk.proto
  cloud/blockstore/libs/storage/service/CMakeLists.darwin-x86_64.txt
  cloud/blockstore/libs/storage/service/CMakeLists.linux-aarch64.txt
  cloud/blockstore/libs/storage/service/CMakeLists.linux-x86_64.txt
  cloud/blockstore/libs/storage/service/CMakeLists.windows-x86_64.txt
  cloud/blockstore/libs/storage/service/service_actor.h
  cloud/blockstore/libs/storage/service/service_actor_actions.cpp
  cloud/blockstore/libs/storage/service/service_actor_actions_suspend_disk_agent.cpp
  cloud/blockstore/libs/storage/service/ya.make
  cloud/blockstore/tests/client/test_with_client.py
  cloud/blockstore/tests/client/test_with_multiple_agents.py
  cloud/blockstore/tests/python/lib/client.py
  cloud/blockstore/tests/python/lib/disk_agent_runner.py
  cloud/blockstore/tests/python/lib/nonreplicated_setup.py
  cloud/blockstore/tests/python/lib/test_base.py
Labels: blockstore

#1530 Remove obsolete agents table from the DR
  cloud/blockstore/libs/storage/disk_registry/actors/restore_validator_actor.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_backup_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_loadstate.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_restore_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_database.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_database.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_database_ut.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_private.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_schema.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut.cpp
Labels: large-tests, blockstore

#1441 issue-1384: check active sessions before destroying fs
  cloud/filestore/apps/client/lib/command.cpp
  cloud/filestore/apps/client/lib/command.h
  cloud/filestore/apps/client/lib/ls.cpp
  cloud/filestore/apps/client/lib/mkdir.cpp
  cloud/filestore/apps/client/lib/read.cpp
  cloud/filestore/apps/client/lib/rm.cpp
  cloud/filestore/apps/client/lib/stat.cpp
  cloud/filestore/apps/client/lib/touch.cpp
  cloud/filestore/apps/client/lib/write.cpp
  cloud/filestore/libs/storage/service/service_actor_destroyfs.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
Labels: filestore

#1469 [Filestore] add SetNodeAttr command to filestore client
  cloud/filestore/apps/client/lib/factory.cpp
  cloud/filestore/apps/client/lib/set_node_attr.cpp
  cloud/filestore/apps/client/lib/ya.make
  cloud/filestore/tests/client/test.py
  cloud/filestore/tests/python/lib/client.py
Labels: filestore

#1534 issue-1350: XAttr ut and some request validation + uts
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_updateconfig.cpp
  cloud/filestore/libs/storage/testlib/service_client.h
Labels: large-tests, filestore

#1552 issue-539: use `NKikimrBlobStorage::UserData` for three-stage write, not `NKikimrBlobStorage::TabletLog`
  cloud/filestore/libs/storage/service/service_actor_writedata.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
Labels: filestore

#1551 Do not trigger fatal error if DA is not found
  cloud/blockstore/libs/storage/service/service_actor_actions_get_disk_agent_node_id.cpp
Labels: blockstore

#1555 issue-1350: supported RenameNode for multitablet filesystems, fixed CreateHandle by Name for existing files - request should be sent to the follower specified in the Leader's response, not to the follower specified in the request
  cloud/filestore/libs/storage/service/service_actor_createhandle.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_unlinknode.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/testlib/service_client.h
Labels: large-tests, filestore

#1558 issue-1350: replacing TABLET_VERIFY with impossible events + errors in CreateNode and CreateHandle
  cloud/filestore/libs/diagnostics/critical_events.h
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
Labels: large-tests, filestore

#1564 issue-1350: replacing TABLET_VERIFY with impossible events + errors in UnlinkNode and RenameNode
  cloud/filestore/libs/diagnostics/critical_events.h
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_unlinknode.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
Labels: large-tests, filestore

#1476 issue 1394: optimize cleanup devices
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_secure_erase.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_agents_info.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_create.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_migration.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_state.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_state.h
Labels: blockstore

#1579 issue-1350: renamenode should work for files in the same shard
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode.cpp
Labels: filestore

#1574 issue-1350: followers->leader metrics aggregation
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/testlib/service_client.h
Labels: large-tests, filestore

#1584 [Filestore] support reuse-fs flag in build-arcadia-test + add multishard coreutils test for makeshift internal ci
  cloud/filestore/tests/build_arcadia_test/common.py
  cloud/filestore/tests/build_arcadia_test/coreutils.py
  cloud/filestore/tests/build_arcadia_test/entrypoint.py
  cloud/filestore/tests/build_arcadia_test/scripts/coreutils.sh
  cloud/storage/core/tools/ci/runner/generate_index.py
  cloud/storage/core/tools/ci/runner/generate_report_coreutils.py
  cloud/storage/core/tools/ci/runner/index.xsl
  cloud/storage/core/tools/ci/runner/run_nfs_coreutils.sh
Labels: filestore

#1586 issue-1350: OpLog - UnlinkNode
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/protos/tablet.proto
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_loadstate.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_oplog.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_unlinknode.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.h
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_schema.h
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/ya.make
  cloud/filestore/libs/storage/testlib/service_client.h
Labels: large-tests, filestore

#1592 issue-1350: logging UnlinkNode requests which happen upon RenameNode to OpLog (to replay them upon tablet restart), added a ut for this, fixed HandleUpdateConfig as well - merging follower-related fields into the config received from SchemeShard
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_updateconfig.cpp
Labels: large-tests, filestore

#1594 issue-1350: logging CreateNode requests to OpLog + some preparation for replaying them upon tablet restart, implemented DupCache for CreateNode requests for external nodes, retrying errors in TCreateNodeInFollowerActor
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/protos/tablet.proto
  cloud/filestore/libs/storage/tablet/session.h
  cloud/filestore/libs/storage/tablet/tablet_actor_createnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_sessions.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/testlib/service_client.h
Labels: large-tests, filestore

#1595 issue-1350: hard links should work for external nodes
  cloud/filestore/libs/storage/service/service_actor_createnode.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/public/api/protos/node.proto
Labels: large-tests, filestore

#1596 [Disk Manager] add CreationAndDeletionAllowedOnlyForDisksWithIdPrefix option to disks config; configure DestructionAllowedOnlyForDisksWithIdPrefixes for facade/disk_service_test and facade/snapshot_service_test
  cloud/disk_manager/internal/pkg/facade/disk_service_test/ya.make
  cloud/disk_manager/internal/pkg/facade/snapshot_service_test/ya.make
  cloud/disk_manager/internal/pkg/facade/testcommon/common.go
  cloud/disk_manager/internal/pkg/services/disks/config/config.proto
  cloud/disk_manager/internal/pkg/services/disks/service.go
  cloud/disk_manager/test/recipe/__main__.py
  cloud/disk_manager/test/recipe/disk_manager_launcher.py
  cloud/disk_manager/test/recipe/nbs_launcher.py
Labels: large-tests

#1597 issue-1350: replaying CreateNode requests from OpLog upon tablet restart, retrying CreateNode requests happening upon CreateHandle requests, ut
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_oplog.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_tx.h
Labels: large-tests, filestore

#1542 [stable-23-3] Remove obsolete agents table from the DR (#1530)
  cloud/blockstore/libs/storage/disk_registry/actors/restore_validator_actor.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_backup_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_loadstate.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_restore_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_database.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_database.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_database_ut.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_private.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_schema.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut.cpp
Labels: blockstore

#1599 [Disk Manager] [Tasks] get rid of OperationCloudId, OperationFolderId and other legacy params like UseDataplaneTasks*
  cloud/disk_manager/api/disk_service.proto
  cloud/disk_manager/api/image_service.proto
  cloud/disk_manager/api/snapshot_service.proto
  cloud/disk_manager/internal/pkg/dataplane/collect_snapshots_task.go
  cloud/disk_manager/internal/pkg/dataplane/collect_snapshots_task_test.go
  cloud/disk_manager/internal/pkg/facade/testcommon/common.go
  cloud/disk_manager/internal/pkg/services/disks/create_disk_from_image_task.go
  cloud/disk_manager/internal/pkg/services/disks/create_disk_from_snapshot_task.go
  cloud/disk_manager/internal/pkg/services/disks/migrate_disk_task.go
  cloud/disk_manager/internal/pkg/services/disks/protos/create_disk_from_image_task.proto
  cloud/disk_manager/internal/pkg/services/disks/protos/create_disk_from_snapshot_task.proto
  cloud/disk_manager/internal/pkg/services/disks/service.go
  cloud/disk_manager/internal/pkg/services/filesystem/service.go
  cloud/disk_manager/internal/pkg/services/images/common.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_disk_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_image_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_snapshot_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_url_task.go
  cloud/disk_manager/internal/pkg/services/images/delete_image_task.go
  cloud/disk_manager/internal/pkg/services/images/protos/create_image_from_disk_task.proto
  cloud/disk_manager/internal/pkg/services/images/protos/create_image_from_image_task.proto
  cloud/disk_manager/internal/pkg/services/images/protos/create_image_from_snapshot_task.proto
  cloud/disk_manager/internal/pkg/services/images/protos/create_image_from_url_task.proto
  cloud/disk_manager/internal/pkg/services/images/protos/delete_image_task.proto
  cloud/disk_manager/internal/pkg/services/images/service.go
  cloud/disk_manager/internal/pkg/services/placementgroup/service.go
  cloud/disk_manager/internal/pkg/services/pools/create_base_disk_task.go
  cloud/disk_manager/internal/pkg/services/pools/optimize_base_disks_task.go
  cloud/disk_manager/internal/pkg/services/pools/optimize_base_disks_task_test.go
  cloud/disk_manager/internal/pkg/services/pools/retire_base_disk_task.go
  cloud/disk_manager/internal/pkg/services/pools/retire_base_disks_task.go
  cloud/disk_manager/internal/pkg/services/pools/schedule_base_disks_task.go
  cloud/disk_manager/internal/pkg/services/pools/service.go
  cloud/disk_manager/internal/pkg/services/snapshots/create_snapshot_from_disk_task.go
  cloud/disk_manager/internal/pkg/services/snapshots/delete_snapshot_task.go
  cloud/disk_manager/internal/pkg/services/snapshots/protos/create_snapshot_from_disk_task.proto
  cloud/disk_manager/internal/pkg/services/snapshots/protos/delete_snapshot_task.proto
  cloud/disk_manager/internal/pkg/services/snapshots/service.go
  cloud/disk_manager/internal/pkg/util/json.go
  cloud/tasks/acceptance_tests/recipe/tasks/chain_task.go
  cloud/tasks/acceptance_tests/tasks_acceptance_test.go
  cloud/tasks/mocks/scheduler_mock.go
  cloud/tasks/scheduler.go
  cloud/tasks/scheduler_impl.go
  cloud/tasks/scheduler_test.go
  cloud/tasks/storage/common.go
  cloud/tasks/storage/storage.go
  cloud/tasks/storage/storage_ydb_test.go
  cloud/tasks/tasks_tests/tasks_test.go
Labels: large-tests

#1583 Cleanup agents from DR on REMOVE_HOST cms action
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/core/pending_request.h
  cloud/blockstore/libs/storage/disk_common/monitoring_utils.cpp
  cloud/blockstore/libs/storage/disk_common/monitoring_utils.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_monitoring.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_cms.cpp
  cloud/blockstore/tests/infra-cms/test.py
  example/nbs/nbs-storage.txt
Labels: large-tests, blockstore

#1600 issue-1350: hard links for external modes should return correct node
  cloud/filestore/libs/storage/service/service_actor_createnode.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
Labels: filestore

#1606 issue-1350: support multishard configuration for running it locally
  cloud/filestore/bin/initctl.sh
  cloud/filestore/bin/nfs/nfs-storage.txt
  cloud/storage/core/tools/testing/qemu/bin/.gitignore
Labels: filestore

#1591 resync range if scrubbing found a mismatch
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_mirror.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
Labels: large-tests, blockstore

#1610 issue-1350: locks should work for external nodes
  cloud/filestore/libs/storage/api/service.h
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/testlib/service_client.h
Labels: filestore

#1611 issue-1350: fio_index nemesis test for multitablet filestores
  cloud/filestore/tests/fio_index/qemu-kikimr-multishard-nemesis-test/test.py
  cloud/filestore/tests/fio_index/qemu-kikimr-multishard-nemesis-test/ya.make
  cloud/filestore/tests/fio_index/ya.make
Labels: large-tests, filestore

#1324 NBSNEBIUS-258: Support Zero Copy for RDMA Data Path on Disk Agent
  cloud/blockstore/config/rdma.proto
  cloud/blockstore/libs/client_rdma/rdma_client.cpp
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/endpoints_grpc/socket_endpoint_listener.cpp
  cloud/blockstore/libs/endpoints_rdma/rdma_server.cpp
  cloud/blockstore/libs/endpoints_vhost/external_vhost_server.cpp
  cloud/blockstore/libs/endpoints_vhost/external_vhost_server.h
  cloud/blockstore/libs/endpoints_vhost/external_vhost_server_ut.cpp
  cloud/blockstore/libs/rdma/iface/client.cpp
  cloud/blockstore/libs/rdma/iface/client.h
  cloud/blockstore/libs/rdma/iface/protobuf.cpp
  cloud/blockstore/libs/rdma/iface/protobuf.h
  cloud/blockstore/libs/rdma/iface/protobuf_ut.cpp
  cloud/blockstore/libs/rdma/iface/protocol.h
  cloud/blockstore/libs/rdma/iface/server.cpp
  cloud/blockstore/libs/rdma/impl/client.cpp
  cloud/blockstore/libs/rdma_test/client_test.cpp
  cloud/blockstore/libs/rdma_test/client_test.h
  cloud/blockstore/libs/rdma_test/server_test_async.cpp
  cloud/blockstore/libs/service/storage.cpp
  cloud/blockstore/libs/service/storage.h
  cloud/blockstore/libs/service/storage_ut.cpp
  cloud/blockstore/libs/service_local/service_local.cpp
  cloud/blockstore/libs/service_local/storage_rdma.cpp
  cloud/blockstore/libs/service_local/storage_rdma_ut.cpp
  cloud/blockstore/libs/service_local/storage_spdk_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state.cpp
  cloud/blockstore/libs/storage/disk_agent/rdma_target.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_checksumblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_zeroblocks.cpp
  cloud/blockstore/tools/testing/rdma-test/storage_rdma.cpp
  cloud/blockstore/tools/testing/rdma-test/target.cpp
  cloud/blockstore/vhost-server/backend_rdma.cpp
  cloud/blockstore/vhost-server/options.cpp
  cloud/blockstore/vhost-server/options.h
Labels: rdma, large-tests, blockstore

#1615 issue-1350: DisableMultiTabletForwarding flag + multitablet test in tests/client with this flag
  cloud/filestore/apps/client/lib/command.cpp
  cloud/filestore/apps/client/lib/command.h
  cloud/filestore/libs/storage/service/service_actor.h
  cloud/filestore/libs/storage/service/service_actor_createhandle.cpp
  cloud/filestore/libs/storage/service/service_actor_createnode.cpp
  cloud/filestore/libs/storage/service/service_actor_forward.cpp
  cloud/filestore/libs/storage/service/service_actor_getnodeattr.cpp
  cloud/filestore/libs/storage/service/service_actor_listnodes.cpp
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
  cloud/filestore/libs/storage/service/service_actor_writedata.cpp
  cloud/filestore/public/api/protos/headers.proto
  cloud/filestore/tests/client/canondata/result.json
  cloud/filestore/tests/client/canondata/test.test_multitablet_ls/results.txt
  cloud/filestore/tests/client/nfs-storage.txt
  cloud/filestore/tests/client/test.py
  cloud/filestore/tests/client/ya.make
Labels: filestore

#1484 [Blockstore] add type hints to python blockstore client
  cloud/blockstore/public/sdk/python/client/base_client.py
  cloud/blockstore/public/sdk/python/client/client.py
  cloud/blockstore/public/sdk/python/client/credentials.py
  cloud/blockstore/public/sdk/python/client/discovery.py
  cloud/blockstore/public/sdk/python/client/durable.py
  cloud/blockstore/public/sdk/python/client/error.py
  cloud/blockstore/public/sdk/python/client/error_codes.py
  cloud/blockstore/public/sdk/python/client/future.py
  cloud/blockstore/public/sdk/python/client/grpc_client.py
  cloud/blockstore/public/sdk/python/client/http_client.py
  cloud/blockstore/public/sdk/python/client/request.py
  cloud/blockstore/public/sdk/python/client/safe_client.py
  cloud/blockstore/public/sdk/python/client/session.py
Labels: blockstore, rebase

#1516 [Disk Manager] should retire base disks on image deleting
  cloud/disk_manager/internal/pkg/services/images/common.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_disk_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_image_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_snapshot_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_url_task.go
  cloud/disk_manager/internal/pkg/services/images/delete_image_task.go
  cloud/disk_manager/internal/pkg/services/images/register.go
  cloud/disk_manager/internal/pkg/services/pools/protos/retire_base_disk_task.proto
  cloud/disk_manager/internal/pkg/services/pools/protos/retire_base_disks_task.proto
  cloud/disk_manager/internal/pkg/services/pools/retire_base_disk_task.go
  cloud/disk_manager/internal/pkg/services/pools/retire_base_disks_task.go
  cloud/disk_manager/internal/pkg/services/pools/storage/mocks/storage_mock.go
  cloud/disk_manager/internal/pkg/services/pools/storage/storage.go
  cloud/disk_manager/internal/pkg/services/pools/storage/storage_ydb.go
  cloud/disk_manager/internal/pkg/services/pools/storage/storage_ydb_impl.go
  cloud/disk_manager/internal/pkg/services/pools/storage/storage_ydb_test.go
Labels: large-tests, disk_manager, tasks

#1628 stop rdma endpoints; issue-1020
  cloud/blockstore/libs/rdma/iface/client.h
  cloud/blockstore/libs/rdma/impl/client.cpp
  cloud/blockstore/libs/rdma/impl/client_ut.cpp
  cloud/blockstore/libs/rdma/impl/server.cpp
  cloud/blockstore/libs/rdma_test/client_test.cpp
  cloud/blockstore/libs/service_local/storage_rdma.cpp
  cloud/blockstore/libs/service_local/storage_rdma_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.cpp
  cloud/blockstore/tools/testing/rdma-test/storage_rdma.cpp
Labels: blockstore

#1623 merge to stable-23-3
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_pools.cpp
  cloud/blockstore/libs/storage/disk_registry/model/device_list.cpp
  cloud/blockstore/libs/storage/disk_registry/model/device_list.h
  cloud/blockstore/libs/storage/disk_registry/model/device_list_ut.cpp
  cloud/blockstore/libs/storage/disk_registry/model/replica_table_ut.cpp
  cloud/blockstore/libs/storage/service/service_actor_destroy.cpp
  cloud/blockstore/libs/storage/service/service_ut_create.cpp
  cloud/blockstore/libs/storage/service/service_ut_destroy.cpp
  cloud/blockstore/tests/local_ssd/test.py
Labels: large-tests, blockstore

#1631 Users/yegorskii/sync ydb 24 1
  cloud/storage/core/libs/kikimr/node.cpp
  cloud/storage/core/libs/kikimr/node_registration_helpers.cpp
  cloud/storage/core/libs/kikimr/node_registration_helpers.h
  cloud/storage/core/libs/kikimr/node_registration_helpers_ut.cpp
  cloud/storage/core/libs/kikimr/ya.make
  contrib/ydb/core/base/appdata_fwd.h
  contrib/ydb/core/cms/cms_ut_common.cpp
  contrib/ydb/core/cms/console/configs_dispatcher.cpp
  contrib/ydb/core/cms/console/configs_dispatcher.h
  contrib/ydb/core/cms/console/http.cpp
  contrib/ydb/core/cms/console/http.h
  contrib/ydb/core/cms/console/ya.make
  contrib/ydb/core/config/init/init.h
  contrib/ydb/core/config/init/ya.make
  contrib/ydb/core/config/ya.make
  contrib/ydb/core/driver_lib/cli_utils/cli_cmds_server.cpp
  contrib/ydb/core/driver_lib/run/config.h
  contrib/ydb/core/driver_lib/run/kikimr_services_initializers.cpp
  contrib/ydb/core/driver_lib/run/kikimr_services_initializers.h
  contrib/ydb/core/driver_lib/run/run.cpp
  contrib/ydb/core/driver_lib/run/ya.make
  contrib/ydb/core/grpc_services/rpc_node_registration.cpp
  contrib/ydb/core/mind/hive/hive_impl.cpp
  contrib/ydb/core/mind/hive/hive_schema.h
  contrib/ydb/core/mind/hive/node_info.h
  contrib/ydb/core/mind/hive/tx__load_everything.cpp
  contrib/ydb/core/mind/hive/tx__register_node.cpp
  contrib/ydb/core/mind/local.cpp
  contrib/ydb/core/mind/node_broker.cpp
  contrib/ydb/core/mind/node_broker__register_node.cpp
  contrib/ydb/core/mind/node_broker__scheme.h
  contrib/ydb/core/mind/node_broker_impl.h
  contrib/ydb/core/mind/slot_indexes_pool.cpp
  contrib/ydb/core/mind/slot_indexes_pool.h
  contrib/ydb/core/mind/ya.make
  contrib/ydb/core/protos/feature_flags.proto
  contrib/ydb/core/protos/hive.proto
  contrib/ydb/core/protos/local.proto
  contrib/ydb/core/protos/node_broker.proto
  contrib/ydb/core/protos/node_whiteboard.proto
  contrib/ydb/core/tablet/node_whiteboard.cpp
  contrib/ydb/core/testlib/tenant_runtime.cpp
  contrib/ydb/core/testlib/test_client.cpp
  contrib/ydb/core/viewer/json_nodes.h
  contrib/ydb/core/ya.make
  contrib/ydb/public/api/protos/ydb_discovery.proto
  contrib/ydb/public/sdk/cpp/client/ydb_discovery/discovery.cpp
  contrib/ydb/public/sdk/cpp/client/ydb_discovery/discovery.h
Labels: large-tests

#1625 issue-1350: introduced TIndexTablet::GetNodeAttrBatch method to use it in multitablet ListNodes implementation
  cloud/filestore/libs/storage/api/tablet.h
  cloud/filestore/libs/storage/tablet/tablet_actor_getnodeattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_request.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/tablet_ut_nodes.cpp
  cloud/filestore/libs/storage/testlib/tablet_client.h
  cloud/filestore/private/api/protos/tablet.proto
Labels: large-tests, filestore

#1639 issue-1350: some fixes for GetNodeAttrBatch + NodeAttrCache
  cloud/filestore/libs/storage/tablet/tablet_actor_getnodeattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_nodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_nodes.cpp
Labels: filestore

#1642 issue-1350: GetNodeAttrBatch implementation in TListNodesActor
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/diagnostics/critical_events.h
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/service/service_actor_listnodes.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
Labels: large-tests, filestore

#1643 issue-1350: filestore-client findgarbage command + test + some fixes
  cloud/filestore/apps/client/lib/destroy_session.cpp
  cloud/filestore/apps/client/lib/factory.cpp
  cloud/filestore/apps/client/lib/find_garbage.cpp
  cloud/filestore/apps/client/lib/set_node_attr.cpp
  cloud/filestore/apps/client/lib/ya.make
  cloud/filestore/public/api/protos/node.proto
  cloud/filestore/tests/client/canondata/result.json
  cloud/filestore/tests/client/canondata/test.test_multitablet_findgarbage/results.txt
  cloud/filestore/tests/client/test.py
  cloud/filestore/tests/python/lib/client.py
Labels: filestore

#1513 issue-1395: run cleaning process per device pool
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_secure_erase.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_writable_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_private.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_lifecycle.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_env.h
Labels: blockstore, rebase

#1637 [Disk Manager] add disk id to image meta
  cloud/disk_manager/internal/pkg/resources/images.go
  cloud/disk_manager/internal/pkg/resources/images_test.go
  cloud/disk_manager/internal/pkg/resources/storage.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_disk_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_image_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_snapshot_task.go
Labels: large-tests, disk_manager

#1648 [Disk Manager] add prefixes for base disks and change default prefix for proxy overlay disks
  cloud/disk_manager/internal/pkg/dataplane/config/config.proto
  cloud/disk_manager/internal/pkg/services/pools/config/config.proto
Labels: large-tests, disk_manager

#1640 refactor node registration
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/blockstore/libs/server/config.cpp
  cloud/blockstore/libs/server/config.h
  cloud/filestore/libs/daemon/common/bootstrap.cpp
  cloud/filestore/libs/daemon/common/bootstrap.h
  cloud/storage/core/libs/kikimr/node.cpp
  cloud/storage/core/libs/kikimr/node.h
  cloud/storage/core/libs/kikimr/node_registration_settings.cpp
  cloud/storage/core/libs/kikimr/node_registration_settings.h
  cloud/storage/core/libs/kikimr/ya.make
Labels: large-tests

#1539 issue-1377: run keyring tests via test.py wrapper
  cloud/blockstore/libs/encryption/ut_keyring/ya.make
  cloud/blockstore/libs/encryption/ya.make
  cloud/storage/core/libs/endpoints/keyring/ut/test.py
  cloud/storage/core/libs/endpoints/keyring/ut/ya.make
  cloud/storage/core/libs/endpoints/keyring/ya.make
Labels: rebase

#1667 [Disk Manager] do not wait for task ending in dm admin private commands
  cloud/disk_manager/pkg/admin/private.go
Labels: disk_manager

#1647 set items count limit for TTrimBytes transaction
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/model/fresh_bytes.cpp
  cloud/filestore/libs/storage/tablet/model/fresh_bytes.h
  cloud/filestore/libs/storage/tablet/model/fresh_bytes_ut.cpp
  cloud/filestore/libs/storage/tablet/model/verify.h
  cloud/filestore/libs/storage/tablet/tablet_actor_flush_bytes.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/storage/core/libs/common/verify.h
Labels: bug, filestore

#1669 issue-1668: LocalService mode for filestore-vhost
  cloud/filestore/config/vhost.proto
  cloud/filestore/libs/daemon/common/bootstrap.h
  cloud/filestore/libs/daemon/vhost/bootstrap.cpp
  cloud/filestore/libs/daemon/vhost/bootstrap.h
  cloud/filestore/libs/daemon/vhost/options.cpp
  cloud/filestore/libs/daemon/vhost/options.h
  cloud/filestore/libs/daemon/vhost/ya.make
  cloud/filestore/libs/endpoint_vhost/config.cpp
  cloud/filestore/libs/endpoint_vhost/config.h
  cloud/filestore/libs/server/config.h
  cloud/filestore/libs/server/server.cpp
  cloud/filestore/libs/service_local/service.cpp
  cloud/filestore/tests/fio/qemu-local-noserver-test/test.py
  cloud/filestore/tests/fio/qemu-local-noserver-test/ya.make
  cloud/filestore/tests/fio/ya.make
  cloud/filestore/tests/python/lib/daemon_config.py
  cloud/filestore/tests/recipes/vhost-local-noserver.inc
  cloud/filestore/tests/recipes/vhost/__main__.py
Labels: filestore

#1662 Use smart pointers for memory mangement
  cloud/blockstore/vhost-server/backend_aio.cpp
  cloud/blockstore/vhost-server/request_aio.cpp
  cloud/blockstore/vhost-server/request_aio.h
  cloud/blockstore/vhost-server/request_aio_ut.cpp
Labels: large-tests, asan, tsan

#1670 NBSDUTY-33: fix ShouldFillTimePercentiles
  cloud/blockstore/libs/diagnostics/request_stats_ut.cpp
Labels: blockstore

#1677 MaxSessionHistoryId shouldn't be a global variable - session history ids for different tablets are completely unrelated. This commit fixes a race as well.
  cloud/filestore/libs/storage/tablet/session.h
  cloud/filestore/libs/storage/tablet/tablet_state_impl.h
  cloud/filestore/libs/storage/tablet/tablet_state_sessions.cpp
Labels: filestore, tsan

#1682 Fix tsan tests for vhost-server
  cloud/blockstore/vhost-server/request_aio.cpp
Labels: blockstore, tsan

#1563 issue-1146: preliminary changes: refactor RO txs: allow them to run atop of IIndexTabletDatabase + implement fast path for them
  cloud/filestore/libs/storage/core/tablet.h
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_accessnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_change_storage_config.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_getnodeattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_getnodexattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_listnodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_listnodexattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_readlink.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_resolvepath.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_nodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
Labels: filestore

#1661 use new ydb registration api in filestore + tests
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/daemon/common/bootstrap.cpp
  cloud/filestore/libs/daemon/common/config_initializer.cpp
  cloud/filestore/libs/daemon/common/config_initializer.h
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/tests/python/lib/client.py
  cloud/filestore/tests/python/lib/daemon_config.py
  cloud/filestore/tests/registration/test.py
  cloud/filestore/tests/registration/ya.make
  cloud/filestore/tests/ya.make
Labels: large-tests, filestore

#1686 issue-1668: TLocalFileSystem::ReadDataAsync/WriteDataAsync
  cloud/filestore/libs/daemon/common/bootstrap.cpp
  cloud/filestore/libs/daemon/common/bootstrap.h
  cloud/filestore/libs/daemon/common/ya.make
  cloud/filestore/libs/daemon/server/bootstrap.cpp
  cloud/filestore/libs/daemon/vhost/bootstrap.cpp
  cloud/filestore/libs/service_local/fs.cpp
  cloud/filestore/libs/service_local/fs.h
  cloud/filestore/libs/service_local/fs_data.cpp
  cloud/filestore/libs/service_local/fs_lock.cpp
  cloud/filestore/libs/service_local/index.cpp
  cloud/filestore/libs/service_local/index.h
  cloud/filestore/libs/service_local/lowlevel.cpp
  cloud/filestore/libs/service_local/lowlevel.h
  cloud/filestore/libs/service_local/service.cpp
  cloud/filestore/libs/service_local/service.h
  cloud/filestore/libs/service_local/service_ut.cpp
  cloud/filestore/libs/service_local/service_ut_stress.cpp
  cloud/filestore/libs/service_local/session.h
  cloud/filestore/libs/service_local/ut/ya.make
  cloud/filestore/libs/service_local/ut_stress/ya.make
  util/system/file.h
Labels: filestore
