Repository ydb-platform/nbs, pull requests merged in 2025-04, with the labels that each got.

#3294 Minimize the risk of data loss during nrd migration
  cloud/blockstore/libs/storage/volume/volume_actor_allocatedisk.cpp
Labels: large-tests, blockstore

#3280 [Filestore] Cleanup should work when UsedBytesCount = 0
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: filestore

#3216 keyring ub-sanitizer fix
  cloud/storage/core/libs/endpoints/keyring/keyring.cpp
Labels: rebase, ubsan

#3293 issue-176: remove redundand base64 encoding
  cloud/blockstore/libs/encryption/encryption_client.cpp
  cloud/blockstore/libs/encryption/encryption_client_ut.cpp
  cloud/blockstore/libs/encryption/encryption_service_ut.cpp
  cloud/blockstore/libs/root_kms/impl/client.cpp
  cloud/blockstore/libs/root_kms/impl/client_ut.cpp
  cloud/blockstore/tools/testing/fake-root-kms/main.go
Labels: large-tests, disk_manager, blockstore

#3298 decrease multiple_errors test numjobs
  cloud/blockstore/tests/e2e-tests/test.py
Labels: blockstore, asan, tsan, msan

#3286 [NBS] Do not convert E_TRY_AGAIN to E_REJECTED on local disk allocation retries
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_allocate.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_allocatedisk.cpp
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
Labels: large-tests, blockstore

#3272 [NBS] More informative checksum mismatch error
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_readblocks.cpp
Labels: large-tests, blockstore

#3304 Teach TGetDeviceForRangeCompaction to disallow every operation; teach TMigrationTimeoutCalculator to work without PartitionConfig provided; add method for FollowerDiskId printing
  cloud/blockstore/libs/storage/core/forward_helpers.h
  cloud/blockstore/libs/storage/partition_common/get_device_for_range_companion.cpp
  cloud/blockstore/libs/storage/partition_common/get_device_for_range_companion.h
  cloud/blockstore/libs/storage/partition_nonrepl/migration_timeout_calculator.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/migration_timeout_calculator_ut.cpp
  cloud/blockstore/libs/storage/volume/model/follower_disk.cpp
  cloud/blockstore/libs/storage/volume/model/follower_disk.h
  cloud/blockstore/libs/storage/volume/volume_actor_monitoring.cpp
Labels: blockstore

#3296 issue-3295: set keep_cache flag for read-only files
  cloud/filestore/bin/nfs/nfs-storage.txt
  cloud/filestore/config/filesystem.proto
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/service/service_actor_createsession.cpp
  cloud/filestore/libs/storage/tablet/session.h
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_sessions.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_handles.cpp
  cloud/filestore/libs/storage/tablet/ut/ya.make
  cloud/filestore/libs/vfs/config.h
  cloud/filestore/libs/vfs_fuse/config.cpp
  cloud/filestore/libs/vfs_fuse/config.h
  cloud/filestore/libs/vfs_fuse/fs_impl_data.cpp
  cloud/filestore/libs/vfs_fuse/loop.cpp
  cloud/filestore/public/api/protos/data.proto
  cloud/filestore/public/api/protos/fs.proto
  cloud/filestore/tests/guest_cache/nfs-storage-patch.txt
  cloud/filestore/tests/guest_cache/test.py
  cloud/filestore/tests/guest_cache/ya.make
  cloud/filestore/tests/ya.make
Labels: large-tests, filestore

#3306 Rename RestartDiskRegistryBasedPartition method
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_checkpoint.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_resync.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_startstop.cpp
Labels: blockstore

#3303 Adding details to the error message E_BS_INVALID_SESSION
  cloud/blockstore/libs/storage/service/service_actor_forward.cpp
Labels: blockstore

#3312 Fix replicas mess when only minors healed in second or third replicas
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range_block_by_block.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range_ut.cpp
Labels: large-tests, blockstore

#3300 [NBS] Add `cloud_id` label to `service_volume` and `server_volume` metrics
  cloud/blockstore/libs/diagnostics/server_stats_ut.cpp
  cloud/blockstore/libs/diagnostics/volume_stats.cpp
  cloud/blockstore/libs/diagnostics/volume_stats_ut.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_actor_solomon.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_ut.cpp
Labels: large-tests, blockstore

#3279 Add ability to start resync after lagging migration
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor_resync.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_ut.cpp
  cloud/blockstore/libs/storage/protos_ydb/volume.proto
  cloud/blockstore/libs/storage/volume/volume_actor_addclient.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_lagging_agents.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_resync.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_startstop.cpp
  cloud/blockstore/libs/storage/volume/volume_lagging_agent_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_state.h
  cloud/blockstore/libs/storage/volume/volume_tx.h
Labels: large-tests, blockstore

#3320 [NBS] change some logs level in TStartVolumeActor
  cloud/blockstore/libs/storage/service/volume_session_actor_start.cpp
Labels: blockstore

#3315 Persist migration progress for linked disks
  cloud/blockstore/libs/storage/protos/volume.proto
  cloud/blockstore/libs/storage/volume/model/follower_disk.cpp
  cloud/blockstore/libs/storage/volume/model/follower_disk.h
  cloud/blockstore/libs/storage/volume/testlib/test_env.cpp
  cloud/blockstore/libs/storage/volume/testlib/test_env.h
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_link_volume.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_monitoring.cpp
  cloud/blockstore/libs/storage/volume/volume_database.cpp
  cloud/blockstore/libs/storage/volume/volume_database_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_events_private.h
  cloud/blockstore/libs/storage/volume/volume_schema.h
  cloud/blockstore/libs/storage/volume/volume_state.cpp
  cloud/blockstore/libs/storage/volume/volume_state.h
  cloud/blockstore/libs/storage/volume/volume_state_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_tx.h
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
Labels: large-tests, blockstore

#3275 Destroy lagging migration actor for each agent
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agent_migration_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agent_migration_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_ut.cpp
Labels: large-tests, blockstore

#3266 Wait for in-flight writes before the lagging agent migration
  cloud/blockstore/libs/storage/api/partition.h
  cloud/blockstore/libs/storage/model/requests_in_progress.h
  cloud/blockstore/libs/storage/model/requests_in_progress_ut.cpp
  cloud/blockstore/libs/storage/partition/part_actor.cpp
  cloud/blockstore/libs/storage/partition/part_actor.h
  cloud/blockstore/libs/storage/partition2/part2_actor.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor.h
  cloud/blockstore/libs/storage/partition_common/drain_actor_companion.cpp
  cloud/blockstore/libs/storage/partition_common/drain_actor_companion.h
  cloud/blockstore/libs/storage/partition_common/drain_actor_companion_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agent_migration_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agent_migration_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_lagging_devices_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_events_private.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.h
Labels: large-tests, blockstore

#3328 [NBS] Add `folderId` label to `service_volume` and `server_volume` metrics
  cloud/blockstore/libs/diagnostics/server_stats_ut.cpp
  cloud/blockstore/libs/diagnostics/volume_stats.cpp
  cloud/blockstore/libs/diagnostics/volume_stats_ut.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_actor_solomon.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_ut.cpp
Labels: large-tests, blockstore

#3307 [Filestore] reduce service-kikimr-localdb-compaction-test memory footprint size
  cloud/filestore/tests/loadtest/service-kikimr-localdb-compaction-test/create-remove.txt
Labels: rebase, msan

#3335 Fix arcadia compilation
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_actor.cpp
Labels: blockstore

#3331 [Filestore]: add IsWriteAllowed sensor, fix GetNodeXAttr tablet-side sensor
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: filestore

#3323 Ignore timeouts after last successful request
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_ut.cpp
Labels: large-tests, blockstore

#3299 [Blockstore] remove hardcoded quota limit of 4GiB
  cloud/blockstore/libs/client/throttling.cpp
  cloud/blockstore/libs/client/throttling_ut.cpp
Labels: large-tests, blockstore

#3336 Allow to migrate different range sizes
  cloud/blockstore/libs/storage/partition_nonrepl/model/disjoint_range_set.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/model/disjoint_range_set.h
  cloud/blockstore/libs/storage/partition_nonrepl/model/disjoint_range_set_ut.cpp
Labels: large-tests, blockstore

#3334 Report crit event DiskChecksumMismatchUponWrite once per disk
  cloud/blockstore/libs/service/checksum_storage_wrapper.cpp
  cloud/blockstore/libs/service/device_handler_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_mirror.cpp
Labels: blockstore, tsan

#3337 Unset ShouldStartResync in TRemoveLaggingAgent::Clear
  cloud/blockstore/libs/storage/volume/volume_tx.h
Labels: blockstore

#3344 issue-3343: disable qemu-local-noserver-test under asan, because it hangs
  cloud/filestore/tests/fio/qemu-local-noserver-test/ya.make
Labels: large-tests, asan

#3291 [Disk Manager] testcommon: use predicate when await for checkpoints, add WaitForNoCheckpointsExist function
  cloud/disk_manager/internal/pkg/facade/testcommon/common.go
Labels: large-tests, disk_manager

#3350 Add missed include <cmath>
  cloud/storage/core/libs/version/version.cpp
Labels: blockstore, filestore

#3340 issue-3222: filter broken devices during acquire
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_acquire.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_release.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_session.cpp
  cloud/blockstore/tests/loadtest/local-change-device/test.py
Labels: large-tests, blockstore

#3347 [Filestore] Add missing `GetNodeXAttr` stats update in `tablet_actor_counters.cpp`
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
Labels: filestore

#3349 [CSI] Set FolderId/CloudId for volumes and filestores
  cloud/blockstore/tools/csi_driver/internal/driver/controller.go
  cloud/blockstore/tools/csi_driver/internal/driver/controller_test.go
Labels: blockstore

#3353 issue-3341: mixed index ranges should be unreferenced upon the DescribeData completion
  cloud/filestore/libs/storage/tablet/tablet_actor_readdata.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_cache.cpp
Labels: large-tests, filestore

#3342 issue-3161: add local-nonrepl rdma tests; fix AV for overlay disks + RDMA
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_readblocks_local.cpp
  cloud/blockstore/tests/loadtest/local-nonrepl/test.py
Labels: large-tests, blockstore

#3346 Check lagging agent availability by direct requests to disk agent
  cloud/blockstore/libs/storage/partition_nonrepl/agent_availability_monitoring_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/agent_availability_monitoring_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/config.h
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_lagging_devices_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_state.cpp
Labels: large-tests, blockstore

#3338 issue-3295: set keep_cache flag for read-only files if they were closed and has not changed since the last cache invalidation
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/protos/tablet.proto
  cloud/filestore/libs/storage/tablet/session.h
  cloud/filestore/libs/storage/tablet/tablet_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_loadstate.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_sessions.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_handles.cpp
  cloud/filestore/tests/guest_cache/guest_keep_cache_allowed/nfs-storage-patch.txt
  cloud/filestore/tests/guest_cache/guest_keep_cache_allowed/test.py
  cloud/filestore/tests/guest_cache/guest_keep_cache_allowed/ya.make
  cloud/filestore/tests/guest_cache/guest_keep_cache_allowed_any_read/nfs-storage-patch.txt
  cloud/filestore/tests/guest_cache/guest_keep_cache_allowed_any_read/test.py
  cloud/filestore/tests/guest_cache/guest_keep_cache_allowed_any_read/ya.make
  cloud/filestore/tests/guest_cache/ya.make
Labels: large-tests, filestore

#3283 [Disk Manager] add checkpointID to image meta, set checkpointID to snapshot/image meta on created
  cloud/disk_manager/internal/pkg/resources/images.go
  cloud/disk_manager/internal/pkg/resources/images_test.go
  cloud/disk_manager/internal/pkg/resources/mocks/storage_mock.go
  cloud/disk_manager/internal/pkg/resources/snapshots.go
  cloud/disk_manager/internal/pkg/resources/snapshots_test.go
  cloud/disk_manager/internal/pkg/resources/storage.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_disk_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_image_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_snapshot_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_url_task.go
  cloud/disk_manager/internal/pkg/services/snapshots/create_snapshot_from_disk_task.go
Labels: large-tests, disk_manager

#3379 Fix build error due to missed include set.h
  cloud/blockstore/libs/common/block_range.h
Labels: blockstore

#3368 issue-3366: fix endpoint restoration
  cloud/blockstore/libs/endpoint_proxy/server/server.cpp
Labels: blockstore

#3352 [Blockstore] enable discard/zeroblocks features for vhost device
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/blockstore/libs/endpoints_vhost/vhost_server.cpp
  cloud/blockstore/libs/vhost/server.cpp
  cloud/blockstore/libs/vhost/server.h
  cloud/blockstore/libs/vhost/server_ut.cpp
  cloud/blockstore/libs/vhost/server_ut_stress.cpp
  cloud/blockstore/libs/vhost/vhost.cpp
  cloud/blockstore/libs/vhost/vhost.h
  cloud/blockstore/libs/vhost/vhost_test.cpp
  cloud/blockstore/public/api/protos/endpoints.proto
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
Labels: blockstore

#3384 [CSI] Stop endpoint on unpublish request only in vm mode
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
Labels: blockstore

#3325 issue-3: report lagging migration only after sufficient progress
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agent_migration_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agent_migration_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_migration.cpp
Labels: large-tests, blockstore

#3311 issue-3308: add requesting of VolumeRequestId during migration or resync processes
  cloud/blockstore/libs/storage/core/proto_helpers.cpp
  cloud/blockstore/libs/storage/core/proto_helpers.h
  cloud/blockstore/libs/storage/disk_agent/actors/direct_copy_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/copy_range.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/copy_range.h
  cloud/blockstore/libs/storage/partition_nonrepl/direct_copy_range.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/direct_copy_range.h
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agent_migration_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor_resync.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_util.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_util.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_zeroblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_migration.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_zeroblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range.h
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range_block_by_block.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range_block_by_block.h
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range_ut.cpp
  cloud/blockstore/libs/storage/volume/actors/shadow_disk_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_events_private.h
Labels: large-tests, blockstore

#3390 make multiple_errors test large under tsan
  cloud/blockstore/tests/e2e-tests/test.py
  cloud/blockstore/tests/e2e-tests/ya.make
Labels: large-tests, asan, tsan, msan, ubsan

#3377 Fix nonrepl disks hive metrics
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor_resync.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor_stats.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_checksumblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_zeroblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_events_private.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_migration.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range_block_by_block.cpp
  cloud/blockstore/libs/storage/volume/volume_ut_stats.cpp
Labels: large-tests, blockstore

#3292 issue-3: add lock and drain range request
  cloud/blockstore/libs/rdma/iface/client.h
  cloud/blockstore/libs/storage/api/partition.h
  cloud/blockstore/libs/storage/model/common_constants.h
  cloud/blockstore/libs/storage/model/request_bounds_tracker.cpp
  cloud/blockstore/libs/storage/model/request_bounds_tracker.h
  cloud/blockstore/libs/storage/model/request_bounds_tracker_ut.cpp
  cloud/blockstore/libs/storage/model/request_in_progress_impl.h
  cloud/blockstore/libs/storage/model/requests_in_progress.h
  cloud/blockstore/libs/storage/model/requests_in_progress_ut.cpp
  cloud/blockstore/libs/storage/model/ut/ya.make
  cloud/blockstore/libs/storage/model/ya.make
  cloud/blockstore/libs/storage/partition/part_actor.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor.cpp
  cloud/blockstore/libs/storage/partition_common/drain_actor_companion.cpp
  cloud/blockstore/libs/storage/partition_common/drain_actor_companion.h
  cloud/blockstore/libs/storage/partition_nonrepl/copy_range.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/copy_range.h
  cloud/blockstore/libs/storage/partition_nonrepl/direct_copy_range.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/direct_copy_range.h
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/migration_timeout_calculator.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/model/processing_blocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/model/processing_blocks.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_mirror.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_migration.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/ut_env.h
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_ut_checkpoint.cpp
Labels: large-tests, blockstore

#3360 [NBS] add parameter to calculate mixed channel count as percent from merged channel count
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/core/volume_model.cpp
  cloud/blockstore/libs/storage/core/volume_model_ut.cpp
  cloud/blockstore/libs/storage/model/public.h
  cloud/blockstore/libs/storage/partition/part_schema.h
  cloud/blockstore/libs/storage/partition/part_state_ut.cpp
  cloud/blockstore/libs/storage/partition2/part2_schema.h
  cloud/blockstore/libs/storage/partition2/part2_state_ut.cpp
Labels: large-tests, blockstore

#3386 [NBS] Add disk id to partition tablet logs
  cloud/blockstore/libs/storage/partition/part_actor.cpp
  cloud/blockstore/libs/storage/partition/part_actor_addconfirmedblobs.cpp
  cloud/blockstore/libs/storage/partition/part_actor_addgarbage.cpp
  cloud/blockstore/libs/storage/partition/part_actor_changedblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_checkpoint.cpp
  cloud/blockstore/libs/storage/partition/part_actor_cleanup.cpp
  cloud/blockstore/libs/storage/partition/part_actor_collectgarbage.cpp
  cloud/blockstore/libs/storage/partition/part_actor_compaction.cpp
  cloud/blockstore/libs/storage/partition/part_actor_confirmblobs.cpp
  cloud/blockstore/libs/storage/partition/part_actor_deletegarbage.cpp
  cloud/blockstore/libs/storage/partition/part_actor_describeblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_flush.cpp
  cloud/blockstore/libs/storage/partition/part_actor_initfreshblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_initschema.cpp
  cloud/blockstore/libs/storage/partition/part_actor_loadstate.cpp
  cloud/blockstore/libs/storage/partition/part_actor_metadata_rebuild_blockcount.cpp
  cloud/blockstore/libs/storage/partition/part_actor_metadata_rebuild_usedblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_monitoring.cpp
  cloud/blockstore/libs/storage/partition/part_actor_patchblob.cpp
  cloud/blockstore/libs/storage/partition/part_actor_readblob.cpp
  cloud/blockstore/libs/storage/partition/part_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_scan_disk.cpp
  cloud/blockstore/libs/storage/partition/part_actor_trimfreshlog.cpp
  cloud/blockstore/libs/storage/partition/part_actor_waitready.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writeblob.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writefreshblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writemergedblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writemixedblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_zeroblocks.cpp
Labels: large-tests, blockstore

#3383 Save partition actors and wrappers in stack
  cloud/blockstore/libs/storage/model/composite_id.h
  cloud/blockstore/libs/storage/volume/multi_partition_requests.cpp
  cloud/blockstore/libs/storage/volume/partition_info.cpp
  cloud/blockstore/libs/storage/volume/partition_info.h
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_allocatedisk.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_checkpoint.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_forward.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_startstop.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_stats.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_statvolume.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_updateconfig.cpp
  cloud/blockstore/libs/storage/volume/volume_state.cpp
  cloud/blockstore/libs/storage/volume/volume_state.h
Labels: large-tests, blockstore

#3394 [NBS] Add disk id to partition logs, part 2
  cloud/blockstore/libs/storage/partition/part_actor_addblobs.cpp
  cloud/blockstore/libs/storage/partition/part_actor_collectgarbage.cpp
  cloud/blockstore/libs/storage/partition/part_actor_compaction.cpp
  cloud/blockstore/libs/storage/partition/part_actor_patchblob.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writeblob.cpp
Labels: large-tests, blockstore

#3399 Multi-agent write request. Disk agent side. Disk agent can send the write request to other disk agents.
  cloud/blockstore/libs/storage/disk_agent/actors/io_request_parser.cpp
  cloud/blockstore/libs/storage/disk_agent/actors/multi_agent_write_device_blocks_actor.cpp
  cloud/blockstore/libs/storage/disk_agent/actors/multi_agent_write_device_blocks_actor.h
  cloud/blockstore/libs/storage/disk_agent/actors/ya.make
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_io.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/testlib/test_env.cpp
  cloud/blockstore/libs/storage/disk_agent/testlib/test_env.h
  cloud/blockstore/libs/storage/protos/disk.proto
Labels: large-tests, disk_manager, blockstore

#3398 Increase unmount volume logs verbosity level
  cloud/blockstore/libs/storage/volume/volume_actor_removeclient.cpp
Labels: blockstore

#3397 Print unmount error message in the log
  cloud/blockstore/libs/storage/service/volume_session_actor_unmount.cpp
Labels: blockstore

#3409 [CSI] enable discard in vm mode for ydb-based disks
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
Labels: blockstore

#3408 Multi-agent write request. NBS side. NBS can send the multi-agent write request.
  cloud/blockstore/apps/disk_agent/ya.make
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/core/forward_helpers.h
  cloud/blockstore/libs/storage/partition_nonrepl/multi_agent_write_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/multi_agent_write_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_mirror.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_events_private.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/ut_env.h
  cloud/blockstore/libs/storage/partition_nonrepl/ya.make
  cloud/blockstore/libs/storage/testlib/disk_agent_mock.h
  example/nbs/nbs-storage.txt
Labels: large-tests, disk_manager, blockstore, asan

#3268 [Filestore] Implement CPU throttling for cleanup
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_state.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_throttling.cpp
Labels: large-tests, filestore

#3187 issue-3: add device timeout notify to rdma partition
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_events_private.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_checksumblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_readblocks_local.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_zeroblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_events_private.h
Labels: large-tests, blockstore

#3382 Add parameter WriteMixedBlobThresholdHDD as minimum request size in bytes to write to the mixed channel.
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/core/proto_helpers.cpp
  cloud/blockstore/libs/storage/core/proto_helpers.h
  cloud/blockstore/libs/storage/partition/part_actor_writequeue.cpp
  cloud/blockstore/libs/storage/partition/part_ut.cpp
Labels: large-tests, blockstore

#3410 [Filestore] Display orphaned sessions on the monpage, add sensors for active and orphaned sessions
  cloud/filestore/libs/service_local/session.h
  cloud/filestore/libs/storage/service/service_actor_destroysession.cpp
  cloud/filestore/libs/storage/tablet/session.h
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_cleanupsessions.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_monitoring.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_sessions.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_counters.cpp
Labels: large-tests, filestore

#3004 [Disk Manager] retry with new checkpoint if shadow disk failed
  cloud/disk_manager/internal/pkg/clients/nbs/client.go
  cloud/disk_manager/internal/pkg/dataplane/create_dr_based_disk_checkpoint_task.go
  cloud/disk_manager/internal/pkg/dataplane/protos/create_dr_based_disk_checkpoint_task.proto
  cloud/disk_manager/internal/pkg/dataplane/protos/ya.make
  cloud/disk_manager/internal/pkg/dataplane/register.go
  cloud/disk_manager/internal/pkg/dataplane/ya.make
  cloud/disk_manager/internal/pkg/facade/with_broken_checkpoints_nemesis_test/ya.make
  cloud/disk_manager/internal/pkg/facade/with_broken_checkpoints_test/with_broken_checkpoints_test.go
  cloud/disk_manager/internal/pkg/facade/with_broken_checkpoints_test/ya.make
  cloud/disk_manager/internal/pkg/facade/ya.make
  cloud/disk_manager/internal/pkg/services/common/checkpoints_for_images_and_snapshots.go
  cloud/disk_manager/internal/pkg/services/common/ya.make
  cloud/disk_manager/internal/pkg/services/images/config/config.proto
  cloud/disk_manager/internal/pkg/services/images/create_image_from_disk_task.go
  cloud/disk_manager/internal/pkg/services/images/protos/create_image_from_disk_task.proto
  cloud/disk_manager/internal/pkg/services/images/register.go
  cloud/disk_manager/internal/pkg/services/images/service.go
  cloud/disk_manager/internal/pkg/services/snapshots/config/config.proto
  cloud/disk_manager/internal/pkg/services/snapshots/create_snapshot_from_disk_task.go
  cloud/disk_manager/internal/pkg/services/snapshots/protos/create_snapshot_from_disk_task.proto
  cloud/disk_manager/internal/pkg/services/snapshots/service.go
  cloud/disk_manager/internal/pkg/services/ya.make
  cloud/disk_manager/internal/pkg/util/json.go
  cloud/disk_manager/test/recipe/__main__.py
  cloud/disk_manager/test/recipe/disk_manager_launcher.py
Labels: large-tests

#3403 Refactoring: move TYdbRowData from service_stats to ydbstats, deduplicate some code in ydbstats, rename TYdbRow into TYdbStatsRow
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_actor.h
  cloud/blockstore/libs/storage/stats_service/stats_service_actor_ydb.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_ut.cpp
  cloud/blockstore/libs/ydbstats/ydbrow.cpp
  cloud/blockstore/libs/ydbstats/ydbrow.h
  cloud/blockstore/libs/ydbstats/ydbscheme.h
  cloud/blockstore/libs/ydbstats/ydbstats.cpp
  cloud/blockstore/libs/ydbstats/ydbstats.h
  cloud/blockstore/libs/ydbstats/ydbstats_ut.cpp
Labels: large-tests

#3237 [Filestore] cleanup `service_ut_sharding.cpp` test
  cloud/filestore/libs/storage/service/service_ut_sharding.cpp
Labels: filestore

#3426 prototype for scale units
  cloud/blockstore/apps/server/ya.make
  cloud/blockstore/config/server.proto
  cloud/blockstore/libs/client_rdma/rdma_client.cpp
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/daemon/common/bootstrap.h
  cloud/blockstore/libs/daemon/common/ya.make
  cloud/blockstore/libs/daemon/ydb/ya.make
  cloud/blockstore/libs/endpoints/session_manager.cpp
  cloud/blockstore/libs/endpoints/session_manager.h
  cloud/blockstore/libs/server/config.cpp
  cloud/blockstore/libs/server/config.h
  cloud/blockstore/libs/service_rdma/rdma_protocol.cpp
  cloud/blockstore/libs/service_rdma/rdma_protocol.h
  cloud/blockstore/libs/service_rdma/rdma_target.cpp
  cloud/blockstore/libs/service_su/public.h
  cloud/blockstore/libs/service_su/remote_storage_provider.cpp
  cloud/blockstore/libs/service_su/remote_storage_provider.h
  cloud/blockstore/libs/service_su/service_su.cpp
  cloud/blockstore/libs/service_su/service_su.h
  cloud/blockstore/libs/service_su/ya.make
  cloud/blockstore/libs/storage/volume/volume_tx.h
  cloud/blockstore/public/api/protos/io.proto
  cloud/disk_manager/internal/pkg/facade/disk_service_test/common_test.go
Labels: blockstore

#3411 [NBS] Cleanup code of lagging proxy actor
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_actor.h
Labels: blockstore

#3423 Update sys.proto
  cloud/storage/core/tools/common/go/configurator/kikimr-proto/sys.proto
Labels: large-tests

#3430 issue-3: fix use after free
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
Labels: large-tests, blockstore, asan

#3412 Do an instant retry for cancelled requests due to lagging
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_base_request.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_ut.cpp
Labels: blockstore

#3432 Update ya to #16424886 build
  build/mapping.conf.json
  build/platform/test_tool/host.ya.make.inc
  build/platform/test_tool/host_os.ya.make.inc
  build/platform/test_tool/ya.make
  build/plugins/lib/test_const/__init__.py
  build/scripts/move.py
  ya
Labels: large-tests, asan, tsan, msan, ubsan

#3427 [NBS] Add a sensor similar to DiskDown to disk metrics
  cloud/blockstore/libs/diagnostics/volume_stats.cpp
  cloud/blockstore/libs/diagnostics/volume_stats_ut.cpp
Labels: enhancement, large-tests, blockstore

#3431 Lagging devices large tests; Logs fixes; Separate config params for migration speed of lagging devices; Actualize docs
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agent_migration_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_lagging_devices_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_lagging_agents.cpp
  cloud/blockstore/libs/validation/validation_client.cpp
  cloud/blockstore/tests/.gitignore
  cloud/blockstore/tests/loadtest/local-mirror-lagging/local-mirror2-basic.txt
  cloud/blockstore/tests/loadtest/local-mirror-lagging/local-mirror2-device-per-agent-multiple-replicas.txt
  cloud/blockstore/tests/loadtest/local-mirror-lagging/local-mirror2-device-per-agent.txt
  cloud/blockstore/tests/loadtest/local-mirror-lagging/local-mirror2-fresh-device-migration.txt
  cloud/blockstore/tests/loadtest/local-mirror-lagging/local-mirror2-migration.txt
  cloud/blockstore/tests/loadtest/local-mirror-lagging/local-mirror2-restart-nbs.txt
  cloud/blockstore/tests/loadtest/local-mirror-lagging/local-mirror2-small-interval.txt
  cloud/blockstore/tests/loadtest/local-mirror-lagging/local-mirror3-basic.txt
  cloud/blockstore/tests/loadtest/local-mirror-lagging/test.py
  cloud/blockstore/tests/loadtest/local-mirror-lagging/ya.make
  cloud/blockstore/tests/loadtest/ya.make
  cloud/blockstore/tests/python/lib/disk_agent_runner.py
  cloud/blockstore/tests/python/lib/nbs_runner.py
  cloud/blockstore/tests/python/lib/nonreplicated_setup.py
  cloud/blockstore/tests/python/lib/test_base.py
  cloud/storage/core/tools/testing/unstable-process/__main__.py
  doc/blockstore/storage/dynamic_io_mirroring_proposal.md
Labels: large-tests, blockstore

#3444 Write start block and device uuid in traces. Show this info in traces visualizer
  cloud/blockstore/libs/diagnostics/probes.h
  cloud/blockstore/libs/diagnostics/server_stats.cpp
  cloud/blockstore/libs/storage/core/probes.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_base_request.cpp
  cloud/blockstore/tools/analytics/find-perf-bottlenecks/lib/trace.py
  cloud/storage/core/libs/common/public.h
Labels: large-tests, blockstore

#3441 Minor improvements to lagging devices tests
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/tests/loadtest/local-mirror-lagging/local-mirror2-basic.txt
  cloud/blockstore/tests/loadtest/local-mirror-lagging/local-mirror2-device-per-agent.txt
  cloud/blockstore/tests/loadtest/local-mirror-lagging/local-mirror2-fresh-device-migration.txt
  cloud/blockstore/tests/loadtest/local-mirror-lagging/local-mirror2-migration.txt
  cloud/blockstore/tests/loadtest/local-mirror-lagging/local-mirror2-restart-nbs.txt
  cloud/blockstore/tests/loadtest/local-mirror-lagging/local-mirror2-small-interval.txt
  cloud/blockstore/tests/loadtest/local-mirror-lagging/local-mirror2-small-restart-interval.txt
  cloud/blockstore/tests/loadtest/local-mirror-lagging/local-mirror3-basic.txt
  cloud/blockstore/tests/loadtest/local-mirror-lagging/test.py
  cloud/blockstore/tests/loadtest/local-mirror/test.py
  cloud/blockstore/tests/python/lib/disk_agent_runner.py
  cloud/blockstore/tests/python/lib/test_base.py
  cloud/blockstore/tools/testing/loadtest/lib/control_plane_action_runner.cpp
  cloud/storage/core/tools/testing/unstable-process/__main__.py
Labels: large-tests, blockstore

#3440 Print every error flag in the FormatError()
  cloud/storage/core/libs/common/error.cpp
Labels: large-tests, blockstore, filestore

#3445 Decrease logs verbosity level
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_lagging_agents.cpp
Labels: blockstore
