Repository ydb-platform/nbs, pull requests merged in 2025-01, with the labels that each got.

#1849 issue-1709: [Filestore] Implement throttling for DescribeData and GenerateBlobIds requests - allow 4G+ throttle values
  cloud/blockstore/apps/client/lib/volume_manipulation_params.h
  cloud/blockstore/config/diagnostics.proto
  cloud/blockstore/config/server.proto
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/diagnostics/config.h
  cloud/blockstore/libs/server/config.cpp
  cloud/blockstore/libs/server/config.h
  cloud/blockstore/libs/service_throttling/throttler_policy.cpp
  cloud/blockstore/libs/service_throttling/throttler_policy.h
  cloud/blockstore/libs/storage/core/compaction_policy.cpp
  cloud/blockstore/libs/storage/core/compaction_policy.h
  cloud/blockstore/libs/storage/core/volume_model.cpp
  cloud/blockstore/libs/storage/core/volume_model.h
  cloud/blockstore/libs/storage/volume/model/volume_throttling_policy.cpp
  cloud/blockstore/libs/storage/volume/model/volume_throttling_policy.h
  cloud/blockstore/libs/storage/volume/model/volume_throttling_policy_ut.cpp
  cloud/blockstore/libs/storage/volume/testlib/test_env.cpp
  cloud/blockstore/libs/storage/volume/testlib/test_env.h
  cloud/blockstore/libs/storage/volume/volume_actor_monitoring.cpp
  cloud/blockstore/public/api/protos/client.proto
  cloud/blockstore/public/api/protos/volume.proto
  cloud/blockstore/tools/analytics/compaction-sim/main.cpp
  cloud/disk_manager/internal/pkg/clients/nbs/interface.go
  cloud/disk_manager/internal/pkg/clients/nfs/interface.go
  cloud/filestore/apps/client/lib/performance_profile_params.h
  cloud/filestore/apps/client/lib/performance_profile_params_ut.cpp
  cloud/filestore/libs/storage/core/model.cpp
  cloud/filestore/libs/storage/core/model_ut.cpp
  cloud/filestore/libs/storage/tablet/model/throttling_policy.cpp
  cloud/filestore/libs/storage/tablet/model/throttling_policy.h
  cloud/filestore/libs/storage/tablet/model/throttling_policy_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_throttling.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_throttling.cpp
  cloud/filestore/libs/storage/testlib/tablet_client.h
  cloud/filestore/private/api/protos/tablet.proto
  cloud/filestore/public/api/protos/fs.proto
  cloud/storage/core/libs/throttling/helpers.cpp
  cloud/storage/core/libs/throttling/helpers.h
  cloud/storage/core/libs/throttling/helpers_ut.cpp
  cloud/storage/core/libs/throttling/public.h
  contrib/ydb/core/protos/blockstore_config.proto
  contrib/ydb/core/protos/filestore_config.proto
Labels: large-tests

#2781 issue-2674: 1. making GetNodeAttr request to shard upon EEXIST for CreateNode in shard to return proper node attr to the client 2. checking that the returned node attr matches the CreateNodeRequest and reporting crit event
  cloud/filestore/libs/diagnostics/critical_events.h
  cloud/filestore/libs/storage/service/service_ut_sharding.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createnode.cpp
Labels: large-tests, filestore

#2771 Fix monitoring url on the volume mon page
  cloud/blockstore/libs/diagnostics/hostname.cpp
Labels: blockstore

#2488 doc: endpoints
  doc/blockstore/endpoints/endpoints.md
Labels: documentation

#2419 test: set split factor to 1 for keyring tests
  cloud/storage/core/libs/endpoints/keyring/ut/ya.make
Labels: blockstore, rebase

#2739 [CSI] remove VOLUME_MOUNT_GROUP capability
  cloud/blockstore/tests/csi_driver/e2e_tests_part2/test.py
  cloud/blockstore/tools/csi_driver/deploy/manifests/4-storageclass.yaml
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
Labels: blockstore

#2790 issue-2674: implemented filestore-client diff command - will use it for sharded vs non-sharded filesystem integration tests
  cloud/filestore/apps/client/lib/command.cpp
  cloud/filestore/apps/client/lib/command.h
  cloud/filestore/apps/client/lib/diff.cpp
  cloud/filestore/apps/client/lib/factory.cpp
  cloud/filestore/apps/client/lib/find.cpp
  cloud/filestore/apps/client/lib/find_garbage.cpp
  cloud/filestore/apps/client/lib/ya.make
  cloud/filestore/tests/client/canondata/result.json
  cloud/filestore/tests/client/canondata/test.test_diff/results.txt
  cloud/filestore/tests/client/test.py
  cloud/filestore/tests/python/lib/client.py
Labels: large-tests, filestore

#2627 issue-1226: Use LRU Cache for MixedBlocks
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/model/deletion_markers.cpp
  cloud/filestore/libs/storage/tablet/model/deletion_markers.h
  cloud/filestore/libs/storage/tablet/model/mixed_blocks.cpp
  cloud/filestore/libs/storage/tablet/model/mixed_blocks.h
  cloud/filestore/libs/storage/tablet/model/mixed_blocks_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.cpp
  cloud/filestore/tests/loadtest/service-kikimr-newfeatures-test/nfs-storage.txt
  cloud/storage/core/libs/common/lru_cache.cpp
  cloud/storage/core/libs/common/lru_cache.h
  cloud/storage/core/libs/common/lru_cache_ut.cpp
  cloud/storage/core/libs/common/ut/ya.make
  cloud/storage/core/libs/common/ya.make
Labels: large-tests, filestore

#2789 issue-176: disable used block tracking
  cloud/blockstore/libs/storage/volume/volume_state.cpp
  cloud/blockstore/libs/storage/volume/volume_state.h
  cloud/blockstore/libs/storage/volume/volume_state_ut.cpp
  cloud/blockstore/tests/encryption_at_rest/test.py
Labels: large-tests

#2800 issue-2674: directory sharding - shard->shard stats aggregation fixes + ut
  cloud/filestore/libs/storage/service/service_ut_sharding.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/private/api/protos/tablet.proto
Labels: large-tests, filestore

#2808 issue-1932: added explicit shard count setting (--shard-count) to filestore-client
  cloud/filestore/apps/client/lib/create.cpp
  cloud/filestore/apps/client/lib/resize.cpp
  cloud/filestore/tests/client_sharded/canondata/result.json
  cloud/filestore/tests/client_sharded/canondata/test.test_explicit_shard_count_addition/results.txt
  cloud/filestore/tests/client_sharded/test.py
  cloud/filestore/tests/python/lib/client.py
Labels: filestore

#2754 feat: add thread count calculator that will adapt to downgraded preset
  .github/actions/build/action.yaml
  .github/actions/nebius_threads_calculator/action.yaml
  .github/workflows/build_and_test_on_demand.yaml
  .github/workflows/build_and_test_on_demand_cmake.yaml
  .github/workflows/build_and_test_ya.yaml
  .github/workflows/create_and_delete_vm.yaml
  .github/workflows/nightly-nebius.yaml
  .github/workflows/pr-github-actions.yaml
Labels: large-tests, recheck, nebius, allow-downgrade

#2815 issue-2674: getting rid of unneeded optimization which allowed local node creation if the tablet in charge of the parent directory selects itself as the shard for child node creation; fixing DupCache clearing logic for the case of request id collisions
  cloud/filestore/libs/storage/service/service_actor_createhandle.cpp
  cloud/filestore/libs/storage/tablet/session.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/tests/client_sharded_dir/canondata/test.test_nonsharded_vs_sharded_fs/results.txt
  cloud/filestore/tests/client_sharded_dir/test.py
Labels: large-tests, filestore, rebase

#2807 issue-1146: allow other operations to complete during noderefs loading
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_loadstate.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_loadstate_noderefs.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/tablet_ut_cache.cpp
Labels: large-tests, filestore

#2745 Issue 2709: add cleanup of leaked devices
  cloud/blockstore/libs/storage/core/tablet.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_loadstate.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_remove_orphan_devices.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_cms.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_tx.h
  cloud/blockstore/libs/storage/disk_registry/model/device_list.cpp
  cloud/blockstore/libs/storage/disk_registry/model/device_list.h
  cloud/blockstore/libs/storage/disk_registry/testlib/test_state.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_state.h
  cloud/blockstore/libs/storage/disk_registry/ya.make
Labels: large-tests, blockstore

#2818 [Filestore] Increase verbosiy of mount-kikimr-test and make it large
  cloud/filestore/tests/fio/mount-kikimr-test/ya.make
  cloud/filestore/tests/fio_index/qemu-kikimr-multishard-nemesis-test/ya.make
  cloud/filestore/tests/recipes/mount.inc
  cloud/filestore/tests/recipes/vhost-endpoint.inc
  cloud/filestore/tests/recipes/vhost-kikimr.inc
  cloud/filestore/tests/recipes/vhost-local-noserver.inc
  cloud/filestore/tests/recipes/vhost-local.inc
Labels: large-tests, filestore

#2822 issue-2674: filestore-client mv command
  cloud/filestore/apps/client/lib/factory.cpp
  cloud/filestore/apps/client/lib/mv.cpp
  cloud/filestore/apps/client/lib/ya.make
  cloud/filestore/tests/client/canondata/test.test_diff/results.txt
  cloud/filestore/tests/client/test.py
  cloud/filestore/tests/python/lib/client.py
Labels: filestore

#2823 issue-2674: filestore-client ln command + support for RenameNode, UnlinkNode + basic support for RenameNode in filesystems with directories in shards
  cloud/filestore/apps/client/lib/command.cpp
  cloud/filestore/apps/client/lib/command.h
  cloud/filestore/apps/client/lib/diff.cpp
  cloud/filestore/apps/client/lib/factory.cpp
  cloud/filestore/apps/client/lib/ln.cpp
  cloud/filestore/apps/client/lib/ya.make
  cloud/filestore/libs/storage/api/service.h
  cloud/filestore/tests/client_sharded_dir/canondata/test.test_nonsharded_vs_sharded_fs/results.txt
  cloud/filestore/tests/client_sharded_dir/test.py
  cloud/filestore/tests/python/lib/client.py
Labels: large-tests, filestore

#2816 [NBS] Document result codes
  cloud/storage/core/libs/common/error.h
  doc/blockstore/diagnostics/result-codes.md
Labels: blockstore

#2821 issue-1146: load nodes upon the tablet startup as well
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_loadstate.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_loadstate_nodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.h
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_state_cache.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_cache.h
  cloud/filestore/libs/storage/tablet/tablet_state_iface.h
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/tablet_ut_cache.cpp
  cloud/filestore/libs/storage/tablet/ya.make
Labels: large-tests, filestore

#2824 issue-2831 increase the verbosiy of fio_index/mount-kikimr-test and make it large
  cloud/filestore/tests/fio_index/mount-kikimr-test/ya.make
  cloud/filestore/tests/recipes/mount/__main__.py
Labels: large-tests, filestore

#2837 fix broken device rendering on disk registry mon page
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_monitoring.cpp
Labels: blockstore

#2764 Reacquire shadow disk to read-only after changed to ready with long timeout
  cloud/blockstore/libs/storage/volume/actors/shadow_disk_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_ut_checkpoint.cpp
Labels: blockstore

#2839 [Filestore] issue-2819: Forget deleted directory node if it has <= 2 links
  cloud/filestore/libs/service_local/fs_node.cpp
Labels: filestore

#2835 issue-1146: add InMemoryIndexCacheLoadOnTabletStart and InMemoryIndexCacheLoadOnTabletStartRowsPerTx flags to the newfeatures tests
  cloud/filestore/tests/loadtest/service-kikimr-newfeatures-test/nfs-storage.txt
Labels: large-tests, filestore

#2802 [CSI] trigger StopEndpoint if StartEndpoint has failed with GRPC Timeout error
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
Labels: blockstore, rebase

#2845 [Filestore] improve service.TReadDataActor logs
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
Labels: filestore

#2812 [Filestore] Add logs for endpoints restoration
  cloud/filestore/libs/endpoint/endpoint_manager.cpp
  cloud/filestore/libs/storage/service/service_actor_createsession.cpp
Labels: filestore, rebase

#2838 issue-2674: cross-shard RenameNode implementation
  cloud/filestore/libs/diagnostics/critical_events.h
  cloud/filestore/libs/storage/api/tablet.h
  cloud/filestore/libs/storage/service/service_actor_alterfs.cpp
  cloud/filestore/libs/storage/service/service_actor_createfs.cpp
  cloud/filestore/libs/storage/tablet/protos/tablet.proto
  cloud/filestore/libs/storage/tablet/protos/ya.make
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_createnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_oplog.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode_destination.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode_source.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_request.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_unlinknode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_updateconfig.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_sessions.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/ya.make
  cloud/filestore/private/api/protos/tablet.proto
  cloud/filestore/tests/client_sharded_dir/canondata/test.test_nonsharded_vs_sharded_fs/results.txt
  cloud/filestore/tests/client_sharded_dir/test.py
Labels: large-tests, filestore, rebase

#2798 [CSI] remove deprecated stage/publish functions
  cloud/blockstore/tests/csi_driver/e2e_tests_part1/test.py
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
Labels: blockstore

#2857 issue-2674: RenameNodeInDestination replay upon tablet start
  cloud/filestore/libs/storage/service/service_ut_sharding.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_oplog.cpp
Labels: large-tests, filestore

#2760 [NBS] Issue 2732: add change device/agent state buttons
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_change_agent_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_change_device_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_monitoring.cpp
  cloud/blockstore/libs/storage/disk_registry/ya.make
  cloud/blockstore/tests/monitoring/test.py
  cloud/blockstore/tests/python/lib/client.py
Labels: large-tests, blockstore

#2687 [Disk Manager] enable shadow disks in disk manager large tests
  cloud/disk_manager/test/recipe/nbs_launcher.py
Labels: large-tests

#2814 [Filestore] issue-2813: use uid/gid from fuse context when creating node
  cloud/filestore/libs/service_local/fs_data.cpp
  cloud/filestore/libs/service_local/fs_node.cpp
  cloud/filestore/libs/service_local/lowlevel.cpp
  cloud/filestore/libs/service_local/lowlevel.h
Labels: filestore

#2864 Fix generated state file path
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_benchmark.cpp
  cloud/blockstore/tests/.gitignore
  cloud/blockstore/tests/recipes/disk-registry-state/__main__.py
Labels: blockstore

#2792 reconfigure nbd device on disconnect from the kernel #2791
  cloud/blockstore/libs/endpoint_proxy/server/server.cpp
  cloud/blockstore/libs/endpoints_nbd/nbd_server.cpp
  cloud/blockstore/libs/nbd/bench/bootstrap.cpp
  cloud/blockstore/libs/nbd/error_handler.cpp
  cloud/blockstore/libs/nbd/error_handler.h
  cloud/blockstore/libs/nbd/netlink_device.cpp
  cloud/blockstore/libs/nbd/public.h
  cloud/blockstore/libs/nbd/server.cpp
  cloud/blockstore/libs/nbd/server_handler.cpp
  cloud/blockstore/libs/nbd/server_handler.h
  cloud/blockstore/libs/nbd/server_handler_ut.cpp
  cloud/blockstore/libs/nbd/server_ut.cpp
  cloud/blockstore/libs/nbd/ya.make
  cloud/blockstore/tools/nbd/bootstrap.cpp
  cloud/blockstore/tools/testing/nbd-test/target.cpp
Labels: rebase

#2859 sharding ut cleanup
  cloud/filestore/libs/storage/service/service_ut_sharding.cpp
Labels: filestore

#2868 Fix build due to missed include <exception>
  cloud/blockstore/libs/nbd/error_handler.h
Labels: blockstore

#2867 [Filestore]: support remove by parentId and name in filestore-client
  cloud/filestore/apps/client/lib/rm.cpp
  cloud/filestore/tests/client/canondata/result.json
  cloud/filestore/tests/client/canondata/test.test_rm/results.txt
  cloud/filestore/tests/client/test.py
Labels: filestore

#2860 issue-1350: support finding garbage in main tablet (filestore-client findgarbage tool)
  cloud/filestore/apps/client/lib/command.cpp
  cloud/filestore/apps/client/lib/command.h
  cloud/filestore/apps/client/lib/diff.cpp
  cloud/filestore/apps/client/lib/find.cpp
  cloud/filestore/apps/client/lib/find_garbage.cpp
  cloud/filestore/tests/client/canondata/result.json
  cloud/filestore/tests/client/canondata/test.test_multitablet_findgarbage_in_leader/results.txt
  cloud/filestore/tests/client/test.py
  cloud/filestore/tests/python/lib/client.py
  doc/filestore/design/cli/findgarbage.md
  doc/filestore/design/cli/ls.md
Labels: filestore

#2872 Revert "[CSI] remove VOLUME_MOUNT_GROUP capability (#2739)"
  cloud/blockstore/tests/csi_driver/e2e_tests_part2/test.py
  cloud/blockstore/tools/csi_driver/deploy/manifests/4-storageclass.yaml
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
Labels: blockstore

#2861 add fs and tablets counters
  cloud/filestore/libs/storage/api/service.h
  cloud/filestore/libs/storage/service/service_actor.cpp
  cloud/filestore/libs/storage/service/service_actor.h
  cloud/filestore/libs/storage/service/service_actor_update_stats.cpp
  cloud/filestore/libs/storage/service/service_state.cpp
  cloud/filestore/libs/storage/service/service_state.h
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_updateconfig.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut.cpp
  cloud/filestore/libs/storage/testlib/service_client.h
Labels: filestore

#2873 issue-2674: locking NodeRefs for modification upon RenameNode and UnlinkNode ops
  cloud/filestore/libs/diagnostics/critical_events.h
  cloud/filestore/libs/storage/service/service_ut_sharding.cpp
  cloud/filestore/libs/storage/tablet/model/node_index_cache.cpp
  cloud/filestore/libs/storage/tablet/model/node_index_cache.h
  cloud/filestore/libs/storage/tablet/model/node_ref.cpp
  cloud/filestore/libs/storage/tablet/model/node_ref.h
  cloud/filestore/libs/storage/tablet/model/ya.make
  cloud/filestore/libs/storage/tablet/tablet_actor_oplog.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode_source.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_unlinknode.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_impl.h
  cloud/filestore/libs/storage/tablet/tablet_state_nodes.cpp
Labels: large-tests, filestore

#2878 issue-2674: cross-shard RenameNode ut with error upon RenameNodeInDestination
  cloud/filestore/libs/storage/service/service_ut_sharding.cpp
Labels: large-tests, filestore

#2851 Do the lite reallocation when only IOModeTs is changed
  cloud/blockstore/libs/storage/volume/volume_actor_allocatedisk.cpp
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
Labels: large-tests, blockstore

#2880 issue-2831: suppress mount-kikimr-test in sanitizer builds
  cloud/filestore/tests/fio_index/mount-kikimr-test/ya.make
Labels: filestore, asan, tsan

#2883 [Filestore]: include LogTag for better logging in service_actor_writedata.cpp
  cloud/filestore/libs/storage/service/service_actor_writedata.cpp
Labels: filestore

#2704 [NBS] make new volume counters to fix UsedQuota strange values
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/core/disk_counters.h
  cloud/blockstore/libs/storage/volume/model/volume_throttling_policy.cpp
  cloud/blockstore/libs/storage/volume/model/volume_throttling_policy.h
  cloud/blockstore/libs/storage/volume/model/volume_throttling_policy_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/blockstore/libs/throttling/throttler.cpp
Labels: large-tests, blockstore

#2888 issue-2703: correct linter problems
  cloud/blockstore/libs/storage/core/config.h
Labels: blockstore

#2842 issue-2841: add lock on StartEndpointImpl method call
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/blockstore/libs/endpoints/endpoint_manager_ut.cpp
  cloud/storage/core/libs/common/scheduler_test.cpp
  cloud/storage/core/libs/common/scheduler_test.h
Labels: large-tests, blockstore

#2612 [Disk Manager] Support creation image from NRD disks
  cloud/disk_manager/internal/pkg/clients/nbs/client.go
  cloud/disk_manager/internal/pkg/clients/nbs/interface.go
  cloud/disk_manager/internal/pkg/clients/nbs/mocks/client_mock.go
  cloud/disk_manager/internal/pkg/facade/image_service_test/image_service_test.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_disk_task.go
  cloud/disk_manager/internal/pkg/services/snapshots/create_snapshot_from_disk_task.go
Labels: large-tests, disk_manager

#2900 Fix ShouldCacheLimitedNumberOfRecords test
  cloud/blockstore/libs/storage/volume/volume_state_ut.cpp
Labels: blockstore

#2877 Add GarbageCompactionRangeCountPerRun and ForcedCompactionRangeCountPerRun parameters to batch compaction feature
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/compaction_map.cpp
  cloud/blockstore/libs/storage/core/compaction_map.h
  cloud/blockstore/libs/storage/core/compaction_map_ut.cpp
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/partition/part_actor_compaction.cpp
  cloud/blockstore/libs/storage/partition/part_ut.cpp
  cloud/blockstore/tests/loadtest/local-newfeatures/test.py
Labels: large-tests

#2897 fix: comment is duplicated on dry runs and not dry runs
  .github/scripts/tests/generate-summary.py
Labels: recheck

#2884 Bandwidth recommendations for direct copy
  cloud/blockstore/config/disk.proto
  cloud/blockstore/libs/daemon/common/config_initializer.cpp
  cloud/blockstore/libs/daemon/ydb/config_initializer.cpp
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/blockstore/libs/disk_agent/config_initializer.cpp
  cloud/blockstore/libs/disk_agent/config_initializer.h
  cloud/blockstore/libs/storage/disk_agent/actors/direct_copy_actor.cpp
  cloud/blockstore/libs/storage/disk_agent/actors/direct_copy_actor.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_direct_copy.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/model/bandwidth_calculator.cpp
  cloud/blockstore/libs/storage/disk_agent/model/bandwidth_calculator.h
  cloud/blockstore/libs/storage/disk_agent/model/bandwidth_calculator_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.h
  cloud/blockstore/libs/storage/disk_agent/model/ut/ya.make
  cloud/blockstore/libs/storage/disk_agent/model/ya.make
  cloud/blockstore/libs/storage/disk_agent/spdk_initializer_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/storage_initializer_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/testlib/test_env.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/copy_range.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/direct_copy_range.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/direct_copy_range.h
  cloud/blockstore/libs/storage/partition_nonrepl/migration_timeout_calculator.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/migration_timeout_calculator.h
  cloud/blockstore/libs/storage/partition_nonrepl/migration_timeout_calculator_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_events_private.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_migration.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_ut.cpp
  cloud/blockstore/libs/storage/protos/disk.proto
  cloud/blockstore/libs/storage/volume/volume_ut_stats.cpp
  example/0-setup.sh
  example/nbs/nbs-throttling.json
Labels: blockstore

#2920 Don't split dwarf for release-with-debug-info build
  cloud/blockstore/apps/server/ya.make
Labels: blockstore

#2921 Enable change state of devices and agents from monpage
  example/nbs/nbs-storage.txt
Labels: blockstore

#2922 issue-2831: suppress mount-kikimr-test in all builds
  cloud/filestore/tests/fio_index/mount-kikimr-test/ya.make
Labels: large-tests, filestore

#2805 Filestore: readahead cache invalidation should not evict all nodes
  cloud/filestore/libs/storage/tablet/model/read_ahead.cpp
  cloud/filestore/libs/storage/tablet/model/read_ahead_ut.cpp
Labels: large-tests, filestore

#2899 issue-1146: decrease verbosity of loading nodes and noderefs and add option to space out this loading over time
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/tablet_actor_adddata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_loadstate.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_loadstate_noderefs.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_loadstate_nodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/tablet_ut_cache.cpp
Labels: large-tests, filestore

#2919 issue-2917: don't discard Disk Agent stats with unknown devices
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut.cpp
Labels: blockstore

#2929 update stored endpoint's size during resize; #2928
  cloud/blockstore/libs/endpoint_proxy/server/server.cpp
  cloud/blockstore/tests/e2e-tests/test.py
  cloud/blockstore/tests/python/lib/endpoint_proxy.py
  cloud/blockstore/tests/python/lib/loadtest_env.py
Labels: blockstore, rebase

#2932 issue-2831: mute cloud/filestore/tests/fio_index/qemu-{local,kikimr}-test
  .github/config/muted_ya_nebius.txt
Labels: large-tests, filestore

#2930 Remove Berkanavt from path
  cloud/blockstore/tests/recipes/local-kikimr/__main__.py
  cloud/filestore/tests/recipes/service-kikimr/__main__.py
Labels: large-tests, blockstore, filestore

#2934 FIx restoration shadow disk from backup
  cloud/blockstore/libs/storage/disk_registry/actors/restore_validator_actor.cpp
  cloud/blockstore/libs/storage/disk_registry/actors/restore_validator_actor_ut.cpp
  cloud/blockstore/libs/storage/volume/actors/shadow_disk_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_ut_checkpoint.cpp
Labels: blockstore

#2811 [Filestore] issue-2806: support multiple aio engines in local filestore
  cloud/filestore/libs/daemon/vhost/bootstrap.cpp
  cloud/filestore/libs/service_local/config.cpp
  cloud/filestore/libs/service_local/service.cpp
  cloud/filestore/libs/vfs_fuse/loop.cpp
  cloud/storage/core/libs/aio/service.cpp
  cloud/storage/core/libs/aio/service.h
Labels: filestore

#2866 [Filestore] issue-2865: discard deleted nodes when recovering existing local filestore session
  cloud/filestore/libs/service_local/index.h
  cloud/filestore/libs/service_local/index_ut.cpp
Labels: filestore

#2940 [Filestore] Remove unused RECURSE_FOR_TESTS
  cloud/filestore/libs/storage/model/ut/ya.make
Labels: filestore

#2944 fix sanitize issue
  cloud/blockstore/libs/storage/volume/volume_ut_session.cpp
Labels: blockstore, asan

#2894 [Disk Manager] Refactoring: use testing client for dm integration tests
  cloud/disk_manager/internal/pkg/clients/nbs/factory.go
  cloud/disk_manager/internal/pkg/clients/nbs/interface.go
  cloud/disk_manager/internal/pkg/clients/nbs/mocks/client_mock.go
  cloud/disk_manager/internal/pkg/clients/nbs/testing_client.go
  cloud/disk_manager/internal/pkg/clients/nbs/tests/client_test.go
  cloud/disk_manager/internal/pkg/facade/disk_service_test/disk_relocation_test.go
  cloud/disk_manager/internal/pkg/facade/disk_service_test/disk_service_test.go
  cloud/disk_manager/internal/pkg/facade/image_service_test/image_service_test.go
  cloud/disk_manager/internal/pkg/facade/private_service_test/private_service_test.go
  cloud/disk_manager/internal/pkg/facade/snapshot_service_test/snapshot_service_test.go
  cloud/disk_manager/internal/pkg/facade/testcommon/common.go
  cloud/disk_manager/test/remote/cmd/main.go
Labels: large-tests

#2890 issue-2404: don't start migration if it is already finished
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_monitoring.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_database.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_migration.cpp
Labels: large-tests, blockstore

#2863 Issue 2542: add message to stop DR based partition before volume destruction
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/api/volume.h
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/protos/volume.proto
  cloud/blockstore/libs/storage/service/service_actor_destroy.cpp
  cloud/blockstore/libs/storage/volume/testlib/test_env.cpp
  cloud/blockstore/libs/storage/volume/testlib/test_env.h
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_startstop.cpp
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
Labels: large-tests, blockstore

#2939 Fix the error of dropping the HwProblems flag when receiving E_IO_SILENT
  cloud/blockstore/libs/client/session_ut.cpp
  cloud/storage/core/libs/common/error.h
Labels: large-tests

#2848 issue-2765: backport grpc pr #35064
  contrib/libs/grpc/src/core/lib/iomgr/tcp_client_posix.cc
Labels: blockstore

#2950 Revert "Change default value of WriteRequestBatchingEnabled to true. …
  cloud/blockstore/libs/storage/core/config.cpp
Labels: blockstore

#2952 [NBS] Increase logging verbosity: include group ID
  cloud/blockstore/libs/storage/partition/part_actor_readblob.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writeblob.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor_readblob.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor_writeblob.cpp
Labels: blockstore

#2942 Improve UTs to check mixed/fresh blocks when write batching is enabled; add ShouldBatchSmallWritesToFreshChannelIfThresholdNotExceeded test
  cloud/blockstore/libs/storage/partition/part_ut.cpp
Labels: blockstore

#2946 issue-2277: move copying of the request buffer to TIORequestParserActor
  cloud/blockstore/config/disk.proto
  cloud/blockstore/libs/storage/core/proto_helpers.cpp
  cloud/blockstore/libs/storage/core/proto_helpers.h
  cloud/blockstore/libs/storage/disk_agent/actors/io_request_parser.cpp
  cloud/blockstore/libs/storage/disk_agent/actors/io_request_parser.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_init.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_io.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_private.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state.h
  cloud/blockstore/libs/storage/disk_agent/hash_table_storage.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.h
  cloud/blockstore/libs/storage/disk_agent/testlib/test_env.cpp
  cloud/blockstore/tests/python/lib/config.py
  cloud/blockstore/tests/python/lib/nonreplicated_setup.py
Labels: large-tests, blockstore

#2937 [CSI] NodePublishVolume must return error if FS was remounted to RO
  cloud/blockstore/tests/csi_driver/e2e_tests_part2/test.py
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
  cloud/blockstore/tools/csi_driver/internal/mounter/iface.go
  cloud/blockstore/tools/csi_driver/internal/mounter/mock.go
  cloud/blockstore/tools/csi_driver/internal/mounter/mounter.go
Labels: blockstore
