Repository ydb-platform/nbs, pull requests merged in 2025-10, with the labels that each got.

#4436 Fix mirror disks device replacement without 'fresh' tag
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_allocate.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_mirrored_disks.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_state.cpp
  cloud/blockstore/libs/storage/testlib/test_env_state.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_allocatedisk.cpp
  cloud/blockstore/libs/storage/volume/volume_ut_session.cpp
Labels: large-tests, blockstore

#4427 [DM] Fix dataplane.DeleteSnapshotData after #4300
  cloud/disk_manager/internal/pkg/dataplane/create_snapshot_from_disk_task.go
  cloud/disk_manager/internal/pkg/dataplane/delete_snapshot_data_task.go
  cloud/disk_manager/internal/pkg/dataplane/delete_snapshot_data_task_test.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage_ydb_impl.go
  cloud/disk_manager/internal/pkg/dataplane/tasks_tests/.gitignore
  cloud/disk_manager/internal/pkg/dataplane/tasks_tests/ya.make
  cloud/disk_manager/internal/pkg/dataplane/ya.make
  cloud/disk_manager/internal/pkg/facade/snapshot_service_test/snapshot_service_test.go
Labels: large-tests, disk_manager

#4441 issue-3295: add `GCT_ANY_READ` to newfeatures test
  cloud/filestore/tests/common_configs/nfs-storage-newfeatures-patch.txt
Labels: large-tests, filestore

#4410 [Disk Manager] Use kikimr based filestore in tests
  cloud/disk_manager/internal/pkg/clients/nfs/tests/client_test.go
  cloud/disk_manager/internal/pkg/facade/filesystem_service_test/filesystem_service_test.go
  cloud/disk_manager/test/recipe/__main__.py
  cloud/disk_manager/test/recipe/nfs_launcher.py
  cloud/disk_manager/test/recipe/ydb_launcher.py
  cloud/filestore/tests/config_dispatcher/test.py
  cloud/filestore/tests/python/lib/daemon_config.py
  cloud/filestore/tests/python/lib/server.py
  cloud/filestore/tests/recipes/service-kikimr/__main__.py
  cloud/filestore/tests/registration/test.py
Labels: large-tests, rebase

#4456 Use disk agent checksums for read2 if present
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
  cloud/blockstore/libs/storage/testlib/disk_agent_mock.h
Labels: large-tests, blockstore

#4428 Add impossible event for DR's ReplicaTable replacement fails
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/model/replica_table.h
Labels: large-tests, blockstore

#4463 Fix arcadia build
  cloud/blockstore/tools/testing/disk-registry-state-generator/main.cpp
Labels: blockstore

#4469 fix ss path after https://github.com/ydb-platform/nbs/pull/4410
  cloud/filestore/tests/python/lib/kikimr.py
Labels: large-tests, filestore

#4466 added media kind and request size to trace attributes
  cloud/storage/core/libs/opentelemetry/impl/trace_convert.cpp
  cloud/storage/core/libs/opentelemetry/impl/trace_convert.h
  cloud/storage/core/libs/opentelemetry/impl/trace_reader.cpp
Labels: disk_manager, blockstore, filestore

#4432 [DM] Allow overriding EstimatedInflightDuration and EstimatedStallingDuration via tasks config
  cloud/tasks/config/config.proto
  cloud/tasks/runner.go
  cloud/tasks/runner_test.go
  cloud/tasks/tasks_tests/tasks_test.go
Labels: large-tests, disk_manager
