Repository ydb-platform/nbs, pull requests merged in 2025-06, with the labels that each got.

#3599 New format for log title
  cloud/blockstore/libs/storage/init/server/actorsystem.cpp
  cloud/blockstore/libs/storage/model/log_title.cpp
  cloud/blockstore/libs/storage/model/log_title.h
  cloud/blockstore/libs/storage/model/log_title_ut.cpp
  cloud/blockstore/libs/storage/model/ut/ya.make
  cloud/blockstore/libs/storage/model/ya.make
  cloud/blockstore/libs/storage/partition/part.cpp
  cloud/blockstore/libs/storage/partition/part.h
  cloud/blockstore/libs/storage/partition/part_actor.cpp
  cloud/blockstore/libs/storage/partition/part_actor.h
  cloud/blockstore/libs/storage/partition/part_actor_initfreshblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_initschema.cpp
  cloud/blockstore/libs/storage/partition/part_actor_loadstate.cpp
  cloud/blockstore/libs/storage/partition/part_ut.cpp
  cloud/blockstore/libs/storage/service/volume_session_actor_start.cpp
  cloud/blockstore/libs/storage/testlib/test_env.cpp
  cloud/blockstore/libs/storage/volume/partition_info.cpp
  cloud/blockstore/libs/storage/volume/partition_info.h
  cloud/blockstore/libs/storage/volume/testlib/test_env.cpp
  cloud/blockstore/libs/storage/volume/volume.cpp
  cloud/blockstore/libs/storage/volume/volume.h
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_addclient.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_allocatedisk.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_initschema.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_loadstate.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_startstop.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_updateconfig.cpp
  cloud/blockstore/libs/storage/volume/volume_state.cpp
Labels: large-tests, blockstore

#3588 Rename AddLaggingDevices -> AddOutdatedLaggingDevices DR event
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/storage/api/disk_registry.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_add_lagging_devices.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_monitoring.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_lagging_agents.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_tx.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_lifecycle.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_env.h
  cloud/blockstore/libs/storage/protos/disk.proto
  cloud/blockstore/libs/storage/testlib/disk_registry_proxy_mock.h
  cloud/blockstore/libs/storage/testlib/test_env_state.h
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_lagging_agents.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_startstop.cpp
  cloud/blockstore/libs/storage/volume/volume_events_private.h
  cloud/blockstore/libs/storage/volume/volume_lagging_agent_ut.cpp
Labels: large-tests, blockstore

#3613 Update diskId for logging when disk created as soon as possible
  cloud/blockstore/libs/storage/volume/volume_actor_updateconfig.cpp
Labels: blockstore

#3607 Fix vhost-server test
  cloud/blockstore/tests/vhost-server/test.py
Labels: blockstore, asan

#3578 Prepare volume unit tests to test multiple volumes
  cloud/blockstore/libs/storage/testlib/test_runtime.h
  cloud/blockstore/libs/storage/volume/testlib/test_env.cpp
  cloud/blockstore/libs/storage/volume/testlib/test_env.h
Labels: large-tests, blockstore

#3615 [Filestore] issues-3610: posix_acl_access and posix_acl_default are allowed
  build/ext_mapping.conf.json
  cloud/filestore/libs/vfs_fuse/fs_impl_attr.cpp
  cloud/filestore/tests/fs_posix_compliance/acl-set-test/test.py
  cloud/filestore/tests/fs_posix_compliance/acl-set-test/ya.make
  cloud/filestore/tests/fs_posix_compliance/ya.make
  cloud/storage/core/tools/testing/qemu/build-image/README.md
  cloud/storage/core/tools/testing/qemu/build-image/__main__.py
  cloud/storage/core/tools/testing/qemu/image/ya.make
Labels: large-tests, filestore

#3619 Introduce IngestTime histogram to service and service_volume
  cloud/blockstore/libs/client/durable.cpp
  cloud/blockstore/libs/client/durable_ut.cpp
  cloud/blockstore/libs/storage/core/disk_counters.cpp
  cloud/blockstore/libs/storage/core/disk_counters.h
  cloud/blockstore/libs/storage/core/disk_counters_ut.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_actor_ydb.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_forward.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_throttling.cpp
  cloud/blockstore/libs/storage/volume/volume_ut_stats.cpp
  cloud/blockstore/public/api/protos/headers.proto
Labels: large-tests, blockstore

#3416 [Blockstore] Loading compaction map lazily (#2871)
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/compaction_map.cpp
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/partition/model/compaction_map_load_state.cpp
  cloud/blockstore/libs/storage/partition/model/compaction_map_load_state.h
  cloud/blockstore/libs/storage/partition/model/compaction_map_load_state_ut.cpp
  cloud/blockstore/libs/storage/partition/model/ut/ya.make
  cloud/blockstore/libs/storage/partition/model/ya.make
  cloud/blockstore/libs/storage/partition/part_actor.cpp
  cloud/blockstore/libs/storage/partition/part_actor.h
  cloud/blockstore/libs/storage/partition/part_actor_addblobs.cpp
  cloud/blockstore/libs/storage/partition/part_actor_compaction.cpp
  cloud/blockstore/libs/storage/partition/part_actor_compactrange.cpp
  cloud/blockstore/libs/storage/partition/part_actor_loadstate.cpp
  cloud/blockstore/libs/storage/partition/part_database.cpp
  cloud/blockstore/libs/storage/partition/part_database.h
  cloud/blockstore/libs/storage/partition/part_database_ut.cpp
  cloud/blockstore/libs/storage/partition/part_events_private.h
  cloud/blockstore/libs/storage/partition/part_tx.h
  cloud/blockstore/libs/storage/partition/part_ut.cpp
Labels: large-tests, blockstore

#3645 Re-upload resources to sandbox
  build/ext_mapping.conf.json
  cloud/filestore/tests/profile_log/replay/data/ya.make
  cloud/storage/core/tools/testing/qemu/image-noble/ya.make
Labels: large-tests, disk_manager, blockstore, filestore, tasks

#3654 Multi-agent writes. Cancel write requests for all replicas with rdma backend
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_lagging_devices_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.cpp
Labels: large-tests, blockstore

#3656 issue-1541: set client_id upon start_endpoint in tests
  cloud/filestore/tests/python/lib/client.py
  cloud/filestore/tests/recipes/vhost-endpoint/__main__.py
Labels: large-tests

#3661 Fix build. Replace TString.Size() with TString.size()
  cloud/filestore/libs/service_local/lowlevel_ut.cpp
Labels: filestore

#3658 Introduce LogTitle for child actor. Use LogTitle for TAcquireDeviceActor and start-stop logs
  cloud/blockstore/libs/storage/model/log_title.cpp
  cloud/blockstore/libs/storage/model/log_title.h
  cloud/blockstore/libs/storage/model/log_title_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_acquire.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_forward.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_startstop.cpp
Labels: large-tests, blockstore

#3672 [NBS] Fix ShouldAggregateMetricsFromTabletsAndSendThemToHive
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
Labels: blockstore

#3665 issue-3371: fix request bytes metric for large requests
  cloud/blockstore/libs/client/throttling_ut.cpp
  cloud/blockstore/libs/diagnostics/request_stats.cpp
  cloud/blockstore/libs/diagnostics/request_stats.h
  cloud/blockstore/libs/diagnostics/server_stats.cpp
  cloud/blockstore/libs/diagnostics/server_stats.h
  cloud/blockstore/libs/diagnostics/server_stats_test.h
  cloud/blockstore/libs/diagnostics/volume_stats.cpp
  cloud/blockstore/libs/diagnostics/volume_stats.h
  cloud/blockstore/libs/diagnostics/volume_stats_test.h
  cloud/blockstore/libs/endpoint_proxy/server/proxy_storage.cpp
  cloud/blockstore/libs/service_throttling/throttler_logger_ut.cpp
  cloud/storage/core/libs/diagnostics/request_counters.cpp
  cloud/storage/core/libs/diagnostics/request_counters.h
  cloud/storage/core/libs/diagnostics/request_counters_ut.cpp
Labels: blockstore

#3671 Make session logs better. Part 2. Show NBS-2 mark.
  cloud/blockstore/libs/storage/init/server/actorsystem.cpp
  cloud/blockstore/libs/storage/model/log_title.cpp
  cloud/blockstore/libs/storage/model/log_title.h
  cloud/blockstore/libs/storage/model/log_title_ut.cpp
  cloud/blockstore/libs/storage/service/service.cpp
  cloud/blockstore/libs/storage/service/service.h
  cloud/blockstore/libs/storage/service/service_actor.cpp
  cloud/blockstore/libs/storage/service/service_actor.h
  cloud/blockstore/libs/storage/service/service_actor_mount.cpp
  cloud/blockstore/libs/storage/service/volume_session_actor.cpp
  cloud/blockstore/libs/storage/service/volume_session_actor.h
  cloud/blockstore/libs/storage/testlib/test_env.cpp
Labels: large-tests, disk_manager, blockstore

#3676 [CSI] Revert StartEndpoint parameters
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
Labels: blockstore

#3538 [NBS] Fix monitoring pages issues #3504
  cloud/blockstore/libs/diagnostics/hostname.cpp
  cloud/blockstore/libs/diagnostics/hostname.h
  cloud/blockstore/libs/storage/core/monitoring_utils.cpp
  cloud/blockstore/libs/storage/core/monitoring_utils.h
  cloud/blockstore/libs/storage/partition/part.cpp
  cloud/blockstore/libs/storage/partition/part.h
  cloud/blockstore/libs/storage/partition/part_actor.cpp
  cloud/blockstore/libs/storage/partition/part_actor.h
  cloud/blockstore/libs/storage/partition/part_actor_monitoring.cpp
  cloud/blockstore/libs/storage/partition/part_ut.cpp
  cloud/blockstore/libs/storage/partition2/part2.cpp
  cloud/blockstore/libs/storage/partition2/part2.h
  cloud/blockstore/libs/storage/partition2/part2_actor.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor.h
  cloud/blockstore/libs/storage/partition2/part2_actor_monitoring.cpp
  cloud/blockstore/libs/storage/partition2/part2_ut.cpp
  cloud/blockstore/libs/storage/service/service_actor_monitoring.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_startstop.cpp
Labels: large-tests, blockstore, rebase

#3077 issue-1751: call TWriteBackCache methods from NFuse::TFileSystem; fix automatic flush not working entirely; rename WriteBackCacheSize to WriteBackCacheCapacity; add WriteBackCacheAutomaticFlushPeriod to TVFSConfig; add filesystem id to TCallContext when flushing data
  cloud/filestore/config/vfs.proto
  cloud/filestore/libs/vfs/config.cpp
  cloud/filestore/libs/vfs/config.h
  cloud/filestore/libs/vfs_fuse/fs.cpp
  cloud/filestore/libs/vfs_fuse/fs.h
  cloud/filestore/libs/vfs_fuse/fs_impl.cpp
  cloud/filestore/libs/vfs_fuse/fs_impl.h
  cloud/filestore/libs/vfs_fuse/fs_impl_data.cpp
  cloud/filestore/libs/vfs_fuse/fs_ut.cpp
  cloud/filestore/libs/vfs_fuse/loop.cpp
  cloud/filestore/libs/vfs_fuse/public.h
  cloud/filestore/libs/vfs_fuse/write_back_cache/calculate_data_parts_to_read_ut.cpp
  cloud/filestore/libs/vfs_fuse/write_back_cache/write_back_cache.cpp
  cloud/filestore/libs/vfs_fuse/write_back_cache/write_back_cache.h
  cloud/filestore/libs/vfs_fuse/write_back_cache/write_back_cache_ut.cpp
  cloud/filestore/libs/vfs_fuse/ya.make.inc
  cloud/filestore/libs/vhost/request.h
Labels: large-tests, filestore, rebase, asan, tsan, msan

#3678 Throttling policy fix
  cloud/blockstore/libs/storage/volume/volume_actor_monitoring.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_stats.cpp
  example/3-start_nbs.sh
Labels: large-tests, blockstore

#3695 [NBS][TESTS] Enable async loading compaction map in loadtest
  cloud/blockstore/tests/loadtest/compaction/test.py
Labels: large-tests, blockstore

#3697 fix: fix stack dump without symbol names error with asan build
  cloud/blockstore/apps/disk_agent/ya.make
  cloud/blockstore/apps/server/ya.make
  cloud/blockstore/apps/server_lightweight/ya.make
  cloud/blockstore/libs/kms/impl/example/ya.make
  cloud/blockstore/vhost-server/ya.make
  cloud/filestore/apps/client/ya.make
  cloud/filestore/apps/server/ya.make
  cloud/filestore/apps/vhost/ya.make
Labels: large-tests, asan

#3609 issue-1541: add execute action to filestore python sdk; add async_close test
  cloud/filestore/public/sdk/python/client/base_client.py
  cloud/filestore/public/sdk/python/client/client.py
  cloud/filestore/public/sdk/python/protos/__init__.py
  cloud/filestore/tests/async_close_test/script.py
  cloud/filestore/tests/async_close_test/test.py
  cloud/filestore/tests/async_close_test/ya.make
  cloud/filestore/tests/common_configs/nfs-storage-newfeatures-patch.txt
  cloud/filestore/tests/recipes/vhost/__main__.py
  cloud/filestore/tests/ya.make
Labels: large-tests

#3685 [Disk Manager] add FinishExternalFilesystemCreation, FinishExternalFilesystemDeletion requests to PrivateService; FinishExternalFilesystemCreation expects ExternalStorageClusterName to be provided
  cloud/disk_manager/api/filesystem_service.proto
  cloud/disk_manager/internal/api/private_service.proto
  cloud/disk_manager/internal/pkg/client/client.go
  cloud/disk_manager/internal/pkg/facade/filesystem_service_test/filesystem_service_test.go
  cloud/disk_manager/internal/pkg/facade/interceptor.go
  cloud/disk_manager/internal/pkg/facade/private_service.go
  cloud/disk_manager/internal/pkg/resources/filesystems.go
  cloud/disk_manager/internal/pkg/resources/filesystems_test.go
  cloud/disk_manager/internal/pkg/resources/mocks/storage_mock.go
  cloud/disk_manager/internal/pkg/resources/storage.go
  cloud/disk_manager/internal/pkg/services/filesystem/create_filesystem_task.go
  cloud/disk_manager/internal/pkg/services/filesystem/create_filesystem_task_test.go
  cloud/disk_manager/internal/pkg/services/filesystem/delete_filesystem_task.go
  cloud/disk_manager/internal/pkg/services/filesystem/delete_filesystem_task_test.go
  cloud/disk_manager/internal/pkg/services/filesystem/protos/create_filesystem_task.proto
  cloud/disk_manager/internal/pkg/services/filesystem/protos/delete_filesystem_task.proto
  cloud/disk_manager/internal/pkg/util/proto.go
Labels: large-tests, disk_manager

#3710 Add tag for disk that will forcefully disable RDMA
  cloud/blockstore/libs/storage/volume/volume_state.cpp
  cloud/blockstore/libs/storage/volume/volume_state.h
  cloud/blockstore/libs/storage/volume/volume_state_ut.cpp
Labels: large-tests, blockstore

#3713 issue-3699: add simple nodes creation/unlinking/listing test to the service test (using python sdk)
  cloud/filestore/public/sdk/python/client/base_client.py
  cloud/filestore/public/sdk/python/client/client.py
  cloud/filestore/tests/service/service-kikimr-test/test.py
Labels: filestore

#3716 Fix traces for sharding
  cloud/blockstore/libs/client_rdma/rdma_client.cpp
  cloud/blockstore/libs/client_rdma/rdma_client.h
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/service_rdma/rdma_target.cpp
  cloud/blockstore/libs/sharding/iface/sharding.h
  cloud/blockstore/libs/sharding/iface/sharding_arguments.h
  cloud/blockstore/libs/sharding/impl/endpoints_setup.cpp
  cloud/blockstore/libs/sharding/impl/sharding.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_forward.cpp
  cloud/blockstore/tools/testing/loadtest/lib/bootstrap.cpp
  cloud/storage/core/libs/diagnostics/trace_serializer.h
Labels: blockstore

#3721 [Filestore] fix asan test: remove unnecessary TFileSystemStats reallocation
  cloud/filestore/libs/diagnostics/request_stats.cpp
  cloud/filestore/libs/diagnostics/request_stats.h
  cloud/filestore/libs/vfs_fuse/loop.cpp
Labels: large-tests, asan

#3731 Log improvements for TStartVolumeActor
  cloud/blockstore/libs/storage/service/volume_session_actor_start.cpp
Labels: large-tests, disk_manager, blockstore

#3696 [Disk Manager] Support other disk operations in scale units
  cloud/disk_manager/internal/pkg/cells/cells.go
  cloud/disk_manager/internal/pkg/cells/interface.go
  cloud/disk_manager/internal/pkg/cells/mocks/cells_mock.go
  cloud/disk_manager/internal/pkg/facade/disk_service_test/common_test.go
  cloud/disk_manager/internal/pkg/facade/disk_service_test/disk_service_cells_test.go
  cloud/disk_manager/internal/pkg/facade/disk_service_test/disk_service_test.go
  cloud/disk_manager/internal/pkg/services/disks/service.go
  cloud/disk_manager/internal/pkg/services/disks/service_test.go
  cloud/disk_manager/internal/pkg/services/disks/ya.make
Labels: large-tests, disk_manager

#3751 Revert "wait for all rdma endpoints to stop; resolves #1020"
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.h
Labels: large-tests, asan, tsan, msan, ubsan

#3736 issue-1345: try to remove client if endpoint is unknown on StopEndpoint
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/blockstore/libs/endpoints/endpoint_manager.h
  cloud/blockstore/libs/endpoints/endpoint_manager_ut.cpp
  cloud/blockstore/libs/endpoints/service_endpoint_ut.cpp
  cloud/blockstore/libs/service/auth_scheme.cpp
  cloud/blockstore/libs/service/request.h
  cloud/blockstore/libs/service/request_helpers.h
  cloud/blockstore/libs/storage/api/service.h
  cloud/blockstore/libs/storage/service/service_actor_remove_client.cpp
  cloud/blockstore/libs/storage/service/ya.make
  cloud/blockstore/public/api/grpc/service.proto
  cloud/blockstore/public/api/protos/endpoints.proto
  cloud/blockstore/public/api/protos/volume.proto
  cloud/blockstore/public/sdk/python/client/client.py
  cloud/blockstore/tests/direct_device_acquire/test.py
  cloud/blockstore/tests/direct_device_acquire/ya.make
  cloud/blockstore/tools/testing/chaos-monkey/monkey_test.go
Labels: large-tests, blockstore

#3622 [NBS] shadow disk release devices after destruction
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/storage/disk_agent/model/device_client.cpp
  cloud/blockstore/libs/storage/disk_agent/model/device_client_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/model/public.h
  cloud/blockstore/libs/storage/testlib/disk_registry_proxy_mock.h
  cloud/blockstore/libs/storage/volume/model/checkpoint.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_checkpoint.cpp
  cloud/blockstore/libs/storage/volume/volume_ut_checkpoint.cpp
Labels: large-tests, blockstore

#3744 Add parameter to server config to configure vmpte flush threshold in the blockstore-vhost-server
  cloud/blockstore/config/server.proto
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/endpoints_vhost/external_vhost_server.cpp
  cloud/blockstore/libs/endpoints_vhost/external_vhost_server.h
  cloud/blockstore/libs/endpoints_vhost/external_vhost_server_ut.cpp
  cloud/blockstore/libs/endpoints_vhost/ya.make
  cloud/blockstore/libs/server/config.cpp
  cloud/blockstore/libs/server/config.h
  cloud/blockstore/vhost-server/backend_aio.cpp
  cloud/blockstore/vhost-server/backend_null.cpp
  cloud/blockstore/vhost-server/backend_rdma.cpp
  cloud/blockstore/vhost-server/options.cpp
  cloud/blockstore/vhost-server/options.h
  cloud/blockstore/vhost-server/options_ut.cpp
  cloud/blockstore/vhost-server/server_ut.cpp
Labels: large-tests, blockstore

#3730 implement automatic device allocation; resolves #1833 #3729 #3754
  cloud/blockstore/apps/client/lib/start_endpoint.cpp
  cloud/blockstore/config/server.proto
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/endpoint_proxy/client/device_factory.cpp
  cloud/blockstore/libs/endpoint_proxy/client/ya.make
  cloud/blockstore/libs/endpoint_proxy/server/server.cpp
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/blockstore/libs/endpoints/endpoint_manager.h
  cloud/blockstore/libs/endpoints/endpoint_manager_ut.cpp
  cloud/blockstore/libs/nbd/client_handler.cpp
  cloud/blockstore/libs/nbd/device.cpp
  cloud/blockstore/libs/nbd/device.h
  cloud/blockstore/libs/nbd/netlink_device.cpp
  cloud/blockstore/libs/nbd/netlink_device.h
  cloud/blockstore/libs/nbd/utils.h
  cloud/blockstore/libs/server/config.cpp
  cloud/blockstore/libs/server/config.h
  cloud/blockstore/tests/e2e-tests/test.py
  cloud/blockstore/tools/nbd/bootstrap.cpp
  cloud/blockstore/tools/nbd/options.cpp
  cloud/blockstore/tools/nbd/options.h
  cloud/storage/core/libs/netlink/message.h
Labels: large-tests, blockstore, asan, tsan, msan, ubsan

#3761 [CSI] Remove deprecated code from NodeExpandVolume
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
Labels: blockstore

#3766 [Filestore] stabilize and unmute `TStorageServiceShardingTest.ShouldAggregateFileSystemMetricsInBackgroundWithDirectoriesInShardsWithShardIdSelectionInLeader` test
  .github/config/muted_ya.txt
  cloud/filestore/libs/storage/service/service_ut_sharding.cpp
Labels: filestore, rebase

#3758 Improve the responsiveness of AIO service stop
  cloud/storage/core/libs/aio/service.cpp
Labels: large-tests

#3773 enable nbd debug logs, disable grpc traces and set info log level by default
  cloud/blockstore/tests/e2e-tests/test.py
  cloud/blockstore/tests/python/lib/loadtest_env.py
  cloud/blockstore/tests/python/lib/nbs_runner.py
Labels: blockstore, nbd

#3786 Mute vhost tests
  .github/config/muted_ya.txt
Labels: blockstore, tsan

#3764 [CSI] Set retry timeout for StartEndpointRequest
  cloud/blockstore/tools/csi_driver/cmd/nbs-csi-driver/main.go
  cloud/blockstore/tools/csi_driver/internal/driver/driver.go
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
Labels: blockstore, rebase

#3774 [Blockstore] request from remote pipe should not deactivate local pipe
  cloud/blockstore/libs/storage/volume/model/client_state.cpp
  cloud/blockstore/libs/storage/volume/model/client_state.h
  cloud/blockstore/libs/storage/volume/model/client_state_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_database.cpp
  cloud/blockstore/libs/storage/volume/volume_state_ut.cpp
Labels: large-tests, disk_manager, blockstore
