Repository ydb-platform/nbs, pull requests merged in 2025-05, with the labels that each got.

#3436 Delete copy and move constructors of TDiskRegistryState
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_agents_info.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_checkpoint.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_cms.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_config.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_create.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_lagging_agents.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_migration.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_mirrored_disks.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_pending_cleanup.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_pools.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_suspend.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_updates.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_state.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_state.h
  cloud/blockstore/tools/testing/disk-registry-state-generator/main.cpp
Labels: large-tests, blockstore

#3449 Handle ChecksumBlocks in the lagging proxy actor
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_ut.cpp
Labels: large-tests, blockstore

#3450 Send DeviceTimedOut on request allocation failure in the RDMA partition
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_checksumblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_zeroblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_ut.cpp
Labels: large-tests, blockstore

#3356 [Filestore] data race in vfs_fuse tests fixed for tsan
  cloud/filestore/libs/vfs_fuse/fs_ut.cpp
Labels: filestore, tsan

#3447 Spring cleanup in workflows/actions + fixes for lower memory presets
  .github/actions/build/action.yaml
  .github/actions/build_cmake/action.yaml
  .github/actions/ncp/action.yaml
  .github/actions/nebius_threads_calculator/action.yaml
  .github/actions/runner_create/action.yaml
  .github/actions/runner_remove/action.yaml
  .github/actions/test/action.yaml
  .github/actions/test_cmake/action.yaml
  .github/config/muted_functest.txt
  .github/config/muted_shard.txt
  .github/config/muted_test.txt
  .github/config/muted_ya.txt
  .github/config/muted_ya_nebius.txt
  .github/scripts/manage-images.py
  .github/scripts/manage-vm.py
  .github/scripts/tests/attach-logs.py
  .github/scripts/tests/ctest-postprocess.py
  .github/scripts/tests/ctest_utils.py
  .github/scripts/tests/junit-postprocess.py
  .github/scripts/tests/pytest-postprocess.py
  .github/scripts/vm-watcher.py
  .github/terraform/.arcignore
  .github/terraform/.gitignore
  .github/terraform/.terraform.lock.hcl
  .github/terraform/.tfmigrate.hcl
  .github/terraform/README.md
  .github/terraform/backend.tf
  .github/terraform/main.tf
  .github/terraform/outputs.tf
  .github/terraform/provider.tf
  .github/terraform/variables.tf
  .github/terraform/versions.tf
  .github/workflows/build_and_test_act.yaml
  .github/workflows/build_and_test_on_demand.yaml
  .github/workflows/build_and_test_ya.yaml
  .github/workflows/create_and_delete_vm.yaml
  .github/workflows/github_actions_scripts.yaml
  .github/workflows/nightly-asan.yaml
  .github/workflows/nightly-index-rebuild.yaml
  .github/workflows/nightly-msan.yaml
  .github/workflows/nightly-packer.yaml
  .github/workflows/nightly-tsan.yaml
  .github/workflows/nightly-ubsan.yaml
  .github/workflows/nightly.yaml
  .github/workflows/packer.yaml
  .github/workflows/pr-github-actions.yaml
  .github/workflows/pr.yaml
Labels: large-tests

#3457 Force RDMA reconnection after the lagging agent has returned online
  cloud/blockstore/libs/rdma/fake/client.cpp
  cloud/blockstore/libs/rdma/iface/client.h
  cloud/blockstore/libs/rdma/impl/client.cpp
  cloud/blockstore/libs/rdma/impl/client_ut.cpp
  cloud/blockstore/libs/rdma_test/client_test.cpp
  cloud/blockstore/libs/rdma_test/client_test.h
  cloud/blockstore/libs/service_local/storage_rdma_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_ut.cpp
  cloud/blockstore/tests/loadtest/local-mirror-lagging/test.py
Labels: large-tests, blockstore

#3470 issue-3: removed unused struct TMirrorPartitionActor::TRequestCtx
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.h
Labels: blockstore

#3415 issue-3: reject requests if agent has become unavailable
  cloud/blockstore/libs/rdma_test/client_test.cpp
  cloud/blockstore/libs/rdma_test/client_test.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_checksumblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_readblocks_local.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_zeroblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/ut_env.h
Labels: large-tests, blockstore

#3463 issue-3462: avoid RPC failure in the filestore/blockstore client when channel is in CONNECTING state
  cloud/blockstore/libs/client/client.cpp
  cloud/filestore/libs/client/client.cpp
Labels: large-tests, rebase

#3472 Return E_FAIL error code instead of E_REJECTED on GetChangedBlocks if shadow disk is broken; check GetChangedBlocks error in dm tests with broken checkpoints
  cloud/blockstore/libs/storage/volume/actors/shadow_disk_actor.cpp
  cloud/disk_manager/internal/pkg/facade/with_broken_checkpoints_test/with_broken_checkpoints_test.go
Labels: large-tests

#3461 Add ability to adjust actor system thread count according to available CPU cores percentage
  cloud/storage/core/libs/kikimr/config_initializer.cpp
  cloud/storage/core/libs/kikimr/config_initializer_ut.cpp
  cloud/storage/core/libs/kikimr/options.cpp
  cloud/storage/core/libs/kikimr/options.h
  cloud/storage/core/libs/kikimr/ut/ya.make
  cloud/storage/core/libs/kikimr/ya.make
Labels: large-tests

#3464 Execute multi-agent request through nonreplicated partition actor
  cloud/blockstore/libs/storage/core/disk_counters.h
  cloud/blockstore/libs/storage/core/request_info.h
  cloud/blockstore/libs/storage/partition_common/get_device_for_range_companion.cpp
  cloud/blockstore/libs/storage/partition_common/get_device_for_range_companion.h
  cloud/blockstore/libs/storage/partition_nonrepl/model/device_stats.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/model/device_stats.h
  cloud/blockstore/libs/storage/partition_nonrepl/model/ya.make
  cloud/blockstore/libs/storage/partition_nonrepl/multi_agent_write_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_mirror.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_writeblocks_multi_agent.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_events_private.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/ya.make
  example/0-setup.sh
  example/4-start_disk_agent.sh
  example/nbs/nbs-diag.txt
Labels: blockstore

#3478 Fix sorting and filtering for tables on monpage
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_monitoring.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
Labels: large-tests, blockstore

#3481 issue-3371: move VhostDiscardEnabled to server config
  cloud/blockstore/config/server.proto
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/endpoints_vhost/vhost_server.cpp
  cloud/blockstore/libs/endpoints_vhost/vhost_server.h
  cloud/blockstore/libs/server/config.cpp
  cloud/blockstore/libs/server/config.h
  cloud/blockstore/public/api/protos/endpoints.proto
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
Labels: blockstore

#3421 [Filestore] do not trigger `CreateNodeRequestResponseMismatchInShard` if the MTime of the file has already been updated (due to a write, concurrent to the create)
  cloud/filestore/libs/storage/service/service_ut_sharding.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_cache_stress.cpp
  cloud/filestore/libs/storage/testlib/service_client.h
Labels: filestore

#3435 Don't write obsolete used blocks map for DiskRegistry-based encrypted disks
  cloud/blockstore/libs/storage/volume/volume_state.cpp
  cloud/blockstore/libs/storage/volume/volume_state_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
Labels: large-tests, disk_manager, blockstore

#3451 issue-3371: Custom max request size for ZeroBlocks requests
  cloud/blockstore/config/server.proto
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/endpoint_proxy/client/device_factory.cpp
  cloud/blockstore/libs/endpoint_proxy/client/device_factory.h
  cloud/blockstore/libs/endpoint_proxy/server/server.cpp
  cloud/blockstore/libs/endpoints_nbd/nbd_server.cpp
  cloud/blockstore/libs/endpoints_nbd/nbd_server.h
  cloud/blockstore/libs/endpoints_vhost/vhost_server.cpp
  cloud/blockstore/libs/endpoints_vhost/vhost_server.h
  cloud/blockstore/libs/nbd/protocol.cpp
  cloud/blockstore/libs/nbd/server_handler.cpp
  cloud/blockstore/libs/nbd/server_handler.h
  cloud/blockstore/libs/server/config.cpp
  cloud/blockstore/libs/server/config.h
  cloud/blockstore/libs/service/aligned_device_handler.cpp
  cloud/blockstore/libs/service/aligned_device_handler.h
  cloud/blockstore/libs/service/device_handler.cpp
  cloud/blockstore/libs/service/device_handler.h
  cloud/blockstore/libs/service/device_handler_ut.cpp
  cloud/blockstore/libs/service/unaligned_device_handler.cpp
  cloud/blockstore/libs/service/unaligned_device_handler.h
  cloud/blockstore/libs/vhost/server.cpp
  cloud/blockstore/libs/vhost/server.h
  cloud/blockstore/public/api/protos/endpoints.proto
  cloud/blockstore/tests/e2e-tests/test.py
Labels: blockstore

#3489 Prepare configs to use fake rdma in examples
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  example/3-start_nbs.sh
  example/nbs/nbs-rdma.txt
  example/nbs/nbs-server.txt
  example/nbs/nbs-storage.txt
Labels: blockstore

#3474 Fix data race in TRdmaClientTest::TShouldForceReconnect
  cloud/blockstore/libs/rdma/impl/client_ut.cpp
  cloud/blockstore/libs/rdma/impl/test_verbs.cpp
Labels: blockstore, tsan

#3469 Reset lagging migration progress on DeviceTimedOut message
  cloud/blockstore/libs/storage/volume/volume_actor_lagging_agents.cpp
  cloud/blockstore/libs/storage/volume/volume_lagging_agent_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_state.cpp
  cloud/blockstore/libs/storage/volume/volume_state.h
Labels: blockstore

#3490 Fix filestore build
  cloud/filestore/libs/storage/service/service_ut_sharding.cpp
Labels: filestore

#3485 For multi-agent request make timeout on disk-agent side
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/core/disk_counters.h
  cloud/blockstore/libs/storage/disk_agent/actors/multi_agent_write_device_blocks_actor.cpp
  cloud/blockstore/libs/storage/disk_agent/actors/multi_agent_write_device_blocks_actor.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_writeblocks_multi_agent.cpp
  cloud/blockstore/libs/storage/protos/disk.proto
Labels: large-tests, blockstore

#3357 Issue-3222: filter lost devices during device Acquire in volume
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_allocate.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/model/agent_list.cpp
  cloud/blockstore/libs/storage/disk_registry/model/agent_list.h
  cloud/blockstore/libs/storage/disk_registry/model/agent_list_ut.cpp
  cloud/blockstore/libs/storage/protos/disk.proto
  cloud/blockstore/libs/storage/protos_ydb/volume.proto
  cloud/blockstore/libs/storage/testlib/disk_registry_proxy_mock.h
  cloud/blockstore/libs/storage/testlib/test_env_state.h
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_acquire.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_allocatedisk.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_reallocatedisk.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_release.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_updateconfig.cpp
  cloud/blockstore/libs/storage/volume/volume_events_private.h
  cloud/blockstore/libs/storage/volume/volume_state.cpp
  cloud/blockstore/libs/storage/volume/volume_state.h
  cloud/blockstore/libs/storage/volume/volume_state_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_tx.h
  cloud/blockstore/libs/storage/volume/volume_ut_session.cpp
  cloud/blockstore/tests/direct_device_acquire/test.py
  cloud/blockstore/tests/direct_device_acquire/ya.make
  cloud/blockstore/tests/ya.make
Labels: large-tests, blockstore

#3482 issue-3493: Implement random shard balancing policy alternative to the current round robin implementation
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/model/public.h
  cloud/filestore/libs/storage/tablet/model/shard_balancer.cpp
  cloud/filestore/libs/storage/tablet/model/shard_balancer.h
  cloud/filestore/libs/storage/tablet/model/shard_balancer_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_impl.h
Labels: filestore

#3442 [Filestore] Trigger FlushBytes by entries threshold (#3256)
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/model/fresh_bytes.cpp
  cloud/filestore/libs/storage/tablet/model/fresh_bytes.h
  cloud/filestore/libs/storage/tablet/protos/tablet.proto
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_compaction.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
  cloud/filestore/private/api/protos/tablet.proto
Labels: filestore

#3503 issue-3502: use port manager to avoid port conflicts
  cloud/blockstore/libs/server/server_ut.cpp
Labels: blockstore

#3425 csi_driver: add volume context attribute to control number of virtio queues
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
Labels: blockstore, rebase

#3516 Show error message for cancelled blob operations
  cloud/blockstore/libs/storage/partition/part_actor_writeblob.cpp
  cloud/blockstore/libs/storage/partition/part_ut.cpp
  cloud/blockstore/libs/storage/partition_common/actor_read_blob.cpp
  cloud/blockstore/libs/storage/partition_common/events_private.h
  cloud/blockstore/libs/storage/partition_common/long_running_operation_companion.cpp
  cloud/blockstore/libs/storage/partition_common/long_running_operation_companion.h
  cloud/blockstore/libs/storage/volume/volume_actor_stats.cpp
Labels: blockstore

#3484 Latency tab has been added to the volume mon page to view request execution latency
  cloud/blockstore/libs/storage/core/monitoring_utils.cpp
  cloud/blockstore/libs/storage/volume/model/requests_time_tracker.cpp
  cloud/blockstore/libs/storage/volume/model/requests_time_tracker.h
  cloud/blockstore/libs/storage/volume/model/requests_time_tracker_ut.cpp
  cloud/blockstore/libs/storage/volume/model/ut/ya.make
  cloud/blockstore/libs/storage/volume/model/ya.make
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_forward.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_monitoring.cpp
  cloud/blockstore/tests/monitoring/test.py
Labels: large-tests, blockstore

#3519 [Disk Manager] tests: add retries for delete sync in DM client tests
  cloud/disk_manager/internal/pkg/clients/nbs/tests/client_test.go
Labels: disk_manager

#3414 fix evaluation of request latency when writing stats in vhost-server
  cloud/blockstore/vhost-server/stats.cpp
  cloud/blockstore/vhost-server/stats_ut.cpp
Labels: blockstore

#3434 Delete obsolete DR code
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_update_stats.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_config.cpp
Labels: large-tests, blockstore

#3422 Remove DiskRegistryCleanupAgentConfigError crit event
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
Labels: blockstore

#3518 Devices state change should not disable lite reallocation
  cloud/blockstore/libs/storage/volume/volume_actor_allocatedisk.cpp
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
Labels: large-tests, blockstore

#3465 [NBS] refactoring: readBlocks->readBlocksLocal in checkrange
  cloud/blockstore/libs/storage/partition/part_actor_checkrange.cpp
  cloud/blockstore/libs/storage/partition/part_ut.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor_checkrange.cpp
  cloud/blockstore/libs/storage/partition2/part2_ut.cpp
  cloud/blockstore/libs/storage/partition_common/actor_checkrange.cpp
  cloud/blockstore/libs/storage/partition_common/actor_checkrange.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_checkrange.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_checkrange.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_ut.cpp
Labels: blockstore

#3525 issue-3: fix use after move static analyzer issue
  cloud/blockstore/libs/storage/model/request_bounds_tracker.h
  cloud/blockstore/libs/storage/model/request_in_progress_impl.h
Labels: blockstore

#3527 blockstore-client: dump output of QueryAgentsInfo command to json format
  cloud/blockstore/apps/client/lib/query_agents_info.cpp
Labels: blockstore

#3517 issue-3371: fix TVhostEndpointListener parameters
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/tests/e2e-tests-vhost/test.py
  cloud/blockstore/tests/e2e-tests-vhost/ya.make
  cloud/blockstore/tests/ya.make
Labels: blockstore

#3452 [Disk Manager] Implement dataplane database migration task
  cloud/disk_manager/internal/pkg/dataplane/config/config.proto
  cloud/disk_manager/internal/pkg/dataplane/migrate_snapshot_database_task.go
  cloud/disk_manager/internal/pkg/dataplane/protos/migrate_snapshot_database_task.proto
  cloud/disk_manager/internal/pkg/dataplane/protos/ya.make
  cloud/disk_manager/internal/pkg/dataplane/register.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/mocks/storage_mock.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage_legacy.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage_ydb.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage_ydb_impl.go
  cloud/disk_manager/internal/pkg/dataplane/ya.make
  cloud/disk_manager/internal/pkg/util/json.go
  cloud/disk_manager/pkg/admin/snapshots.go
  cloud/disk_manager/test/recipe/disk_manager_launcher.py
  cloud/disk_manager/test/snapshot_migration_test/test.py
  cloud/disk_manager/test/snapshot_migration_test/ya.make
  cloud/disk_manager/test/ya.make
  cloud/tasks/storage/storage.go
Labels: large-tests, disk_manager

#3533 Remove default lambda params capture by-value #1
  cloud/blockstore/libs/endpoints_rdma/rdma_server.cpp
Labels: large-tests, blockstore

#3495 Multi-agent writes over RDMA (NBS part)
  cloud/blockstore/libs/common/iovector.cpp
  cloud/blockstore/libs/common/iovector.h
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/rdma_test/client_test.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_writeblocks_multi_agent.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_writeblocks_multi_agent.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/ya.make
Labels: large-tests, blockstore

#3531 Remove TBlockRange construction function MakeHalfOpenInterval()
  cloud/blockstore/apps/client/lib/check_range.cpp
  cloud/blockstore/libs/common/block_range.h
  cloud/blockstore/libs/storage/partition2/model/blob_index.cpp
  cloud/blockstore/libs/storage/partition_common/actor_checkrange.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/model/processing_blocks_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_checkrange.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_checkrange.cpp
  cloud/blockstore/libs/storage/volume/model/checkpoint_light_ut.cpp
Labels: large-tests, blockstore

#3534 Show statistics for DescribeBlocks request. Show percentiles.
  cloud/blockstore/libs/storage/volume/model/requests_time_tracker.cpp
  cloud/blockstore/libs/storage/volume/model/requests_time_tracker.h
  cloud/blockstore/libs/storage/volume/model/requests_time_tracker_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_forward.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_monitoring.cpp
Labels: large-tests, blockstore

#3496 Cancel requests in all replicas when agent starts lagging
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_lagging_devices_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/ut_env.h
Labels: large-tests, blockstore

#3297 Issue-3212: add cancel request function to fake rdma client
  cloud/blockstore/libs/rdma/fake/client.cpp
  cloud/blockstore/libs/rdma/fake/client_ut.cpp
Labels: large-tests, blockstore

#3548 issue-3295: do not enable `GCT_SECOND_READ` guest caching policy by default
  cloud/filestore/libs/storage/core/config.cpp
Labels: filestore

#3550 Fix logging level for error. Removed the "this" capture from the lambda.
  cloud/blockstore/libs/encryption/encryption_service.cpp
  cloud/blockstore/libs/kms/iface/key_provider.cpp
Labels: large-tests, blockstore

#3551 issue-3493: stabilize and unmute `ShouldBalanceShardsRandom` and `ShouldBalanceShardsWeightedRandom` tests
  .github/config/muted_ya.txt
  cloud/filestore/libs/storage/tablet/model/shard_balancer.cpp
  cloud/filestore/libs/storage/tablet/model/shard_balancer_ut.cpp
Labels: large-tests, filestore

#3556 refactor: ShouldNotAcceptClientAfterServerStopped test
  cloud/blockstore/libs/endpoints_grpc/socket_endpoint_listener_ut.cpp
Labels: blockstore

#3557 The contrib/ydb/public/sdk/cpp/client was removed from implicit dependencies through nested #include
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_actor_ydb.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_ut.cpp
  cloud/blockstore/libs/ydbstats/public.h
  cloud/blockstore/libs/ydbstats/ya.make
  cloud/blockstore/libs/ydbstats/ydbscheme.h
  cloud/blockstore/libs/ydbstats/ydbstats.cpp
  cloud/blockstore/libs/ydbstats/ydbstats.h
  cloud/blockstore/libs/ydbstats/ydbstorage.cpp
  cloud/blockstore/libs/ydbstats/ydbstorage.h
Labels: blockstore

#3559 The contrib/ydb/public/sdk/cpp/client was removed from implicit dependencies through nested #include (#2)
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/ydbstats/ydbstats.cpp
  cloud/blockstore/libs/ydbstats/ydbstats.h
Labels: blockstore

#3565 test: fix address already in use error
  cloud/blockstore/libs/server/server_ut.cpp
Labels: blockstore

#3566 [Filestore] Change StartEndpoint logging to INFO level
  cloud/filestore/libs/endpoint/endpoint_manager.cpp
Labels: filestore

#3456 [Blockstore] send info about partitions and channels to stats service on partition start; upload this information to ydbstats
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/api/stats_service.h
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/service/service_ut.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_actor.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_actor.h
  cloud/blockstore/libs/storage/stats_service/stats_service_actor_solomon.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_actor_ydb.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_state.h
  cloud/blockstore/libs/storage/stats_service/stats_service_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_startstop.cpp
Labels: large-tests

#3570 Fix clang-18 build
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: filestore

#3554 Latency tab has been added to the volume mon page to view transaction execution latency
  cloud/blockstore/libs/storage/core/benchmark/ya.make
  cloud/blockstore/libs/storage/core/monitoring_utils.cpp
  cloud/blockstore/libs/storage/core/monitoring_utils.h
  cloud/blockstore/libs/storage/core/transaction_time_tracker.cpp
  cloud/blockstore/libs/storage/core/transaction_time_tracker.h
  cloud/blockstore/libs/storage/core/transaction_time_tracker_benchmark.cpp
  cloud/blockstore/libs/storage/core/transaction_time_tracker_ut.cpp
  cloud/blockstore/libs/storage/core/ut/ya.make
  cloud/blockstore/libs/storage/core/ya.make
  cloud/blockstore/libs/storage/partition/model/benchmark/ya.make
  cloud/blockstore/libs/storage/partition/model/ut/ya.make
  cloud/blockstore/libs/storage/partition/model/ya.make
  cloud/blockstore/libs/storage/partition/part_actor.cpp
  cloud/blockstore/libs/storage/partition/part_actor.h
  cloud/blockstore/libs/storage/partition/part_actor_monitoring.cpp
  cloud/blockstore/libs/storage/partition/part_actor_monitoring_view.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_monitoring.cpp
  cloud/blockstore/tests/monitoring/test.py
Labels: large-tests, blockstore

#3584 [Disk Manager, SU] Introduce Shards service
  cloud/disk_manager/internal/pkg/services/shards/config/config.proto
  cloud/disk_manager/internal/pkg/services/shards/config/ya.make
  cloud/disk_manager/internal/pkg/services/shards/interface.go
  cloud/disk_manager/internal/pkg/services/shards/mocks/service_mock.go
  cloud/disk_manager/internal/pkg/services/shards/mocks/ya.make
  cloud/disk_manager/internal/pkg/services/shards/service.go
  cloud/disk_manager/internal/pkg/services/shards/ya.make
  cloud/disk_manager/internal/pkg/services/ya.make
Labels: large-tests, disk_manager

#3583 fix a race in fake rdma; tweak ut
  cloud/blockstore/libs/rdma/fake/client.cpp
  cloud/blockstore/libs/rdma/fake/client_ut.cpp
Labels: blockstore, tsan

#3585 Add private API to mark devices as replacements
  cloud/blockstore/libs/storage/service/service_actor.h
  cloud/blockstore/libs/storage/service/service_actor_actions.cpp
  cloud/blockstore/libs/storage/service/service_actor_actions_mark_replacement_device.cpp
  cloud/blockstore/libs/storage/service/service_ut_actions.cpp
  cloud/blockstore/libs/storage/service/ya.make
  cloud/blockstore/libs/storage/testlib/disk_registry_proxy_mock.h
Labels: blockstore

#3567 Log first request execution time and offset from volume creation
  cloud/blockstore/libs/storage/volume/model/requests_time_tracker.cpp
  cloud/blockstore/libs/storage/volume/model/requests_time_tracker.h
  cloud/blockstore/libs/storage/volume/model/requests_time_tracker_ut.cpp
  cloud/blockstore/libs/storage/volume/model/ya.make
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_forward.cpp
Labels: large-tests, blockstore

#3547 Multi-agent writes over RDMA (DA part)
  cloud/blockstore/libs/rdma_test/rdma_test_environment.cpp
  cloud/blockstore/libs/rdma_test/rdma_test_environment.h
  cloud/blockstore/libs/rdma_test/ya.make
  cloud/blockstore/libs/storage/disk_agent/actors/multi_agent_write_device_blocks_actor.cpp
  cloud/blockstore/libs/storage/disk_agent/actors/multi_agent_write_device_blocks_actor.h
  cloud/blockstore/libs/storage/disk_agent/actors/multi_agent_write_handler.cpp
  cloud/blockstore/libs/storage/disk_agent/actors/multi_agent_write_handler.h
  cloud/blockstore/libs/storage/disk_agent/actors/ya.make
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_init.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_io.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_private.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/model/device_client_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/model/public.h
  cloud/blockstore/libs/storage/disk_agent/rdma_target.cpp
  cloud/blockstore/libs/storage/disk_agent/rdma_target.h
  cloud/blockstore/libs/storage/disk_agent/rdma_target_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/recent_blocks_tracker.cpp
  cloud/blockstore/libs/storage/disk_agent/recent_blocks_tracker.h
  cloud/blockstore/libs/storage/testlib/disk_agent_mock.h
Labels: large-tests, blockstore

#3579 [Disk Manager, SU] Add shard service
  cloud/disk_manager/internal/pkg/facade/disk_service_test/.gitignore
  cloud/disk_manager/internal/pkg/facade/disk_service_test/common_test.go
  cloud/disk_manager/internal/pkg/facade/disk_service_test/disk_service_sharded_test.go
  cloud/disk_manager/internal/pkg/facade/testcommon/common.go
  cloud/disk_manager/internal/pkg/services/disks/service.go
  cloud/disk_manager/internal/pkg/services/shards/config/config.proto
  cloud/disk_manager/internal/pkg/services/shards/interface.go
  cloud/disk_manager/internal/pkg/services/shards/mocks/service_mock.go
  cloud/disk_manager/internal/pkg/services/shards/service.go
  cloud/disk_manager/test/recipe/disk_manager_launcher.py
Labels: large-tests, disk_manager
