Repository ydb-platform/nbs, pull requests merged in 2025-03, with the labels that each got.

#3112 Release replaced devices on volume reallocation
  cloud/blockstore/libs/storage/testlib/disk_registry_proxy_mock.h
  cloud/blockstore/libs/storage/testlib/test_env_state.cpp
  cloud/blockstore/libs/storage/testlib/test_env_state.h
  cloud/blockstore/libs/storage/volume/model/helpers.cpp
  cloud/blockstore/libs/storage/volume/model/helpers.h
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_addclient.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_allocatedisk.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_release.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_removeclient.cpp
  cloud/blockstore/libs/storage/volume/volume_tx.h
  cloud/blockstore/libs/storage/volume/volume_ut_session.cpp
Labels: large-tests, blockstore

#2960 Issue 2956: add checkRange request
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/service/auth_scheme.cpp
  cloud/blockstore/libs/service/request.h
  cloud/blockstore/libs/service/request_helpers.h
  cloud/blockstore/libs/storage/api/partition.h
  cloud/blockstore/libs/storage/api/service.h
  cloud/blockstore/libs/storage/api/volume.h
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/disk_agent/model/device_client.cpp
  cloud/blockstore/libs/storage/disk_agent/model/public.h
  cloud/blockstore/libs/storage/partition/part_actor_checkrange.cpp
  cloud/blockstore/libs/storage/partition/part_ut.cpp
  cloud/blockstore/libs/storage/partition/ya.make
  cloud/blockstore/libs/storage/partition2/part2_actor_checkrange.cpp
  cloud/blockstore/libs/storage/partition2/part2_ut.cpp
  cloud/blockstore/libs/storage/partition2/ya.make
  cloud/blockstore/libs/storage/partition_common/actor_checkrange.cpp
  cloud/blockstore/libs/storage/partition_common/actor_checkrange.h
  cloud/blockstore/libs/storage/partition_common/ya.make
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_checkrange.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_checkrange.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/ut_env.h
  cloud/blockstore/libs/storage/partition_nonrepl/ya.make
  cloud/blockstore/libs/storage/service/service_actor.h
  cloud/blockstore/libs/storage/service/service_actor_actions.cpp
  cloud/blockstore/libs/storage/service/service_actor_actions_check_range.cpp
  cloud/blockstore/libs/storage/service/service_actor_checkrange.cpp
  cloud/blockstore/libs/storage/service/service_ut_actions.cpp
  cloud/blockstore/libs/storage/service/service_ut_checkrange.cpp
  cloud/blockstore/libs/storage/service/ut/ya.make
  cloud/blockstore/libs/storage/service/ya.make
  cloud/blockstore/libs/storage/testlib/service_client.cpp
  cloud/blockstore/libs/storage/testlib/service_client.h
  cloud/blockstore/libs/storage/volume/multi_partition_requests.cpp
  cloud/blockstore/libs/storage/volume/multi_partition_requests.h
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_forward.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_forward_trackused.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_throttling.cpp
  cloud/blockstore/private/api/protos/volume.proto
  cloud/blockstore/public/api/grpc/service.proto
  cloud/blockstore/public/api/protos/volume.proto
  cloud/blockstore/tools/testing/chaos-monkey/monkey_test.go
Labels: blockstore

#3039 Create and destroy volume link tag #1
  cloud/blockstore/apps/client/lib/create_volume_link.cpp
  cloud/blockstore/apps/client/lib/create_volume_link.h
  cloud/blockstore/apps/client/lib/destroy_volume_link.cpp
  cloud/blockstore/apps/client/lib/destroy_volume_link.h
  cloud/blockstore/apps/client/lib/factory.cpp
  cloud/blockstore/apps/client/lib/ya.make
  cloud/blockstore/libs/service/auth_scheme.cpp
  cloud/blockstore/libs/service/request.h
  cloud/blockstore/libs/service/request_helpers.h
  cloud/blockstore/libs/service_local/service_local.cpp
  cloud/blockstore/libs/storage/api/service.h
  cloud/blockstore/libs/storage/api/volume.h
  cloud/blockstore/libs/storage/protos/volume.proto
  cloud/blockstore/libs/storage/service/service_actor_create_volume_link.cpp
  cloud/blockstore/libs/storage/service/service_actor_destroy_volume_link.cpp
  cloud/blockstore/libs/storage/service/service_ut_link_volume.cpp
  cloud/blockstore/libs/storage/service/ut/ya.make
  cloud/blockstore/libs/storage/service/ya.make
  cloud/blockstore/libs/storage/testlib/service_client.cpp
  cloud/blockstore/libs/storage/testlib/service_client.h
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_link_volume.cpp
  cloud/blockstore/libs/storage/volume/ya.make
  cloud/blockstore/public/api/grpc/service.proto
  cloud/blockstore/public/api/protos/volume.proto
  cloud/blockstore/tools/testing/chaos-monkey/monkey_test.go
Labels: large-tests, blockstore

#3076 issue-2674: add DirectoryCreationInShardsEnabled flag to the filesystem config for the backward compatibility, proper support for the resize method
  cloud/filestore/bin/initctl.sh
  cloud/filestore/libs/storage/service/service_actor.h
  cloud/filestore/libs/storage/service/service_actor_actions.cpp
  cloud/filestore/libs/storage/service/service_actor_actions_tablet_ops.cpp
  cloud/filestore/libs/storage/service/service_actor_alterfs.cpp
  cloud/filestore/libs/storage/service/service_actor_createfs.cpp
  cloud/filestore/libs/storage/service/service_actor_createhandle.cpp
  cloud/filestore/libs/storage/service/service_actor_createnode.cpp
  cloud/filestore/libs/storage/service/service_actor_getnodeattr.cpp
  cloud/filestore/libs/storage/service/service_actor_listnodes.cpp
  cloud/filestore/libs/storage/service/service_ut_sharding.cpp
  cloud/filestore/libs/storage/tablet/protos/tablet.proto
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createnode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_updateconfig.cpp
  cloud/filestore/private/api/protos/tablet.proto
  cloud/filestore/public/api/protos/fs.proto
  cloud/filestore/tests/client_sharded_dir_resize/nfs-storage.txt
  cloud/filestore/tests/client_sharded_dir_resize/test.py
  cloud/filestore/tests/client_sharded_dir_resize/ya.make
  cloud/filestore/tests/loadtest/service-kikimr-localdb-compaction-test/test.py
  cloud/filestore/tests/python/lib/test_helpers.py
  cloud/filestore/tests/python/lib/ya.make
  cloud/filestore/tests/recipes/service-kikimr/__main__.py
  cloud/filestore/tests/ya.make
Labels: large-tests, filestore

#3088 [Filestore] Do not increment garbage blocks count when writing new blobs
  cloud/filestore/libs/storage/tablet/tablet_actor_addblob.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data_stress.cpp
Labels: large-tests

#2943 Issue 2854: add split read request in mirror partition by device borders
  cloud/blockstore/libs/service_local/compound_storage.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/config.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_split_read_blocks_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_split_request_helpers.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_split_request_helpers.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_split_request_helpers_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_state.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_state.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/ut/ya.make
  cloud/blockstore/libs/storage/partition_nonrepl/ya.make
  cloud/blockstore/tests/loadtest/local-mirror/local-mirror2-split-read-column.txt
  cloud/blockstore/tests/loadtest/local-mirror/local-mirror2-split-read-cross.txt
  cloud/blockstore/tests/loadtest/local-mirror/test.py
  cloud/blockstore/tools/testing/loadtest/lib/control_plane_action_runner.cpp
  cloud/blockstore/tools/testing/loadtest/lib/control_plane_action_runner.h
  cloud/blockstore/tools/testing/loadtest/protos/loadtest.proto
  cloud/storage/core/libs/common/sglist_block_range.cpp
  cloud/storage/core/libs/common/sglist_block_range.h
  cloud/storage/core/libs/common/ya.make
Labels: large-tests, blockstore

#3117 [CSI] Add NfsLocalEndpointSocket & NfsLocalFilestoreSocket parameter
  cloud/blockstore/tools/csi_driver/cmd/nbs-csi-driver/main.go
  cloud/blockstore/tools/csi_driver/internal/driver/driver.go
Labels: blockstore

#3080 Introduce actors for resolving lagging agents
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/storage/api/partition.h
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/partition_nonrepl/agent_availability_monitoring_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/agent_availability_monitoring_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/config.h
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agent_migration_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agent_migration_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/mirror_request_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/model/processing_blocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/model/processing_blocks.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_lagging_devices_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_common.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_common.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_events_private.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_migration.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_mirror.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_stats.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/ut/ya.make
  cloud/blockstore/libs/storage/partition_nonrepl/ut_env.h
  cloud/blockstore/libs/storage/partition_nonrepl/ya.make
  cloud/blockstore/libs/storage/volume/actors/shadow_disk_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_lagging_agents.cpp
  cloud/blockstore/libs/storage/volume/volume_events_private.h
  cloud/blockstore/libs/storage/volume/volume_lagging_agent_ut.cpp
  cloud/storage/core/libs/common/compressed_bitmap.cpp
  cloud/storage/core/libs/common/compressed_bitmap.h
  cloud/storage/core/libs/common/guarded_sglist.cpp
  cloud/storage/core/libs/common/guarded_sglist.h
  cloud/storage/core/libs/common/guarded_sglist_ut.cpp
  cloud/storage/core/libs/common/sglist_block_range.cpp
  cloud/storage/core/libs/common/sglist_block_range.h
  cloud/storage/core/protos/error.proto
  example/nbs/nbs-storage.txt
Labels: large-tests, blockstore

#3111 [CSI] remove default port values for nfs server/vhost
  cloud/blockstore/tools/csi_driver/cmd/nbs-csi-driver/main.go
Labels: blockstore

#3144 more verbosity on tablet locking errors
  cloud/blockstore/libs/storage/service/volume_session_actor_start.cpp
  cloud/storage/core/libs/hive_proxy/hive_proxy_actor.cpp
Labels: blockstore

#3075 issue-3: read from mirror partition during fresh device migration
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_state.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_state.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_state_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_checksumblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_migration.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_ut.cpp
  cloud/blockstore/libs/storage/volume/actors/shadow_disk_actor.cpp
Labels: large-tests, blockstore

#3132 [NBS] issue-3133: Add RDMA endpoint to blockstore server to support SU feature
  cloud/blockstore/config/rdma.proto
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/daemon/common/bootstrap.h
  cloud/blockstore/libs/daemon/common/ya.make
  cloud/blockstore/libs/daemon/local/bootstrap.cpp
  cloud/blockstore/libs/daemon/local/bootstrap.h
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/daemon/ydb/bootstrap.h
  cloud/blockstore/libs/rdma/iface/config.h
  cloud/blockstore/libs/service_rdma/rdma_protocol.cpp
  cloud/blockstore/libs/service_rdma/rdma_protocol.h
  cloud/blockstore/libs/service_rdma/rdma_target.cpp
  cloud/blockstore/libs/service_rdma/rdma_target.h
  cloud/blockstore/libs/service_rdma/ya.make
Labels: large-tests, blockstore

#3146 Initialize PartConfig with params struct
  cloud/blockstore/libs/storage/partition_nonrepl/config.h
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/migration_timeout_calculator_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_lagging_devices_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_state_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range_ut.cpp
  cloud/blockstore/libs/storage/volume/actors/shadow_disk_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_lagging_agents.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_startstop.cpp
Labels: large-tests, blockstore

#3103 [Filestore] Change cleanup trigger condition based on UsedBlocks instead of UsedRanges
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_setnodeattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_truncate.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
  cloud/filestore/tests/common_configs/nfs-storage-newfeatures-patch.txt
Labels: large-tests

#3149 Fix main compilation
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agent_migration_actor.cpp
Labels: blockstore

#3155 Revert "[NBS] issue-3133: Add RDMA endpoint to blockstore server to support SU feature"
  cloud/blockstore/config/rdma.proto
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/daemon/common/bootstrap.h
  cloud/blockstore/libs/daemon/common/ya.make
  cloud/blockstore/libs/daemon/local/bootstrap.cpp
  cloud/blockstore/libs/daemon/local/bootstrap.h
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/daemon/ydb/bootstrap.h
  cloud/blockstore/libs/rdma/iface/config.h
  cloud/blockstore/libs/service_rdma/rdma_protocol.cpp
  cloud/blockstore/libs/service_rdma/rdma_protocol.h
  cloud/blockstore/libs/service_rdma/rdma_target.cpp
  cloud/blockstore/libs/service_rdma/rdma_target.h
  cloud/blockstore/libs/service_rdma/ya.make
Labels: blockstore

#3160 issue-3133: pass to RDMA target service kikimr directly
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/service_rdma/rdma_target.cpp
Labels: ok-to-test, large-tests, blockstore

#3157 Fix migration index update notifications
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_migration.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_ut.cpp
Labels: large-tests, blockstore

#3147 Persist follower disks
  cloud/blockstore/libs/storage/core/monitoring_utils.cpp
  cloud/blockstore/libs/storage/service/service_actor_create_volume_link.cpp
  cloud/blockstore/libs/storage/volume/model/checkpoint.h
  cloud/blockstore/libs/storage/volume/model/checkpoint_light.h
  cloud/blockstore/libs/storage/volume/model/follower_disk.cpp
  cloud/blockstore/libs/storage/volume/model/follower_disk.h
  cloud/blockstore/libs/storage/volume/model/ya.make
  cloud/blockstore/libs/storage/volume/testlib/test_env.cpp
  cloud/blockstore/libs/storage/volume/testlib/test_env.h
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_link_volume.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_loadstate.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_monitoring.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_updateconfig.cpp
  cloud/blockstore/libs/storage/volume/volume_database.cpp
  cloud/blockstore/libs/storage/volume/volume_database.h
  cloud/blockstore/libs/storage/volume/volume_database_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_schema.h
  cloud/blockstore/libs/storage/volume/volume_state.cpp
  cloud/blockstore/libs/storage/volume/volume_state.h
  cloud/blockstore/libs/storage/volume/volume_state_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_tx.h
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
  cloud/blockstore/tests/monitoring/test.py
Labels: blockstore

#3151 issue-1226: make ReadData tx read-only to utilize caching of mixed index cache
  cloud/filestore/libs/storage/tablet/tablet_actor_deletecheckpoint.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_readdata.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.h
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_cache.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_cache.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_iface.h
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/tablet_ut_cache.cpp
Labels: large-tests, filestore

#3141 [Disk Manager] fix ydb binary path
  cloud/disk_manager/test/recipe/__main__.py
  cloud/disk_manager/test/recipe/common.py
  cloud/disk_manager/test/recipe/ya.make
  cloud/disk_manager/test/snapshot_migration_test/test.py
Labels: large-tests, disk_manager

#3148 Pass lagging devices toggle to nonrepl partition
  cloud/blockstore/libs/storage/partition_nonrepl/config.h
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_lagging_devices_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_lagging_agents.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_startstop.cpp
Labels: large-tests, blockstore

#3165 issue-1226: add observability for mixed index cache, and ut for ReadData cache scenario
  cloud/filestore/libs/storage/tablet/model/mixed_blocks.cpp
  cloud/filestore/libs/storage/tablet/model/mixed_blocks.h
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_cache.cpp
Labels: filestore

#2974 issue-2270: remove device name checks
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
Labels: blockstore, rebase

#3173 [Disk Manager] fix error check in disk service test
  cloud/disk_manager/internal/pkg/facade/disk_service_test/disk_service_test.go
Labels: large-tests

#3130 issue-3129: Add flag to enable/disable throttling of zero block requests
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/core/proto_helpers.cpp
  cloud/blockstore/libs/storage/core/proto_helpers.h
  cloud/blockstore/libs/storage/core/proto_helpers_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_throttling.cpp
Labels: blockstore

#3135 [CSI] Enable discard mount option only for YDB-based disks
  cloud/blockstore/tools/csi_driver/cmd/nbs-csi-driver/main.go
  cloud/blockstore/tools/csi_driver/internal/driver/controller.go
  cloud/blockstore/tools/csi_driver/internal/driver/driver.go
  cloud/blockstore/tools/csi_driver/internal/driver/helper.go
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
  cloud/blockstore/tools/csi_driver/internal/driver/ya.make
Labels: blockstore

#3123 Issue 2956: add checksum calculations to CheckRange
  cloud/blockstore/libs/storage/partition/part_ut.cpp
  cloud/blockstore/libs/storage/partition2/part2_ut.cpp
  cloud/blockstore/libs/storage/partition_common/actor_checkrange.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/ut_env.h
  cloud/blockstore/libs/storage/service/service_actor_actions_check_range.cpp
  cloud/blockstore/libs/storage/service/service_actor_checkrange.cpp
  cloud/blockstore/libs/storage/service/service_ut_actions.cpp
  cloud/blockstore/libs/storage/service/service_ut_checkrange.cpp
  cloud/blockstore/libs/storage/testlib/service_client.cpp
  cloud/blockstore/libs/storage/testlib/service_client.h
  cloud/blockstore/private/api/protos/volume.proto
  cloud/blockstore/public/api/protos/volume.proto
Labels: blockstore

#3181 Fix use-after-free
  cloud/blockstore/libs/storage/volume/volume_database.cpp
Labels: blockstore, asan, ubsan

#3174 issue-2869: set disconnect result into StopResult promise
  cloud/blockstore/libs/endpoint_proxy/server/server.cpp
  cloud/blockstore/libs/nbd/netlink_device.cpp
Labels: blockstore

#3176 issue-1146: slight follow-up refactoring: get rid of `IIndexTabletDatabase::` enclosing class specifier
  cloud/filestore/libs/storage/tablet/tablet_database.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.h
Labels: filestore, rebase

#3171 Allow nonreplicated partition to timeout devices
  cloud/blockstore/libs/storage/partition_nonrepl/config.h
  cloud/blockstore/libs/storage/partition_nonrepl/migration_timeout_calculator.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_base_request.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_base_request.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_checksumblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_readblocks_local.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_zeroblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_ut.cpp
Labels: large-tests, blockstore

#3190 Add `cloud/storage/core/tools/testing/qemu/{bin,image}` to `filestore/buildall/ya.make`
  cloud/filestore/buildall/ya.make
Labels: filestore

#3196 Fix -Wc++11-narrowing-const-reference
  cloud/blockstore/libs/storage/partition/part_actor_addblobs.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: blockstore, filestore

#3172 avoid reconnecting live nbd sockets; resolves #3138
  cloud/blockstore/libs/endpoint_proxy/server/bootstrap.cpp
  cloud/blockstore/libs/endpoint_proxy/server/options.cpp
  cloud/blockstore/libs/endpoint_proxy/server/options.h
  cloud/blockstore/libs/endpoint_proxy/server/server.cpp
  cloud/blockstore/libs/endpoint_proxy/server/server.h
  cloud/blockstore/libs/endpoint_proxy/server/server_ut.cpp
  cloud/blockstore/tests/e2e-tests/test.py
  cloud/blockstore/tests/python/lib/endpoint_proxy.py
  cloud/blockstore/tests/python/lib/loadtest_env.py
Labels: blockstore, tsan

#3183 better logging for unexpected event: report file:line where this unexpected event was encountered
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/storage/core/libs/actors/helpers.cpp
  cloud/storage/core/libs/actors/helpers.h
Labels: large-tests, blockstore

#3208 [Filestore] add GetNodeXattr tablet-side sensor
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_getnodexattr.cpp
Labels: filestore

#3209 always dump dmesg and atop upon `ya test` completion
  .github/actions/test/action.yaml
Labels: tasks

#3153 issue-3152: start sending statistics from non replicated partitions during resync
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor_stats.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/ut_env.h
Labels: large-tests, blockstore

#3177 introduce Fake RDMA Client
  cloud/blockstore/config/server.proto
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/daemon/ydb/ya.make
  cloud/blockstore/libs/rdma/fake/client.cpp
  cloud/blockstore/libs/rdma/fake/client.h
  cloud/blockstore/libs/rdma/fake/client_ut.cpp
  cloud/blockstore/libs/rdma/fake/public.h
  cloud/blockstore/libs/rdma/fake/ut/ya.make
  cloud/blockstore/libs/rdma/fake/ya.make
  cloud/blockstore/libs/rdma/ya.make
  cloud/blockstore/libs/server/config.cpp
  cloud/blockstore/libs/server/config.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.cpp
  cloud/blockstore/tests/loadtest/local-mirror/test.py
  cloud/blockstore/tests/mirror_disks/test.py
  cloud/blockstore/tests/mirror_disks/ya.make
  cloud/blockstore/tests/python/lib/config.py
  cloud/blockstore/tests/python/lib/nbs_runner.py
  cloud/blockstore/tests/ya.make
  cloud/storage/core/libs/actors/helpers.h
Labels: blockstore

#3037 [NBS] Asynchronous device cleanup (deallocation) and synchronous allocation for local disks
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_allocate.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_allocation.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_allocatedisk.cpp
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
Labels: large-tests, blockstore

#3120 [Disk Manager] Fix flappy test for snapshot service
  cloud/disk_manager/internal/pkg/facade/snapshot_service_test/snapshot_service_test.go
  cloud/disk_manager/internal/pkg/facade/testcommon/common.go
Labels: large-tests, disk_manager

#3201 issue-3161: distinguish leaders and followers by cookies in TMigrationRequestActor
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/storage/partition_nonrepl/migration_request_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/migration_request_actor_ut.cpp
Labels: large-tests, blockstore

#3198 fix: uninitialized bytes warning
  cloud/storage/core/libs/netlink/message.h
Labels: rebase, msan

#3220 issue-3161: fix fake rdma client: add a bunch of missed handlers of undelivery requests; add test_m3_rdma_restart_disk_agent_during_migration
  cloud/blockstore/libs/rdma/fake/client.cpp
  cloud/blockstore/tests/mirror_disks/test.py
Labels: blockstore

#3215 issue-3: add info about lagging devices on volume mon page
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_monitoring.cpp
  cloud/blockstore/libs/storage/volume/volume_state.cpp
  cloud/blockstore/libs/storage/volume/volume_state.h
Labels: large-tests, blockstore

#3210 [blockstore] upload volume tablet id to ydb-stats
  cloud/blockstore/libs/storage/stats_service/stats_service_actor_solomon.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_actor_ydb.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_state.h
  cloud/blockstore/libs/ydbstats/ydbrow.h
Labels: large-tests

#3227 [Filestore] fix client not working for single-argument commands
  cloud/filestore/apps/client/lib/app.cpp
Labels: filestore

#3226 issue-3161: fix local-mirror rdma tests: track refs to endpoints
  cloud/blockstore/libs/rdma/fake/client.cpp
Labels: large-tests, blockstore, tsan

#3225 Describe disk and range when crit event in mirror disk happens
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_mirror.cpp
Labels: blockstore

#3228 Migrate lagging devices by aligned to 4MiB ranges
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_ut.cpp
Labels: large-tests, blockstore

#3202 issue-2674: fix `rmdir` behavior for sharded directories
  cloud/filestore/libs/diagnostics/critical_events.h
  cloud/filestore/libs/storage/service/service_ut_sharding.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_oplog.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode_destination.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_unlinknode.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/tests/fs_posix_compliance/qemu-kikimr-multishard2-test/canondata/result.json
  cloud/filestore/tests/fs_posix_compliance/qemu-kikimr-multishard2-test/canondata/test.test_posix_compliance_rename_/results-rename.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-kikimr-multishard2-test/canondata/test.test_posix_compliance_rmdir_/results-rmdir.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-kikimr-multishard2-test/test.py
  cloud/filestore/tools/testing/fs_posix_compliance/pylib/test.py
Labels: large-tests, filestore

#3214 Added CopyToSgList() with different block size
  cloud/blockstore/libs/common/iovector.cpp
  cloud/blockstore/libs/common/iovector.h
  cloud/blockstore/libs/common/iovector_ut.cpp
Labels: blockstore, msan, ubsan

#3249 fix: use port manager to get data port
  cloud/blockstore/libs/server/server_ut.cpp
Labels: blockstore

#3250 issue-3: rename Timeouted -> TimedOut
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_base_request.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_events_private.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/ut_env.h
  cloud/blockstore/libs/storage/volume/actors/shadow_disk_actor.cpp
  cloud/blockstore/libs/storage/volume/model/helpers.cpp
  cloud/blockstore/libs/storage/volume/model/helpers.h
  cloud/blockstore/libs/storage/volume/testlib/test_env.cpp
  cloud/blockstore/libs/storage/volume/testlib/test_env.h
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_lagging_agents.cpp
  cloud/blockstore/libs/storage/volume/volume_events_private.h
  cloud/blockstore/libs/storage/volume/volume_lagging_agent_ut.cpp
Labels: large-tests, blockstore

#3241 Fix multidevice write when migration running
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_common.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_common.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_common_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_ut.cpp
Labels: large-tests, blockstore, asan

#3238 Report critical event when error replied to guest
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/endpoints_nbd/nbd_server.cpp
  cloud/blockstore/libs/endpoints_vhost/vhost_server.cpp
  cloud/blockstore/libs/nbd/server_handler.cpp
  cloud/blockstore/libs/nbd/server_handler.h
  cloud/blockstore/libs/service/aligned_device_handler.cpp
  cloud/blockstore/libs/service/aligned_device_handler.h
  cloud/blockstore/libs/service/device_handler.cpp
  cloud/blockstore/libs/service/device_handler.h
  cloud/blockstore/libs/service/device_handler_ut.cpp
  cloud/blockstore/libs/service/storage_ut.cpp
  cloud/blockstore/libs/service/unaligned_device_handler.cpp
  cloud/blockstore/libs/service/unaligned_device_handler.h
  cloud/blockstore/libs/vhost/server.cpp
  cloud/blockstore/libs/vhost/server.h
  cloud/storage/core/libs/common/media.cpp
  cloud/storage/core/libs/common/media.h
Labels: large-tests, blockstore, asan

#3265 fix: use port manager instead of hardcoded port
  cloud/blockstore/libs/endpoints_grpc/socket_endpoint_listener_ut.cpp
  cloud/blockstore/libs/server/server_ut.cpp
Labels: blockstore

#3159 Issue 2956: add checkRange for mirror disks
  cloud/blockstore/apps/client/lib/check_range.cpp
  cloud/blockstore/apps/client/lib/command_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_checkrange.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/ut_env.h
  cloud/blockstore/libs/storage/protos/volume.proto
  cloud/blockstore/libs/storage/service/service_actor_actions_check_range.cpp
  cloud/blockstore/private/api/protos/volume.proto
Labels: blockstore

#3273 Revert "issue-3: read from mirror partition during fresh device migration"
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agent_migration_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_state.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_state.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_state_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_checksumblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_migration.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_ut.cpp
  cloud/blockstore/libs/storage/volume/actors/shadow_disk_actor.cpp
Labels: blockstore

#3239 Resync major replica mismatch block by block
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/partition_nonrepl/checksum_range.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_fastpath_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_util.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_util.h
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range_block_by_block.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range_block_by_block.h
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/ya.make
Labels: large-tests, blockstore, asan

#3276 Suppress performance-enum-size clang-tidy warning
  .clang-tidy
Labels: tasks

#3189 Create lagging proxy in mirror partition
  cloud/blockstore/libs/storage/partition_nonrepl/model/replica_actors.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/model/replica_actors.h
  cloud/blockstore/libs/storage/partition_nonrepl/model/replica_actors_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/model/ut/ya.make
  cloud/blockstore/libs/storage/partition_nonrepl/model/ya.make
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_stats.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_lagging_devices_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor_resync.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_state.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_state.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_state.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_state.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/replica_info.h
  cloud/blockstore/libs/storage/partition_nonrepl/ut/ya.make
  cloud/blockstore/libs/storage/volume/volume_actor_lagging_agents.cpp
Labels: large-tests, blockstore

#3255 issue-176: add new encryption mode value to createvolume command
  cloud/blockstore/apps/client/lib/create_volume.cpp
  cloud/blockstore/libs/encryption/model/utils.cpp
  cloud/blockstore/libs/encryption/model/utils.h
Labels: blockstore

#3271 Fix race for on setting and reading flag
  cloud/blockstore/libs/service/aligned_device_handler.cpp
  cloud/blockstore/libs/service/aligned_device_handler.h
  cloud/blockstore/libs/vhost/server_ut_stress.cpp
Labels: blockstore, tsan

#3274 Apply resync policy to all
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor_resync.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_util.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_util.h
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range.h
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range_block_by_block.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range_block_by_block.h
  cloud/blockstore/libs/storage/partition_nonrepl/resync_range_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_startstop.cpp
  cloud/blockstore/libs/storage/volume/volume_state.h
Labels: large-tests, blockstore

#3288 Fix non-constant-expression cannot be narrowed from type error
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: filestore

#3203 [Filestore] Change type from string to bytes in Protobuf messages
  cloud/filestore/public/api/protos/data.proto
  cloud/filestore/public/api/protos/headers.proto
  cloud/filestore/public/sdk/go/client/grpc.go
  cloud/filestore/public/sdk/python/client/base_client.py
Labels: large-tests

#3248 issue-3247: fix blue-green error
  cloud/blockstore/libs/storage/volume/model/client_state.cpp
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
Labels: large-tests, blockstore

#3221 Linked disk bandwidth config
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/core/config_ut.cpp
  example/nbs/nbs-storage.txt
Labels: large-tests, blockstore

#3281 Fix duplicate symbol error for YdbDefaultPDiskSequence
  cloud/blockstore/apps/disk_agent/ya.make
  cloud/blockstore/apps/server/ya.make
  cloud/filestore/apps/server/ya.make
  cloud/filestore/apps/vhost/ya.make
  cloud/storage/core/libs/kikimr/ya.make
Labels: large-tests, blockstore, filestore
