Repository ydb-platform/nbs, pull requests merged in 2025-07, with the labels that each got.

#3694 LRU cache for NodeRefs added in TInMemoryIndexState
  cloud/filestore/libs/storage/tablet/session.h
  cloud/filestore/libs/storage/tablet/tablet_state_cache.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_cache.h
  cloud/filestore/libs/storage/tablet/tablet_ut_state_cache.cpp
  cloud/storage/core/libs/common/lru_cache.h
  cloud/storage/core/libs/common/lru_cache_ut.cpp
Labels: large-tests, filestore

#3787 fix memleak in TAIOService::Stop
  cloud/storage/core/libs/aio/service.cpp
Labels: blockstore, asan, tsan, msan, ubsan

#3794 [CSI] Stop endpoint on NodeStageVolume failure
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
Labels: blockstore, rebase

#3808 issue-3314: add RoundRobinFileIOService adaptor
  cloud/storage/core/libs/aio/service.cpp
  cloud/storage/core/libs/common/file_io_service.cpp
  cloud/storage/core/libs/common/file_io_service.h
  cloud/storage/core/libs/common/file_io_service_ut.cpp
  cloud/storage/core/libs/common/ut/ya.make
Labels: blockstore, filestore

#3757 issue-3755: kill partition if it takes too long to boot tablet
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/partition/part_actor.cpp
  cloud/blockstore/libs/storage/partition/part_actor.h
  cloud/blockstore/libs/storage/partition/part_ut.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor.h
  cloud/blockstore/libs/storage/partition2/part2_ut.cpp
Labels: blockstore

#3776 Propagate link to follower (exist DB-schema not changed)
  cloud/blockstore/libs/storage/api/volume.h
  cloud/blockstore/libs/storage/model/log_title.cpp
  cloud/blockstore/libs/storage/model/log_title.h
  cloud/blockstore/libs/storage/protos/volume.proto
  cloud/blockstore/libs/storage/service/service_actor_create_volume_link.cpp
  cloud/blockstore/libs/storage/service/service_actor_destroy_volume_link.cpp
  cloud/blockstore/libs/storage/service/service_ut_link_volume.cpp
  cloud/blockstore/libs/storage/testlib/test_env.cpp
  cloud/blockstore/libs/storage/volume/actors/create_volume_link_actor.cpp
  cloud/blockstore/libs/storage/volume/actors/create_volume_link_actor.h
  cloud/blockstore/libs/storage/volume/actors/propagate_to_follower.cpp
  cloud/blockstore/libs/storage/volume/actors/propagate_to_follower.h
  cloud/blockstore/libs/storage/volume/actors/ya.make
  cloud/blockstore/libs/storage/volume/model/follower_disk.cpp
  cloud/blockstore/libs/storage/volume/model/follower_disk.h
  cloud/blockstore/libs/storage/volume/testlib/test_env.cpp
  cloud/blockstore/libs/storage/volume/testlib/test_env.h
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_follower.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_leader.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_link_volume.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_loadstate.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_monitoring.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_updateconfig.cpp
  cloud/blockstore/libs/storage/volume/volume_database.cpp
  cloud/blockstore/libs/storage/volume/volume_database.h
  cloud/blockstore/libs/storage/volume/volume_database_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_events_private.h
  cloud/blockstore/libs/storage/volume/volume_schema.h
  cloud/blockstore/libs/storage/volume/volume_state.cpp
  cloud/blockstore/libs/storage/volume/volume_state.h
  cloud/blockstore/libs/storage/volume/volume_state_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_tx.h
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
  cloud/blockstore/libs/storage/volume/ya.make
Labels: large-tests, disk_manager, blockstore

#3775 [NBS] send current tablet generation (instead of generation parsed from commit id) in TEvBlobStorage::TEvCollectGarbage request
  cloud/blockstore/libs/storage/model/public.h
  cloud/blockstore/libs/storage/partition/part_actor_collectgarbage.cpp
  cloud/blockstore/libs/storage/partition/part_actor_trimfreshlog.cpp
  cloud/blockstore/libs/storage/partition/part_state.h
  cloud/blockstore/libs/storage/partition/part_ut.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor_collectgarbage.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor_trimfreshlog.cpp
  cloud/blockstore/libs/storage/partition2/part2_state.h
  cloud/blockstore/libs/storage/partition_common/actor_trimfreshlog.cpp
  cloud/blockstore/libs/storage/partition_common/actor_trimfreshlog.h
  cloud/filestore/libs/storage/tablet/tablet_actor_collectgarbage.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
Labels: blockstore

#3812 issue-3699: add a simple read/write test to the service sdk test
  cloud/filestore/public/sdk/python/client/base_client.py
  cloud/filestore/public/sdk/python/client/client.py
  cloud/filestore/tests/service/service-kikimr-test/test.py
Labels: filestore

#3823 [CSI] fix build
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
Labels: blockstore

#3795 Add a config parameter to disable client throttler
  cloud/blockstore/apps/client/lib/command_ut.cpp
  cloud/blockstore/config/server.proto
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/endpoints/session_manager.cpp
  cloud/blockstore/libs/endpoints/session_manager.h
  cloud/blockstore/libs/endpoints/session_manager_ut.cpp
  cloud/blockstore/libs/server/config.cpp
  cloud/blockstore/libs/server/config.h
  cloud/blockstore/libs/service/service_test.h
Labels: blockstore

#3705 [Blockstore] Do not reboot tablet if it was killed by state storage
  cloud/blockstore/libs/storage/service/service_ut_mount.cpp
  cloud/blockstore/libs/storage/service/volume_session_actor_start.cpp
Labels: large-tests

#3825 Fix infinite vhost run when parent exit immediately after fork
  cloud/blockstore/libs/endpoints_vhost/external_vhost_server.cpp
  cloud/blockstore/tests/vhost-server/run_and_die/__main__.py
  cloud/blockstore/tests/vhost-server/test.py
  cloud/blockstore/vhost-server/main.cpp
  cloud/blockstore/vhost-server/options.cpp
  cloud/blockstore/vhost-server/options.h
Labels: large-tests, blockstore

#3824 issue-3699: fix forwarding of handleless IO for the sharded filesystems
  cloud/filestore/config/filesystem.proto
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
  cloud/filestore/libs/storage/service/service_actor_writedata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_sessions.cpp
  cloud/filestore/public/api/protos/fs.proto
  cloud/filestore/public/sdk/python/client/client.py
  cloud/filestore/tests/service/service-kikimr-parentless-handleless-test/nfs-storage-config-patch.txt
  cloud/filestore/tests/service/service-kikimr-parentless-handleless-test/test.py
  cloud/filestore/tests/service/service-kikimr-parentless-handleless-test/ya.make
  cloud/filestore/tests/service/service-kikimr-test/test.py
  cloud/filestore/tests/service/ya.make
Labels: filestore

#3828 issue-3699: change E_FS_INVAL to E_FS_NOENT error for invalid node in handleless IO
  cloud/filestore/bin/nfs/nfs-storage.txt
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_adddata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_readdata.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_writedata.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: filestore

#3819 issue-3314: add TConcurrentFileIOService adaptor
  cloud/storage/core/libs/common/file_io_service.cpp
  cloud/storage/core/libs/common/file_io_service.h
  cloud/storage/core/libs/common/file_io_service_ut.cpp
Labels: blockstore, asan, tsan, msan, ubsan

#3806 issue-3314: add io_uring service (TIoUringService)
  cloud/storage/core/libs/io_uring/service.cpp
  cloud/storage/core/libs/io_uring/service.h
  cloud/storage/core/libs/io_uring/service_ut.cpp
  cloud/storage/core/libs/io_uring/ut/ya.make
  cloud/storage/core/libs/io_uring/ya.make
  cloud/storage/core/libs/ya.make
Labels: blockstore

#3840 [Filestore] Introduce stats-collector recipe to the `cloud/filestore/tests/fio_index/qemu-kikimr-multishard-tablets-restart-test` to record stats during the execution
  cloud/filestore/tests/fio_index/qemu-kikimr-multishard-tablets-restart-test/ya.make
  cloud/filestore/tests/recipes/stats-collector.inc
  cloud/filestore/tests/recipes/stats-collector/README.md
  cloud/filestore/tests/recipes/stats-collector/__main__.py
  cloud/filestore/tests/recipes/stats-collector/ya.make
  cloud/filestore/tests/recipes/stats-collector/ya.make.inc
  cloud/filestore/tests/recipes/tablets-restarter/__main__.py
  cloud/filestore/tests/recipes/vhost/__main__.py
Labels: filestore

#3843 add parameter UseLocalStorageSubmissionThread to DA config
  cloud/blockstore/config/disk.proto
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/blockstore/libs/service_local/storage_local.cpp
  cloud/blockstore/libs/service_local/storage_local.h
  cloud/blockstore/libs/service_local/storage_local_ut.cpp
  cloud/blockstore/libs/service_local/storage_local_ut_large.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.h
  cloud/blockstore/libs/storage/disk_agent/testlib/test_env.cpp
Labels: blockstore

#3702 fix: fail tests if there are sanitizer errors on shutdown of recipes
  cloud/blockstore/pylibs/common/ssh_client.py
  cloud/blockstore/tests/python/lib/rdma.py
  cloud/blockstore/tests/recipes/local-kikimr/__main__.py
  cloud/blockstore/tests/recipes/local-kikimr/ya.make
  cloud/blockstore/tests/recipes/local-null/__main__.py
  cloud/blockstore/tests/recipes/local-null/ya.make
  cloud/blockstore/tests/recipes/service-local/__main__.py
  cloud/blockstore/tests/recipes/service-local/ya.make
  cloud/disk_manager/test/recipe/__main__.py
  cloud/disk_manager/test/recipe/disk_manager_launcher.py
  cloud/disk_manager/test/recipe/nbs_launcher.py
  cloud/disk_manager/test/recipe/nfs_launcher.py
  cloud/disk_manager/test/recipe/ya.make
  cloud/filestore/tests/recipes/service-kikimr/__main__.py
  cloud/filestore/tests/recipes/service-kikimr/ya.make.inc
  cloud/filestore/tests/recipes/service-local/__main__.py
  cloud/filestore/tests/recipes/service-local/ya.make.inc
  cloud/filestore/tests/recipes/vhost/__main__.py
  cloud/filestore/tests/recipes/vhost/ya.make.inc
  cloud/storage/core/tests/common/__init__.py
  cloud/storage/core/tests/common/ya.make
  cloud/storage/core/tests/recipes/access-service-new/__main__.py
  cloud/storage/core/tests/recipes/access-service-new/ya.make
  cloud/storage/core/tests/recipes/access-service/__main__.py
  cloud/storage/core/tests/recipes/access-service/ya.make
  cloud/storage/core/tests/recipes/virtiofs-server/__main__.py
  cloud/storage/core/tests/recipes/virtiofs-server/ya.make
  cloud/storage/core/tests/ya.make
  cloud/storage/core/tools/testing/access_service/lib/__init__.py
  cloud/storage/core/tools/testing/access_service_new/lib/__init__.py
  cloud/storage/core/tools/testing/qemu/lib/common.py
  cloud/storage/core/tools/testing/qemu/lib/qemu.py
  cloud/storage/core/tools/testing/qemu/lib/recipe.py
  cloud/storage/core/tools/testing/qemu/lib/ya.make
  cloud/storage/core/tools/testing/virtiofs_server/lib/__init__.py
Labels: large-tests, asan

#3802 TFileRingBuffer: refactoring - extract memory access related code to TFileRingBufferData
  cloud/storage/core/libs/common/file_ring_buffer.cpp
Labels: large-tests

#3858 Fix ya make target availability
  cloud/filestore/tests/recipes/ya.make
Labels: filestore

#3830 Log title unification in TVolumeActor
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_acquire.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_addclient.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_allocatedisk.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_checkpoint.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_cleanup_history.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_follower.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_forward.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_lagging_agents.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_leader.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_monitoring.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_monitoring_removeclient.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_reallocatedisk.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_release.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_removeclient.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_reset_seqnumber.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_resync.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_startstop.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_stats.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_statvolume.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_throttling.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_updatestartpartitionsneeded.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_updateusedblocks.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_updatevolumeparams.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_waitready.cpp
Labels: large-tests, disk_manager, blockstore

#3857 [Filestore] set grpc threads limit
  cloud/blockstore/apps/client/lib/command.cpp
  cloud/blockstore/libs/daemon/common/config_initializer.cpp
  cloud/blockstore/libs/daemon/common/config_initializer.h
  cloud/blockstore/libs/daemon/ydb/config_initializer.cpp
  cloud/blockstore/tools/nbd/bootstrap.cpp
  cloud/blockstore/tools/testing/loadtest/lib/bootstrap.cpp
  cloud/filestore/libs/daemon/server/bootstrap.cpp
  cloud/storage/core/libs/grpc/utils.cpp
  cloud/storage/core/libs/grpc/utils.h
  cloud/vm/blockstore/bootstrap.cpp
Labels: blockstore, filestore

#3861 check whether the QP exists before destroying it; resolves #3741
  cloud/blockstore/libs/rdma/impl/client.cpp
Labels: blockstore

#3846 Partition log unification
  cloud/blockstore/libs/storage/partition/part_actor.cpp
  cloud/blockstore/libs/storage/partition/part_actor_addconfirmedblobs.cpp
  cloud/blockstore/libs/storage/partition/part_actor_addgarbage.cpp
  cloud/blockstore/libs/storage/partition/part_actor_changedblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_checkpoint.cpp
  cloud/blockstore/libs/storage/partition/part_actor_cleanup.cpp
  cloud/blockstore/libs/storage/partition/part_actor_collectgarbage.cpp
  cloud/blockstore/libs/storage/partition/part_actor_compaction.cpp
  cloud/blockstore/libs/storage/partition/part_actor_confirmblobs.cpp
  cloud/blockstore/libs/storage/partition/part_actor_deletegarbage.cpp
  cloud/blockstore/libs/storage/partition/part_actor_describeblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_flush.cpp
  cloud/blockstore/libs/storage/partition/part_actor_initfreshblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_loadstate.cpp
  cloud/blockstore/libs/storage/partition/part_actor_metadata_rebuild_blockcount.cpp
  cloud/blockstore/libs/storage/partition/part_actor_metadata_rebuild_usedblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_monitoring.cpp
  cloud/blockstore/libs/storage/partition/part_actor_patchblob.cpp
  cloud/blockstore/libs/storage/partition/part_actor_readblob.cpp
  cloud/blockstore/libs/storage/partition/part_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_scan_disk.cpp
  cloud/blockstore/libs/storage/partition/part_actor_trimfreshlog.cpp
  cloud/blockstore/libs/storage/partition/part_actor_waitready.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writeblob.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writefreshblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writemergedblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writemixedblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_zeroblocks.cpp
Labels: large-tests, disk_manager, blockstore

#3863 Remove encryption in zero blocks request
  cloud/blockstore/apps/client/lib/command.cpp
  cloud/blockstore/config/server.proto
  cloud/blockstore/libs/client/bench/main.cpp
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/encryption/encryption_client.cpp
  cloud/blockstore/libs/encryption/encryption_client.h
  cloud/blockstore/libs/encryption/encryption_client_ut.cpp
  cloud/blockstore/libs/encryption/encryption_service_ut.cpp
  cloud/blockstore/libs/endpoints/endpoint_manager_ut.cpp
  cloud/blockstore/libs/endpoints/session_manager_ut.cpp
  cloud/blockstore/libs/server/config.cpp
  cloud/blockstore/libs/server/config.h
  cloud/vm/blockstore/lib/plugin.cpp
Labels: large-tests, disk_manager, blockstore

#3798 [Blockstore] should not release trim barriers if flush failed with an error during writing data to Blob Storage
  cloud/blockstore/libs/storage/partition/part_actor_changedblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_cleanup.cpp
  cloud/blockstore/libs/storage/partition/part_actor_describeblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_flush.cpp
  cloud/blockstore/libs/storage/partition/part_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writefreshblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_zeroblocks.cpp
  cloud/blockstore/libs/storage/partition/part_ut.cpp
  cloud/disk_manager/internal/pkg/clients/nbs/testing_client.go
  cloud/disk_manager/test/recipe/nbs_launcher.py
Labels: large-tests, disk_manager, blockstore

#3801 [CSI] Report mount conflicts as a separate counter
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/monitoring/monitoring.go
  cloud/blockstore/tools/csi_driver/internal/monitoring/monitoring_test.go
  cloud/blockstore/tools/csi_driver/internal/ya.make
Labels: blockstore

#3791 Merge SchemeShard backups into one file
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/ss_proxy/path_description_backup.cpp
  cloud/blockstore/libs/storage/ss_proxy/path_description_backup.h
  cloud/blockstore/tests/loadtest/local-emergency/test.py
  cloud/blockstore/tools/.gitignore
  cloud/blockstore/tools/disaster_recovery/merge_path_description_backups/main.cpp
  cloud/blockstore/tools/disaster_recovery/merge_path_description_backups/options.cpp
  cloud/blockstore/tools/disaster_recovery/merge_path_description_backups/options.h
  cloud/blockstore/tools/disaster_recovery/merge_path_description_backups/ya.make
  cloud/blockstore/tools/disaster_recovery/ya.make
  cloud/blockstore/tools/ya.make
  example/backups/.gitignore
  example/nbs/nbs-storage.txt
Labels: large-tests, blockstore

#3882 fix race condition during error handler execution
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
Labels: blockstore, asan, tsan, msan, ubsan

#3805 Issue-3290: mark non-existing files as "null backend" and reply with an error on every request for these devices
  cloud/blockstore/vhost-server/backend_aio.cpp
  cloud/blockstore/vhost-server/request_aio.cpp
  cloud/blockstore/vhost-server/server_ut.cpp
Labels: large-tests, blockstore

#3886 call error handler on socket shutdown; resolves #3885
  cloud/blockstore/libs/nbd/server.cpp
Labels: blockstore, asan, tsan, msan, ubsan

#3887 Fix arcadia build
  cloud/blockstore/tools/disaster_recovery/merge_path_description_backups/main.cpp
Labels: blockstore

#3876 [CSI] Split counters for fatal and retriable errors
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/monitoring/monitoring.go
  cloud/blockstore/tools/csi_driver/internal/monitoring/monitoring_test.go
Labels: blockstore

#3768 issue-3777: HasXAttrs flag added to TFileStoreFeatures
  build/ext_mapping.conf.json
  cloud/filestore/bin/run_test_qemu.sh
  cloud/filestore/libs/storage/api/service.h
  cloud/filestore/libs/storage/service/service_actor.h
  cloud/filestore/libs/storage/service/service_actor_forward.cpp
  cloud/filestore/libs/storage/service/service_actor_xattr.cpp
  cloud/filestore/libs/storage/service/ya.make
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_sessions.cpp
  cloud/filestore/public/api/protos/fs.proto
  cloud/filestore/tests/fs_posix_compliance/acl-set-test/test.py
  cloud/filestore/tests/fs_posix_compliance/qemu-xattrs-test/test.py
  cloud/filestore/tests/fs_posix_compliance/qemu-xattrs-test/ya.make
  cloud/filestore/tests/fs_posix_compliance/ya.make
  cloud/storage/core/tools/testing/qemu/build-image/__main__.py
Labels: large-tests, filestore

#3890 add IFileIOServiceFactory; add TAioServiceParams; add the aio service factory; setup thread name of the aio service in the factory
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/blockstore/libs/service_local/file_io_service_provider.cpp
  cloud/blockstore/libs/service_local/file_io_service_provider.h
  cloud/blockstore/libs/service_local/file_io_service_provider_ut.cpp
  cloud/storage/core/libs/aio/service.cpp
  cloud/storage/core/libs/aio/service.h
  cloud/storage/core/libs/aio/service_ut.cpp
  cloud/storage/core/libs/common/file_io_service.h
  cloud/storage/core/libs/common/public.h
Labels: blockstore, filestore

#3902 issue-1223: add lib to ya make
  cloud/storage/core/libs/opentelemetry/impl/trace_ut.cpp
  cloud/storage/core/libs/opentelemetry/impl/ya.make
  cloud/storage/core/libs/ya.make
Labels: disk_manager, blockstore, filestore

#3875 Reduce frequency of log writes on tablet monitoring page
  cloud/blockstore/libs/storage/core/monitoring_utils.cpp
  cloud/blockstore/libs/storage/core/monitoring_utils.h
  cloud/blockstore/libs/storage/volume/volume_actor_monitoring.cpp
Labels: large-tests, blockstore

#3836 [Disk Manager] Add max retriable error count per task type
  cloud/tasks/config/config.proto
  cloud/tasks/runner.go
  cloud/tasks/runner_test.go
  cloud/tasks/tasks_tests/tasks_test.go
Labels: large-tests, disk_manager, tasks

#3904 update sandbox resource
  build/ext_mapping.conf.json
  cloud/storage/core/tools/testing/qemu/image-noble/ya.make
Labels: large-tests, disk_manager, blockstore, filestore

#3910 issue-1223: move opentelemetry trace config inside diagnostics config
  cloud/blockstore/config/diagnostics.proto
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/daemon/ydb/config_initializer.cpp
  cloud/blockstore/libs/daemon/ydb/config_initializer.h
  cloud/blockstore/libs/daemon/ydb/options.cpp
  cloud/blockstore/libs/daemon/ydb/options.h
  cloud/blockstore/libs/diagnostics/config.cpp
  cloud/blockstore/libs/diagnostics/config.h
Labels: disk_manager, blockstore, filestore

#3920 Add disk ID to vhost server logs
  cloud/blockstore/libs/endpoints_vhost/external_vhost_server.cpp
Labels: blockstore

#3888 add descriptions for crtitical events part 1
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/blockstore/libs/rdma/impl/client.cpp
  cloud/blockstore/libs/rdma/impl/server.cpp
  cloud/blockstore/libs/server/server.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_notify_users.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_publish_disk_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/partition/part_actor.cpp
  cloud/blockstore/libs/storage/partition/part_actor_collectgarbage.cpp
  cloud/blockstore/libs/storage/partition/part_actor_initfreshblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_loadstate.cpp
  cloud/blockstore/libs/storage/partition/part_actor_patchblob.cpp
  cloud/blockstore/libs/storage/partition/part_actor_readblob.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writeblob.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor_collectgarbage.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor_initfreshblocks.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor_loadstate.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor_readblob.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor_writeblob.cpp
  cloud/blockstore/libs/storage/partition_common/actor_trimfreshlog.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_migration.cpp
  cloud/blockstore/libs/storage/ss_proxy/path_description_backup.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_actor_ydb.cpp
  cloud/blockstore/libs/storage/volume/model/helpers.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_allocatedisk.cpp
  cloud/blockstore/libs/vhost/server.cpp
Labels: blockstore

#3936 [Filestore] Set GrpcThreadsLimit and EnableGrpcTracing in load test
  cloud/filestore/tools/testing/loadtest/bin/bootstrap.cpp
  cloud/filestore/tools/testing/loadtest/bin/bootstrap.h
Labels: filestore

#3903 issue-1223: refactor trace readers and add traces export for slow requests
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/blockstore/tools/testing/rdma-test/bootstrap.cpp
  cloud/filestore/libs/daemon/common/bootstrap.cpp
  cloud/storage/core/libs/diagnostics/trace_processor_mon_ut.cpp
  cloud/storage/core/libs/diagnostics/trace_reader.cpp
  cloud/storage/core/libs/diagnostics/trace_reader.h
  cloud/storage/core/libs/opentelemetry/impl/trace_convert.cpp
  cloud/storage/core/libs/opentelemetry/impl/trace_convert.h
  cloud/storage/core/libs/opentelemetry/impl/trace_reader.cpp
  cloud/storage/core/libs/opentelemetry/impl/trace_reader.h
  cloud/storage/core/libs/opentelemetry/impl/trace_ut.cpp
  cloud/vm/blockstore/bootstrap.cpp
Labels: disk_manager, blockstore, filestore

#3883 issue-3314: allow sharing kernel workers between io_uring services; add TIoUring that does all the io_uring stuff; make io_uring service thread-safe; stop the completion thread using NOP instead of eventfd
  cloud/storage/core/libs/io_uring/service.cpp
  cloud/storage/core/libs/io_uring/service.h
  cloud/storage/core/libs/io_uring/service_ut.cpp
Labels: blockstore

#3938 Turn on auto-update html page by default
  cloud/blockstore/libs/storage/core/monitoring_utils.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_monitoring.cpp
Labels: large-tests, blockstore

#3943 Add lagging replaced device to AutomaticallyReplaced; Update device state message
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_lagging_agents.cpp
Labels: large-tests, blockstore

#3916 [Blockstore] mark request to mirror disk as dirty when starting ReadBlocks, not when completing (Write|Zero)Blocks; add additional check when inserting request to DirtyReadRequestIds to prevent this structure's slow bloating
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_mirror.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
Labels: large-tests

#3956 [Filestore]: support client id specification in the filestore/loadtest config
  cloud/filestore/tools/testing/loadtest/lib/request_data.cpp
  cloud/filestore/tools/testing/loadtest/lib/test.cpp
  cloud/filestore/tools/testing/loadtest/protos/loadtest.proto
Labels: filestore

#3923 disk agent: do not consider the absence of a device with non-existent path as a configuration mismatch error
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/model/compare_configs.cpp
  cloud/blockstore/libs/storage/disk_agent/model/compare_configs_ut.cpp
Labels: blockstore

#3913 [Blockstore] Limit the size of TStartMigration transaction
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_migration.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_private.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_migration.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_tx.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_migration.cpp
Labels: large-tests, blockstore

#3949 issue-3314: add deadline for retrying
  cloud/storage/core/libs/io_uring/context.cpp
Labels: blockstore

#3964 add ForceAsyncIO parameter to io_uring service
  cloud/storage/core/libs/io_uring/service.cpp
  cloud/storage/core/libs/io_uring/service.h
  cloud/storage/core/libs/io_uring/service_ut.cpp
Labels: blockstore

#3940 Add lagging devices to the reallocation response
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_notify.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_private.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_cms.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_lagging_agents.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_migration.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_mirrored_disks.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_tx.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_lifecycle.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.cpp
  cloud/blockstore/libs/storage/protos/volume.proto
  cloud/blockstore/libs/storage/volume/volume_actor_allocatedisk.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_lagging_agents.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_monitoring.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_reallocatedisk.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_startstop.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_stats.cpp
  cloud/blockstore/libs/storage/volume/volume_events_private.h
  cloud/blockstore/libs/storage/volume/volume_lagging_agent_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_state.cpp
  cloud/blockstore/libs/storage/volume/volume_state.h
Labels: large-tests, blockstore

#3950 [DM] Support migration of secondary keys
  cloud/tasks/persistence/ydb.go
  cloud/tasks/persistence/ydb_test.go
Labels: large-tests, disk_manager, tasks

#3969 [Blockstore] get rid of RequestTimeout, RetryTimeout, RetryTimeoutIncrement fields from TStartEndpointRequest because they override durable client parameters which is considered dangerous
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/blockstore/libs/endpoints/session_manager.cpp
  cloud/blockstore/public/api/protos/endpoints.proto
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
Labels: large-tests

#3760 [DM] Add InflightDuration field for tasks
  cloud/disk_manager/internal/pkg/util/json.go
  cloud/tasks/execution_context.go
  cloud/tasks/persistence/ydb.go
  cloud/tasks/runner_test.go
  cloud/tasks/storage/common.go
  cloud/tasks/storage/storage.go
  cloud/tasks/storage/storage_ydb_test.go
  cloud/tasks/tasks_tests/tasks_test.go
Labels: large-tests, disk_manager, tasks

#3976 issue-1223: fix use after free in GRPC clients
  cloud/blockstore/libs/discovery/ping.cpp
  cloud/blockstore/libs/endpoint_proxy/client/client.cpp
  cloud/blockstore/libs/kms/impl/compute_client.cpp
  cloud/blockstore/libs/kms/impl/kms_client.cpp
  cloud/blockstore/libs/root_kms/impl/client.cpp
  cloud/storage/core/libs/opentelemetry/impl/trace_service_client.cpp
  cloud/storage/core/libs/opentelemetry/impl/trace_service_client_ut.cpp
  cloud/storage/core/libs/opentelemetry/impl/ut/ya.make
  cloud/storage/core/libs/opentelemetry/impl/ya.make
Labels: disk_manager, blockstore, filestore, asan

#3979 Move CreateBlockBuffer call from TReadDataActor::TReadDataActor to TReadDataActor::Bootstrap in order to reduce load on TStorageServiceActor (which is singleton)
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
Labels: large-tests

#3865 add io_uring backend to local filestore vhost
  cloud/filestore/config/server.proto
  cloud/filestore/libs/daemon/vhost/bootstrap.cpp
  cloud/filestore/libs/daemon/vhost/ya.make
  cloud/filestore/libs/service_local/config.cpp
  cloud/filestore/libs/service_local/config.h
  cloud/filestore/tests/loadtest/service-local-test/io_uring/ya.make
  cloud/filestore/tests/loadtest/service-local-test/ya.make
  cloud/filestore/tests/loadtest/service-local-test/ya.make.inc
  cloud/filestore/tests/recipes/service-local.inc
  cloud/filestore/tests/recipes/service-local/__main__.py
  cloud/storage/core/libs/aio/service.cpp
  cloud/storage/core/libs/common/file_io_service.cpp
  cloud/storage/core/libs/common/file_io_service.h
Labels: filestore

#3982 Fix error in example config
  example/nbs/nbs-storage.txt
Labels: blockstore

#3981 Fix NBS going into infinite loop
  cloud/blockstore/libs/storage/partition_nonrepl/model/device_stats.cpp
Labels: blockstore

#3970 Fix storage config overrides with proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config_ut.cpp
  cloud/blockstore/tests/local_ssd/test.py
Labels: large-tests, disk_manager, blockstore

#3977 Fix MSAN error when a memory block reference is given to the caller, but it does not fill it and the memory remains uninitialized.
  cloud/blockstore/libs/storage/disk_registry/ut_migration/ya.make
  cloud/blockstore/libs/storage/volume/actors/read_disk_registry_based_overlay.cpp
Labels: large-tests, blockstore, msan

#3985 add filestore server config unit test
  cloud/filestore/libs/service_local/config_ut.cpp
  cloud/filestore/libs/service_local/ut/ya.make
Labels: filestore

#3989 [NBS, SU] pass postpone time through rdma
  cloud/blockstore/libs/client_rdma/rdma_client.cpp
  cloud/blockstore/libs/service_rdma/rdma_target.cpp
Labels: blockstore

#3955 issue-1223: parse traces even if span IDs are invalid
  cloud/storage/core/libs/opentelemetry/impl/trace_convert.cpp
  cloud/storage/core/libs/opentelemetry/impl/trace_ut.cpp
Labels: disk_manager, blockstore, filestore

#3850 issue-3314: add io_uring backend to Disk Agent
  cloud/blockstore/config/disk.proto
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/daemon/ydb/bootstrap.h
  cloud/blockstore/libs/daemon/ydb/ya.make
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/blockstore/libs/disk_agent/bootstrap.h
  cloud/blockstore/libs/disk_agent/ya.make
  cloud/blockstore/libs/service_local/file_io_service_provider.cpp
  cloud/blockstore/libs/service_local/file_io_service_provider.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_ut_large.cpp
  cloud/blockstore/libs/storage/disk_agent/model/bootstrap.cpp
  cloud/blockstore/libs/storage/disk_agent/model/bootstrap.h
  cloud/blockstore/libs/storage/disk_agent/model/config.cpp
  cloud/blockstore/libs/storage/disk_agent/model/ya.make
  cloud/blockstore/tests/loadtest/local-nonrepl/embedded/ya.make
  cloud/blockstore/tests/loadtest/local-nonrepl/test.py
  cloud/blockstore/tests/loadtest/local-nonrepl/ya.make
  cloud/blockstore/tests/loadtest/local-nonrepl/ya.make.inc
  cloud/blockstore/tests/python/lib/nonreplicated_setup.py
Labels: large-tests, blockstore

#3991 issue-1345: ignore path not found error from schemeshard while removing client on StopEndpoint
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/blockstore/tests/direct_device_acquire/test.py
Labels: large-tests, blockstore

#3975 [CSI] Set request timeout for StartEndpoint request
  cloud/blockstore/tools/csi_driver/cmd/nbs-csi-driver/main.go
  cloud/blockstore/tools/csi_driver/internal/driver/driver.go
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
Labels: blockstore

#3973 Refactor actors ownership for migration-related actors
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agent_migration_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_migration.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_mirror.cpp
  cloud/blockstore/libs/storage/volume/actors/shadow_disk_actor.cpp
  cloud/blockstore/libs/storage/volume/partition_info.cpp
  cloud/blockstore/libs/storage/volume/partition_info.h
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_startstop.cpp
Labels: large-tests, disk_manager, blockstore

#3993 add DISK_AGENT_BACKEND_IO_URING_NULL
  cloud/blockstore/config/disk.proto
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/blockstore/libs/storage/disk_agent/model/bootstrap.cpp
  cloud/storage/core/libs/io_uring/context.cpp
  cloud/storage/core/libs/io_uring/context.h
  cloud/storage/core/libs/io_uring/service.cpp
  cloud/storage/core/libs/io_uring/service_ut.cpp
Labels: blockstore

#3995 Strengthening clangd checks
  .clang-tidy
Labels: blockstore

#3789 [DM] Add WaitingDuration field to tasks table
  cloud/disk_manager/internal/pkg/util/json.go
  cloud/tasks/storage/common.go
  cloud/tasks/storage/storage.go
  cloud/tasks/storage/storage_ydb_impl.go
  cloud/tasks/storage/storage_ydb_test.go
  cloud/tasks/tasks_tests/tasks_test.go
Labels: large-tests, disk_manager, tasks

#3983 Fix update info in latency table
  cloud/blockstore/libs/storage/volume/volume_actor_monitoring.cpp
Labels: large-tests, blockstore

#4003 [Filestore]: add TabletStartTimestamp sensor to the filestore index tablet
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_counters.cpp
Labels: filestore

#3896 issue-3777: HasXAttrs flag is set on the first SetNodeXAttr
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/api/tablet.h
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/service/service_actor.h
  cloud/filestore/libs/storage/service/service_actor_xattr.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/service/service_ut_sharding.cpp
  cloud/filestore/libs/storage/tablet/protos/tablet.proto
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_loadstate.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_set_has_xattrs.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.h
  cloud/filestore/libs/storage/tablet/tablet_schema.h
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_nodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/tablet/ya.make
  cloud/filestore/libs/storage/testlib/service_client.h
  cloud/filestore/private/api/protos/tablet.proto
  cloud/filestore/tests/common_configs/nfs-storage-newfeatures-patch.txt
  cloud/filestore/tests/fs_posix_compliance/qemu_xattrs_test/lib/__init__.py
  cloud/filestore/tests/fs_posix_compliance/qemu_xattrs_test/lib/ya.make
  cloud/filestore/tests/fs_posix_compliance/qemu_xattrs_test/with_lazy_xattrs_flag/nfs-storage.txt
  cloud/filestore/tests/fs_posix_compliance/qemu_xattrs_test/with_lazy_xattrs_flag/test.py
  cloud/filestore/tests/fs_posix_compliance/qemu_xattrs_test/with_lazy_xattrs_flag/ya.make
  cloud/filestore/tests/fs_posix_compliance/qemu_xattrs_test/without_lazy_xattrs_flag/test.py
  cloud/filestore/tests/fs_posix_compliance/qemu_xattrs_test/without_lazy_xattrs_flag/ya.make
  cloud/filestore/tests/fs_posix_compliance/qemu_xattrs_test/ya.make
  cloud/filestore/tests/fs_posix_compliance/ya.make
Labels: large-tests, filestore

#3990 [CSI] return the correct error code
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
Labels: blockstore

#4014 issue-3777: Action actor that sets HasXAttrs
  cloud/filestore/libs/storage/service/service_actor.h
  cloud/filestore/libs/storage/service/service_actor_actions.cpp
  cloud/filestore/libs/storage/service/service_actor_actions_tablet_ops.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
Labels: filestore

#4017 Get rid of NCloud::HasField in storage config
  cloud/blockstore/libs/storage/core/config.cpp
Labels: large-tests, blockstore

#4027 [CSI] return Unavailable error when NBD device is not available
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
Labels: blockstore

#4032 [NBS] mute test ShouldSendCorrectBarriersInfoAfterReboot temporary
  .github/config/muted_ya.txt
Labels: blockstore

#4039 Fix clang-20 compilation error
  cloud/blockstore/libs/client/client.cpp
Labels: blockstore

#4043 [DM] Fix flapping tests in runner_test.go
  cloud/tasks/runner_test.go
Labels: tasks
