Repository ydb-platform/nbs, pull requests merged in 2025-09, with the labels that each got.

#4206 [CSI] Return 'Unavailable' error on mount conflict
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/monitoring/monitoring.go
  cloud/blockstore/tools/csi_driver/internal/monitoring/monitoring_test.go
Labels: blockstore

#4242 [CSI] Refactor tests to use default node/client/pod/disk IDs
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
Labels: blockstore

#4250 issue-4231: do not use per-node exhaustive flag if the corresponding cache is not configured to be non-empty
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/tablet/tablet_state_cache.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_cache.h
  cloud/filestore/libs/storage/tablet/tablet_ut_cache.cpp
Labels: large-tests, filestore

#4246 issue-3793: stop dangling nbs endpoint in vm mode
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
Labels: blockstore, rebase

#4249 [CSI] Move mocks and common variables into test context
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
Labels: blockstore

#4225 [DM] Refactor EstimatedTime to EstimatedInflightDuration and EstimatedStallingDuration
  cloud/disk_manager/internal/pkg/services/disks/create_disk_from_image_task.go
  cloud/disk_manager/internal/pkg/services/disks/create_disk_from_snapshot_task.go
  cloud/disk_manager/internal/pkg/services/disks/migrate_disk_task.go
  cloud/disk_manager/internal/pkg/services/filesystem/tests/filesystem_test.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_disk_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_image_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_snapshot_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_url_task.go
  cloud/disk_manager/internal/pkg/services/snapshots/create_snapshot_from_disk_task.go
  cloud/disk_manager/internal/pkg/util/json.go
  cloud/disk_manager/test/recipe/disk_manager_launcher.py
  cloud/tasks/acceptance_tests/recipe/node_launcher.py
  cloud/tasks/config/config.proto
  cloud/tasks/execution_context.go
  cloud/tasks/mocks/execution_context_mock.go
  cloud/tasks/runner.go
  cloud/tasks/runner_metrics.go
  cloud/tasks/runner_test.go
  cloud/tasks/scheduler_test.go
  cloud/tasks/storage/common.go
  cloud/tasks/storage/compound_storage.go
  cloud/tasks/storage/metrics.go
  cloud/tasks/storage/storage.go
  cloud/tasks/storage/storage_ydb.go
  cloud/tasks/storage/storage_ydb_impl.go
  cloud/tasks/storage/storage_ydb_test.go
  cloud/tasks/tasks_tests/tasks_test.go
Labels: large-tests, disk_manager, tasks

#4262 [Filestore] fix empty file error in test_zero_range_read_rand_data
  cloud/filestore/tests/client_two_stage_read/test.py
  cloud/filestore/tests/client_two_stage_read/ya.make
Labels: filestore

#4274 Revert "[Disk Manager] Set disk status deleted for non-existing disks on storage.DeleteDisk"
  cloud/disk_manager/internal/pkg/resources/disks.go
  cloud/disk_manager/internal/pkg/resources/disks_test.go
  cloud/disk_manager/internal/pkg/services/disks/create_disk_from_image_task.go
  cloud/disk_manager/internal/pkg/services/disks/create_disk_from_snapshot_task.go
  cloud/disk_manager/internal/pkg/services/disks/create_empty_disk_task.go
  cloud/disk_manager/internal/pkg/services/disks/create_empty_disk_task_test.go
  cloud/disk_manager/internal/pkg/services/disks/create_overlay_disk_task.go
  cloud/disk_manager/internal/pkg/services/disks/create_overlay_disk_task_test.go
  cloud/disk_manager/internal/pkg/services/disks/delete_disk_task.go
  cloud/disk_manager/internal/pkg/services/disks/delete_disk_task_test.go
Labels: large-tests, disk_manager

#4263 hide inter-cell error from metrics
  cloud/blockstore/libs/diagnostics/server_stats.cpp
  cloud/blockstore/libs/diagnostics/server_stats_ut.cpp
Labels: blockstore

#4260 remove endpoint proxy
  cloud/blockstore/apps/client/lib/command.cpp
  cloud/blockstore/apps/client/lib/command.h
  cloud/blockstore/apps/client/lib/endpoint_proxy.cpp
  cloud/blockstore/apps/client/lib/endpoint_proxy.h
  cloud/blockstore/apps/client/lib/factory.cpp
  cloud/blockstore/apps/client/lib/ya.make
  cloud/blockstore/apps/endpoint_proxy/.gitignore
  cloud/blockstore/apps/endpoint_proxy/main.cpp
  cloud/blockstore/apps/endpoint_proxy/ya.make
  cloud/blockstore/apps/ya.make
  cloud/blockstore/config/server.proto
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/daemon/common/bootstrap.h
  cloud/blockstore/libs/daemon/common/ya.make
  cloud/blockstore/libs/endpoint_proxy/client/client.cpp
  cloud/blockstore/libs/endpoint_proxy/client/client.h
  cloud/blockstore/libs/endpoint_proxy/client/device_factory.cpp
  cloud/blockstore/libs/endpoint_proxy/client/device_factory.h
  cloud/blockstore/libs/endpoint_proxy/client/device_factory_ut.cpp
  cloud/blockstore/libs/endpoint_proxy/client/public.h
  cloud/blockstore/libs/endpoint_proxy/client/ut/ya.make
  cloud/blockstore/libs/endpoint_proxy/client/ya.make
  cloud/blockstore/libs/endpoint_proxy/server/bootstrap.cpp
  cloud/blockstore/libs/endpoint_proxy/server/bootstrap.h
  cloud/blockstore/libs/endpoint_proxy/server/options.cpp
  cloud/blockstore/libs/endpoint_proxy/server/options.h
  cloud/blockstore/libs/endpoint_proxy/server/proxy_storage.cpp
  cloud/blockstore/libs/endpoint_proxy/server/proxy_storage.h
  cloud/blockstore/libs/endpoint_proxy/server/proxy_storage_ut.cpp
  cloud/blockstore/libs/endpoint_proxy/server/public.h
  cloud/blockstore/libs/endpoint_proxy/server/server.cpp
  cloud/blockstore/libs/endpoint_proxy/server/server.h
  cloud/blockstore/libs/endpoint_proxy/server/server_ut.cpp
  cloud/blockstore/libs/endpoint_proxy/server/ut/ya.make
  cloud/blockstore/libs/endpoint_proxy/server/ya.make
  cloud/blockstore/libs/endpoint_proxy/ya.make
  cloud/blockstore/libs/server/config.cpp
  cloud/blockstore/libs/server/config.h
  cloud/blockstore/libs/ya.make
  cloud/blockstore/public/api/grpc/endpoint_proxy.proto
  cloud/blockstore/public/api/grpc/ya.make
  cloud/blockstore/public/api/protos/endpoints.proto
  cloud/blockstore/tests/client/canondata/result.json
  cloud/blockstore/tests/client/canondata/test_with_client.test_endpoint_proxy/results.txt
  cloud/blockstore/tests/client/canondata/test_with_client.test_endpoint_proxy_uds/results.txt.processed
  cloud/blockstore/tests/client/canondata/test_with_client.test_nbs_with_endpoint_proxy_uds/results.txt
  cloud/blockstore/tests/client/test_with_client.py
  cloud/blockstore/tests/client/ya.make
  cloud/blockstore/tests/csi_driver/csi_sanity_tests/ya.make
  cloud/blockstore/tests/csi_driver/e2e_tests_nfs/ya.make
  cloud/blockstore/tests/csi_driver/e2e_tests_part1/ya.make
  cloud/blockstore/tests/csi_driver/e2e_tests_part2/ya.make
  cloud/blockstore/tests/csi_driver/lib/csi_runner.py
  cloud/blockstore/tests/e2e-tests-vhost/test.py
  cloud/blockstore/tests/e2e-tests/test.py
  cloud/blockstore/tests/e2e-tests/ya.make
  cloud/blockstore/tests/python/lib/endpoint_proxy.py
  cloud/blockstore/tests/python/lib/loadtest_env.py
  cloud/blockstore/tests/python/lib/ya.make
  doc/REPOSITORY_STRUCTURE.md
Labels: large-tests, blockstore, asan, tsan, msan, ubsan

#4280 Use FormatError instead of TError::GetMessage in logs
  cloud/blockstore/libs/storage/partition2/part2_actor_initfreshblocks.cpp
  cloud/blockstore/libs/storage/partition_common/actor_loadfreshblobs.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/migration_request_actor.h
  cloud/blockstore/libs/storage/service/service_actor_create.cpp
  cloud/blockstore/libs/storage/stats_fetcher/stats_fetcher.cpp
  cloud/blockstore/libs/storage/volume_balancer/volume_balancer_actor.cpp
Labels: blockstore

#4180 Dynamically disable VolumeBalancer via ConfigDispatcher
  cloud/blockstore/buildall/ya.make
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/daemon/ydb/config_initializer.cpp
  cloud/blockstore/libs/daemon/ydb/config_initializer.h
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/volume_balancer/volume_balancer_actor.cpp
  cloud/blockstore/libs/storage/volume_balancer/volume_balancer_actor.h
  cloud/blockstore/libs/storage/volume_balancer/volume_balancer_state.cpp
  cloud/blockstore/libs/storage/volume_balancer/volume_balancer_state.h
  cloud/blockstore/libs/storage/volume_balancer/volume_balancer_ut.cpp
  cloud/storage/core/libs/kikimr/config_dispatcher_helpers.cpp
  cloud/storage/core/libs/kikimr/config_dispatcher_helpers.h
  cloud/storage/core/libs/kikimr/node.cpp
  cloud/storage/core/libs/kikimr/node.h
  cloud/storage/core/protos/config_dispatcher_settings.proto
  contrib/ydb/core/protos/nbs/blockstore.proto
  example/2-init_storage.sh
  example/nbs/nbs-storage.txt
  example/prepare_binaries.sh
  example/ydb/config.yaml
Labels: blockstore

#4288 [Disk Manager] Add GetZone method for nbsClient
  cloud/disk_manager/internal/pkg/clients/nbs/client.go
  cloud/disk_manager/internal/pkg/clients/nbs/factory.go
  cloud/disk_manager/internal/pkg/clients/nbs/interface.go
  cloud/disk_manager/internal/pkg/clients/nbs/mocks/client_mock.go
Labels: large-tests, disk_manager

#4295 [Disk Manager] Rename zone getter for NBS client
  cloud/disk_manager/internal/pkg/clients/nbs/client.go
  cloud/disk_manager/internal/pkg/clients/nbs/interface.go
  cloud/disk_manager/internal/pkg/clients/nbs/mocks/client_mock.go
Labels: large-tests, disk_manager

#4296 Rename ChecksumValidation -> DataIntegrityValidation
  cloud/blockstore/libs/storage/core/block_handler.cpp
  cloud/blockstore/libs/storage/core/block_handler.h
  cloud/blockstore/libs/storage/core/block_handler_ut.cpp
  cloud/blockstore/libs/storage/partition/part_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor_readblocks.cpp
  cloud/blockstore/libs/storage/volume/actors/read_disk_registry_based_overlay.cpp
  cloud/blockstore/libs/storage/volume/actors/read_disk_registry_based_overlay.h
  cloud/blockstore/libs/storage/volume/actors/read_disk_registry_based_overlay_ut.cpp
  cloud/blockstore/public/api/protos/io.proto
Labels: blockstore

#4290 [Filestore] add ErrorInvalidArgument with reason for more detailed error message
  cloud/filestore/libs/service/error.cpp
  cloud/filestore/libs/service/error.h
  cloud/filestore/libs/storage/tablet/helpers.cpp
Labels: filestore

#4298 [Blockstore] cleanup: rename ListDisksStates to ListDiskStates
  cloud/blockstore/libs/service/auth_scheme.cpp
  cloud/blockstore/libs/service/request.h
  cloud/blockstore/libs/service/request_helpers.h
  cloud/blockstore/libs/storage/api/disk_registry.h
  cloud/blockstore/libs/storage/api/service.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_list_disk_states.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_lifecycle.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_env.h
  cloud/blockstore/libs/storage/disk_registry/ya.make
  cloud/blockstore/public/api/grpc/service.proto
  cloud/blockstore/public/api/protos/disk.proto
  cloud/blockstore/public/sdk/python/client/base_client.py
  cloud/blockstore/public/sdk/python/client/safe_client.py
  cloud/blockstore/tests/disk_states/test.py
  cloud/blockstore/tests/disk_states/ya.make
  cloud/blockstore/tests/ya.make
  cloud/blockstore/tools/testing/chaos-monkey/monkey_test.go
Labels: large-tests

#4294 [Filestore] Make write-back cache associated with an inode instead of a handle
  cloud/filestore/libs/vfs_fuse/fs_impl_data.cpp
  cloud/filestore/libs/vfs_fuse/write_back_cache/write_back_cache.cpp
  cloud/filestore/libs/vfs_fuse/write_back_cache/write_back_cache.h
  cloud/filestore/libs/vfs_fuse/write_back_cache/write_back_cache_impl.h
  cloud/filestore/libs/vfs_fuse/write_back_cache/write_back_cache_ut.cpp
  cloud/filestore/libs/vfs_fuse/write_back_cache/write_back_cache_util_ut.cpp
Labels: large-tests, filestore

#3914 Validate checksums for dr-based disks
  cloud/blockstore/config/disk.proto
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/service/device_handler_ut.cpp
  cloud/blockstore/libs/service/storage.cpp
  cloud/blockstore/libs/service_local/storage_local.cpp
  cloud/blockstore/libs/service_local/storage_local.h
  cloud/blockstore/libs/storage/disk_agent/actors/multi_agent_write_device_blocks_actor.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_io.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state.cpp
  cloud/blockstore/libs/storage/disk_agent/model/bootstrap.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.h
  cloud/blockstore/libs/storage/disk_agent/rdma_target.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/multi_agent_write_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_readblocks_local.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_writeblocks_multi_agent.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_readblocks_local.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_writeblocks_multi_agent.cpp
  cloud/blockstore/libs/storage/volume/multi_partition_requests.cpp
  cloud/blockstore/libs/storage/volume/multi_partition_requests.h
  cloud/blockstore/libs/validation/data_integrity_client.cpp
  cloud/blockstore/libs/validation/data_integrity_client_ut.cpp
  cloud/blockstore/tests/.gitignore
  cloud/blockstore/tests/loadtest/local-data-integrity/local-mirror2.txt
  cloud/blockstore/tests/loadtest/local-data-integrity/local-ssd.txt
  cloud/blockstore/tests/loadtest/local-data-integrity/test.py
  cloud/blockstore/tests/loadtest/local-data-integrity/ya.make
  cloud/blockstore/tests/loadtest/ya.make
  cloud/blockstore/tests/python/lib/test_base.py
Labels: large-tests, blockstore

#4137 issue-4138: StrictFileSystemSizeEnforcementEnabled flag is added
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/service/service_actor_actions_ut.cpp
  cloud/filestore/libs/storage/service/service_actor_alterfs.cpp
  cloud/filestore/libs/storage/service/service_actor_createfs.cpp
  cloud/filestore/libs/storage/service/service_ut_sharding.cpp
  cloud/filestore/libs/storage/tablet/protos/tablet.proto
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_updateconfig.cpp
  cloud/filestore/libs/storage/tablet/tablet_private.h
  cloud/filestore/private/api/protos/tablet.proto
  cloud/filestore/tests/common_configs/nfs-storage-newfeatures-patch.txt
Labels: large-tests, filestore

#4335 Delete extra quotes in critical event logs
  cloud/blockstore/libs/storage/partition/part_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor_writeblocks.cpp
Labels: large-tests, blockstore

#4277 [NBS] Added client timeout in new NodeRegistration
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/disk_agent/bootstrap.cpp
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/tests/python/lib/config.py
  cloud/blockstore/tests/python/lib/daemon.py
  cloud/blockstore/tests/registration/timeout_test.py
  cloud/blockstore/tests/registration/ya.make
  cloud/filestore/libs/daemon/common/config_initializer.cpp
  cloud/storage/core/libs/kikimr/node.cpp
  cloud/storage/core/libs/kikimr/node_registration_settings.h
Labels: large-tests, blockstore

#4337 issue-4231 use per-directory IsExhaustive flag for stats of non-existent files
  cloud/filestore/libs/storage/tablet/tablet_state_cache.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_cache.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_state_cache.cpp
Labels: large-tests, filestore

#4347 [infra-cms] fix 'locals_in_online-removeagent' test
  cloud/blockstore/tests/infra-cms/test.py
Labels: large-tests, blockstore

#4328 [DM] Fix ChangedStateAt not being changed on dependency add
  cloud/tasks/storage/storage_ydb_impl.go
  cloud/tasks/storage/storage_ydb_test.go
  cloud/tasks/tasks_tests/tasks_test.go
Labels: large-tests, disk_manager, tasks

#4353 fix printf linter errors in arcadia ci
  cloud/disk_manager/internal/pkg/clients/nbs/ya.make
  cloud/disk_manager/internal/pkg/clients/nfs/ya.make
  cloud/disk_manager/internal/pkg/common/ya.make
  cloud/disk_manager/internal/pkg/dataplane/url/common/ya.make
  cloud/disk_manager/internal/pkg/facade/interceptor.go
  cloud/disk_manager/internal/pkg/services/disks/delete_disk_task.go
  cloud/tasks/errors/ya.make
  cloud/tasks/persistence/ydb_logger.go
  cloud/tasks/runner.go
Labels: large-tests, disk_manager

#4344 [Filestore] add writedata fallback for not aligned data
  cloud/filestore/libs/storage/service/service_actor_writedata.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
Labels: large-tests, filestore

#4351 [NBS] Make request to VolumeThrottlingManager fail fast
  cloud/blockstore/libs/storage/service/service_actor_update_volume_throttling_config.cpp
Labels: blockstore, minor_improvement

#4365 Fix broken build for "cloud/blockstore/tools/testing/eternal_tests/range-validator/lib/ut/unittest"
  cloud/blockstore/tools/testing/eternal_tests/range-validator/lib/validate_ut.cpp
Labels: blockstore

#4333 [Blockstore] use cached tablet id for base disks when SchemeShard is unavailable
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/volume_proxy/volume_proxy.cpp
  cloud/blockstore/libs/storage/volume_proxy/volume_proxy_ut.cpp
Labels: large-tests

#4300 [DM] Move estimated times from control-plane to data-plane
  cloud/disk_manager/internal/pkg/dataplane/create_dr_based_disk_checkpoint_task.go
  cloud/disk_manager/internal/pkg/dataplane/create_snapshot_from_disk_task.go
  cloud/disk_manager/internal/pkg/dataplane/create_snapshot_from_legacy_snapshot_task.go
  cloud/disk_manager/internal/pkg/dataplane/create_snapshot_from_snapshot_task.go
  cloud/disk_manager/internal/pkg/dataplane/create_snapshot_from_url_task.go
  cloud/disk_manager/internal/pkg/dataplane/delete_snapshot_data_task.go
  cloud/disk_manager/internal/pkg/dataplane/nbs/source.go
  cloud/disk_manager/internal/pkg/dataplane/register.go
  cloud/disk_manager/internal/pkg/dataplane/replicate_disk_task.go
  cloud/disk_manager/internal/pkg/dataplane/transfer_from_disk_to_disk_task.go
  cloud/disk_manager/internal/pkg/dataplane/transfer_from_snapshot_to_disk_task.go
  cloud/disk_manager/internal/pkg/performance/config/config.proto
  cloud/disk_manager/internal/pkg/services/disks/create_disk_from_image_task.go
  cloud/disk_manager/internal/pkg/services/disks/create_disk_from_snapshot_task.go
  cloud/disk_manager/internal/pkg/services/disks/migrate_disk_task.go
  cloud/disk_manager/internal/pkg/services/disks/migrate_disk_task_test.go
  cloud/disk_manager/internal/pkg/services/disks/register.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_disk_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_image_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_snapshot_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_url_task.go
  cloud/disk_manager/internal/pkg/services/images/register.go
  cloud/disk_manager/internal/pkg/services/snapshots/create_snapshot_from_disk_task.go
  cloud/disk_manager/internal/pkg/services/snapshots/register.go
  cloud/disk_manager/pkg/app/controlplane.go
  cloud/disk_manager/pkg/app/dataplane.go
  cloud/tasks/execution_context.go
  cloud/tasks/mocks/execution_context_mock.go
  cloud/tasks/scheduler_test.go
Labels: large-tests, disk_manager, tasks

#4371 Remove obsolete sensor DisksInMigrationState
  cloud/blockstore/libs/storage/disk_registry/disk_registry_self_counters.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_self_counters.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut.cpp
Labels: rebase

#4380 Fix division by zero in ValidateTest::ValidateRange
  cloud/blockstore/tools/testing/eternal_tests/eternal-load/lib/test_executor.cpp
  cloud/blockstore/tools/testing/eternal_tests/range-validator/lib/validate_ut.cpp
Labels: ubsan

#4374 switch to deadlines in collect garbage request
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/partition/part_actor_collectgarbage.cpp
  cloud/blockstore/libs/storage/partition/part_ut.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor_collectgarbage.cpp
  cloud/blockstore/libs/storage/partition2/part2_ut.cpp
  cloud/blockstore/libs/storage/partition_common/actor_trimfreshlog.cpp
Labels: large-tests, blockstore

#4369 [Blockstore] add host label to service_volume metrics; add IsLocalMountCounter
  cloud/blockstore/config/diagnostics.proto
  cloud/blockstore/libs/diagnostics/config.cpp
  cloud/blockstore/libs/diagnostics/config.h
  cloud/blockstore/libs/storage/api/stats_service.h
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_actor.h
  cloud/blockstore/libs/storage/stats_service/stats_service_actor_solomon.cpp
  cloud/blockstore/libs/storage/stats_service/stats_service_state.h
  cloud/blockstore/libs/storage/stats_service/stats_service_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
Labels: large-tests, blockstore

#4400 [Filestore] change proto getter for filestore server
  cloud/filestore/libs/server/config.cpp
Labels: large-tests

#4387 release the trim fresh log barriers in case of write blocks error
  cloud/blockstore/libs/storage/partition/part_actor_statpartition.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writefreshblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writemergedblocks.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writemixedblocks.cpp
  cloud/blockstore/libs/storage/partition/part_events_private.h
  cloud/blockstore/libs/storage/partition/part_ut.cpp
  cloud/blockstore/public/api/protos/volume.proto
Labels: large-tests, blockstore

#4404 copy data to proper variables in dynamic persistent table tests
  cloud/storage/core/libs/common/dynamic_persistent_table_ut.cpp
Labels: ubsan

#4406 [Filestore] fix getname in proto filestore-client
  cloud/filestore/libs/client/config.cpp
Labels: large-tests, filestore

#4407 [Disk Manager] Fix Go vet. Handle unhandled error
  cloud/disk_manager/internal/pkg/cells/cells_test.go
  cloud/disk_manager/pkg/schema/controlplane.go
Labels: large-tests, disk_manager

#4289 [Filestore] Eliminate buffer copying on write
  cloud/filestore/config/filesystem.proto
  cloud/filestore/config/server.proto
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/diagnostics/profile_log_events.cpp
  cloud/filestore/libs/diagnostics/ya.make
  cloud/filestore/libs/service_local/config.cpp
  cloud/filestore/libs/service_local/config.h
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/core/helpers.cpp
  cloud/filestore/libs/storage/core/helpers.h
  cloud/filestore/libs/storage/service/service_actor_writedata.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_throttling.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_sessions.cpp
  cloud/filestore/libs/storage/testlib/service_client.h
  cloud/filestore/libs/vfs_fuse/config.cpp
  cloud/filestore/libs/vfs_fuse/config.h
  cloud/filestore/libs/vfs_fuse/fs_impl_data.cpp
  cloud/filestore/libs/vfs_fuse/loop.cpp
  cloud/filestore/public/api/protos/data.proto
  cloud/filestore/public/api/protos/fs.proto
  cloud/filestore/tests/common_configs/nfs-storage-newfeatures-patch.txt
  cloud/filestore/tests/fio/mount-kikimr-test/nfs-storage.txt
  cloud/filestore/tests/fio/qemu-kikimr-zero-copy-write-test-fallback/nfs-patch.txt
  cloud/filestore/tests/fio/qemu-kikimr-zero-copy-write-test-fallback/test.py
  cloud/filestore/tests/fio/qemu-kikimr-zero-copy-write-test-fallback/ya.make
  cloud/filestore/tests/fio/qemu-kikimr-zero-copy-write-test/nfs-patch.txt
  cloud/filestore/tests/fio/qemu-kikimr-zero-copy-write-test/test.py
  cloud/filestore/tests/fio/qemu-kikimr-zero-copy-write-test/ya.make
  cloud/filestore/tests/fio/ya.make
Labels: large-tests, filestore, rebase

#4418 [Filestore] fix proto get value for endpoint_vhost
  cloud/filestore/libs/endpoint_vhost/config.cpp
Labels: large-tests, filestore

#4416 [Filestore] fix proto for filestore service-local
  cloud/filestore/libs/service_local/config.cpp
Labels: large-tests, filestore

#4420 test: run zero-copy fio tests with sanitizers as large
  cloud/filestore/tests/fio/qemu-kikimr-zero-copy-write-test-fallback/ya.make
  cloud/filestore/tests/fio/qemu-kikimr-zero-copy-write-test/ya.make
Labels: filestore

#4401 [Blockstore] save Tablet Boot Info (Hive) backups in binary format
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/init/disk_agent/actorsystem.cpp
  cloud/blockstore/libs/storage/init/server/actorsystem.cpp
  cloud/blockstore/libs/storage/ss_proxy/path_description_backup.cpp
  cloud/blockstore/libs/storage/ss_proxy/path_description_backup.h
  cloud/blockstore/libs/storage/ss_proxy/ss_proxy_actor.cpp
  cloud/blockstore/libs/storage/ss_proxy/ss_proxy_fallback_actor.cpp
  cloud/blockstore/libs/storage/testlib/test_env.cpp
  cloud/blockstore/tests/loadtest/local-emergency/test.py
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/init/actorsystem.cpp
  cloud/filestore/libs/storage/testlib/test_env.cpp
  cloud/storage/core/libs/hive_proxy/hive_proxy_actor.cpp
  cloud/storage/core/libs/hive_proxy/hive_proxy_actor.h
  cloud/storage/core/libs/hive_proxy/hive_proxy_fallback_actor.cpp
  cloud/storage/core/libs/hive_proxy/public.h
  cloud/storage/core/libs/hive_proxy/tablet_boot_info_backup.cpp
  cloud/storage/core/libs/hive_proxy/tablet_boot_info_backup.h
Labels: large-tests

#4430 Fix leak in eternal-load (AsyncIO service was stopped before all operations were completed)
  cloud/blockstore/tools/testing/eternal_tests/eternal-load/lib/test_executor.cpp
Labels: asan
