Repository ydb-platform/nbs, pull requests merged in 2025-08, with the labels that each got.

#3932 Unification for report logs and adding description
  cloud/blockstore/libs/diagnostics/critical_events.cpp
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/rdma/iface/protobuf.cpp
  cloud/blockstore/libs/service_kikimr/service_kikimr.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_migration.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_register.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/model/composite_task_waiter.cpp
  cloud/blockstore/libs/storage/partition/part_actor.cpp
  cloud/blockstore/libs/storage/partition/part_actor.h
  cloud/blockstore/libs/storage/partition/part_actor_addconfirmedblobs.cpp
  cloud/blockstore/libs/storage/partition/part_actor_compaction.cpp
  cloud/blockstore/libs/storage/partition/part_actor_confirmblobs.cpp
  cloud/blockstore/libs/storage/partition/part_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor_resync.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_state.cpp
  cloud/blockstore/libs/storage/service/service_actor_sync_manually_preempted_volumes.cpp
Labels: large-tests, blockstore

#4042 Use unique_ptr to allocate TInterconnectListenerTCP in kikimr_services_initializers.cpp to aviod memory leak on Bind() failure
  contrib/ydb/core/driver_lib/run/kikimr_services_initializers.cpp
Labels: large-tests, asan

#4056 Move lagging replicas code into a transaction
  cloud/blockstore/libs/storage/volume/volume_actor_lagging_agents.cpp
  cloud/blockstore/libs/storage/volume/volume_tx.h
Labels: blockstore

#3851 [DM] Optimize clearEndedTasks
  cloud/tasks/config/config.proto
  cloud/tasks/storage/storage_ydb_impl.go
  cloud/tasks/tasks_tests/tasks_test.go
Labels: large-tests, disk_manager, tasks

#4062 Remove std::move inside of a loop
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_allocate.cpp
Labels: blockstore

#4063 Fix arcadia build
  cloud/storage/deny_ydb_dependency.inc
Labels: blockstore

#4025 Introduce TVolumeAsPartitionActor
  cloud/blockstore/libs/storage/partition_common/ya.make
  cloud/blockstore/libs/storage/partition_nonrepl/get_device_for_range_companion.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/get_device_for_range_companion.h
  cloud/blockstore/libs/storage/partition_nonrepl/lagging_agents_replica_proxy_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/ya.make
  cloud/blockstore/libs/storage/volume/actors/ut/ya.make
  cloud/blockstore/libs/storage/volume/actors/volume_as_partition_actor.cpp
  cloud/blockstore/libs/storage/volume/actors/volume_as_partition_actor.h
  cloud/blockstore/libs/storage/volume/actors/volume_as_partition_actor_ut.cpp
  cloud/blockstore/libs/storage/volume/actors/ya.make
Labels: blockstore, asan, msan

#4058 Allow to set TOS for RDMA traffic
  cloud/blockstore/config/rdma.proto
  cloud/blockstore/libs/rdma/iface/client.cpp
  cloud/blockstore/libs/rdma/iface/client.h
  cloud/blockstore/libs/rdma/iface/server.cpp
  cloud/blockstore/libs/rdma/iface/server.h
  cloud/blockstore/libs/rdma/impl/client.cpp
  cloud/blockstore/libs/rdma/impl/client_ut.cpp
  cloud/blockstore/libs/rdma/impl/server.cpp
  cloud/blockstore/libs/rdma/impl/server_ut.cpp
  cloud/blockstore/libs/rdma/impl/test_verbs.cpp
  cloud/blockstore/libs/rdma/impl/test_verbs.h
  cloud/blockstore/libs/rdma/impl/verbs.cpp
  cloud/blockstore/libs/rdma/impl/verbs.h
Labels: large-tests, blockstore

#4069 [Disk manager] Fix style
  cloud/tasks/storage/storage_ydb_impl.go
Labels: large-tests, disk_manager, tasks

#3996 Add ability to use SchemeCache directly instead of TxProxy
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/ss_proxy/ss_proxy_actor_describescheme.cpp
  cloud/blockstore/libs/storage/ss_proxy/ss_proxy_ut.cpp
  cloud/blockstore/libs/storage/testlib/test_env.cpp
  cloud/blockstore/tests/mount/test.py
  example/nbs/nbs-storage.txt
Labels: large-tests, blockstore

#3720 [Blockstore] Add GetClusterCapacity handler
  cloud/blockstore/libs/storage/api/disk_registry.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_get_cluster_capacity.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_allocation.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_env.h
  cloud/blockstore/libs/storage/disk_registry/ya.make
  cloud/blockstore/libs/storage/protos/disk.proto
  cloud/blockstore/libs/storage/service/service_actor.h
  cloud/blockstore/libs/storage/service/service_actor_actions.cpp
  cloud/blockstore/libs/storage/service/service_actor_actions_get_cluster_capacity.cpp
  cloud/blockstore/libs/storage/service/ya.make
  cloud/blockstore/libs/storage/testlib/disk_registry_proxy_mock.h
  cloud/blockstore/private/api/protos/disk.proto
Labels: large-tests, blockstore, asan, msan, ubsan

#4070 [Blockstore] Convert error E_NOT_FOUND (device not found) to E_IO for NRD to mute FatalError
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_common.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_ut.cpp
Labels: blockstore

#4082 fix broken tsan tests
  cloud/filestore/libs/vfs_fuse/vhost/fuse_virtio.c
Labels: filestore, asan, tsan, msan

#4072 [Filestore] Patch. Hide HasXAttrs under LazyXAttrsEnabled flag on TStorageServiceActor side
  cloud/filestore/libs/storage/service/service_actor_xattr.cpp
Labels: large-tests, filestore

#4075 Fix missing events during tablet reboot
  cloud/blockstore/libs/storage/volume/testlib/test_env.cpp
  cloud/blockstore/libs/storage/volume/testlib/test_env.h
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
Labels: large-tests, blockstore, filestore

#4081 Pass optimal_io_size to Vhost; Device handler factory refactoring
  cloud/blockstore/config/server.proto
  cloud/blockstore/libs/common/public.h
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/endpoints_vhost/external_vhost_server.cpp
  cloud/blockstore/libs/endpoints_vhost/vhost_server.cpp
  cloud/blockstore/libs/endpoints_vhost/vhost_server.h
  cloud/blockstore/libs/nbd/server_handler.cpp
  cloud/blockstore/libs/server/config.cpp
  cloud/blockstore/libs/server/config.h
  cloud/blockstore/libs/service/aligned_device_handler.cpp
  cloud/blockstore/libs/service/aligned_device_handler.h
  cloud/blockstore/libs/service/device_handler.cpp
  cloud/blockstore/libs/service/device_handler.h
  cloud/blockstore/libs/service/device_handler_ut.cpp
  cloud/blockstore/libs/service/unaligned_device_handler.cpp
  cloud/blockstore/libs/service/unaligned_device_handler.h
  cloud/blockstore/libs/vhost/server.cpp
  cloud/blockstore/libs/vhost/server.h
  cloud/blockstore/libs/vhost/server_ut.cpp
  cloud/blockstore/libs/vhost/vhost.cpp
  cloud/blockstore/libs/vhost/vhost.h
  cloud/blockstore/libs/vhost/vhost_test.cpp
  cloud/blockstore/libs/vhost/vhost_test.h
  cloud/blockstore/tests/e2e-tests-vhost/test.py
  cloud/storage/core/libs/common/public.h
Labels: large-tests, blockstore

#4092 [Filestore] issue-4035: revert api change to fuse_session_loop in contrib/libs/fuse
  cloud/filestore/libs/vfs_fuse/loop.cpp
  contrib/libs/fuse/include/fuse_lowlevel.h
  contrib/libs/fuse/lib/cuse_lowlevel.c
  contrib/libs/fuse/lib/fuse.c
  contrib/libs/fuse/lib/fuse_loop.c
Labels: large-tests, filestore, asan, tsan, msan

#4007 [Blockstore] Notify service refactoring to further support new notification format
  cloud/blockstore/apps/server/main.cpp
  cloud/blockstore/apps/server/ya.make
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/daemon/ydb/bootstrap.h
  cloud/blockstore/libs/daemon/ydb/config_initializer.cpp
  cloud/blockstore/libs/daemon/ydb/config_initializer.h
  cloud/blockstore/libs/daemon/ydb/ya.make
  cloud/blockstore/libs/notify/iface/config.cpp
  cloud/blockstore/libs/notify/iface/config.h
  cloud/blockstore/libs/notify/iface/notify.cpp
  cloud/blockstore/libs/notify/iface/notify.h
  cloud/blockstore/libs/notify/iface/notify_ut.cpp
  cloud/blockstore/libs/notify/iface/public.h
  cloud/blockstore/libs/notify/iface/ut/ya.make
  cloud/blockstore/libs/notify/iface/ya.make
  cloud/blockstore/libs/notify/impl/https.cpp
  cloud/blockstore/libs/notify/impl/https.h
  cloud/blockstore/libs/notify/impl/json_generator.cpp
  cloud/blockstore/libs/notify/impl/json_generator.h
  cloud/blockstore/libs/notify/impl/json_generator_ut.cpp
  cloud/blockstore/libs/notify/impl/notify.cpp
  cloud/blockstore/libs/notify/impl/notify.h
  cloud/blockstore/libs/notify/impl/notify_ut.cpp
  cloud/blockstore/libs/notify/impl/ut/run_testpack
  cloud/blockstore/libs/notify/impl/ut/ya.make
  cloud/blockstore/libs/notify/impl/ya.make
  cloud/blockstore/libs/notify/ya.make
  cloud/blockstore/libs/storage/disk_registry/disk_registry.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_notify_users.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_notify.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_restore.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_env.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_env.h
  cloud/blockstore/libs/storage/disk_registry/ya.make
  cloud/blockstore/libs/storage/init/server/actorsystem.h
Labels: large-tests, blockstore

#4065 [Blockstore] DiskAgent: ignore lost devices during session restoration from cache
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/storage_initializer.cpp
  cloud/blockstore/libs/storage/disk_agent/storage_initializer.h
Labels: blockstore

#3919 [Filestore] Add posix compliance tests for ls and opendir
  cloud/filestore/tests/fs_posix_compliance/mount-kikimr-test/canondata/result.json
  cloud/filestore/tests/fs_posix_compliance/mount-kikimr-test/canondata/test.test_posix_compliance_ls_/results-ls.txt
  cloud/filestore/tests/fs_posix_compliance/mount-kikimr-test/canondata/test.test_posix_compliance_opendir_/results-opendir.txt
  cloud/filestore/tests/fs_posix_compliance/mount-local-test/canondata/result.json
  cloud/filestore/tests/fs_posix_compliance/mount-local-test/canondata/test.test_posix_compliance_ls_/results-ls.txt
  cloud/filestore/tests/fs_posix_compliance/mount-local-test/canondata/test.test_posix_compliance_opendir_/results-opendir.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-kikimr-multishard-test/canondata/result.json
  cloud/filestore/tests/fs_posix_compliance/qemu-kikimr-multishard-test/canondata/test.test_posix_compliance_ls_/results-ls.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-kikimr-multishard-test/canondata/test.test_posix_compliance_opendir_/results-opendir.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-kikimr-multishard2-test/canondata/result.json
  cloud/filestore/tests/fs_posix_compliance/qemu-kikimr-multishard2-test/canondata/test.test_posix_compliance_ls_/results-ls.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-kikimr-multishard2-test/canondata/test.test_posix_compliance_opendir_/results-opendir.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-kikimr-nemesis-test/canondata/result.json
  cloud/filestore/tests/fs_posix_compliance/qemu-kikimr-nemesis-test/canondata/test.test_posix_compliance_ls_/results-ls.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-kikimr-nemesis-test/canondata/test.test_posix_compliance_opendir_/results-opendir.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-kikimr-test/canondata/result.json
  cloud/filestore/tests/fs_posix_compliance/qemu-kikimr-test/canondata/test.test_posix_compliance_ls_/results-ls.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-kikimr-test/canondata/test.test_posix_compliance_opendir_/results-opendir.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-local-noserver-test/canondata/result.json
  cloud/filestore/tests/fs_posix_compliance/qemu-local-noserver-test/canondata/test.test_posix_compliance_chmod_/results-chmod.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-local-noserver-test/canondata/test.test_posix_compliance_chown_/results-chown.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-local-noserver-test/canondata/test.test_posix_compliance_link_/results-link.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-local-noserver-test/canondata/test.test_posix_compliance_ls_/results-ls.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-local-noserver-test/canondata/test.test_posix_compliance_mkdir_/results-mkdir.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-local-noserver-test/canondata/test.test_posix_compliance_open_/results-open.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-local-noserver-test/canondata/test.test_posix_compliance_opendir_/results-opendir.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-local-noserver-test/canondata/test.test_posix_compliance_rename_/results-rename.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-local-noserver-test/canondata/test.test_posix_compliance_rmdir_/results-rmdir.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-local-noserver-test/canondata/test.test_posix_compliance_symlink_/results-symlink.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-local-noserver-test/canondata/test.test_posix_compliance_truncate_/results-truncate.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-local-noserver-test/canondata/test.test_posix_compliance_unlink_/results-unlink.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-local-test/canondata/result.json
  cloud/filestore/tests/fs_posix_compliance/qemu-local-test/canondata/test.test_posix_compliance_ls_/results-ls.txt
  cloud/filestore/tests/fs_posix_compliance/qemu-local-test/canondata/test.test_posix_compliance_opendir_/results-opendir.txt
  cloud/filestore/tools/testing/fs_posix_compliance/suite/fstest.c
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/ls/00.t
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/ls/01.t
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/ls/02.t
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/ls/03.t
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/ls/04.t
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/ls/05.t
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/ls/06.t
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/ls/07.t
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/ls/08.t
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/ls/09.t
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/ls/10.t
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/ls/11.t
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/ls/ya.make
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/misc.sh
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/opendir/00.t
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/opendir/01.t
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/opendir/02.t
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/opendir/03.t
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/opendir/04.t
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/opendir/05.t
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/opendir/ya.make
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/ya.make
Labels: large-tests, filestore

#4104 Fix issues for arcadia linter
  cloud/filestore/tools/testing/fs_posix_compliance/suite/fstest.c
  cloud/filestore/tools/testing/fs_posix_compliance/suite/tests/misc.sh
Labels: filestore

#4050 [Filestore]: add more precise service start time tracking for read and write data requests
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
  cloud/filestore/libs/storage/service/service_actor_writedata.cpp
Labels: filestore

#4112 Fix describing DR tablet when using SchemeCache
  cloud/blockstore/libs/storage/ss_proxy/ss_proxy_actor_describescheme.cpp
  cloud/blockstore/libs/storage/ss_proxy/ss_proxy_ut.cpp
Labels: blockstore, asan

#4111 issue-3988: refactor TReadDataActor to avoid data buffer copy
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
  cloud/filestore/libs/storage/service/service_ut.cpp
  cloud/filestore/tools/testing/loadtest/lib/request_data.cpp
Labels: large-tests, filestore

#4125 [Filestore] issue-4124: fix use after free when calling to virtio_session_exit
  cloud/filestore/libs/vfs_fuse/vhost/fuse_virtio.c
Labels: filestore, asan, tsan, msan

#3803 Adding pull scheme for collecting statistics for replicated disks ([NBS] Service volume sends statistics late #3154)
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/core/partition_statistics_counters.h
  cloud/blockstore/libs/storage/partition/part_actor.cpp
  cloud/blockstore/libs/storage/partition/part_actor.h
  cloud/blockstore/libs/storage/partition/part_actor_stats.cpp
  cloud/blockstore/libs/storage/partition/part_ut.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor.h
  cloud/blockstore/libs/storage/partition2/part2_actor_stats.cpp
  cloud/blockstore/libs/storage/partition2/part2_ut.cpp
  cloud/blockstore/libs/storage/partition_common/events_private.h
  cloud/blockstore/libs/storage/volume/actors/partition_statistics_collector_actor.cpp
  cloud/blockstore/libs/storage/volume/actors/partition_statistics_collector_actor.h
  cloud/blockstore/libs/storage/volume/actors/ya.make
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_stats.cpp
  cloud/blockstore/libs/storage/volume/volume_tx.h
  cloud/blockstore/libs/storage/volume/volume_ut_stats.cpp
Labels: large-tests, blockstore

#4117 Allow to instantly retry read2 checksum mismatch
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
Labels: large-tests, blockstore

#4134 Fix listing volumes with scheme cache
  cloud/blockstore/libs/storage/ss_proxy/ss_proxy_actor_describescheme.cpp
  cloud/blockstore/libs/storage/ss_proxy/ss_proxy_ut.cpp
Labels: large-tests, blockstore

#4145 [Filestore] Log StopEndpoint as INFO
  cloud/filestore/libs/endpoint/endpoint_manager.cpp
Labels: filestore

#4128 [Filestore] use buffer offset to print response in filestore-client read
  cloud/filestore/apps/client/lib/read.cpp
  cloud/filestore/tests/client_two_stage_read/canondata/result.json
  cloud/filestore/tests/client_two_stage_read/canondata/test.test_unaligned_read/results.txt
  cloud/filestore/tests/client_two_stage_read/nfs-storage.txt
  cloud/filestore/tests/client_two_stage_read/test.py
  cloud/filestore/tests/client_two_stage_read/ya.make
  cloud/filestore/tests/ya.make
Labels: filestore

#3906 Latency table for partition group
  cloud/blockstore/libs/storage/core/bs_group_operation_tracker.cpp
  cloud/blockstore/libs/storage/core/bs_group_operation_tracker.h
  cloud/blockstore/libs/storage/core/bs_group_operation_tracker_ut.cpp
  cloud/blockstore/libs/storage/core/monitoring_utils.cpp
  cloud/blockstore/libs/storage/core/monitoring_utils.h
  cloud/blockstore/libs/storage/core/ut/ya.make
  cloud/blockstore/libs/storage/core/ya.make
  cloud/blockstore/libs/storage/partition/part_actor.cpp
  cloud/blockstore/libs/storage/partition/part_actor.h
  cloud/blockstore/libs/storage/partition/part_actor_monitoring.cpp
  cloud/blockstore/libs/storage/partition/part_actor_monitoring_view.cpp
  cloud/blockstore/libs/storage/partition/part_actor_patchblob.cpp
  cloud/blockstore/libs/storage/partition/part_actor_readblob.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writeblob.cpp
  cloud/blockstore/libs/storage/partition/part_events_private.h
  cloud/blockstore/libs/storage/partition/part_state.cpp
  cloud/blockstore/libs/storage/partition/part_state.h
  cloud/blockstore/libs/storage/partition_common/actor_read_blob.cpp
  cloud/blockstore/libs/storage/partition_common/actor_read_blob.h
  cloud/blockstore/libs/storage/partition_common/actor_read_blob_ut.cpp
  cloud/blockstore/libs/storage/partition_common/events_private.h
  cloud/blockstore/libs/storage/volume/actors/read_disk_registry_based_overlay.cpp
  cloud/blockstore/tests/monitoring/test.py
Labels: large-tests, blockstore

#4120 [Blockstore] add unit tests for TNvmeManager
  cloud/blockstore/libs/nvme/nvme_ut.cpp
  cloud/blockstore/libs/nvme/testing/device_locker.cpp
  cloud/blockstore/libs/nvme/testing/device_locker.h
  cloud/blockstore/libs/nvme/testing/device_locker_ut.cpp
  cloud/blockstore/libs/nvme/ut_nvme/ya.make
  cloud/blockstore/libs/nvme/ya.make
  cloud/blockstore/tests/recipes/nvme-loop/__main__.py
  cloud/blockstore/tests/recipes/nvme-loop/recipe.inc
  cloud/blockstore/tests/recipes/nvme-loop/ya.make
  cloud/blockstore/tests/recipes/ya.make
Labels: blockstore

#4140 [Disk Manager] Prohibit invalid operations on local disks
  cloud/disk_manager/internal/pkg/common/disk_kind.go
  cloud/disk_manager/internal/pkg/services/disks/create_disk_from_image_task.go
  cloud/disk_manager/internal/pkg/services/disks/create_disk_from_snapshot_task.go
  cloud/disk_manager/internal/pkg/services/disks/migrate_disk_task.go
  cloud/disk_manager/internal/pkg/services/disks/resize_disk_task.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_disk_task.go
  cloud/disk_manager/internal/pkg/services/snapshots/create_snapshot_from_disk_task.go
Labels: large-tests, disk_manager, rebase

#4168 [NBS] dont extract partition counters if there is no state
  cloud/blockstore/libs/storage/partition/part_actor_stats.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor_stats.cpp
Labels: large-tests, blockstore

#4169 fix(test): increase request timeout
  cloud/blockstore/libs/endpoints/service_endpoint_ut.cpp
Labels: blockstore

#4116 Logtitle refactoring, partition nonrepl remake.
  cloud/blockstore/libs/storage/model/log_title.cpp
  cloud/blockstore/libs/storage/model/log_title.h
  cloud/blockstore/libs/storage/model/log_title_ut.cpp
  cloud/blockstore/libs/storage/partition/part_actor.cpp
  cloud/blockstore/libs/storage/partition2/part2_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_checksumblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_writeblocks_multi_agent.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_zeroblocks.cpp
  cloud/blockstore/libs/storage/service/volume_client_actor.cpp
  cloud/blockstore/libs/storage/service/volume_session_actor.h
  cloud/blockstore/libs/storage/service/volume_session_actor_start.cpp
  cloud/blockstore/libs/storage/volume/actors/forward_write_and_mark_used_ut.cpp
  cloud/blockstore/libs/storage/volume/actors/read_and_clear_empty_blocks_actor_ut.cpp
  cloud/blockstore/libs/storage/volume/actors/read_disk_registry_based_overlay_ut.cpp
  cloud/blockstore/libs/storage/volume/actors/volume_as_partition_actor_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
  cloud/blockstore/libs/storage/volume_proxy/volume_proxy.cpp
Labels: large-tests, blockstore

#4181 Resolve data race in unit test TWriteBackCacheTest::ShouldRetryFlushOnFailure
  cloud/filestore/libs/vfs_fuse/write_back_cache/write_back_cache_ut.cpp
Labels: filestore, tsan

#4177 fix tsan errors for DescribeVolume in cells
  cloud/blockstore/libs/cells/impl/describe_volume.cpp
  cloud/blockstore/libs/cells/impl/describe_volume_ut.cpp
Labels: tsan

#4061 [Disk Manager] Refactor InflightDuration and fix tests being flaky
  cloud/tasks/execution_context.go
  cloud/tasks/runner_test.go
  cloud/tasks/tasks_tests/tasks_test.go
Labels: large-tests, disk_manager, tasks

#4192 Fix arcadia build
  cloud/filestore/libs/vfs_fuse/write_back_cache/write_back_cache_ut.cpp
Labels: filestore

#4193 Fix arcadia build
  cloud/filestore/libs/vfs_fuse/write_back_cache/write_back_cache_ut.cpp
Labels: filestore

#4202 Fix logs filename in test
  cloud/blockstore/tests/loadtest/local-mirror-lagging/test.py
Labels: large-tests, blockstore

#4200 [CSI] Disable endpoint-proxy and nfs-vhost-local in e2e test configs
  cloud/blockstore/tests/csi_driver/lib/csi_runner.py
Labels: large-tests

#4127 csi: handle deadline exceeded error as retriable
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
  cloud/blockstore/tools/csi_driver/internal/monitoring/monitoring.go
Labels: blockstore, rebase

#4210 add time formatting for disk registry Automatically replaced devices
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_monitoring.cpp
Labels: large-tests, blockstore

#4204 test: remove endpoint-proxy from e2e tests
  cloud/blockstore/tests/e2e-tests/test.py
Labels: large-tests, blockstore

#4021 issue-1345: changed the order of AddClient\RemoveClient transactions and Acquire\Release devices during mount operations for DR-based disks
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/blockstore/libs/storage/api/volume.h
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_addclient.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_release.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_removeclient.cpp
  cloud/blockstore/libs/storage/volume/volume_tx.h
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
  cloud/blockstore/tests/direct_device_acquire/test.py
Labels: large-tests, blockstore

#4143 issue-1751: Turn on ServerWriteBackCacheEnabled in nfs-storage-newfeatures-patch.txt
  cloud/filestore/tests/common_configs/nfs-storage-newfeatures-patch.txt
Labels: large-tests, filestore

#4221 [Filestore] Add benchmark for TMixedBlocks
  cloud/filestore/libs/storage/tablet/model/bench/mixed_blocks_bench.cpp
  cloud/filestore/libs/storage/tablet/model/bench/ya.make
  cloud/filestore/libs/storage/tablet/model/ya.make
Labels: filestore

#4218 [Disk Manager] Set disk status deleted for non-existing disks on storage.DeleteDisk
  cloud/disk_manager/internal/pkg/resources/disks.go
  cloud/disk_manager/internal/pkg/resources/disks_test.go
  cloud/disk_manager/internal/pkg/services/disks/create_disk_from_image_task.go
  cloud/disk_manager/internal/pkg/services/disks/create_disk_from_snapshot_task.go
  cloud/disk_manager/internal/pkg/services/disks/create_empty_disk_task.go
  cloud/disk_manager/internal/pkg/services/disks/create_empty_disk_task_test.go
  cloud/disk_manager/internal/pkg/services/disks/create_overlay_disk_task.go
  cloud/disk_manager/internal/pkg/services/disks/create_overlay_disk_task_test.go
  cloud/disk_manager/internal/pkg/services/disks/delete_disk_task.go
  cloud/disk_manager/internal/pkg/services/disks/delete_disk_task_test.go
Labels: large-tests, disk_manager

#4227 [vhost-server] more performant null backend
  cloud/blockstore/vhost-server/backend_null.cpp
Labels: blockstore

#4230 Fix TStatsAggregator
  cloud/blockstore/libs/diagnostics/stats_aggregator.cpp
  cloud/blockstore/libs/diagnostics/stats_aggregator_ut.cpp
  cloud/storage/core/libs/user_stats/counter/user_counter.cpp
Labels: large-tests

#4076 [Blockstore] Add new parameter to corruption tests: path to file with list of compute nodes
  cloud/blockstore/pylibs/ycp/ycp.py
  cloud/blockstore/pylibs/ycp/ycp_wrapper.py
  cloud/blockstore/tools/ci/corruption_test_suite/lib/main.py
  cloud/blockstore/tools/ci/corruption_test_suite/tests/canondata/result.json
  cloud/blockstore/tools/ci/corruption_test_suite/tests/canondata/test.test_corruption_test_suite_with_specified_compute_nodes_None-None_/testing_out_stuff_results.txt
  cloud/blockstore/tools/ci/corruption_test_suite/tests/canondata/test.test_corruption_test_suite_with_specified_compute_nodes_None-node.net_/testing_out_stuff_results.txt
  cloud/blockstore/tools/ci/corruption_test_suite/tests/canondata/test.test_corruption_test_suite_with_specified_compute_nodes_nodes.txt-None_/testing_out_stuff_results.txt
  cloud/blockstore/tools/ci/corruption_test_suite/tests/canondata/test.test_corruption_test_suite_with_specified_compute_nodes_nodes.txt-node.net_/testing_out_stuff_results.txt
  cloud/blockstore/tools/ci/corruption_test_suite/tests/test-compute-nodes/nodes.txt
  cloud/blockstore/tools/ci/corruption_test_suite/tests/test.py
Labels: large-tests

#4146 [NBS, Filestore] Make user counter able to work with both single and multiple counter histograms
  cloud/blockstore/libs/diagnostics/user_counter_ut.cpp
  cloud/storage/core/libs/user_stats/counter/user_counter.cpp
Labels: large-tests

#4229 issue-1146: fix missing precharge to the LoadNodeRef transaction
  cloud/filestore/README.md
  cloud/filestore/libs/storage/tablet/tablet_actor_listnodes.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_loadstate_noderefs.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.h
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_cache.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_cache.h
  cloud/filestore/libs/storage/tablet/tablet_state_iface.h
  cloud/filestore/libs/storage/tablet/tablet_state_nodes.cpp
Labels: large-tests, filestore

#4228 [local-nonrepl] use direct IO for loadtests
  cloud/blockstore/tests/python/lib/nonreplicated_setup.py
Labels: large-tests

#4195 added the inflight operations page with more detailed information
  cloud/blockstore/libs/storage/core/bs_group_operation_tracker.cpp
  cloud/blockstore/libs/storage/core/bs_group_operation_tracker.h
  cloud/blockstore/libs/storage/core/bs_group_operation_tracker_ut.cpp
  cloud/blockstore/libs/storage/core/monitoring_utils.cpp
  cloud/blockstore/libs/storage/core/monitoring_utils.h
  cloud/blockstore/libs/storage/core/transaction_time_tracker.cpp
  cloud/blockstore/libs/storage/core/transaction_time_tracker.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_monitoring.cpp
  cloud/blockstore/libs/storage/partition/part_actor.cpp
  cloud/blockstore/libs/storage/partition/part_actor.h
  cloud/blockstore/libs/storage/partition/part_actor_monitoring.cpp
  cloud/blockstore/libs/storage/partition/part_actor_monitoring_view.cpp
  cloud/blockstore/libs/storage/partition/part_actor_patchblob.cpp
  cloud/blockstore/libs/storage/partition/part_actor_readblob.cpp
  cloud/blockstore/libs/storage/partition/part_actor_writeblob.cpp
  cloud/blockstore/libs/storage/partition/part_state.cpp
  cloud/blockstore/libs/storage/partition/part_state.h
  cloud/blockstore/libs/storage/volume/model/requests_time_tracker.cpp
  cloud/blockstore/libs/storage/volume/model/requests_time_tracker.h
  cloud/blockstore/libs/storage/volume/volume_actor.h
  cloud/blockstore/libs/storage/volume/volume_actor_monitoring.cpp
Labels: large-tests, blockstore

#4232 issue-4231: populate per-parentNodeId isExhaustive flag for the TInMemoryIndexCache upon single-page lists
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/model/mixed_blocks.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_counters.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.cpp
  cloud/filestore/libs/storage/tablet/tablet_database.h
  cloud/filestore/libs/storage/tablet/tablet_state.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_cache.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_cache.h
  cloud/filestore/libs/storage/tablet/tablet_state_iface.h
  cloud/filestore/libs/storage/tablet/tablet_ut_cache.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_cache_stress.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_state_cache.cpp
  cloud/filestore/tests/common_configs/nfs-storage-newfeatures-patch.txt
  cloud/filestore/tests/loadtest/service-kikimr-newfeatures-test/nfs-storage.txt
  cloud/storage/core/libs/common/lru_cache.h
  cloud/storage/core/libs/common/lru_cache_ut.cpp
Labels: large-tests, filestore
