Repository ydb-platform/nbs, pull requests merged in 2025-02, with the labels that each got.

#2962 Register agent benchmark
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_benchmark.cpp
  cloud/blockstore/tools/testing/disk-registry-state-generator/main.cpp
Labels: blockstore

#2963 Fix vhost test flakiness
  cloud/blockstore/vhost-server/server_ut.cpp
Labels: blockstore, asan

#2955 Issue 2404: mv WrongMigratedDeviceOwnership critical event to AddMigration Function
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_migration.cpp
Labels: large-tests, blockstore

#2967 Add volume kind to DR mon page
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_monitoring.cpp
Labels: blockstore

#1630 issue-1444: Use kernel delay accounting to calculate cpu wait
  cloud/blockstore/config/diagnostics.proto
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/daemon/common/bootstrap.h
  cloud/blockstore/libs/daemon/local/bootstrap.h
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/daemon/ydb/bootstrap.h
  cloud/blockstore/libs/diagnostics/config.cpp
  cloud/blockstore/libs/diagnostics/config.h
  cloud/blockstore/libs/storage/init/server/actorsystem.cpp
  cloud/blockstore/libs/storage/init/server/actorsystem.h
  cloud/blockstore/libs/storage/volume_balancer/volume_balancer.cpp
  cloud/blockstore/libs/storage/volume_balancer/volume_balancer.h
  cloud/blockstore/libs/storage/volume_balancer/volume_balancer_actor.cpp
  cloud/blockstore/libs/storage/volume_balancer/volume_balancer_actor.h
  cloud/blockstore/libs/storage/volume_balancer/volume_balancer_ut.cpp
  cloud/filestore/config/diagnostics.proto
  cloud/filestore/libs/daemon/common/bootstrap.cpp
  cloud/filestore/libs/daemon/common/bootstrap.h
  cloud/filestore/libs/diagnostics/config.cpp
  cloud/filestore/libs/diagnostics/config.h
  cloud/filestore/libs/storage/init/actorsystem.cpp
  cloud/filestore/libs/storage/init/actorsystem.h
  cloud/filestore/libs/storage/service/service.cpp
  cloud/filestore/libs/storage/service/service.h
  cloud/filestore/libs/storage/service/service_actor.cpp
  cloud/filestore/libs/storage/service/service_actor.h
  cloud/filestore/libs/storage/service/service_actor_update_stats.cpp
  cloud/filestore/libs/storage/testlib/test_env.cpp
  cloud/storage/core/libs/diagnostics/cgroup_stats_fetcher.cpp
  cloud/storage/core/libs/diagnostics/cgroup_stats_fetcher_ut.cpp
  cloud/storage/core/libs/diagnostics/public.h
  cloud/storage/core/libs/diagnostics/qemu_ut/bin/ya.make
  cloud/storage/core/libs/diagnostics/qemu_ut/test.py
  cloud/storage/core/libs/diagnostics/qemu_ut/ya.make
  cloud/storage/core/libs/diagnostics/stats_fetcher.cpp
  cloud/storage/core/libs/diagnostics/stats_fetcher.h
  cloud/storage/core/libs/diagnostics/task_stats_fetcher.cpp
  cloud/storage/core/libs/diagnostics/task_stats_fetcher_ut.cpp
  cloud/storage/core/libs/diagnostics/ya.make
  cloud/storage/core/protos/diagnostics.proto
  cloud/storage/core/protos/ya.make
  cloud/storage/core/tools/analytics/cpu-wait-monitor/main.cpp
Labels: rebase

#2979 [Disk Manager] Turn off disk manager tests influenced by StatVolume
  cloud/disk_manager/internal/pkg/facade/snapshot_service_test/snapshot_service_test.go
  cloud/disk_manager/internal/pkg/facade/testcommon/common.go
Labels: large-tests, disk_manager

#2925 [Blockstore] StatVolume should return checkpoints without data
  cloud/blockstore/libs/storage/volume/volume_actor_statvolume.cpp
  cloud/blockstore/libs/storage/volume/volume_ut_checkpoint.cpp
Labels: large-tests

#2982 issue-1932: use ceil instead of floor for calculating shards count
  cloud/filestore/libs/storage/core/model.cpp
  cloud/filestore/libs/storage/core/model_ut.cpp
  cloud/filestore/libs/storage/service/service_ut_sharding.cpp
Labels: filestore

#2970 issue-2969: add hive reconnect time counter
  cloud/blockstore/libs/storage/init/disk_agent/actorsystem.cpp
  cloud/blockstore/libs/storage/init/server/actorsystem.cpp
  cloud/filestore/libs/storage/init/actorsystem.cpp
  cloud/storage/core/libs/hive_proxy/hive_proxy.cpp
  cloud/storage/core/libs/hive_proxy/hive_proxy.h
  cloud/storage/core/libs/hive_proxy/hive_proxy_actor.cpp
  cloud/storage/core/libs/hive_proxy/hive_proxy_actor.h
  cloud/storage/core/libs/hive_proxy/hive_proxy_ut.cpp
  cloud/storage/core/libs/hive_proxy/ya.make
Labels: large-tests, blockstore, filestore

#2989 Fix coverity warnings
  cloud/blockstore/libs/service_kikimr/service_kikimr.cpp
  cloud/blockstore/libs/storage/disk_agent/rdma_target.cpp
  cloud/storage/core/libs/diagnostics/stats_fetcher.cpp
Labels: blockstore

#2990 fix issues found by coverity and delete some useless std::move
  cloud/filestore/libs/storage/service/service_actor_readdata.cpp
Labels: blockstore, filestore

#2992 issue-176: create an encrypted disk via EncryptionSpec
  cloud/blockstore/libs/encryption/encryption_client.cpp
  cloud/blockstore/libs/encryption/encryption_client_ut.cpp
  cloud/blockstore/libs/encryption/encryption_key.cpp
  cloud/blockstore/libs/encryption/encryption_key_ut.cpp
  cloud/blockstore/libs/encryption/encryption_service_ut.cpp
  cloud/blockstore/libs/storage/service/service_actor_create.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_monitoring.cpp
  cloud/blockstore/libs/storage/volume/volume_state.cpp
  cloud/blockstore/libs/storage/volume/volume_state_ut.cpp
  cloud/blockstore/public/api/protos/encryption.proto
  cloud/blockstore/public/sdk/python/client/safe_client.py
  cloud/blockstore/public/sdk/python/client/ya.make
  cloud/blockstore/tests/encryption_at_rest/test.py
  cloud/blockstore/vhost-server/server_ut.cpp
Labels: large-tests, blockstore

#2998 Fix arcadia build
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_register.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_stats.cpp
  cloud/blockstore/libs/storage/disk_registry_proxy/disk_registry_proxy_actor.cpp
  cloud/blockstore/libs/storage/service/service_actor_actions_wait_dependent_disks_switched_node.cpp
  cloud/blockstore/libs/storage/testlib/disk_agent_mock.h
  cloud/blockstore/libs/storage/volume_balancer/volume_balancer_actor.cpp
  cloud/filestore/libs/storage/service/service_actor.cpp
  cloud/storage/core/libs/user_stats/user_stats_actor.cpp
Labels: blockstore, filestore

#3001 Fix arcadia build
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_secure_erase.cpp
  cloud/blockstore/libs/storage/service/service_actor.cpp
Labels: blockstore

#2997 use weak_ptr to identify endpoint in restart handler; resolves #2996
  cloud/blockstore/libs/endpoint_proxy/server/bootstrap.cpp
  cloud/blockstore/libs/endpoint_proxy/server/options.cpp
  cloud/blockstore/libs/endpoint_proxy/server/options.h
  cloud/blockstore/libs/endpoint_proxy/server/server.cpp
  cloud/blockstore/libs/endpoint_proxy/server/server.h
  cloud/blockstore/libs/endpoint_proxy/server/server_ut.cpp
  cloud/blockstore/tests/e2e-tests/test.py
  cloud/blockstore/tests/python/lib/endpoint_proxy.py
  cloud/blockstore/tests/python/lib/loadtest_env.py
Labels: blockstore

#2985 Checksum write buffer before and after write
  cloud/blockstore/config/server.proto
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/endpoints_nbd/nbd_server.cpp
  cloud/blockstore/libs/endpoints_nbd/nbd_server.h
  cloud/blockstore/libs/endpoints_vhost/vhost_server.cpp
  cloud/blockstore/libs/endpoints_vhost/vhost_server.h
  cloud/blockstore/libs/nbd/server_handler.cpp
  cloud/blockstore/libs/nbd/server_handler.h
  cloud/blockstore/libs/server/config.cpp
  cloud/blockstore/libs/server/config.h
  cloud/blockstore/libs/service/aligned_device_handler.cpp
  cloud/blockstore/libs/service/aligned_device_handler.h
  cloud/blockstore/libs/service/checksum_storage_wrapper.cpp
  cloud/blockstore/libs/service/checksum_storage_wrapper.h
  cloud/blockstore/libs/service/device_handler.cpp
  cloud/blockstore/libs/service/device_handler.h
  cloud/blockstore/libs/service/device_handler_ut.cpp
  cloud/blockstore/libs/service/unaligned_device_handler.cpp
  cloud/blockstore/libs/service/unaligned_device_handler.h
  cloud/blockstore/libs/service/ut/ya.make
  cloud/blockstore/libs/service/ya.make
  cloud/blockstore/libs/vhost/server.cpp
  cloud/blockstore/libs/vhost/server.h
  example/nbs/nbs-server.txt
Labels: blockstore

#3012 [Misc] Fix Arcadia build
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_register.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_stats.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_migration.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_publish_disk_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_secure_erase.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_volume_config.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_env.h
  cloud/blockstore/libs/storage/disk_registry_proxy/disk_registry_proxy_actor.cpp
  cloud/blockstore/libs/storage/service/service_actor.cpp
  cloud/blockstore/libs/storage/service/service_actor_actions_wait_dependent_disks_switched_node.cpp
  cloud/blockstore/libs/storage/testlib/disk_agent_mock.h
  cloud/blockstore/libs/storage/volume_balancer/volume_balancer_actor.cpp
  cloud/filestore/libs/storage/service/service_actor.cpp
  cloud/storage/core/libs/user_stats/user_stats_actor.cpp
  contrib/ydb/library/actors/core/actor.cpp
  contrib/ydb/library/actors/core/actor.h
Labels: blockstore

#2994 issue-1751: add ability to run several qemu with mounted filestore in test recipes; extract ssh client to lib from qemu recipe
  cloud/filestore/tests/recipes/vhost-endpoint.inc
  cloud/filestore/tests/recipes/vhost-endpoint/__main__.py
  cloud/storage/core/tools/testing/qemu/lib/common.py
  cloud/storage/core/tools/testing/qemu/lib/recipe.py
Labels: rebase

#3019 [Filestore] improve args description for cli in performance_profile_params.cpp
  cloud/filestore/apps/client/lib/performance_profile_params.cpp
Labels: filestore

#3016 fix: rename duplicated filename on s3 in ext_mapping.json
  build/ext_mapping.conf.json
  cloud/disk_manager/test/images/recipe/__main__.py
  cloud/disk_manager/test/images/recipe/data/qcow2_ubuntu1604_image_map.json
  cloud/disk_manager/test/images/recipe/data/vhd_ubuntu1604_image_map.json
Labels: large-tests, disk_manager

#3021 Fix arcadia build
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor.cpp
Labels: blockstore

#3011 issue-3017: restore endpoints despite of missing socket directory
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/blockstore/tests/e2e-tests/test.py
Labels: blockstore

#2916 Backport https://github.com/ydb-platform/ydb/pull/13282
  contrib/ydb/core/blobstorage/nodewarden/node_warden_group_resolver.cpp
Labels: large-tests

#3028 Fix race condition during gRPC shutdown
  cloud/storage/core/libs/grpc/init.cpp
  cloud/storage/core/libs/grpc/init_ut.cpp
Labels: blockstore, tsan

#2820 [Disk Manager] Create snapshot migration task to another database
  cloud/disk_manager/internal/pkg/dataplane/config/config.proto
  cloud/disk_manager/internal/pkg/dataplane/migrate_snapshot.go
  cloud/disk_manager/internal/pkg/dataplane/protos/migrate_snapshot_task.proto
  cloud/disk_manager/internal/pkg/dataplane/protos/ya.make
  cloud/disk_manager/internal/pkg/dataplane/register.go
  cloud/disk_manager/internal/pkg/dataplane/ya.make
  cloud/disk_manager/pkg/admin/snapshots.go
  cloud/disk_manager/pkg/app/dataplane.go
  cloud/disk_manager/pkg/app/run.go
  cloud/disk_manager/pkg/schema/dataplane.go
  cloud/disk_manager/test/recipe/disk_manager_launcher.py
  cloud/disk_manager/test/snapshot_migration_test/test.py
  cloud/disk_manager/test/snapshot_migration_test/ya.make
  cloud/disk_manager/test/ya.make
  cloud/tasks/test/common/processes.py
Labels: large-tests, disk_manager

#3026 [CSI] pass mount options as a command line parameter
  cloud/blockstore/tools/csi_driver/cmd/nbs-csi-driver/main.go
  cloud/blockstore/tools/csi_driver/internal/driver/driver.go
  cloud/blockstore/tools/csi_driver/internal/driver/node.go
  cloud/blockstore/tools/csi_driver/internal/driver/node_test.go
Labels: blockstore, rebase

#3030 support new tags for arcadia ci
  cloud/blockstore/tests/loadtest/local-nonrepl/dedicated/ya.make
  cloud/blockstore/tests/loadtest/local-nonrepl/ya.make
  cloud/disk_manager/internal/pkg/facade/testcommon/common.inc
  cloud/filestore/tests/recipes/large.inc
  cloud/storage/core/tests/recipes/large.inc
Labels: large-tests, disk_manager, blockstore, filestore

#3034 issue-3033: change floor to round
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
Labels: large-tests, blockstore

#2978 issue-2947: don't backup tablet info in temporary server
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/storage/init/server/actorsystem.cpp
  cloud/blockstore/libs/storage/init/server/actorsystem.h
  cloud/storage/core/libs/hive_proxy/hive_proxy_ut.cpp
Labels: large-tests, blockstore

#3024 issue-3015: doesn't schedule SwitchAgentDisksToReadOnly event after agent rm in UpdateAgentState
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_ut_cms.cpp
  cloud/blockstore/libs/storage/disk_registry/testlib/test_env.h
Labels: large-tests, blockstore

#3042 Fill GarbageByScore, GroupByGarbageBlockCount once when compaction map is loaded
  cloud/blockstore/libs/storage/core/compaction_map.cpp
Labels: large-tests, blockstore

#3052 change ENV to SET for ya make options. Remove some tag
  cloud/blockstore/tests/loadtest/local-nonrepl/dedicated/ya.make
  cloud/blockstore/tests/loadtest/local-nonrepl/ya.make
  cloud/filestore/tests/recipes/large.inc
  cloud/storage/core/tests/recipes/large.inc
Labels: large-tests, blockstore, filestore

#3025 issue-2722: fix adding use-intermediate-write-buffer tag
  cloud/blockstore/libs/diagnostics/critical_events.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/ut_env.h
  cloud/blockstore/libs/storage/service/service_actor_actions_modify_tags.cpp
  cloud/blockstore/libs/storage/service/service_ut_actions.cpp
  cloud/blockstore/libs/storage/testlib/service_client.cpp
  cloud/blockstore/libs/storage/testlib/service_client.h
Labels: blockstore, asan, tsan, msan, ubsan

#3041 issue-2674: add isExternal method to the nodeRef structure, extract TUnlinkNodeRequestInShard method, add UnlinkNode ut
  cloud/filestore/libs/diagnostics/critical_events.h
  cloud/filestore/libs/storage/service/service_ut_sharding.cpp
  cloud/filestore/libs/storage/tablet/protos/tablet.proto
  cloud/filestore/libs/storage/tablet/tablet_actor.h
  cloud/filestore/libs/storage/tablet/tablet_actor_getnodeattr.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_oplog.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode_destination.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_renamenode_source.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_unlinknode.cpp
  cloud/filestore/libs/storage/tablet/tablet_state_iface.h
  cloud/filestore/libs/storage/tablet/tablet_tx.h
  cloud/filestore/libs/storage/testlib/service_client.h
  cloud/filestore/private/api/protos/tablet.proto
Labels: large-tests, filestore

#3043 Get rid of cloud/blockstore/tools/http_proxy as it is legacy
  cloud/blockstore/public/sdk/python/client/ut/http_client_ut.py
  cloud/blockstore/public/sdk/python/client/ut/ya.make
  cloud/blockstore/tests/recipes/local-null/__main__.py
  cloud/blockstore/tests/recipes/service-local/__main__.py
  cloud/blockstore/tools/http_proxy/main.go
  cloud/blockstore/tools/http_proxy/main_test.go
  cloud/blockstore/tools/http_proxy/tests/test.py
  cloud/blockstore/tools/http_proxy/tests/ya.make
  cloud/blockstore/tools/http_proxy/ut/ya.make
  cloud/blockstore/tools/http_proxy/ya.make
  cloud/blockstore/tools/ya.make
Labels: large-tests

#2924 [Disk Manager] Fix disk manager tests after updating StatVolume behaviour
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/mocks/storage_mock.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage_legacy.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage_ydb.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage_ydb_impl.go
  cloud/disk_manager/internal/pkg/dataplane/snapshot/storage/storage_ydb_test.go
  cloud/disk_manager/internal/pkg/facade/image_service_test/image_service_test.go
  cloud/disk_manager/internal/pkg/facade/snapshot_service_test/snapshot_service_test.go
  cloud/disk_manager/internal/pkg/facade/testcommon/common.go
Labels: large-tests, disk_manager

#3007 added the ability to select the number of replicas to read from
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_get_device_for_range.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_state.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_state.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_state_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/ut_env.h
  cloud/blockstore/public/api/protos/headers.proto
Labels: blockstore

#3029 issue-2854: rm request ident by cookie at part mirror actor
  cloud/blockstore/libs/storage/model/requests_in_progress.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_mirror.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_readblocks.cpp
Labels: large-tests, blockstore

#3013 [Filestore] issue-2961: local filestore eliminate buffer copy during read/write
  cloud/filestore/config/filesystem.proto
  cloud/filestore/config/server.proto
  cloud/filestore/libs/client/client.cpp
  cloud/filestore/libs/client/durable.cpp
  cloud/filestore/libs/client/session.cpp
  cloud/filestore/libs/diagnostics/profile_log_events.cpp
  cloud/filestore/libs/service/filestore.h
  cloud/filestore/libs/service/filestore_test.h
  cloud/filestore/libs/service/request_i.h
  cloud/filestore/libs/service/service_auth.cpp
  cloud/filestore/libs/service_kikimr/service.cpp
  cloud/filestore/libs/service_local/config.cpp
  cloud/filestore/libs/service_local/config.h
  cloud/filestore/libs/service_local/fs.cpp
  cloud/filestore/libs/service_local/fs.h
  cloud/filestore/libs/service_local/fs_data.cpp
  cloud/filestore/libs/service_local/fs_session.cpp
  cloud/filestore/libs/service_local/service.cpp
  cloud/filestore/libs/service_null/service.cpp
  cloud/filestore/libs/vfs_fuse/config.cpp
  cloud/filestore/libs/vfs_fuse/config.h
  cloud/filestore/libs/vfs_fuse/fs_impl.h
  cloud/filestore/libs/vfs_fuse/fs_impl_data.cpp
  cloud/filestore/libs/vfs_fuse/loop.cpp
  cloud/filestore/libs/vfs_fuse/vhost/fuse_virtio.c
  cloud/filestore/public/api/protos/fs.proto
  cloud/storage/core/libs/aio/service.cpp
  cloud/storage/core/libs/aio/service_ut.cpp
  cloud/storage/core/libs/common/file_io_service.cpp
  cloud/storage/core/libs/common/file_io_service.h
  contrib/libs/fuse/include/fuse_lowlevel.h
  contrib/libs/fuse/lib/fuse_lowlevel.c
  contrib/libs/virtiofsd/fuse_lowlevel.c
  contrib/libs/virtiofsd/fuse_lowlevel.h
  contrib/libs/virtiofsd/fuse_virtio.h
Labels: large-tests, filestore

#3057 fix ya.make - add missing subtest
  cloud/filestore/tests/fs_posix_compliance/ya.make
Labels: filestore

#3040 [Filestore] increase verbosity of fio_index/qemu-kikimr-multishard-tablets-restart-test
  cloud/filestore/tests/fio_index/qemu-kikimr-multishard-tablets-restart-test/ya.make
Labels: large-tests, filestore, rebase

#3063 [Filestore] issue-3045: Add flags to disable xattrs and guest page cache
  cloud/filestore/config/filesystem.proto
  cloud/filestore/config/server.proto
  cloud/filestore/config/storage.proto
  cloud/filestore/libs/service_local/config.cpp
  cloud/filestore/libs/service_local/config.h
  cloud/filestore/libs/service_local/fs_session.cpp
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
  cloud/filestore/libs/vfs_fuse/config.cpp
  cloud/filestore/libs/vfs_fuse/config.h
  cloud/filestore/libs/vfs_fuse/fs_impl_attr.cpp
  cloud/filestore/libs/vfs_fuse/fs_impl_data.cpp
  cloud/filestore/libs/vfs_fuse/loop.cpp
  cloud/filestore/public/api/protos/fs.proto
Labels: large-tests

#3068 make features tests more stable
  cloud/storage/core/libs/features/features_config_ut.cpp
Labels: rebase

#3054 [NBS] issue-3058: remove use of cookies for VolumeRequestId purposes
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_mirror.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_actor_readblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_mirror_resync_actor_forward.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_actor_zeroblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_events_private.h
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_migration_common_actor_mirror.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_writeblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_actor_zeroblocks.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_rdma_ut.cpp
  cloud/blockstore/libs/storage/partition_nonrepl/part_nonrepl_ut.cpp
  cloud/blockstore/libs/storage/volume/volume_actor_forward.cpp
  cloud/blockstore/public/api/protos/headers.proto
Labels: large-tests, blockstore

#3067 [Disk Manager] add tests on placement groups for blockstore client
  cloud/disk_manager/internal/pkg/clients/nbs/tests/client_test.go
  cloud/disk_manager/test/recipe/nbs_launcher.py
Labels: large-tests

#3065 issue-1751: add TWriteBackCache stub; add ServerWriteBackCacheEnabled flag; rename GuestWritebackCacheEnabled to GuestWriteBackCacheEnabled
  cloud/filestore/config/filesystem.proto
  cloud/filestore/config/server.proto
  cloud/filestore/config/storage.proto
  cloud/filestore/config/vfs.proto
  cloud/filestore/libs/diagnostics/critical_events.h
  cloud/filestore/libs/service_local/config.cpp
  cloud/filestore/libs/service_local/config.h
  cloud/filestore/libs/service_local/fs_session.cpp
  cloud/filestore/libs/storage/core/config.cpp
  cloud/filestore/libs/storage/core/config.h
  cloud/filestore/libs/storage/tablet/tablet_actor_createsession.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_sessions.cpp
  cloud/filestore/libs/vfs/config.cpp
  cloud/filestore/libs/vfs/config.h
  cloud/filestore/libs/vfs_fuse/config.cpp
  cloud/filestore/libs/vfs_fuse/config.h
  cloud/filestore/libs/vfs_fuse/fs.cpp
  cloud/filestore/libs/vfs_fuse/fs.h
  cloud/filestore/libs/vfs_fuse/fs_impl.cpp
  cloud/filestore/libs/vfs_fuse/fs_impl.h
  cloud/filestore/libs/vfs_fuse/fs_impl_data.cpp
  cloud/filestore/libs/vfs_fuse/fs_ut.cpp
  cloud/filestore/libs/vfs_fuse/handle_ops_queue.cpp
  cloud/filestore/libs/vfs_fuse/handle_ops_queue.h
  cloud/filestore/libs/vfs_fuse/loop.cpp
  cloud/filestore/libs/vfs_fuse/public.h
  cloud/filestore/libs/vfs_fuse/write_back_cache.cpp
  cloud/filestore/libs/vfs_fuse/write_back_cache.h
  cloud/filestore/libs/vfs_fuse/ya.make.inc
  cloud/filestore/public/api/protos/fs.proto
Labels: large-tests

#2991 issue-2869: implement netlink_device without libnl
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/endpoint_proxy/server/bootstrap.cpp
  cloud/blockstore/libs/endpoint_proxy/server/options.cpp
  cloud/blockstore/libs/endpoint_proxy/server/options.h
  cloud/blockstore/libs/endpoint_proxy/server/server.cpp
  cloud/blockstore/libs/endpoint_proxy/server/server.h
  cloud/blockstore/libs/endpoint_proxy/server/server_ut.cpp
  cloud/blockstore/libs/nbd/netlink_device.cpp
  cloud/blockstore/libs/nbd/netlink_device.h
  cloud/blockstore/tests/python/lib/endpoint_proxy.py
  cloud/blockstore/tools/nbd/bootstrap.cpp
  cloud/storage/core/libs/netlink/message.cpp
  cloud/storage/core/libs/netlink/message.h
  cloud/storage/core/libs/netlink/socket.cpp
  cloud/storage/core/libs/netlink/socket.h
Labels: blockstore

#3082 ignore TEvVolumePrivate::TEvAcquireDiskIfNeeded in zombie state
  cloud/blockstore/libs/storage/volume/volume_actor.cpp
Labels: blockstore

#3079 [NBS] issue-2732: fix redirect after device/agent state change from monpage
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_change_agent_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_change_device_state.cpp
Labels: large-tests, blockstore

#2980 [Disk Manager] errors from blockstore should be internal by default
  cloud/disk_manager/internal/pkg/clients/nbs/client.go
  cloud/disk_manager/internal/pkg/clients/nbs/tests/client_test.go
Labels: large-tests, disk_manager

#3072 [NBS] Parameters to set first retry delay by durable client
  cloud/blockstore/apps/client/lib/command.cpp
  cloud/blockstore/config/client.proto
  cloud/blockstore/libs/client/bench/main.cpp
  cloud/blockstore/libs/client/config.cpp
  cloud/blockstore/libs/client/config.h
  cloud/blockstore/libs/client/durable.cpp
  cloud/blockstore/libs/client/durable.h
  cloud/blockstore/libs/client/durable_ut.cpp
  cloud/blockstore/libs/endpoint_proxy/server/server.cpp
  cloud/blockstore/libs/endpoints/endpoint_manager.cpp
  cloud/blockstore/libs/endpoints/session_manager.cpp
  cloud/blockstore/libs/endpoints_grpc/socket_endpoint_listener_ut.cpp
  cloud/blockstore/libs/nbd/server_ut.cpp
  cloud/blockstore/libs/server/server_test.cpp
  cloud/blockstore/tools/nbd/bootstrap.cpp
  cloud/blockstore/tools/testing/loadtest/lib/bootstrap.cpp
  cloud/blockstore/vhost-server/backend_rdma.cpp
  cloud/vm/blockstore/lib/plugin.cpp
Labels: large-tests, blockstore

#3083 issue-3081: add weak ptr capture of TStorageDataClient
  cloud/blockstore/libs/endpoints/session_manager.cpp
Labels: large-tests, blockstore

#2977 issue-2947: add BS group connections warmup on process startup
  cloud/blockstore/config/storage.proto
  cloud/blockstore/libs/daemon/common/bootstrap.cpp
  cloud/blockstore/libs/daemon/common/bootstrap.h
  cloud/blockstore/libs/daemon/local/bootstrap.cpp
  cloud/blockstore/libs/daemon/local/bootstrap.h
  cloud/blockstore/libs/daemon/ydb/bootstrap.cpp
  cloud/blockstore/libs/daemon/ydb/bootstrap.h
  cloud/blockstore/libs/storage/core/config.cpp
  cloud/blockstore/libs/storage/core/config.h
  cloud/blockstore/libs/storage/ss_proxy/path_description_backup.cpp
  cloud/storage/core/libs/api/hive_proxy.h
  cloud/storage/core/libs/hive_proxy/hive_proxy_actor.cpp
  cloud/storage/core/libs/hive_proxy/hive_proxy_events_private.h
  cloud/storage/core/libs/hive_proxy/hive_proxy_fallback_actor.cpp
  cloud/storage/core/libs/hive_proxy/hive_proxy_ut.cpp
  cloud/storage/core/libs/hive_proxy/tablet_boot_info_backup.cpp
  cloud/storage/core/libs/hive_proxy/tablet_boot_info_backup.h
  cloud/storage/core/libs/ss_proxy/path_description_backup.cpp
Labels: large-tests, blockstore

#3092 Need to use 'empty' instead of 'Empty' for TString
  cloud/blockstore/libs/storage/partition/part_actor_compaction.cpp
Labels: blockstore

#3060 [Filestore] issue-3061: blocks with garbage should be compacted after cleanup
  cloud/filestore/libs/storage/tablet/model/blob.h
  cloud/filestore/libs/storage/tablet/rebase_logic.cpp
  cloud/filestore/libs/storage/tablet/rebase_logic.h
  cloud/filestore/libs/storage/tablet/rebase_logic_ut.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
  cloud/filestore/libs/storage/tablet/tablet_actor_addblob.cpp
  cloud/filestore/libs/storage/tablet/tablet_state.h
  cloud/filestore/libs/storage/tablet/tablet_state_data.cpp
  cloud/filestore/libs/storage/tablet/tablet_ut_data.cpp
Labels: large-tests

#3050 Compaction map update benchmark
  .gitignore
  cloud/blockstore/libs/storage/core/benchmark/ya.make
  cloud/blockstore/libs/storage/core/compaction_map_benchmark.cpp
  cloud/blockstore/libs/storage/core/ya.make
Labels: blockstore

#3093 Fix wording for shadow disks on DR mon page
  cloud/blockstore/libs/storage/disk_registry/disk_registry_actor_monitoring.cpp
Labels: blockstore

#3099 [Filestore] fix qemu-kikimr-multishard-tablets-restart-test test: handle TFlushBytesResponse in the zombie state
  cloud/filestore/libs/storage/tablet/tablet_actor.cpp
Labels: large-tests, filestore

#3102 Move TReleaseDevicesActor into separate file
  cloud/blockstore/libs/storage/volume/actors/release_devices_actor.cpp
  cloud/blockstore/libs/storage/volume/actors/release_devices_actor.h
  cloud/blockstore/libs/storage/volume/actors/ya.make
  cloud/blockstore/libs/storage/volume/volume_actor_release.cpp
Labels: large-tests, blockstore

#3100 issue-1751: add test for close to open consistency; suppress warnings of ssh command in qemu tests; always prepare test enviroment in qemu test recipes; return result of ssh command in qemu tests
  cloud/filestore/tests/close_to_open_consistency/test.py
  cloud/filestore/tests/close_to_open_consistency/ya.make
  cloud/storage/core/tools/testing/qemu/lib/common.py
  cloud/storage/core/tools/testing/qemu/lib/recipe.py
Labels: large-tests

#3086 [Disk Manager] Remove useless checkpoints after taking snapshot/image from disk registry-based disks
  cloud/disk_manager/internal/pkg/facade/image_service_test/image_service_test.go
  cloud/disk_manager/internal/pkg/facade/snapshot_service_test/snapshot_service_test.go
  cloud/disk_manager/internal/pkg/services/images/create_image_from_disk_task.go
  cloud/disk_manager/internal/pkg/services/snapshots/create_snapshot_from_disk_task.go
Labels: large-tests, disk_manager

#3107 [NBS] Fix NRD strict write ordering feature
  cloud/blockstore/libs/storage/volume/volume_ut.cpp
  cloud/blockstore/public/api/protos/headers.proto
Labels: blockstore

#3048 issue-3023: add parallel secure erase for devices with different names
  cloud/blockstore/config/disk.proto
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor.h
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_secure_erase.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_actor_ut.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state.cpp
  cloud/blockstore/libs/storage/disk_agent/disk_agent_state.h
  cloud/blockstore/libs/storage/disk_agent/model/config.cpp
  cloud/blockstore/libs/storage/disk_agent/model/config.h
Labels: large-tests, blockstore

#2987 Issue 2973: add different notification levels to publish migration states for mirror disks
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state.h
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_migration.cpp
  cloud/blockstore/libs/storage/disk_registry/disk_registry_state_ut_mirrored_disks.cpp
Labels: large-tests, blockstore

#3085 Fixed the use of the parameter ForcedCompactionRangeCountPerRun
  cloud/blockstore/libs/storage/core/compaction_map.cpp
  cloud/blockstore/libs/storage/core/compaction_map.h
  cloud/blockstore/libs/storage/core/compaction_map_ut.cpp
  cloud/blockstore/libs/storage/partition/part_actor_compaction.cpp
  cloud/blockstore/libs/storage/partition/part_actor_compactrange.cpp
  cloud/blockstore/libs/storage/partition/part_events_private.h
  cloud/blockstore/libs/storage/partition/part_state.h
  cloud/blockstore/libs/storage/partition/part_ut.cpp
Labels: large-tests, blockstore

#3118 Add `ps aux` output after `ss -tpna` output for better diagnostics of failing tests
  cloud/filestore/tests/recipes/service-kikimr/__main__.py
  cloud/filestore/tests/recipes/service-local/__main__.py
  cloud/filestore/tests/recipes/vhost/__main__.py
  cloud/storage/core/tools/testing/unstable-process/__main__.py
Labels: large-tests

#3003 issue-176: support ENCRYPTION_AT_REST mode in Disk Manager
  cloud/disk_manager/api/disk.proto
  cloud/disk_manager/internal/pkg/clients/nbs/client.go
  cloud/disk_manager/internal/pkg/clients/nbs/session.go
  cloud/disk_manager/internal/pkg/facade/disk_service_nemesis_test/ya.make
  cloud/disk_manager/internal/pkg/facade/disk_service_test/disk_service_test.go
  cloud/disk_manager/internal/pkg/facade/disk_service_test/ya.make
  cloud/disk_manager/internal/pkg/services/disks/service.go
  cloud/disk_manager/internal/pkg/types/types.proto
  cloud/disk_manager/pkg/admin/disks.go
  cloud/disk_manager/test/recipe/disk_manager_launcher.py
  cloud/disk_manager/test/recipe/nbs_launcher.py
Labels: large-tests, disk_manager
